<footer class="main-footer footer-main-r">
  <div class="callback-wrap">
    <div class="row">
      <div class="col-sm-8">
        <div class="input-row">
          <input type="tel" id="id-tel">
          <label for="id-tel">Your phone</label>
        </div>
      </div>
      <div class="col-sm-4">
        <input type="submit" class="btn-site" value="Call me">
      </div>
    </div>
  </div>
  <div class="footer-wrapper d-flex flex-row justify-content-between flex-wrap">
    <div class="footer-wrapper__col">
      <span>
        &copy; <span id="copyright" style="margin: 0;"><script>document.getElementById('copyright').appendChild(document.createTextNode(new Date().getFullYear()))</script></span> Marketplace Inc.
        <a href="#">Terms</a>
      </span>
      <div class="social-links">
        <a href="#"><span class="mdi mdi-facebook-box" /></a>
        <a href="#"><span class="mdi mdi-linkedin-box" /></a>
        <a href="#"><span class="mdi mdi-twitter-box" /></a>
      </div>
    </div>
    <div class="footer-wrapper__col">
      <a href="#" class="footer-block" target="_blank">
        <span class="mdi mdi-phone" />
        <mark>00 1 206-266-2992</mark>
      </a>
      <a href="#" class="footer-block footer-callback-button">
        <span class="mdi mdi-phone-forward" />
        <mark>Call back</mark>
      </a>
      <a href="#" class="footer-block" target="_blank">
        <span class="mdi mdi-email" />
        <mark>Email us</mark>
      </a>
    </div>
    <div class="footer-wrapper__col">
      <a href="#" class="footer-block" target="_blank">
        <span class="mdi mdi-telegram" />
        <mark>Telegram</mark>
      </a>
      <a href="#" class="footer-block" target="_blank">
        <span class="mdi mdi-facebook-messenger" />
        <mark>Messenger</mark>
      </a>
    </div>
  </div>
</footer>