{% load static menu_tags cms_tags core %}
{% load cms_tags staticfiles vuejs sekizai_tags %}


<footer class="main-footer footer-main-r">

  <div class="container">
    <div class="row">
      <div class="d-none d-sm-block col-xl-3 col-md-6 col-sm-12 logo">
        <img src="{% static 'images/logo.svg' %}" alt=Logo">
      </div>
      <div class="col-xl-3 col-md-6 col-sm-12">
        <div class="footer-menu">
          <span class="h4">Product</span>
          <ul>
            <li>
              <a href="/services/design/">Design Services</a>
            </li>
            <li>
              <a href="/services/infrastructure-solutions/">Infrastructure Solutions</a>
            </li>
            <li>
              <a href="/services/software/">Software Development</a>
            </li>
            <li>
              <a href="/services/hardware/">Hardware Development</a>
            </li>
            <li>
              <a href="/services/tooling/">Tooling Solutions</a>
            </li>
            <li>
              <a href="/services/management-and-consulting/">Management and Consulting</a>
            </li>
            <li>
              <a href="/services/r-d/">R & D Services</a>
            </li>
            <li>
              <a href="/services/modeling/">Modeling Services</a>
            </li>
            <li>
              <a href="/services/manufacturing/">Manufacturing Solutions</a>
            </li>
            <li>
              <a href="/services/other/">Other Service</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-xl-3 col-md-6 col-sm-12">
        <div class="footer-menu">
          <span class="h4">Company</span>
          <ul>
            <li>
              <a href="/about/">About Us</a>
            </li>
            <li>
              <a href="/blogs/">Blogs</a>
            </li>
            <li>
              <a href="/news/">News</a>
            </li>
            <li>
              <a href="/static/Privacy_Policy_(Engre).pdf">Privacy Policy</a>
            </li>
            <li>
              <a href="/static/Terms_of_Services_(Engre).pdf">Terms of Use</a>
            </li>
            <li>
              <a href="/for-a-customer/">For a Customer</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-xl-3 col-md-6 col-sm-12">
        <div class="footer-menu">
          <span class="h4">Social networks</span>
        </div>
        <div class="social-links">

          <a href="https://www.facebook.com/engre.engineering/" target="_blank"><span class="mdi mdi-facebook" /></a>
          <a href="https://www.linkedin.com/company/engre-engineering/" target="_blank"><span class="mdi mdi-linkedin" /></a>
          <a href="https://twitter.com/Engre_Engineer/" target="_blank"><span class="mdi mdi-twitter" /></a>
          <a href="https://www.reddit.com/user/EngreEngineering/" target="_blank"><span class="mdi mdi-reddit" /></a>
          <!--          <a href="#" target="_blank"><span class="mdi mdi-telegram" /></a>-->
          <!--          <a href="#" target="_blank"><span class="mdi mdi-facebook-messenger" /></a>-->
        </div>
        <div class="contact-cases">
          <a href="tel:16034848689" class="footer-block" target="_blank">
            <span class="mdi mdi-phone" />
            <mark>16034848689</mark>
          </a>
          <div id="footer-callback-button"></div>
          {% addtoblock "js" %}
          {% render_component "callBackBlock" el="footer-callback-button" data=data %}
          {% endaddtoblock %}

          <a href="mailto:support@engre.co" class="footer-block" target="_blank">
            <span class="mdi mdi-email" />
            <mark>Email us</mark>
          </a>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12 copyright">
        <span>
        &copy; <span id="copyright" style="margin: 0;"><script>document.getElementById('copyright').appendChild(document.createTextNode(new Date().getFullYear()))</script></span> ENGRE Marketplace.
        <a href="/static/Terms_of_Services_(Engre).pdf">Terms</a>
      </span>
      </div>
    </div>
  </div>


  <div id="backToTopButton"></div>

  {% addtoblock "js" %}
  {% render_component "backToTopButton" el="backToTopButton" data=data %}
  {% endaddtoblock %}

  <script type="text/javascript" id="cookieinfo"
          src="//cookieinfoscript.com/js/cookieinfo.min.js"
          data-message="This website uses cookies. We use cookies to personalise content and ads, to provide social media features and to analyse our traffic. We also share information about your use of our site with our social media, advertising and analytics partners who may combine it with other information that you’ve provided to them or that they’ve collected from your use of their services "
          data-bg="#645862"
          data-fg="#FFFFFF"
          data-link="#F1D600"
          data-cookie="CookieInfoScript"
          data-text-align="left"
          data-close-text="Got it!">
  </script>

</footer>
