{% load static %}

<video class="video-bg" autoplay muted loop>
  <source src="{% static 'videos/video-bg.mp4' %}" type="video/mp4">
  <source src="{% static 'videos/video-bg.webm' %}" type="video/webm">
  Your browser does not support  the video tag.
</video>