{% extends 'base.html' %}
{% load menu_tags vuejs sekizai_tags %}
{% block add_metatags %}
  {% if not seo_tags %}
    <meta name="robots" content="index, follow">
  {% endif %}
{% endblock add_metatags %}
{% block body_style %}
style="background-color: #f2f5f8;"
{% endblock body_style %}
{% block content %}
  <section class="section-top">
    <div class="wrapper">
      <div class="title-wrap">
        <span>For Partners</span>
        {{ menu }}
      </div>
      <div class="categories-wrapper d-flex justify-content-between align-items-center">
        <div class="categories-list d-flex justify-content-between align-items-end">
          {% show_menu 1 %}
        </div>
      </div>
    </div>
  </section>

  {% block partnership_content %}{% endblock partnership_content %}
  {% addtoblock "js" %}
    <div id="partnership-modal"></div>
    {% render_component "PartnershipModal" el="partnership-modal" %}
  {% endaddtoblock %}
{% endblock content %}
