{% extends 'partnership/base.html' %}
{% load vuejs sekizai_tags %}

{% block content %}
<section class="section-top article-top">
  <!-- This block needs for to gradient on header -->
</section>
<article class="article-wrapper">
  <div class="wrapper">

    {% url 'blog-list' as back_url %}
    {% include "includes/back-button.html" with text=object.name class="back-to-wrapper" url=back_url %}

    {% autoescape off %}
    {{ object.text }}
    {% endautoescape %}

    <div class="learn-more-button text-center">
      <span class="btn-site" data-toggle="modal" data-target="#interested-modal">I was interested in the project</span>
    </div>
    <div id="interested"></div>

    {% addtoblock "js" %}
    {% render_component "InterestedModal" el="interested" data=data %}
    {% endaddtoblock %}

  </div>
</article>
{% endblock content %}
