{% extends 'partnership/base.html' %}
{% load cms_tags staticfiles vuejs sekizai_tags staticfiles %}

{% block partnership_content %}
    <section class="section-about">
        <div class="wrapper">
            <div class="about-info-wrapper" style="padding-top: 0;">
                <div class="row">
                    <div class="col-lg-6 col-md-4">
                        <div class="back-to-wrapper">
                            <a href="{% url 'software' %}"><span class="mdi mdi-arrow-left"></span> {{ object.name }}</a>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-8">
                        <p class="about-description">SOLIDWORKS Product Data Management (PDM) solutions help you get your design data under control and substantially improve the way your teams manage and collaborate on product development.</p>
                    </div>
                </div>
            </div>
            <div class="banner">
                <img src="{{ object.image.url }}" class="img-fluid" alt="">
            </div>
            <div class="about-info-wrapper">
                <p class="about-description text-center">
                    {{ object.short_description | safe }}
                </p>
            </div>
            <div class="software-solutions">
                <div class="row flex-wrap">
                    <div class="col-md-12">
                        <div class="software-col d-flex">
                            <div class="software-logo">
                                <img src="{{ object.logo.url }}" alt="">
                            </div>
                            <div class="software-info d-flex flex-column justify-content-between">
                                <div class="software-info-top">
                                    <span class="software-info-title">{{ object.name }}</span>
                                    <p>
                                        {{ object.description | safe }}
                                    </p>
                                </div>
                                <div class="d-flex justify-content-between align-items-center flex-wrap">
                                    <div class="software-info-bottom d-flex align-items-center flex-wrap">
                                        <div class="software-info-bottom-col">
                                            <span>Size</span>
                                            <i>{{ object.size }}</i>
                                        </div>
                                        <div class="software-info-bottom-col">
                                            <span>License</span>
                                            <i>free</i>
                                        </div>
                                        <div class="software-info-bottom-col d-flex">
                                            <img src="{% static 'images/apple.svg' %}" alt="">
                                            <img src="{% static 'images/windows.svg' %}" alt="">
                                            <img src="{% static 'images/linux.svg' %}" alt="">
                                        </div>
                                    </div>

                                    <div class="dropdown software-dropdown">
                                        <button type="button" class="download-button" data-toggle="dropdown">
                                            <mark>Download <span class="mdi mdi-menu-down"></span></mark>
                                        </button>
                                        <div class="dropdown-menu">
                                            {% for os in object.software_file.all %}
                                                <a target="_blank" class="dropdown-item" href="{{ os.file.url }}">{{ os.get_os_display }}</a>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
