<template>
  <div>
    <ServiceList
      v-if="showServices"
      :items="data"
      :user="user"
      :category="category"
      :has-more="hasMoreItems"
      @loadMore="loadMore"
    />
    <ProjectList
      v-else-if="showProjects"
      :items="data"
      :user="user"
      :category="category"
      :has-more="hasMoreItems"
      @loadMore="loadMore"
    />
    <Reviews />
  </div>
</template>

<script>
import Vue from 'vue'
import axios from 'axios'
import ServiceList from './ServiceList'
import ProjectList from './ProjectList'
import Reviews from './Reviews'
import bus from './bus'
import { UrlQueryMixin } from '@/mixins'
import { filterMatcher } from '.'
import { getKeyByValue } from '@/utils'

export default {
  name: 'ItemList',
  components: {
    ServiceList,
    ProjectList,
    Reviews
  },
  mixins: [UrlQueryMixin],
  props: {
    user: {
      type: Object,
      default: null
    },
    items: {
      // type: Array,
      default: () => []
    },
    hasMore: {
      // type: Boolean,
      // required: true
    },
    showProjects: {
      // type: Boolean,
      default: false
    },
    showServices: {
      // type: Boolean,
      default: false
    }
  },
  data() {
    return {
      data: this.items,
      category: this.$route.params.category,
      itemsCount: this.items.count,
      hasMoreItems: this.hasMore,
      search: null,
      industry: this.$route.query.industry ? this.$route.query.industry : this.$route.params.industry,
      coreSkill: this.$route.query.core_skills__slug ? this.$route.query.core_skills__slug : null,
      order: this.$route.query.order_by ? this.$route.query.order_by : '-popularity',
      ownership: null,
      rate: null,
      workingHours: null,
      companySize: null,
      budget: null,
      page: 1,
      redirect: false
    }
  },
  computed: {
    isCustomer() {
      if (!this.user) { return true }
      if (!this.user.role) { return true }

      return this.user.role === 2
    },
    apiUrl() {
      if (this.showServices) {
        return '{% url "intellectual-services-api" %}'
      }

      if (this.showProjects) {
        return '{% url "projects-api" %}'
      }

      return false
    }
  },
  watch: {
    category() {
      this.refetchData()
    },
    industry() {
      this.refetchData()
    },
    data(val){
      if (val.length) {
          bus.$emit('noDataFound', false)
      } else {
          bus.$emit('noDataFound', true)
      }
    }
  },
  created() {
    if (this.items.length == 0) {
      bus.$emit('noDataFound', true)
    }
    this._getDataFromUrlQuery(filterMatcher)
    bus.$on('filtersChange', this.handleFiltersChange)
    this.getParams()
    // this.$route.query = {}
  },
  methods: {
    async fetchData(url) {
      if (this.user) {

        const params = this.getParams()

        const { data } = await axios({
          method: 'get',
          params: { ...params },
          url
        })

        // this.nextUrl = data.next
        this.hasMoreItems = !!data.next

        return data.results
      } else {
        this.redirectToSignIn()
      }

    },

    getParams(){
      const params = {
        search: this.search,
        company__ownership__slug: this.ownership,
        company__flexible_working_hours: this.workingHours,
        company__company_size: this.companySize,
        page: this.page,
        category__slug: this.category,
        industry__slug: this.industry,
        order_by: this.order,
        core_skill: this.coreSkill
      }

      if (this.isCustomer) {
        params.rate_range_type = this.rate
      } else {
        params.budget_range_type = this.budget
      }

      this.$route.params.searchFilter = params
      return params
    },
    async refetchData() {
      this.page = 1
      bus.$emit('loading', true)
      const data = await this.fetchData(this.apiUrl)
      bus.$emit('loading', false)
      this.data = data
    },
    async loadMore() {
      if (this.user) {
        this.page += 1
        const data = await this.fetchData(this.nextUrl || `${this.apiUrl}`)

        this.data = [...this.data, ...data]
      } else {
        this.redirectToSignIn()
      }
    },
    handleFiltersChange(filters, shoulUpdate) {
      if (this.user) {
        // apply filters
        Object.keys(filters).map((key) => {
          Vue.set(this, key, filters[key])
          this._setUrlQuery(getKeyByValue(filterMatcher, key), filters[key])
          return null
        })
          const isShouldRedirect = this.shouldRedirect(filters, shoulUpdate)
          if (isShouldRedirect){
            // reload
            const params = this.$route.params
            let body = ''
            if (filters.industry) {
                body += filters.industry + '/'
            }
            if (filters.coreSkill) {
                body += filters.coreSkill + '/'
            }
            if (filters.industry == undefined && filters.coreSkill == undefined) {
                body += '/'
            }
            window.location.replace(
                `${window.location.origin}/${params.base}/${params.category}/${body}${window.location.search}`
            )
            this.redirect = true

        } else {
          if (!this.redirect) {
            this.refetchData(this.apiUrl)
          }
        }
      } else {
        this.redirectToSignIn()
      }
    },
    shouldRedirect(filters, shoulUpdate) {
        if (shoulUpdate) {
            return true
        } else if (((filters.industry != this.$route.params.industry) || (filters.coreSkill != this.$route.params.coreSkill)) && filters.coreSkill && filters.industry) {
            return true
        }
        return false
    },
    redirectToSignIn() {
      window.location = `/sign-in/?next=${this.$route.fullPath}`
    },
  },
  beforeRouteUpdate(to, from, next) {
    this.category = to.params.category
    this.industry = to.params.industry
    next()
  },
}
</script>
