<template>
  <div class="wrapper">
    <Menu :items="categories" />
    <div :class="{'loading-section': loading}">
      <template v-if="loading">
        <loader :absolute="true"></loader>
      </template>
      <Filters
              :industries="industries"
              :core-skills="coreSkills"
              :is-customer="isCustomer"
              :user="user"
              :additionalFilterData="additionalFilterData"
              @noDataFound="noDataFound"
              @checkDataFinish="loading = false"
              @checkDataStart="loading = true"
      />
      <MoreFilters
              :ownerships="ownerships"
              :is-customer="isCustomer"
              @filtersChange="filtersDataChange"
      />
    </div>
    <div v-if="noData" class="no-results">
      Sorry, we couldn't find any results
    </div>
    <Info
      :user="user"
      :settings="settings"
    />
    <Modal
            id="alertModal"
            class="alertModal"
            styles="modal-dialog-centered modal-dialog-alert"
    >
      <div
              ref="close"
              class="back-wrapper position-top-left"
              data-dismiss="modal"
              aria-label="Close"
      >
        <a href="#">
        <span class="back-icon">
          <span class="mdi mdi-arrow-left" />
        </span>
          <mark>Back</mark>
        </a>
      </div>

      <div class="alert-body" v-if="user">
        <p v-if="user.role == 2">You have not created any project yet. For accessing all platform’s features, please post a project.</p>
        <p v-if="user.role == 1">You have not created any service yet. For accessing all platform’s features, please post a service.</p>
      </div>
    </Modal>
    <RouterView />
  </div>
</template>

<script>
import bus from './bus'
import Menu from './Menu'
import Filters from './Filters'
import MoreFilters from './MoreFilters'
import Info from './Info'
import loader from '@/widget/loader'
import Modal from  '../Modal'

import axios from 'axios'


export default {
  components: {
    Menu,
    Filters,
    MoreFilters,
    Info,
    loader,
    Modal
  },
  props: {
    categories: {
      type: Array,
      default: () => []
    },
    user: {
      type: Object,
      default: null
    },
    industries: {
      type: Array,
      default: () => []
    },
    coreSkills: {
      type: Array,
      default: () => []
    },
    ownerships: {
      type: Array,
      default: () => []
    },
    settings: {
      type: Object,
      required: true
    }
  },
  data(){
    return {
      noData: false,
      loading: false,
      additionalFilterData: null
    }
  },
  computed: {
    isCustomer() {
      if (!this.user) { return true }
      if (!this.user.role) { return true }

      return this.user.role === 2
    },
  },
  created() {
    axios.interceptors.request.use(
      (request) => {
        if (this.user) {
          return request;
        } else {
          window.location = `/sign-in/?next=${this.$route.fullPath}`
        }
      },
    );

    bus.$on('noDataFound', this.noDataFound)
    bus.$on('loading', this.loadingAction)

  },
  watch: {
    // loading(){
    //   this.noData = false
    // }
  },
  methods: {
    noDataFound(value = true){
      this.noData = value ? value : false
    },
    loadingAction(val){
        this.loading = val
    },
    filtersDataChange({ownership, rate, budget, workingHours, companySize}) {
      this.additionalFilterData = {ownership, rate, budget, workingHours, companySize}
    }
  }
}
</script>

<style scoped>
  .no-results {
    color: #fff;
    font-size: 27px;
    margin-top: 10px;
    margin-bottom: 10px;
    display: inline-block;
    text-align: center;
    width: 100%;
    transition: all .3s ease-in-out;
  }
  .loading-section {
    position: relative;
    opacity: .7;
    pointer-events: none;
  }
  .modal-dialog-alert .alert-body {
    padding: 70px 55px 10px;
    text-align: center;
    font-size: 21px;
  }
</style>