<template>
  <CategoryMenu
    :items="items"
    search-placeholder="Input core skills or other keywords..."
    url-base="services"
    @search="search"
  />
</template>

<script>
import CategoryMenu from '@/components/CategoryMenu'
import bus from './bus'

export default {
  name: 'Menu',
  components: {
    CategoryMenu
  },
  props: {
    items: {
      type: Array,
      required: true,
    }
  },
  methods: {
    search(search) {
      bus.$emit('filtersChange', { search })
    }
  }
}
</script>
