<template>
  <div class="more-filters-wrapper">
    <div class="dropdown more-filter-dropdown">
      <a
        href="#"
        class="selected"
        data-toggle="dropdown"
      >
        More filters
      </a>
      <div class="dropdown-menu">
        <div class="select-wrapper select-border">
          <span class="mdi mdi-menu-down" />
          <select
            v-if="isCustomer"
            v-model="rate"
          >
            <option :value="null">
              Rate
            </option>
            <option :value="1">
              $30 and below
            </option>
            <option :value="2">
              $30 - $100
            </option>
            <option :value="3">
              $100 and above
            </option>
          </select>
          <select
            v-else
            v-model="budget"
          >
            <option :value="null">
              Budget
            </option>
            <option :value="1">
              $10K and below
            </option>
            <option :value="2">
              $10K - $50K
            </option>
            <option :value="3">
              $50K - $150K
            </option>
            <option :value="4">
              $150K and above
            </option>
          </select>
        </div>
        <div class="select-wrapper select-border">
          <span class="mdi mdi-menu-down" />
          <select v-model="workingHours">
            <option :value="null">
              Flexible working hours
            </option>
            <option value="True">
              Available
            </option>
            <option value="False">
              Unavailable
            </option>
          </select>
        </div>
        <div class="select-wrapper select-border">
          <span class="mdi mdi-menu-down" />
          <select v-model="ownership">
            <option :value="null">
              Type of ownership
            </option>
            <option
              v-for="item in ownerships"
              :key="item.id"
              :value="item.slug"
            >
              {{ item.name }}
            </option>
          </select>
        </div>
        <div class="select-wrapper select-border">
          <span class="mdi mdi-menu-down" />
          <select v-model="companySize">
            <option :value="null">
              Company size
            </option>
            <option :value="1">
              5-15
            </option>
            <option :value="2">
              16-49
            </option>
            <option :value="3">
              50-199
            </option>
            <option :value="4">
              200-499
            </option>
            <option :value="5">
              500-999
            </option>
            <option :value="6">
              1000 and more
            </option>
          </select>
        </div>
        <div style="text-align: center;">
          <a
            href="#"
            style="color: #000;"
            class="selected"
            @click.prevent="reset"
          >
            Reset
          </a>
        </div>
      </div>
    </div>
    <SaveFilterControl />
  </div>
</template>

<script>
import bus from './bus'
import SaveFilterControl from './SaveFilterControl'
import { UrlQueryMixin, FiltersMixin } from '@/mixins'
import { filterMatcher } from '.'

export default {
  name: 'MoreFilters',
  components: {
    SaveFilterControl
  },
  mixins: [UrlQueryMixin, FiltersMixin],
  props: {
    ownerships: {
      type: Array,
      default: () => []
    },
    isCustomer: {
      type: Boolean,
      required: true
    }
  },
  data() {
    return {
      ownership: null,
      rate: null,
      workingHours: null,
      companySize: null,
      budget: null,
    }
  },

  created() {
    this._getDataFromUrlQuery(filterMatcher)
    bus.$on('filtersChange', this.setFilters)
  },
  updated() {
    if (this.shouldUpdate) {
      this.handleFiltersChange()
    }

    this.shouldUpdate = true
  },
  methods: {
    handleFiltersChange() {
      if (this.isCustomer) {
        const {
          ownership, rate, workingHours, companySize
        } = this

        bus.$emit('filtersChange', {
          ownership, rate, workingHours, companySize
        })
      } else {
        const {
          ownership, budget, workingHours, companySize
        } = this

        bus.$emit('filtersChange', {
          ownership, budget, workingHours, companySize
        })
      }
    },
    reset() {
      this.ownership = null
      this.rate = null
      this.workingHours = null
      this.companySize = null
      this.budget = null
    }
  }
}
</script>
