<template>
  <div class="dropdown more-filter-dropdown">
    <a
      href="#"
      class="selected"
      data-toggle="dropdown"
    >
      Save filter
    </a>
    <div class="dropdown-menu">
      <SavedFilter
        v-for="filter in filters"
        :key="filter.id"
        :filter="filter"
        @delete="handleFilterDelete"
        @update="handleFilterUpdate"
      />
      <div class="save-filter-row">
        <div class="input-row">
          <InputRow
            id="new-filter"
            v-model="newFilterName"
            label="Filter name"
          />
        </div>
        <span
          class="mdi mdi-plus-box add"
          @click="saveFilter"
        />
      </div>
    </div>
  </div>
</template>

<script>
import SavedFilter from './SavedFilter'
import { InputRow } from '@/components/Form'
import { filterMatcher } from '.'
import axios from "axios";
import Cookies from "js-cookie";

const STORAGE_KEY = 'services-filters'

export default {
  name: 'SaveFilterControl',
  components: {
    SavedFilter,
    InputRow
  },
  data() {
    return {
      filters: [],
      newFilterName: null,
    }
  },
  mounted() {
    if (this.user) {
      this.loadFilters()
    }
  },
  computed: {
    csrfToken() {
      return Cookies.get('csrftoken')
    }
  },
  methods: {
    saveFilter() {
      if (this.newFilterName) {
        const params = {}

        Object.keys(this.$route.query).map((key) => {
          params[filterMatcher[key]] = this.$route.query[key]
          return null
        })
        params.industry = this.$route.params.industry
        params.coreSkill = this.$route.params.coreSkill
        const id = this.filters.length ? this.filters[this.filters.length - 1].id + 1 : 1

        const body = {
          order: '-popularity',
          coreSkill: null,
          industry: null,
          companySize: null,
          workingHours: null,
          rate: null,
          ownership: null,
          id,
          name: this.newFilterName,
          ...params
        }

        // this.filters.push(data)
        this.saveFilterAction(body)
        this.newFilterName = null
        this.serializeFilters()
      }
    },
    async saveFilterAction(body) {
      const model = await this.convertModelToServe(body)
      const { data } = await axios({
        method: 'post',
        url: `/api/v1/filters/`,
        headers: { 'X-CSRFToken': this.csrfToken },
        data: model
      })
      this.filters.push(body)
    },
    convertModelToServe(body) {
      let model = {}
      if (!!body.budget)        { model.budget_rate = body.budget }
      if (!!body.companySize)   { model.company_size = body.companySize }
      if (!!body.coreSkill)     { model.coreskill = body.coreSkill }
      if (!!body.id)            { model.id = body.id }
      if (!!body.industry)      { model.industry = body.industry }
      if (!!body.name)          { model.name = body.name }
      if (!!body.order)         { model.sorted_by = body.order }
      if (!!body.ownership)     { model.ownership = body.ownership }
      if (!!body.rate)          { model.budget_rate = body.rate }
      if (!!body.workingHours)  { model.working_hours = body.workingHours }
      if (!!body.category)      { model.category = body.category }
      return model
    },
    convertModelToFront(body) {
      let model = {}
      model.budget = body.budget_rate
      model.companySize = body.company_size
      model.coreSkill = body.coreskill
      model.id = body.id
      model.industry = body.industry
      model.name = body.name
      model.order = body.sorted_by
      model.ownership = body.ownership
      model.rate = body.budget_rate
      model.workingHours = body.working_hours
      model.category = body.category
      return model
    },
    async loadFilters() {
      this.filters = []

      const response = await axios({
        method: 'get',
        url: `/api/v1/filters/`,
        headers: { 'X-CSRFToken': this.csrfToken },
      })
      const data = response.data
      if (response.status == 200) {
        let filtersData = []
        data.forEach(item => {
            filtersData.push(this.convertModelToFront(item))
        })
        this.filters = filtersData
      }
    },

    async handleFilterDelete(filterId) {
      try {
        const response = await axios({
            method: 'delete',
            url: `/api/v1/filters/${filterId}/`,
            headers: { 'X-CSRFToken': this.csrfToken },
        })
        this.filters = this.filters.filter(({ id }) => id !== filterId)
      } catch (e) {
          console.log(e)
      }

      // this.serializeFilters()
    },

    async handleFilterUpdate(filter) {
        let model = this.convertModelToServe(filter)
        try {
            const { data } = await axios({
                method: 'put',
                url: `/api/v1/filters/${filter.id}/`,
                headers: { 'X-CSRFToken': this.csrfToken },
                data: model
            })
            if (data) {
                this.loadFilters()
            }
        } catch (e) {
            console.log(e)
        }

      // this.serializeFilters()
    },

    serializeFilters() {
      let data = this.filters
      delete data.name
      delete data.id
      localStorage.setItem(STORAGE_KEY, JSON.stringify(data))
    }
  }
}
</script>
