<template>
  <div class="save-filter-row name">
    <InputRow
      v-show="isEdit"
      v-model="filter.name"
      @keyup.native.enter="handleSave(filter)"
    />
    <div
      v-if="!isEdit"
      class="filter-name"
      @click="handleApplyFilter"
    >
      {{ filter.name }}
    </div>
    <span
      v-if="isEdit"
      class="mdi mdi-delete delete"
      @click="handleDelete"
    />
    <span
      v-else
      class="mdi mdi-pencil edit"
      @click="isEdit = true"
    />
  </div>
</template>

<script>
import bus from './bus'
import { InputRow } from '@/components/Form'
import Vue from "vue";

export default {
  name: 'SavedFilter',
  components: {
    InputRow,
  },
  props: {
    filter: {
      type: Object,
      required: true,
    },
  },
  data() {
    return {
      isEdit: false,
    }
  },
  computed: {
    initialValues() {
      return { name: this.filter.name }
    }
  },
  methods: {
    handleSave(filter) {
      this.isEdit = false
      this.$emit('update', filter)
    },
    handleDelete() {
      this.isEdit = false
      this.$emit('delete', this.filter.id)
    },
    handleApplyFilter() {
      let filter = this.filter
      delete filter.name
      delete filter.id
      console.log(filter)
      bus.$emit('filtersChange', { ...filter }, true)
    },
  },
}
</script>

<style lang="scss" scoped>
.filter-name {
  cursor: pointer;
}
</style>
