<template>
  <button
    class="button-styles send-message"
    @click="checkAccount"
  >
    Send Message
  </button>
</template>

<script>
import axios from 'axios'
import { Toast } from '@/utils'

export default {
  name: 'SendMessageButton',
  props: {
    user: {
      // type: Object,
      required: true
    },
    item: {
      // type: Object,
      required: true
    }
  },
  computed: {
    recipient() {
      if (this.user) {
        return this.item.company ? this.item.company.owner.id : this.item.owner.id
      } else {
        return null
      }
    }
  },
  methods: {
    async checkAccount(){
      if ((this.user.role == 1 || this.user.role == 2) && this.user.is_owner) {
        const url = this.getUrl()
        const { data } = await axios({
          method: 'get',
          url,
          headers: {
            Authorization: `JWT ${this.user.token}`,
          }
        })
        if (data.length) {
          this.openChat()
        } else {
          this.openAlert()
        }
      } else {
        this.openChat()
      }
    },
    openAlert() {
      $('#alertModal').modal('show')
    },
    getUrl(){
      if (this.user.role == 1 && this.user.is_owner) {
        return `/api/v1/accounts/services/`
      }
      if (this.user.role == 2 && this.user.is_owner) {
        return `/api/v1/accounts/projects/`
      }
      return false
    },
    async openChat() {
      if (this.user) {
        const { data } = await axios({
          method: 'post',
          url: '{% url "chat:redirect-to-chat" %}',
          data: {
            recipient: this.recipient,
          },
          headers: {
            Authorization: `JWT ${this.user.token}`,
          }
        })

        if (data.url) {
          window.location = data.url
        } else {
          Toast.fire({
            type: 'error',
            title: 'Something went wrong!'
          })
        }
      } else {
        window.location = `/sign-in/?next=${this.$route.fullPath}`
      }
    }
  }
}
</script>
