<template>
  <div class="d-flex justify-content-between flex-wrap">
    <div class="row project-filters">
      <InputRow
        id="search"
        v-model="search"
        label="Search by email"
      >
        <span
          slot="icon"
          class="mdi mdi-magnify"
        />
      </InputRow>
      <div class="input-row">
        <InputDropdown
          id="role"
          :items="types"
          :get-key="item => item.id"
          :get-value="item => item.value"
          label="Sort by role"
          @select="handleSelectRole"
        />
      </div>
    </div>
    <div
      class="dropdown-add-wrap"
      style="margin: 0;"
    >
      <div class="dropdown dropdown-select dropdown-add">
        <div
          class="selected-wrap"
          data-toggle="dropdown"
        >
          <span class="mdi upload mdi-plus-box" />
          <span class="label">
            {{ selectedType && selectedType.value || 'Add user' }}
          </span>
          <span class="mdi mdi-menu-down" />
        </div>
        <div class="dropdown-menu dropdown-menu-right">
          <div class="dropdown-list-wrapper">
            <div class="dropdown-list">
              <div class="dropdown-list-row">
                <a
                  v-for="type in types"
                  :key="type.id"
                  href="#"
                  @click.prevent="select(type)"
                >
                  {{ type.value }}
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import bus from './bus'
import {
  InputRow,
  InputDropdown
} from '@/components/Form'

export default {
  name: 'Filters',
  components: {
    InputRow,
    InputDropdown,
  },
  data() {
    return {
      search: '',
      types: [
        { id: 0, value: 'Customer' },
        { id: 1, value: 'Contractor' },
        { id: 2, value: 'PM' },
        { id: 3, value: 'Blogger' },
        { id: 4, value: 'Content Manager' }
      ],
      selectedType: null
    }
  },
  watch: {
    search(value) {
      bus.$emit('filtersChange', { name: 'search', value })
    },
  },
  methods: {
    select(item) {
      this.selectedType = item
      bus.$emit('selectType', this.selectedType.value.toLowerCase())
    },
    handleSelectRole(item) {
      bus.$emit('filtersChange', { name: 'role', value: item ? item.value.toLowerCase() : null })
    }
  }
}
</script>
