<template>
  <div class="info-block-wrap">
    <div
      class="status"
      :class="{red: !item.is_active}"
    />
    <div class="row align-items-center">
      <!-- user info -->
      <div class="col-md-2">
        <div class="admin-user-name d-flex">
          <div class="img-wrap">
            <img
              :src="item.picture"
              alt=""
            >
          </div>
          <div class="user-info">
            <span>
              Name: <br>
              <mark class="project-name user-name">
                {{ item.name }}
              </mark>
            </span>
          </div>
        </div>
      </div>
      <!-- user company info -->
      <div class="col-md-2">
        <span>
          Company: <br>
          <mark>
            {{ item.work && item.work.company ? item.work.company.name : '-' }}
          </mark>
        </span>
      </div>
      <!-- company ownership -->
      <div class="col-md-2">
        <span>
          Type of ownership: <br>
                  <mark>
                    <!-- !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! refactor me !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! -->
                    {{ item.work && item.work.company && item.work.company.ownership ? item.work.company.ownership.name : '-' }}
                  </mark>
        </span>
      </div>
      <!-- activeness -->
      <div class="col-md-3">
        <span>
          Last activeness: <br>
               <mark>{{ item.last_intellectual_service ? item.last_intellectual_service.name : 'No activeness' }}</mark>
        </span>
      </div>
      <!-- activeness info -->
      <div class="col-md-2">
        <span v-if="item.last_intellectual_service">
          {{ item.last_intellectual_service.date_finish ? 'Budget' : 'Hourly rate' }}:
          <mark>${{ item.last_intellectual_service.budget }}</mark>
        </span>
        <span v-if="item.last_intellectual_service && item.last_intellectual_service.date_finish">
          Deadline: <mark>{{ item.last_intellectual_service.date_finish | date }}</mark>
        </span>
      </div>
      <!-- actions -->
      <div class="col-md-1">
        <div class="review-controls d-flex justify-content-end align-items-center">
          <div class="dropdown dropdown-top-right">
            <span
              class="mdi mdi-dots-vertical"
              data-toggle="dropdown"
            />
            <div class="dropdown-menu dropdown-menu-right">
              <a
                href="#"
                class="dropdown-item"
                @click.prevent
              >
                Send Message
              </a>
              <a
                href="#"
                class="dropdown-item"
                @click.prevent="activate"
              >
                {{ item.is_active ? 'Deactivate' : 'Activate' }}
              </a>
              <a
                href="#"
                class="dropdown-item"
                @click.prevent="remove"
              >
                Delete
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import moment from 'moment'
import bus from './bus'

export default {
  name: 'Item',
  filters: {
    date(value) {
      return moment(value).format('DD.MM.YYYY')
    }
  },
  props: {
    item: {
      type: Object,
      required: true
    }
  },
  methods: {
    activate() {
      bus.$emit('activate', this.item.id)
    },
    remove() {
      bus.$emit('remove', this.item.id)
    }
  }
}
</script>

<style>

</style>
