<template>
  <div
    id="addmodal"
    class="modal fade"
    :class="{show: shouldShow}"
    tabindex="-1"
    role="dialog"
    style="background: rgba(0,0,0,0.5);"
    :style="shouldShow ? 'display: block;' : 'display: none;'"
  >
    <div
      class="modal-dialog modal-dialog-centered"
      role="document"
    >
      <div class="modal-content">
        <div
          class="back-wrapper position-top-left"
          @click.prevent="close"
        >
          <a href="#">
            <span class="back-icon">
              <span class="mdi mdi-arrow-left" />
            </span>
            <mark>Back</mark>
          </a>
        </div>
        <div class="modal-add-wrap">
          <Form
            :fields="fields"
            :submit="submit"
          >
            <template
              slot-scope="{
                models: {email}, isValid, isLoading
              }"
            >
              <InputRow
                id="email"
                v-model="email.value"
                :error="email.error"
                label="Email"
              />
              <Submit
                class="button-styles light-blue"
                value="Save"
                :disabled="!isValid || isLoading"
                :loading="isLoading"
              >
                <span
                  slot="icon"
                  class="mdi mdi-content-save"
                />
              </Submit>
            </template>
          </Form>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import bus from './bus'
import Form, { InputRow, Submit } from '@/components/Form'
import { isRequired, isEmail, isCyrillic } from '@/utils/validators'

export default {
  name: 'Modal',
  components: {
    Form,
    InputRow,
    Submit
  },
  props: {
    shouldShow: {
      type: Boolean,
      required: true
    }
  },
  data() {
    return {
      fields: [
        { name: 'email', validators: [isRequired, isEmail, isCyrillic] }
      ]
    }
  },
  methods: {
    close() {
      bus.$emit('closeModal')
    },
    submit(values) {
      bus.$emit('createUser', values.email)
    }
  }
}
</script>

<style>

</style>
