<template>
  <div>
    <div
      v-if="currentForm === 'sign-up-blogger'"
      class="reset-pass-wrapper signup-blogger-wrapper"
    >
      <SignUpBlogger />
    </div>
    <PasswordResetForm v-if="currentForm === 'password-reset'" />
    <template v-if="currentForm === 'sign-up' || currentForm === 'sign-in'">
      <div
        :class="switched && (currentForm === 'sign-up' ? 'move-position' : '')"
        class="form-enter-section"
      >
        <SignIn
          :switched="switched"
          :go-to-form="goToForm"
          :current-form="currentForm"
          :referer="referer"
        />
        <SignUp
          :switched="switched"
          :go-to-form="goToForm"
          :current-form="currentForm"
        />
      </div>
    </template>
  </div>
</template>

<script>
import SignIn from './SignIn'
import SignUp from './SignUp'
import SignUpBlogger from './SignUpBlogger'
import PasswordResetForm from './PasswordResetForm'

export default {
  name: 'Auth',
  components: {
    SignIn,
    SignUp,
    SignUpBlogger,
    PasswordResetForm,
  },
  props: {
    referer: {
      type: String,
      required: true
    }
  },
  data() {
    return {
      currentForm: null,
      switched: false,
    }
  },
  watch: {
    $route(to) {
      this.currentForm = to.name
    },
  },
  created() {
    this.currentForm = this.$route.name
  },
  methods: {
    goToForm(formName) {
      this.switched = true

      this.currentForm = formName
      this.$router.push({ name: formName, params: this.$route.params })
    },
  },
}
</script>
