<template>
  <Auth
    :referer="referer"
  />
</template>

<script>
import Auth from './Auth'

export default {
  components: {
    Auth,
  },
  props: {
    referer: {
      type: String,
      required: true
    }
  }
}
</script>
