<template>
  <Form
    :fields="fields"
    method="post"
    :prevent="false"
  >
    <template slot-scope="{ models: { password, password2 }, isValid, isLoading }">
      <input
        type="hidden"
        :value="csrfToken"
        name="csrfmiddlewaretoken"
      >
      <InputRow
        id="password"
        v-model="password.value"
        type="password"
        label="Password"
        name="new_password1"
        :error="password.error"
      />
      <InputRow
        id="password2"
        v-model="password2.value"
        type="password"
        name="new_password2"
        label="Password confirm"
        :error="password2.error"
      />
      <Submit
        class="btn-site"
        :value="submitText"
        :disabled="!isValid"
        :loading="isLoading"
      />
    </template>
  </Form>
</template>

<script>
import Form, { InputRow, Submit } from '@/components/Form'
import { isRequired, shouldBeEqual, minLength } from '@/utils/validators'
import Cookies from 'js-cookie'

export default {
  name: 'PasswordResetConfirm',
  components: {
    Form,
    InputRow,
    Submit
  },
  props: {
    submitText: {
      type: String,
      default: 'reset',
    }
  },
  data() {
    return {
      fields: [
        { name: 'password', validators: [isRequired, minLength(4)] },
        { name: 'password2', validators: [isRequired, shouldBeEqual('password', 'Passwords do not match')] }
      ]
    }
  },
  computed: {
    csrfToken() {
      return Cookies.get('csrftoken')
    }
  },
}
</script>
