<template>
  <div class="reset-pass-wrapper recover-pass">
    <Form
      method="post"
      class="enter-form signIn"
      :fields="fields"
      :submit="submit"
    >
      <template slot-scope="{ models: { email }, isValid, isLoading }">
        <div class="back-wrapper position-top-left">
          <a
            href="#"
            @click.prevent="back"
          >
            <span class="back-icon">
              <span class="mdi mdi-arrow-left" />
            </span>
          </a>
        </div>
        <h2>Recover password</h2>
        <div class="inputs-wrap">
          <h3 v-if="sent">
            Link is sent to your email. Please follow it to reset your password
          </h3>
          <template v-else>
            <h3>Please enter your email</h3>
            <div class="input-row">
              <InputRow
                id="email"
                v-model="email.value"
                name="email"
                label="Email"
                :error="email.error"
              />
            </div>
            <div class="enter-form-button">
              <Submit
                class="btn-site"
                type="submit"
                :disabled="!isValid"
                :loading="isLoading"
                value="Recover"
              />
            </div>
          </template>
        </div>
      </template>
    </Form>
  </div>
</template>

<script>
import Form, { InputRow, Submit } from '@/components/Form'
import { isRequired, isEmail } from '@/utils/validators'
import axios from 'axios'
import Cookies from 'js-cookie'

export default {
  name: 'PasswordResetForm',
  components: {
    Form,
    InputRow,
    Submit,
  },
  data() {
    return {
      fields: [{ name: 'email', validators: [isRequired, isEmail] }],
      sent: false,
    }
  },
  methods: {
    back() {
      this.$router.go('-1')
    },
    async submit(values) {
      try {
        const csrfToken = Cookies.get('csrftoken')

        const response = await axios({
          url: '{% url "password-reset" %}',
          method: 'post',
          data: values,
          headers: { 'X-CSRFToken': csrfToken },
        })

        if (response.request.status === 200) {
          this.sent = true
        }
      } catch (e) {
        console.log(e.response)

      }
    }
  }
}
</script>
