<template>
  <div>
    <div
            v-if="category.articles.length"
            class="news-row"
    >
      <div
              class="news-heading d-flex justify-content-between align-items-center"
              v-if="category.articles"
      >
        <span>{{ category.name }}</span>
        <div class="subscribe-wrap">
          <a
                  href="#"
                  :class="{subscribed: category.is_subscribed}"
                  class="subscribe-button"
                  @click.prevent="subscribe"
          >
            {{ category.is_subscribed ? 'Subscribed' : 'Subscribe' }}
          </a>
          <span
                  v-if="category.is_subscribed"
                  class="mdi mdi-bell-outline notifications"
          />
        </div>
      </div>
      <div
              v-masonry
              column-width=".col-lg-4"
              transition-duration="0.5s"
              item-selector=".item"
              :horizontal-order="false"
              class="row"
              style="min-height: 380px;"
      >
        <Item
                v-for="(article, index) in category.articles"
                :key="new Date().getTime() + index"
                v-masonry-tile
                :item="article"
                :type="getType(index)"
        />
      </div>
      <InfiniteLoading
              v-if="infinite"
              :distance="10"
              spinner="spiral"
              :identifier="category.articles.length"
              @infinite="infiniteHandler"
      >
        <span slot="no-more" />
        <span slot="no-results" />
      </InfiniteLoading>
    </div>
  </div>
</template>

<script>
import InfiniteLoading from 'vue-infinite-loading'
import Item from './Item'
import { Grid } from '@/utils'

const grid = new Grid()

export default {
  name: 'Category',
  components: {
    InfiniteLoading,
    Item
  },
  props: {
    category: {
      type: Object,
      required: true
    },
    infinite: {
      type: Boolean,
      default: false
    },
    loadMore: {
      type: Function,
      default: () => {}
    },
  },
  data() {
    return {
      subscribeLocked: false,
    }
  },
  computed: {
    articles() {
      return this.category.articles
    }
  },
  watch: {
    articles() {
      this.$redrawVueMasonry()
    }
  },
  methods: {
    async infiniteHandler($state) {
      const hasNext = await this.loadMore()

      if (hasNext) {
        $state.loaded()
        this.$redrawVueMasonry()
      } else {
        $state.complete()
      }
    },
    subscribe() {
      this.$emit('subscribe', this.category.id)
    },
    getType(index) {
      return grid.getNextBrickType(index)
    },
  }
}
</script>
