<template>
  <div>
    <div class="filters-wrapper">
      <div class="filter-col">
        <label>Date</label>
        <div class="date-wrapper">
          <DatePicker
            v-model="date"
          />
        </div>
      </div>
      <div class="filter-col">
        <label for="country">
          Country
        </label>
        <InputDropdown
          id="country"
          v-model="country"
          class="dropdown-country"
          style="width: 250px;"
          :items="countries"
          label="Worldwide"
          :get-value="item => item.name"
        />
      </div>
      <div class="filter-col">
        <label>Sorted by</label>
        <div class="select-wrapper">
          <span class="mdi mdi-menu-down" />
          <select v-model="ordering">
            <option :value="null">
              Latest
            </option>
            <option value="-popularity">
              Popularity
            </option>
          </select>
        </div>
      </div>
    </div>
    <div
      v-if="searchTags.length"
      class="filters-active d-flex"
    >
      <span class="filters-title">
        Active filters:
      </span>
      <div class="filters-list">
        <ActiveFilter
          v-for="tag in searchTags"
          :key="tag"
          :text="tag"
          @remove="text => $emit('removeTag', text)"
        />
        <span
          class="filters-clear"
          @click="$emit('clearSearch')"
        >
          Clear
        </span>
      </div>
    </div>
  </div>
</template>

<script>
import DatePicker from '@/components/DatePicker'
import { InputDropdown } from '@/components/Form'
import bus from './bus'
import ActiveFilter from '@/components/Blog/ActiveFilter'
import moment from 'moment'
import { UrlQueryMixin } from '@/mixins'

export default {
  name: 'Filters',
  components: {
    DatePicker,
    InputDropdown,
    ActiveFilter,
  },
  mixins: [UrlQueryMixin],
  props: {
    countries: {
      type: Array,
      default: () => []
    },
    searchTags: {
      type: Array,
      default: () => []
    },
  },
  data() {
    return {
      date: null,
      country: null,
      ordering: null,
    }
  },
  created() {
    this._getDataFromUrlQuery(null, { date: this._transformDate, country: this._transformCountry })
  },
  updated() {
    this.handleFiltersChange()
  },
  methods: {
    _transformCountry(countryId) {
      const country = this.countries.find(({ id }) => id === parseInt(countryId, 10))

      if (country) {
        return country
      }

      return null
    },
    _transformDate(date) {
      return new Date(date)
    },
    handleFiltersChange() {
      const { date, country, ordering } = this

      bus.$emit('filtersChange', {
        date: date ? moment(date).format('YYYY-MM-DD') : null,
        country: country ? country.id : null,
        ordering
      })
    },
  }
}
</script>
