<template>
  <div
    class="item"
    :class="containerClass"
    style="margin-bottom: 30px;"
    :style="(brickType === 3 || brickType === 2) ? 'height: 790px' : ''"
  >
    <a
      :href="item.url"
      class="news-block"
      :class="itemClass"
      :style="brickType === 3 ? `background-image: url('${item.images[2]}');` : ''"
    >
      <div
        v-if="brickType !== 3 && brickType !== 4"
        class="news-media"
        :style="brickType === 4 ? '' : `background-image: url('${item.images[brickType - 1]}');`"
      >
        <span
          v-if="item.video"
          class="mdi mdi-play-circle-outline play-video-button"
        />
      </div>
      <div
        class="news-info"
        :class="{'bg-img': brickType === 3}"
      >
        <span class="category-name">
          {{ item.category.name }}
        </span>
        <h3 class="news-name">
          {{ item.title }}
        </h3>
        <span class="news-date">
          {{ item.created_at | date }}
        </span>
        <p class="excerpt">
          {{ item.excerpt }}
        </p>
        <SocialShare
          :url="item.url"
          :title="item.title"
          :description="item.excerpt"
          right="-80px"
          class="blog-article-share news-article-share"
          :class="{'white-color': brickType === 3}"
        >
          <span
            class="mdi mdi-share-variant no-link"
            @click.prevent
          />
        </SocialShare>
      </div>
    </a>
  </div>
</template>

<script>
import moment from 'moment'
import SocialShare from '@/components/SocialShare'

export default {
  name: 'Item',
  components: {
    SocialShare
  },
  filters: {
    date(value) {
      return moment(value).format('MMM DD, YYYY')
    }
  },
  props: {
    item: {
      type: Object,
      required: true
    },
    type: {
      type: Number,
      required: true
    }
  },
  data() {
    return {
      brickType: this.type
    }
  },
  computed: {
    containerClass() {
      if (this.brickType === 1) {
        return 'col-lg-8'
      }

      return 'col-lg-4'
    },
    itemClass() {
      if (this.brickType === 2) {
        return 'h-100 vertical-content'
      }

      if (this.brickType === 3) {
        return 'h-100'
      }

      return ''
    },
  },
}
</script>

<style lang="scss" scoped>
.news-name, .excerpt {
  height: 90px;
  overflow-y: hidden;
}
</style>
