<template>
  <div>
    <section class="section-top">
      <div class="wrapper">
        <div class="title-wrap">
          <span>News</span>
        </div>

        <Menu
          :items="categories"
          :search-query="searchQuery"
          @search="handleSearch"
        />

        <Filters
          :countries="countries"
          :search-tags="searchTags"
          @search="handleSearch"
          @removeTag="removeTag"
          @clearSearch="clearSearch"
        />
      </div>
    </section>

    <RouterView />
  </div>
</template>

<script>
import Filters from './Filters'
import Menu from './Menu'
import { UrlQueryMixin } from '@/mixins'

export default {
  name: 'Layout',
  components: {
    Filters,
    Menu,
  },
  mixins: [UrlQueryMixin],
  props: {
    categories: {
      type: Array,
      required: true
    },
    countries: {
      type: Array,
      default: () => []
    }
  },
  data() {
    return {
      searchTags: [],
      searchQuery: '',
    }
  },
  watch: {
    searchTags() {
      this.searchQuery = this.searchTags.join(' ')
    },
  },
  created() {
    this._getDataFromUrlQuery({ search: 'searchQuery' })
  },
  methods: {
    removeTag(text) {
      this.searchTags = this.searchTags.filter(tag => tag !== text)
    },
    clearSearch() {
      this.searchTags = []
    },
    handleSearch(searchQuery) {
      if (searchQuery) {
        const tags = searchQuery.split(/\s+/)
        this.searchTags = tags.filter(
          (tag, index) => tags.indexOf(tag) === index,
        )
      } else {
        this.searchTags = []
      }
    }
  }
}
</script>
