<template>
  <section class="section-news 2">
    <div class="section-news-holder">
      <div class="wrapper" v-if="loading && results.length">
        <template v-if="categorySlug === 'all'">
          <Category
            v-for="item in latestCategories"
            :key="item.id"
            :category="item"
            :loading="loading"
            @subscribe="toggleSubscription"
          />
        </template>
        <template v-else-if="categorySlug === 'industry-events'">
          <div class="news-row blog-row">
            <div class="news-heading d-flex justify-content-between align-items-center">
              <span>Industy events</span>
              <div class="subscribe-wrap">
                <a
                  href="#"
                  class="subscribe-button"
                >
                  Subscribe
                </a>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-12">
                <a
                  href="#"
                  class="news-block"
                >
                  <div
                    class="news-media"
                    style="background-image: url('/static/images/news-img5.jpg')"
                  />
                  <div class="news-info">
                    <span class="category-name">
                      Category name
                    </span>
                    <h3 class="news-name">
                      Event name
                    </h3>
                    <span class="news-date">
                      May 28, 2019
                    </span>
                    <p>
                      Writers and stars of Veep have responded incredulously to the news an Australian politician required stitches after knocking himself
                      unconscious while laughing at the new season. Graham Perrett, a federal Labor MP in Queensland, was eating sushi while watching the
                      US political satire on Sunday night when some of the rice went down the wrong way, causing him to fall and knock himself unconscious.
                    </p>
                    <div class="d-flex justify-content-between align-items-center">
                      <div class="d-flex align-items-baseline flex-wrap event-info">
                        <div class="event-col">
                          <span class="mdi mdi-map-marker" />
                          <span class="txt">
                            Location
                          </span>
                        </div>
                        <div class="event-col">
                          <span class="txt">
                            Event maker links
                          </span>
                        </div>
                      </div>
                      <span class="mdi mdi-share-variant blog-article-share no-link" />
                    </div>
                  </div>
                </a>
              </div>
            </div>
          </div>
        </template>
        <Category
          v-else
          infinite
          :load-more="loadMore"
          :category="getCategory(categorySlug)"
          :loading="loading"
          @subscribe="toggleSubscription"
        />
      </div>
      <div v-else-if="!loading" class="loading-status">
        <loader></loader>
      </div>
      <div v-else class="loading-status">
        <zeroresults @back="loading = false"></zeroresults>
      </div>
    </div>
  </section>
</template>

<script>
import Vue from 'vue'
import axios from 'axios'
import Category from './Category'
import {
  UrlQueryMixin, AuthRequiredMixin, TimeoutMixin, FetchDataMixin
} from '@/mixins'
import bus from './bus'
import loader from '@/widget/loader'
import zeroresults from '@/widget/zeroResultsTips'


export default {
  name: 'List',
  components: {
    zeroresults,
    Category,
    loader,
  },
  mixins: [UrlQueryMixin, AuthRequiredMixin, TimeoutMixin, FetchDataMixin],
  props: {
    categories: {
      type: Array,
      default: () => []
    },
    user: {
      type: Object,
      default: null,
    }
  },
  requestSettings: {
    url: "{% url 'news-articles-list-api' %}",
    params() {
      return {
        search: this.search,
        date: this.date,
        ordering: this.ordering,
        country: this.country,
        category__slug: this.categorySlug === 'all' ? null : this.categorySlug,
        limit: 4,
        offset() {
          const category = this.getCategory(this.categorySlug)
          if (category) {
            if (category.articles) {
              return category.articles.length
            }
          }

          return 0
        },
      }
    }
  },
  data() {
    return {
      latestCategories: this.categories,
      cache: {},
      categorySlug: this.$route ? this.$route.params.category : 'all',
      date: null,
      ordering: null,
      country: null,
      search: null,
      loading: true,
      results: []
    }
  },
  watch: {
    categorySlug() {
      this.refetchData()
    }
  },
  created() {
    this.results = this.latestCategories.filter((item)=>{
      if (item.articles.length) {
        return item.articles
      }
    })
    if (this.$route) {
      this._getDataFromUrlQuery()
    }
    bus.$on('filtersChange', this.handleFiltersChange)
  },

  methods: {
    async refetchData() {
      this.loading = false
      this.clearCache()
      const data = await this.$refetchData()
      if (data) {
        const hasNext = data.hasNext
        delete data.hasNext
        const results = data.articles
        this.setArticles({results, hasNext})
        this.setArticlesCategory({results})
      } else {
        this.setArticles({results: [], hasNext: false})
      }
    },
    async loadMore() {
      const data = await this.$fetchData()

      this.mergeArticles({
        results: data.articles,
        hasNext: data.hasNext
      })

      return data.hasNext
    },
    clearCache() {
      Object.keys(this.cache).map(categorySlug => ({
        name: this.cache[categorySlug].name,
        is_subscribed: this.cache[categorySlug].is_subscribed,
        id: this.cache[categorySlug].id,
        articles: [],
      }))
      this.results = []
    },
    mergeArticles({ results, hasNext }) {
      if (this.categorySlug === 'all') {
        this.latestCategories = Object.keys(this.cache).map(categoryName => ({ ...this.cache[categoryName] }))
      } else {
        const category = this.getCategory(this.categorySlug)
        Vue.set(this.cache, this.categorySlug, {
          ...category,
          hasNext,
          articles: [...category.articles, ...results]
        })
      }
    },
    setArticles({ results, hasNext }) {
      const category = this.getCategory(this.categorySlug)
      this.results = results
      Vue.set(this.cache, this.categorySlug, {
        ...category,
        hasNext,
        articles: results
      })
    },
    setArticlesCategory({results}){
      const articles = results
      this.latestCategories.forEach(item => {
        item.articles = []
        if (articles.length) {
          articles.forEach((article) => {
            if (article.category.id == item.id) {
              item.articles.push(article)
            }
          })
        }
      })
      this.loading = true
    },
    getCategory(slug) {
      return this.cache[slug] || this.latestCategories.find(item => item.slug === slug)
    },
    handleFiltersChange(filters) {
      // apply filters
      Object.keys(filters).map((key) => {
        Vue.set(this, key, filters[key])

        this._setUrlQuery(key, filters[key])

        return null
      })

      this.refetchData()
    },
    toggleSubscription(categoryId) {
      this.$authRequired(() => {
        const category = this.latestCategories.find(({ id }) => id === categoryId)
        category.is_subscribed = !category.is_subscribed

        this.$withTimeout(async () => {
          try {
            if (category) {
              await axios({
                url: `/news/subscribe-category/${categoryId}`,
                method: 'patch',
                headers: {
                  Authorization: `JWT ${this.user.token}`,
                }
              })
            }
          } catch (e) {
            category.is_subscribed = !category.is_subscribed
          }
        })
      })
    }
  },
  beforeRouteUpdate(to, from, next) {
    this.categorySlug = to.params.category
    next()
  }
}
</script>

<style scoped>

  .loading-status {
    text-align: center;
  }

</style>