<template>
  <BlogCategoryMenu
    :items="[{ id: 0, name: 'All', slug: 'all' }, ...items, {id: 99, name: 'Industry events', slug:'industry-events' }]"
    :search-query="searchQuery"
    url-base="news"
    @search="search"
  />
</template>

<script>
import BlogCategoryMenu from '@/components/BlogCategoryMenu'
import bus from './bus'

export default {
  name: 'Menu',
  components: {
    BlogCategoryMenu
  },
  props: {
    items: {
      type: Array,
      required: true,
    },
    searchQuery: {
      type: String,
      default: ''
    }
  },
  watch: {
    searchQuery() {
      bus.$emit('filtersChange', { search: this.searchQuery })
    }
  },
  methods: {
    search(search) {
      bus.$emit('filtersChange', { search })
      this.$emit('search', search)
    }
  }
}
</script>
