<template>
  <div class="settings-holder settings-remove-bg-mobile">
    <div class="columns-wrap active columps-wrap-membership">
      <div class="col-right container-pos">
        <Menu />
        <div class="col-right-wrap-body">
          <Filters />
          <div class="row d-flex flex-wrap">
            <Article
              v-for="article in filteredArticles"
              :key="article.id"
              :article="article"
            />
          </div>
        </div>
      </div>
    </div>
    <InfiniteLoading
      :distance="10"
      spinner="spiral"
      @infinite="infiniteHandler"
    >
      <span slot="no-more" />
      <span slot="no-results" />
    </InfiniteLoading>
  </div>
</template>

<script>
import Swal from 'sweetalert2'
import moment from 'moment'
import InfiniteLoading from 'vue-infinite-loading'
import axios from 'axios'
import Menu from './Menu'
import Article from './Article'
import Filters from './Filters'
import bus from './bus'
import { NotificationMixin } from '@/mixins'

export default {
  name: 'Articles',
  components: {
    Menu,
    Article,
    Filters,
    InfiniteLoading
  },
  mixins: [NotificationMixin],
  props: {
    user: {
      type: Object,
      required: true
    },
    blog: {
      type: Object,
      default: () => {}
    }
  },
  data() {
    return {
      articleList: this.blog.articles,
      hasMore: this.blog.has_more_articles,
      search: null,
      tab: 'all',
      filters: {},
      page: 2,
      sortby: ''
    }
  },
  computed: {
    filteredArticles() {
      let articles = this.articleList

      if (this.tab === 'archived') {
        articles = this.blog.articles.filter(article => article.is_archived)
      }

      if (this.tab === 'published') {
        articles = this.blog.articles.filter(article => article.status === 2 && !article.is_archived)
      }

      if (this.tab === 'drafts') {
        articles = this.blog.articles.filter(article => article.status === 1 && !article.is_archived)
      }

      if (this.search) {
        articles = this.blog.articles.filter(article => article.title.toLowerCase().indexOf(this.search.trim().toLowerCase()) > -1)
      }

      if (this.sortby === 'newest') {
        articles.sort((prev, curr) => {
          const prevDate = moment(prev.updated_at)
          const currDate = moment(curr.updated_at)

          if (prevDate > currDate) {
            return -1
          }
          if (prevDate < currDate) {
            return 1
          }
          return 0
        })
      }

      if (this.sortby === 'oldest') {
        articles.sort((prev, curr) => {
          const prevDate = moment(prev.updated_at)
          const currDate = moment(curr.updated_at)

          if (prevDate < currDate) {
            return -1
          }
          if (prevDate > currDate) {
            return 1
          }
          return 0
        })
      }

      if (this.sortby === 'popularity') {
        articles.sort((prev, curr) => curr.views - prev.views)
      }

      return articles
    }
  },
  created() {
    bus.$on('filterArticles', this.handleFilter)
    bus.$on('setSearchValue', this.setSearch)
    bus.$on('remove', this.remove)
    bus.$on('archive', this.archive)
  },
  methods: {
    handleFilter({ filterName, value }) {
      this[filterName] = value
    },
    setSearch(value) {
      this.search = value
    },
    async infiniteHandler($state) {
      const hasMore = await this.loadMore()

      if (hasMore) {
        $state.loaded()
      } else {
        $state.complete()
      }
    },
    getStatus() {
      const { tab } = this

      if (tab && tab === 'published') {
        return 2
      }
      if (tab && tab === 'drafts') {
        return 1
      }
      return false
    },
    async fetchData(page = 1) {
      const status = this.getStatus()
      this.filters = {
        is_archived: this.tab === 'archived',
        title: this.search,
      }
      if (status) {
        this.filters.status = status
      }

      const params = {
        ...this.filters,
        page,
        author: this.user.blogger.id,
      }

      const { data } = await axios({
        method: 'get',
        url: '{% url "get-more-articles" %}',
        params: { ...params },
        headers: {
          Authentication: `JWT ${this.user.token}`
        }
      })

      this.hasMore = !!data.next
      this.page += 1

      return data.results
    },
    async loadMore() {
      if (this.hasMore) {
        const articles = await this.fetchData(this.page)
        this.articleList.push(...articles)
      }

      return this.hasMore
    },
    async remove(pk) {
      const url = '{% url "remove-article" %}'
      const data = { pk }

      Swal.fire({
        title: 'Are you sure?',
        type: 'question',
        showConfirmButton: true,
        confirmButtonText: 'Delete',
        confirmButtonColor: 'red',
        showCancelButton: true,
        showLoaderOnConfirm: true,
        preConfirm: async () => {
          try {
            const response = await axios({
              method: 'delete',
              url,
              data,
              headers: {
                Authorization: `JWT ${this.user.token}`
              }
            })

            if (response.status === 204) {
              const index = this.filteredArticles.findIndex(article => article.id === pk)
              this.filteredArticles.splice(index, 1)
              this.notify('success', 'Article has been successfully deleted')
            }
          } catch (e) {
            this.notify('error', 'Something went wrong!')
            console.log(e)
          }
        }
      })
    },
    async archive(pk) {
      const url = '{% url "archive-unarchive" %}'
      const data = { pk }
      const index = this.filteredArticles.findIndex(article => article.id === pk)
      const message = this.filteredArticles[index].is_archived ? 'Article successfully unarchived' : 'Article successfully archived'

      const response = await axios({
        method: 'put',
        url,
        data,
        headers: {
          Authorization: `JWT ${this.user.token}`
        }
      })

      if (response.status === 200) {
        this.notify('success', message)
        this.$set(this.filteredArticles, index, response.data.instance)
      } else {
        this.notify('error', 'Something went wrong!')
      }
    }
  },
}
</script>

<style lang="scss" scoped>
  .container-pos {
    position: inherit !important;
  }
</style>
