<template>
  <div class="settings-holder">
    <div class="back-wrapper position-top-left">
      <a href="{% url 'article-list' %}">
        <span class="back-icon">
          <span class="mdi mdi-arrow-left" />
        </span>
        <mark>Back</mark>
      </a>
    </div>
    <Form
      ref="articleForm"
      :fields="fields"
      :submit="submitForm"
    >
      <template
        slot-scope="{
          models: {
            category, title, excerpt, content,
          }, isValid, isLoading
        }"
      >
        <div class="edit-controls edit-articles-controls d-flex justify-content-end align-items-center">
          <div class="dropdown dropdown-select dropdown-add">
            <div
              class="selected-wrap"
              data-toggle="dropdown"
              aria-expanded="false"
            >
              <span class="mdi upload mdi-folder-move" />
              <span class="label">
                {{ category.value ? category.value.name : category.error || 'Category*' }}
              </span>
              <span class="mdi mdi-menu-down" />
            </div>
            <div class="dropdown-menu dropdown-menu-right">
              <div class="dropdown-list-wrapper">
                <div class="dropdown-list">
                  <div
                    class="dropdown-list-row"
                  >
                    <a
                      v-for="c in categories"
                      :key="c.id"
                      href="#"
                      @click.prevent="setCategory(c)"
                    >
                      {{ c.name }}
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <a
            v-if="article"
            href="#"
            class="archive"
          >
            <span class="mdi mdi-archive" />
            Archive
          </a>
        </div>
        <div class="profile-holder profile-holder-edit-article">
          <div class="edit-wrapper">
            <!-- Article name -->
            <div class="edit-top">
              <span
                v-if="!edit"
                class="article-title"
                @click.prevent="edit=true"
              >
                {{ title.value || "Article's name*" }}
                <span class="mdi mdi-pencil" />
              </span>
              <div
                v-else
                class="input-row"
              >
                <input
                  v-model="title.value"
                  @blur.prevent="edit=false"
                >
              </div>
            </div>
            <!-- Article image (crop?) -->
            <div class="select-size-img">
              <span>Select an image for preview</span>
              <div class="upload-img d-flex align-items-center flex-wrap">
                <ClipperUpload
                  v-model="image"
                  class="upload-block w80"
                />
              </div>
              <ClipperFixed
                v-if="image"
                ref="clipper"
                :src="image"
                :ratio="490/380"
                preview="preview"
              />
              <div class="text-center">
                <button
                  v-if="image"
                  class="btn-site"
                  @click.prevent="clip"
                >
                  clip!
                </button>
              </div>
              <img
                v-if="preview || article && article.picture"
                :src="preview || article && article.picture"
                width="490"
                height="380"
              >
            </div>
            <!-- excerpt -->
            <RichTextEditor
              id="excerpt"
              content-class="textarea-edit height120"
              :content="excerpt.value"
              :error="excerpt.error"
              @change="setExcerpt"
            />
            <RichTextEditor
              id="content"
              content-class="textarea-edit"
              :content="content.value"
              :error="content.error"
              @change="setContent"
            />
            <div class="edit-buttons d-flex justify-content-end">
              <Submit
                class="btn-site"
                value="Save"
                :disabled="!isValid || isLoading"
                :loading="isLoading"
              />
            </div>
          </div>
        </div>
      </template>
    </Form>
  </div>
</template>

<script>
import Swal from 'sweetalert2'
import axios from 'axios'
import RichTextEditor from '@/components/Form/RichTextEditor'
import Form, {
  Submit,
} from '@/components/Form'
import { isRequired, isCyrillic } from '@/utils/validators'
import { NotificationMixin } from '@/mixins'

export default {
  name: 'ArticleForm',
  components: {
    RichTextEditor,
    Form,
    Submit,
  },
  mixins: [NotificationMixin],
  props: {
    user: {
      type: Object,
      required: true
    },
    article: {
      type: Object,
      default: () => {}
    },
    categories: {
      type: Array,
      default: () => []
    }
  },
  data() {
    return {
      fields: [
        { name: 'category', validators: [isRequired] },
        { name: 'title', validators: [isRequired, isCyrillic] },
        { name: 'excerpt', validators: [isRequired] },
        { name: 'content', validators: [isRequired] },
      ],
      edit: false,
      image: '',
      preview: ''
    }
  },
  created() {
    const { fields, article } = this

    if (article) {
      fields[0].value = article.category
      fields[1].value = article.title
      fields[2].value = article.excerpt
      fields[3].value = article.content
      // this.preview = article.picture
    }
  },
  methods: {
    clip() {
      const img = this.$refs.clipper.clip()
      this.image = ''
      this.preview = img.toDataURL('image/jpg', 1)
    },
    saveName() {
      this.edit = false
    },
    setExcerpt(value) {
      this.$refs.articleForm.setFieldValue('excerpt', value)
    },
    setContent(value) {
      this.$refs.articleForm.setFieldValue('content', value)
    },
    setCategory(value) {
      this.$refs.articleForm.setFieldValue('category', value)
    },
    makeData(values) {
      return {
        pk: this.article && this.article.id,
        title: values.title,
        category_id: values.category.id,
        excerpt: values.excerpt,
        content: values.content,
        author: this.user.blogger.id,
      }
    },
    submitForm(values) {
      const data = this.makeData(values)

      if (this.preview) {
        data.picture = this.preview
      }

      if (!this.article && !data.picture) {
        this.notify('warning', 'Add an image for article preview, please')
        return
      }


      Swal.fire({
        type: 'question',
        showCloseButton: true,
        showConfirmButton: true,
        showCancelButton: true,
        confirmButtonText: 'Publish',
        cancelButtonText: 'Draft',
        customClass: {
          container: 'swal2-confirm-modal',
          confirmButton: 'popup-button',
          cancelButton: 'popup-button'
        }
      }).then(async (result) => {
        if (result.value) {
          data.status = 2
        }
        if (result.dismiss === 'cancel') {
          data.status = 1
        } else if (result.dismiss === 'close' || result.dismiss === 'backdrop') {
          return
        }
        const url = this.article ? '{% url "update-article" %}' : '{% url "add-article" %}'
        const method = this.article ? 'put' : 'post'
        const successMessage = this.article ? 'Article successfully updated' : 'Article successfully created'

        const response = await axios({
          method,
          url,
          data,
          headers: {
            Authorization: `JWT ${this.user.token}`
          }
        })

        if (response.status === 200 || response.status === 201) {
          this.notify('success', successMessage)
          window.location.pathname = '{% url "article-list" %}'
        } else {
          this.notify('error', 'Something went wrong!')
        }
      })
    }
  }
}
</script>

<style lang="scss">
  .swal2-confirm-modal {
   .swal2-popup {
      width: 41em !important;
    }

    .swal2-icon {
      margin: 60px 0;
    }

    .swal2-popup {
      .swal2-styled {
        background-color: #4fc5eb;
        text-transform: capitalize;
        font-weight: bold;
        margin: 0 15px;
        border-radius: 3px;

        &:hover {
          background-color: #39bfeb !important;
        }

        &:focus {
          box-shadow: none;
        }
      }
    }
  }

  .clipper-fixed {
    max-width: 1250px;
    margin: 25px 0;
  }
  .popup-button {
    display: inline-block;
    min-width: 275px;
    min-height: 50px;
    border-radius: 3px;
    outline: none;
    font-size: 18px;
    line-height: 20px;
    font-weight: 700;
    color: #333;
    background: #4fc5eb !important;
    border: 2px solid transparent;
    cursor: pointer;
    padding: 15px 20px;
    text-transform: uppercase;
    text-align: center;
    transition: all 0.2s ease-in-out;
  }
  .swal2-popup {
    width: 40em !important;
  }
</style>
