<template>
  <div class="sort-wrapper">
    <div class="row">
      <div class="sort-col">
        <InputRow
          v-model="search"
          label="Search by name"
        >
          <span
            slot="icon"
            class="mdi mdi-magnify select-search-button"
          />
        </InputRow>
      </div>
      <div class="sort-col">
        <div class="dropdown dropdown-select">
          <div
            class="selected-wrap"
            data-toggle="dropdown"
            aria-expanded="false"
          >
            <span class="label">
              {{ sortby || 'Sort by' }}
            </span>
            <span class="selected-item" />
            <span class="mdi mdi-menu-down" />
          </div>
          <div class="dropdown-menu">
            <div class="dropdown-list-wrapper">
              <div class="dropdown-list">
                <div class="dropdown-list-row">
                  <a
                    href="#"
                    @click.prevent="setSortByValue('Popularity')"
                  >
                    Popularity
                  </a>
                  <a
                    href="#"
                    @click.prevent="setSortByValue('Newest')"
                  >
                    Newest
                  </a>
                  <a
                    href="#"
                    @click.prevent="setSortByValue('Oldest')"
                  >
                    Oldest
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { InputRow } from '@/components/Form'
import bus from './bus'

export default {
  name: 'Filters',
  components: {
    InputRow
  },
  data() {
    return {
      search: null,
      sortby: ''
    }
  },
  watch: {
    search() {
      bus.$emit('setSearchValue', this.search)
      bus.$emit('filterArticles', { filterName: 'search', value: this.search })
    }
  },
  methods: {
    setSortByValue(value) {
      this.sortby = value
      bus.$emit('filterArticles', { filterName: 'sortby', value: value.toLowerCase() })
    }
  }
}
</script>
