<template>
  <div class="col-right-wrap-top">
    <div class="d-flex justify-content-between align-items-center col-right-controls">
      <span class="add-document">
        My articles
      </span>
      <a
        href="{% url 'create-article' %}"
        class="add-document"
      >
        Add articles <span class="mdi mdi-plus-box" />
      </a>
    </div>
    <div class="menu-wrap">
      <a
        href="#"
        :class="{active: tab === 'all'}"
        @click.prevent="setTab('all')"
      >
        All articles
      </a>
      <a
        href="#"
        :class="{active: tab === 'published'}"
        @click.prevent="setTab('published')"
      >
        Published
      </a>
      <a
        href="#"
        :class="{active: tab === 'drafts'}"
        @click.prevent="setTab('drafts')"
      >
        Drafts
      </a>
      <a
        href="#"
        :class="{active: tab === 'archived'}"
        @click.prevent="setTab('archived')"
      >
        Archived
      </a>
    </div>
  </div>
</template>

<script>
import bus from './bus'

export default {
  name: 'Menu',
  data() {
    return {
      tab: 'all'
    }
  },
  methods: {
    setTab(tab) {
      bus.$emit('filterArticles', { filterName: 'tab', value: tab })
      this.tab = tab
    }
  }
}
</script>
