<template>
  <Modal
    id="career-request-modal"
    ref="modal"
    styles="modal-dialog-centered career-modal-dialog"
  >
    <h2>Request</h2>
    <mark>{{ job.title }}</mark>
    <span
      class="modal-close"
      data-dismiss="modal"
      aria-label="Close"
    >
      <span class="mdi mdi-close" />
    </span>
    <Form
      :submit="submit"
      :fields="fields"
    >
      <template slot-scope="{ models: { name, email, phone, cv }, isValid, isLoading }">
        <InputRow
          id="name"
          v-model="name.value"
          label="Name"
          :error="name.error"
        />
        <InputRow
          id="email"
          v-model="email.value"
          label="Email"
          :error="email.error"
        />
        <InputRow
          id="phone"
          v-model="phone.value"
          label="Phone"
          :error="phone.error"
        />
        <AttachField
          id="cv"
          v-model="cv.value"
          label="Attach a CV"
          :error="cv.error"
          accept=".pdf"
        />
        <div class="input-row-button">
          <Submit
            class="btn-site"
            value="SUBMIT"
            :disabled="!isValid || isLoading"
            :loading="isLoading"
          />
        </div>
      </template>
    </Form>
  </Modal>
</template>

<script>
import Modal from '@/components/Modal'
import axios from 'axios'
import Form, { InputRow, AttachField, Submit } from '@/components/Form'
import { isRequired, isEmail, digitsOnly } from '@/utils/validators'
import { Toast } from '@/utils'
import Cookies from 'js-cookie'

export default {
  name: 'JobRequestModal',
  components: {
    Form,
    InputRow,
    AttachField,
    Modal,
    Submit
  },
  props: {
    job: {
      type: Object,
      required: true
    }
  },
  data() {
    return {
      fields: [
        { name: 'name', validators: [isRequired] },
        { name: 'email', validators: [isRequired, isEmail] },
        { name: 'phone', validators: [isRequired, digitsOnly] },
        { name: 'cv' },
      ]
    }
  },
  methods: {
    async submit({
      cv, name, email, phone
    }) {
      const formData = new FormData()

      if (cv) {
        formData.append('cv', cv)
      }

      formData.append('name', name)
      formData.append('email', email)
      formData.append('phone', phone)

      try {
        const response = await axios({
          method: 'post',
          url: '{% url "job-request" %}',
          data: formData,
          headers: { 'X-CSRFToken': Cookies.get('csrftoken') },
        })

        if (response.status === 201) {
          Toast.fire({
            type: 'success',
            title: 'We successfully received your job request!'
          })

          this.$refs.modal.hide()
        }
      } catch (e) {
        Toast.fire({
          type: 'error',
          title: 'Oops... Something went wrong!'
        })
      }
    }
  }
}
</script>
