<template>
  <AchievementsSlider
    :achievements="data"
    :years="years"
    :activities="activitiesData"
    @yearChange="handleYearChange"
    @activityChange="handleActivityChange"
  />
</template>

<script>
import axios from 'axios'
import AchievementsSlider from '@/components/About/Achievements'
import { yearsRange } from '@/utils'

export default {
  name: 'AchivementsSliderContainer',
  components: {
    AchievementsSlider
  },
  props: {
    achievements: {
      type: Array,
      default: () => []
    },
    activities: {
      type: Array,
      default: () => []
    },
  },
  data() {
    return {
      activity: null,
      year: null,
      data: this.achievements,
      activitiesData: this.activities

    }
  },
  computed: {
    years() {
      return yearsRange()
    }
  },
  watch: {
    // year() {
    //   this.refetch()
    // },
    // activity() {
    //   this.refetch()
    // }
  },
  mounted() {
    this.combineActivity(this.data)
  },
  methods: {
    handleActivityChange(activity) {
      this.activity = activity ? activity.id : null
      this.refetch()
    },
    handleYearChange(year) {
      this.activity = null
      this.year = year
      this.refetch()
    },
    combineActivity(data){
      let preparedData = []
      data.forEach(item => {
        if (preparedData.map(mapItem => mapItem.id).indexOf(item.activity.id) == -1) { //check
          preparedData.push(item.activity)
        }
      })
      this.activitiesData = preparedData
    },
    async refetch() {
      const url = '{% url "about-achievements-api" %}'
      const { activity, year } = this

      const { data } = await axios({
        url,
        method: 'get',
        params: {
          activity,
          year,
        }
      })

      this.data = data.results
      if (this.activity == null) {
        this.combineActivity(data.results)
      }
    }
  }
}
</script>
