<template>
  <CommonProjectsSlider
    :projects="data"
    :years="years"
    :industries="industriesData"
    @yearChange="handleYearChange"
    @industryChange="handleIndustryChange"
  />
</template>

<script>
import axios from 'axios'
import CommonProjectsSlider from '@/components/About/CommonProjects'
import { yearsRange } from '@/utils'

export default {
  name: 'CommonProjectsContainer',
  components: {
    CommonProjectsSlider
  },
  props: {
    projects: {
      type: Array,
      default: () => []
    },
    industries: {
      type: Array,
      default: () => []
    },
  },
  data() {
    return {
      industry: null,
      year: null,
      data: this.projects,
      industriesData: this.industries,

    }
  },
  computed: {
    years() {
      return yearsRange()
    }
  },
  mounted() {
    this.combineActivity(this.data)
  },
  methods: {
    handleIndustryChange(industry) {
      this.industry = industry ? industry.id : null
      this.refetch()
    },
    handleYearChange(year) {
      this.year = year
      this.industry = null
      this.refetch()
    },
    combineActivity(data){
      let preparedData = []
      data.forEach(item => {
        if (preparedData.map(mapItem => mapItem.id).indexOf(item.industry.id) == -1) { //check
          preparedData.push(item.industry)
        }
      })
      this.industriesData = preparedData
    },
    async refetch() {
      const url = '{% url "about-common-projects-api" %}'
      const { industry, year } = this

      const { data } = await axios({
        url,
        method: 'get',
        params: {
          industry,
          year,
        }
      })

      this.data = data.results
      if (this.industry == null) {
        this.combineActivity(data.results)
      }
    }
  }
}
</script>
