<template>
  <div class="doc-details">
    <span class="mdi mdi-close doc-detail-close" />
    <span class="doc-details-title">
      Details Document
    </span>
    <span class="doc-details-name">
      {{ document && document.name }}
    </span>
    <span class="doc-details-row">
      Type: <mark>.pdf</mark>
    </span>
    <span class="doc-details-row">
      Created: <mark>{{ humanizeDate(document && document.created_at) }}</mark>
    </span>
  </div>
</template>

<script>
import moment from 'moment'

export default {
  name: 'DocumentDetails',
  props: {
    document: {
      type: Object,
      default: () => {}
    }
  },
  methods: {
    humanizeDate(date) {
      return moment(date).format('DD/MM/YYYY')
    }
  }
}
</script>
