<template>
  <div class="columns-wrap">
    <div class="col-left">
      <div class="col-left-wrap">
        <div class="d-flex justify-content-between">
          <span>My Projects</span>
          <a
            href="#"
            class="add-project"
            :class="{gray: !isActiveProjects}"
            @click.prevent="changeList"
          >
            {{ isActiveProjects ? 'Active' : 'Archived' }} projects <span
              class="mdi"
              :class="{'mdi-toggle-switch': isActiveProjects, 'mdi-toggle-switch-off': !isActiveProjects}"
            />
          </a>
        </div>
        <div
          v-for="project in projects"
          :key="project.id"
          class="info-block-wrap doc-project"
          :class="{active: project.id === selectedProject.id}"
          @click.prevent="selectProject(project)"
        >
          <div class="status red" />
          <div class="row align-items-center">
            <div class="col-md-5">
              <span>
                Project: <br><mark class="project-name">
                  {{ project.name }}
                </mark>
              </span>
            </div>
            <div class="col-md-5">
              <span>Budget <mark>${{ project.budget }}</mark></span>
              <span>Deadline <mark>{{ humanizeDate(project.date_finish) }}</mark></span>
            </div>
            <div class="col-md-2">
              <div class="review-controls d-flex justify-content-end align-items-center">
                <div class="dropdown dropdown-top-right">
                  <span
                    class="mdi mdi-dots-vertical"
                    data-toggle="dropdown"
                  />
                  <div class="dropdown-menu dropdown-menu-right">
                    <a
                      v-if="project.management_option === 1"
                      href="#"
                      class="dropdown-item"
                    >
                      Project board
                    </a>
                    <a
                      v-if="project.management_option === 1"
                      href="#"
                      class="dropdown-item"
                    >
                      Document
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-right">
<!--      <DocumentDetails-->
<!--        :document="document"-->
<!--      />-->
      <div class="col-right-wrap-top">
        <div class="d-flex justify-content-between align-items-center col-right-controls">
          <span class="show-hide-button">
            Documents
          </span>
          <a
            href="#"
            class="add-document"
            @click.prevent="$emit('showForm', null)"
          >
            Add document <span class="mdi mdi-plus-box" />
          </a>
        </div>
        <div class="menu-wrap">
          <a
            v-for="tab in tabs"
            :key="tab.name"
            href="#"
            :class="{ active: tab.isActive }"
            @click.prevent="useTab(tab)"
          >
            {{ tab.name }}
          </a>
        </div>
      </div>
      <div class="col-right-wrap-body">
        <div class="sort-wrapper">
          <div class="row">
            <div class="sort-col">
              <div class="input-row">
                <input
                  id="id-input1"
                  v-model="search"
                  type="search"
                >
                <label for="id-input1">
                  Search by name
                </label>
                <span class="mdi mdi-magnify select-search-button" />
              </div>
            </div>
            <div class="sort-col">
              <div class="dropdown dropdown-select">
                <div
                  class="selected-wrap"
                  data-toggle="dropdown"
                >
                  <span class="label">
                    Sort by
                  </span>
                  <span class="selected-item" />
                  <span class="mdi mdi-menu-down" />
                </div>
                <div class="dropdown-menu">
                  <div class="dropdown-list-wrapper">
                    <div class="dropdown-list">
                      <div class="dropdown-list-row">
                        <a href="#">
                          letter
                        </a>
                        <a href="#">
                          2
                        </a>
                        <a href="#">
                          3
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row d-flex flex-wrap static-draft">

          <div v-if="showDraftStaticFiles" class="static-draft-section">
            <a class="static-draft-item" href="/static/FORM_Services_Agreement.doc" target="_blank">
              <span>FORM - Services Agreement</span>
              <div class="dropdown">
                <span class="mdi mdi-download"></span>
              </div>
            </a>
            <a class="static-draft-item" href="/static/FORM_-_Consulting_Agreement.docx" target="_blank">
              <span>FORM - Consulting Agreement</span>
              <div class="dropdown">
                <span class="mdi mdi-download"></span>
              </div>
            </a>
          </div>

          <div class="d-flex flex-wrap static-draft">
            <DocumentItem
                    v-for="doc in docsToDisplay"
                    :key="doc.id"
                    :doc="doc"
                    :user="user"
                    @setDocument="setDocument"
                    @archive="id => $emit('archive', id)"
                    @showForm="doc => $emit('showForm', doc)"
                    @showPolicy="doc => $emit('showPolicy', doc)"
                    @yes="reSign"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import moment from 'moment'
import axios from 'axios'
import $ from 'jquery'
import DocumentDetails from './DocumentDetails'
import DocumentItem from './DocumentItem'

export default {
  name: 'DocumentsList',
  components: {
    // DocumentDetails,
    DocumentItem
  },
  props: {
    user: {
      type: Object,
      required: true
    },
    projects: {
      type: Array,
      default: () => []
    }
  },
  data() {
    return {
      documents: null,
      document: null,
      showDetails: false,
      tabs: [
        { name: 'All documents', isActive: true },
        { name: 'Drafts', isActive: false },
        { name: 'Signed', isActive: false },
        { name: 'Archived', isActive: false }
      ],
      activeTab: null,
      docsToDisplay: null,
      search: null,
      isActiveProjects: true,
      selectedProject: this.projects[0],
      showDraftStaticFiles: true,
    }
  },
  watch: {
    search(value) {
      this.filterByName(value)
    }
  },
  created() {
    this.gimmeDocs()
  },
  methods: {

    async reSign(document) {
      console.log(this.document.name)
      const response = await axios({
        method: 'put',
        url: `/api/v1/documents/${this.document.id}/resign/`,
        headers: { Authorization: `JWT ${this.user.token}` }
      })
      if (response.status == 200) {
        // await this.gimmeDocs()
          window.location.reload()

      }
    },

    selectProject(project) {
      this.selectedProject = project
      this.$parent.selectedProject = project
      this.gimmeDocs()
    },
    humanizeDate(date) {
      return moment(date).format('MM.DD.YYYY')
    },
    async gimmeDocs() {
      const { data } = await axios({
        method: 'get',
        url: `/api/v1/projects/${this.selectedProject.id}/documents/`,
      })
      if (data) {
        this.documents = data
        this.docsToDisplay = data
      }
    },
    setDocument(document) {
      this.document = document
      console.log(document)
      // $('.doc-details').addClass('show')
    },
    useTab(tab) {
      this.tabs.map((item) => {
        if (item.name === tab.name) {
          item.isActive = true
        } else {
          item.isActive = false
        }
        return 1
      })

      return this.filterDocs(tab)
    },
    filterDocs(tab) {
      this.showDraftStaticFiles = false
      if (tab.name === 'All documents') {
        this.docsToDisplay = this.documents
        this.showDraftStaticFiles = true
      } else if (tab.name === 'Drafts') {
        this.docsToDisplay = this.documents.filter(doc => doc.status != 5 && !doc.is_archived)
        this.showDraftStaticFiles = true
      } else if (tab.name === 'Signed') {
        this.docsToDisplay = this.documents.filter(doc => doc.status == 5 && !doc.is_archived)
      } else if (tab.name === 'Archived') {
        this.docsToDisplay = this.documents.filter(doc => doc.is_archived)
      }
    },
    filterByName(value) {
      this.docsToDisplay = this.documents.filter(doc => doc.name.includes(value))
    },
    changeList() {
      this.$emit('changeList')
      this.isActiveProjects = !this.isActiveProjects
    }
  }
}
</script>

<style lang="scss" scoped>
  .gray {
    color: #99a9b8;
  }
</style>
