<template>
  <div class="settings-holder settings-remove-bg-mobile">
    <div class="columns-wrap columns-wrap-edit-documents">
      <div class="admin-container__body">
        <div class="admin-edit-top d-flex justify-content-between align-items-center flex-wrap">
          <a
            href="#"
            class="admin-back"
            @click.prevent="$emit('hideForm')"
          >
            <span class="mdi mdi-arrow-left" />
            back
          </a>
          <div class="edit-controls d-flex align-items-center" >
            <div class="select-wrapper" v-if="!readonly">
              <select
                id=""
                v-model="projectId"
                name="projects"
              >
                <option
                  v-for="project in projects"
                  :key="project.id"
                  :value="project.id"
                >
                  {{ project.name }}
                </option>
              </select>
            </div>
            <a
              v-if="document && !document.is_archived"
              href="#"
              class="archive"
              @click.prevent="$emit('archive', document.id)"
            >
              <span class="mdi mdi-archive" /> To archive
            </a>
          </div>
        </div>
        <div class="admin-row">
          <div class="edit-wrapper">
            <template v-if="readonly">

              <div class="edit-top d-flex justify-content-between align-items-center">
                <!-- document name -->
                <span class="article-title">
                {{ documentName ? documentName : 'Document name' }}
                </span>
                <!-- document version -->
                <span class="article-title">
                V: {{ documentVersion }}
                </span>
              </div>

              <div class="document-body" v-html="document.body">
              </div>

              <div
                      v-if=" document.status != 5 && !document.isDocSigned && document.status != 1 && !document.is_archived"
                      class="edit-buttons d-flex justify-content-end">
                <button
                        class="btn-site m-r-15 blue"
                        :disabled="loading"
                        data-toggle="modal"
                        data-target="#policyModal"
                >
                  Sign
                </button>
              </div>

            </template>
            <template v-else>
              <div class="edit-top d-flex justify-content-between align-items-center">
                <!-- documethis.document.status != 1nt name -->
                <div
                        v-if="shouldEditName"
                        class="input-row"
                        style="margin-bottom: 0;"
                >
                  <input
                          v-model="documentName"
                          type="text"
                          placeholder="Document name*"
                          autofocus
                          @keyup.enter="shouldEditName = !shouldEditName"
                  >
                </div>
                <span
                        v-else
                        class="article-title"
                >
                {{ documentName ? documentName : 'Document name' }}
                <span
                        class="mdi mdi-pencil"
                        @click.prevent="shouldEditName = !shouldEditName"
                />
              </span>
                <!-- document version -->
                <span
                        class="article-title"
                >
                V: {{ documentVersion }}
              </span>
              </div>
              <RichTextEditor
                      id="doc-text"
                      content-class="textarea-edit"
                      :content="content"
                      @change="setContent"
              />
              <div class="edit-buttons d-flex justify-content-end">
                <button
                        v-if="document"
                        class="btn-site m-r-15 blue"
                        :disabled="loading"
                        data-toggle="modal"
                        data-target="#policyModal"
                >
                  Sign
                </button>
                <button
                        class="btn-site"
                        :disabled="loading"
                        @click.prevent="submitForm"
                >
                  Save
                </button>
              </div>
            </template>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Form, {
  Submit,
  RichTextEditor,
} from '@/components/Form'
import axios from 'axios'
import SignMixin from './SignMixin'
import { NotificationMixin } from '@/mixins'

export default {
  name: 'DocumentForm',
  components: {
    Submit,
    Form,
    RichTextEditor,
  },
  mixins: [SignMixin, NotificationMixin],
  props: ['user', 'projects', 'document'],
  data() {
    return {
      documentName: this.document && this.document.name,
      documentVersion: this.document ? this.document.version : '00.01',
      content: this.document && this.document.body,
      shouldEditName: false,
      shouldEditVersion: false,
      projectId: this.document ? this.document.project.id : this.$parent.selectedProject.id,
      key: null,
      loading: false,
      readonly: this.document ? (this.document.status != 1 && this.document.status != 5 || this.document.is_archived) : false
    }
  },
  mounted() {
      this.fetchNewData(this.document)
  },
  methods: {
    fetchNewData(val) {
      this.documentName = val && val.name;
      this.documentVersion = val ? val.version : '00.01';
      this.content = val && val.body;
      this.shouldEditName = false;
      this.shouldEditVersion = false;
      this.projectId = val ? val.project.id : this.$parent.selectedProject.id;
      this.key = null;
      this.loading = false;
      this.readonly = val ? (val.status != 1 || val.status == 5 || val.is_archived) : false;
    },
    setContent(content) {
      this.content = content
    },
    submitForm() {
      if (this.document) {
        this.update()
      } else {
        this.create()
      }
    },
    validate() {
      if (!this.documentName) {
        this.notify('error', 'Add document name!')
        this.loading = false
        return false
      }
      if (!this.documentVersion) {
        this.notify('error', 'Add document version!')
        this.loading = false
        return false
      }
      if (!this.content) {
        this.notify('error', 'Add document content!')
        this.loading = false
        return false
      }
      return true
    },
    async create() {
      this.loading = true
      if (!this.validate()) {
        return
      }
      this.notify('warning', 'Creating document...')

      const formData = {
        body: this.content,
        name: this.documentName,
        version: this.documentVersion,
        project: this.projectId
      }
      try {
        const response = await axios({
          method: 'post',
          url: `/api/v1/documents/`,
          data: formData,
          headers: { Authorization: `JWT ${this.user.token}` }
        })
        console.log(response)
        if (response.status == 201) {
          this.notify('success', 'Done!')
          window.location.reload()
        }
      } catch (e) {
        this.notify('error', 'Error')
      }
    },
    async update() {
      this.loading = true

      if (!this.validate()) {
        return
      }
      this.notify('warning', 'Updating document...')

      const formData = {
        body: this.content,
        name: this.documentName,
        version: this.documentVersion,
        project: this.projectId,
      }
      try {
        const response = await axios({
          method: 'put',
          url: `/api/v1/documents/${this.document.id}/`,
          data: formData,
          headers: { Authorization: `JWT ${this.user.token}` }
        })
        if (response.status == 200) {
          this.notify('success', 'Done')
          window.location.reload()
        }
      } catch (e) {
        this.notify('error', 'Error')
      }
    },
    // async signDoc(user, id) {
    //   await this.sign(user, id, this.key)
    // },
    uploadKey(event) {
      [this.key] = event.target.files
    }
  }
}
</script>
