<template>
    <Modal
            id="policyModal"
            styles="modal-dialog-centered modal-dialog-start-project"
            ref="modal"
    >
        <div
                ref="close"
                class="back-wrapper position-top-left"
                data-dismiss="modal"
                aria-label="Close"
                @click.prevent="$emit('hideForm')"
        >
            <a href="#">
                <span class="back-icon text">
                  <mark>Cancel</mark>
                </span>
            </a>
        </div>
        <div class="agree-message">
            <div>
                <template v-if="status == 1">
                    <p>After you have digitally signed it, editing the contract will become inaccessible to both
                        parties. Make sure that both parties have made the required changes to the document and
                        decided on the same valid version of the document. If you still need to make changes to the
                        contract, you are able to withdraw your electronic signature before the contract is signed by
                        the other party. Only then the document is available for editing for both parties. It is not
                        possible to withdraw the e-signature after the document is signed by both parties. By mutual
                        agreement, the contract can be archived by both parties. In this case, it will be declared null
                        and void.</p>
                    <p>The signed document will be available in the Signed tab. You can download the electronic
                        version of the document and print it by choosing the required document and clicking the
                        Download button.</p>
                    <p>By using an electronic signature, you agree to access information in electronic format in
                        accordance with the Law on Electronic Signatures in Global and National Commerce
                        (ESIGN), the Law on Uniform Electronic Transactions Act (UETA), and Regulation (EU) No.
                        910/2014, also known as eIDAS. Otherwise, the usage is not possible.
                        The ENGRE electronic signature solution meets the definition of a valid electronic signature
                        in the United States, the United Kingdom and the European Union. The rest of the world has
                        passed a law on electronic signatures or recognizes electronic signatures. Engre is not
                        responsible for the content of documents and the relationship between users.</p>
                </template>
                <template v-else>
                    <p>The project document is awaiting your signing. If you agree with the content of the
                        document, then sign it by clicking the Sign button. Editing of this document is prohibited due
                        to signing by the other party. It is not possible to withdraw a signature after being signed by
                        both parties. If you still need to make changes to the document, please contact the other
                        party via chat or in another accessible way and ask to withdraw the signature. Then the
                        document will be available for editing again. By mutual agreement, the parties may send the
                        contract to the archive. In this case, the contract will be declared to become null and void</p>
                    <p>By using an electronic signature, you agree to access information in electronic format in
                        accordance with the Law on Electronic Signatures in Global and National Commerce
                        (ESIGN), the Law on Uniform Electronic Transactions Act (UETA), and Regulation (EU) No.
                        910/2014, also known as eIDAS. Otherwise, the usage is not possible.</p>
                    <p>The ENGRE electronic signature solution meets the definition of a valid electronic signature
                        in the United States, the United Kingdom and the European Union. The rest of the world has passed a law on electronic signatures or recognizes electronic signatures. Engre is not
                        responsible for the content of documents and the relationship between users.</p>
                </template>
            </div>
        </div>
        <div class="policy-agree-btn">
            <button
                    type="button"
                    class="button-styles light-blue"
                    @click="agreeHandle"
            >
                Agree
            </button>
        </div>
    </Modal>
</template>

<script>
    import Modal from '@/components/Modal'
    import SignMixin from './SignMixin'

    export default {
        name: 'PolicyModal',
        mixins: [SignMixin],
        components: {
            Modal
        },
        props: {
            document: {
                required: true
            },
            user: {
                type: Object,
                required: true
            }
        },
        data(){
            return {
                status: this.document ? this.document.status : null
            }
        },
        watch: {
            document(val){
                console.log("status:",val.status)
                this.status = val.status
            }
        },
        methods: {
            agreeHandle() {
                console.log(this.document.status)
                this.signDoc({
                    user: this.user,
                    doc: this.document,
                })
                this.$refs.close.click()
            }
        }
    }
</script>

<style>
    .agree-message {
        margin-top: 52px;
        position: relative;
    }
    .agree-message div {
        padding: 15px 60px;
        max-height: 300px;
        overflow: auto;
        background: none;

        border: 1px solid #ccc;
        border-collapse: collapse;
        width: 100%;
        background: #f2f2f2;
        position: relative;
    }
    .agree-message:after {
        position: absolute;
        content: '';
        bottom: 0;
        right: 0;
        left: 0;
        background: linear-gradient(to top, #fff, transparent);
        height: 50px;
        display: block;
    }

</style>
