<template>
  <Modal
          id="reSignModal"
          styles="modal-dialog-centered modal-dialog-start-project"
          ref="modal"
  >
    <div
            class="back-wrapper position-top-left"
            ref="close"
            data-dismiss="modal"
            aria-label="Close"
    >
      <a href="#">
            <span class="back-icon">
              <span class="mdi mdi-arrow-left" />
            </span>
        <mark>Back</mark>
      </a>
    </div>
    <div class="resign-message">
      <div>
        <p>Withdraw e-sign?</p>
      </div>
    </div>
    <div class="resign-agree-btn">
      <button
              type="button"
              class="button-styles send-message"
              @click="closeModal"
      >
        Cancel
      </button>
      <button
              type="button"
              class="button-styles more-info"
              @click="agreeHandle"
      >
        Yes
      </button>
    </div>
  </Modal>
</template>
<script>
    import Modal from '@/components/Modal'
    import SignMixin from './SignMixin'

    export default {
        name: 'PolicyModal',
        mixins: [SignMixin],
        components: {
            Modal
        },
        methods: {
            agreeHandle() {
                this.$emit('yes')
                this.closeModal()
            },
            closeModal(){
                this.$refs.close.click()
            }
        },

    }
</script>

<style>
  .resign-agree-btn {
    display:flex;
    justify-content: center;
    align-items: baseline;
  }

  .resign-agree-btn button {
    max-width: 160px;
    margin: 5px 11px 20px;
  }

  .resign-message {
    margin-top: 80px;
    margin-bottom: 20px;
    position: relative;
    text-align: center;
    font-size: 24px;
  }

  /*
<!--  .agree-message {-->
<!--    margin-top: 52px;-->
<!--    position: relative;-->
<!--  }-->
<!--  .agree-message div {-->
<!--    padding: 15px 60px;-->
<!--    max-height: 300px;-->
<!--    overflow: auto;-->
<!--    background: none;-->

<!--    border: 1px solid #ccc;-->
<!--    border-collapse: collapse;-->
<!--    width: 100%;-->
<!--    background: #f2f2f2;-->
<!--    position: relative;-->
<!--  }-->
<!--  .agree-message:after {-->
<!--    position: absolute;-->
<!--    content: '';-->
<!--    bottom: 0;-->
<!--    right: 0;-->
<!--    left: 0;-->
<!--    background: linear-gradient(to top, #fff, transparent);-->
<!--    height: 50px;-->
<!--    display: block;-->
<!--  }-->
*/
</style>
