<template>
  <!-- eslint-disable vue/component-name-in-template-casing -->
  <b-modal
    id="invite-modal"
    ref="inviteModal"
    class="reviews-modal"
    hide-header
    hide-footer
  >
    <div class="modal-content">
      <span
        class="modal-close"
        @click.prevent="$refs.inviteModal.hide"
      >
        <span class="mdi mdi-close" />
      </span>
      <div class="modal-heading">
        <div class="modal-title">
          <i>Invite members</i>
        </div>
      </div>
      <div class="modal-wrapper">
        <div class="input-row">
          <input
            v-model="email"
            type="email"
            placeholder="Enter the invitee's email"
          >
        </div>
        <div class="d-flex align-items-center justify-content-center">
          <button
            class="btn-site"
            @click.prevent="inviteUser"
          >
            invite <span class="mdi mdi-invite" />
          </button>
        </div>
      </div>
    </div>
  </b-modal>
</template>

<script>
import axios from 'axios'
import { NotificationMixin } from '@/mixins'

export default {
  name: 'InviteUser',
  mixins: [NotificationMixin],
  props: {
    user: {
      type: Object,
      required: true
    },
    project: {
      type: Number,
      required: true
    }
  },
  data() {
    return {
      email: null
    }
  },
  methods: {
    async inviteUser() {
      const { data } = await axios({
        method: 'post',
        url: '{% url "invite-user" %}',
        data: { email: this.email, project: this.project },
        headers: {
          Authorization: `JWT ${this.user.token}`
        }
      })
      if (data.success) {
        this.notify('success', 'Invitation email successfully sent')
      } else {
        this.notify('warning', data.message)
      }
      this.$refs.inviteModal.hide()
    }
  }
}
</script>
