<template>
  <div
    class="info-block-wrap doc-project"
    @click.prevent="$emit('selectProject', project)"
  >
    <div class="status" />
    <div class="row align-items-center">
      <div class="col-md-5">
        <span>
          Project: <br><mark class="project-name">
            {{ project.name }}
          </mark>
        </span>
      </div>
      <div class="col-md-5">
        <span>Budget: <mark>${{ project.budget }}</mark></span>
        <span>Deadline: <mark>{{ humanizeDate(project.date_finish) }}</mark></span>
      </div>
      <div class="col-md-2">
        <div class="review-controls d-flex justify-content-end align-items-center">
          <div class="dropdown dropdown-top-right">
            <span
              class="mdi mdi-dots-vertical"
              data-toggle="dropdown"
            />
            <div class="dropdown-menu dropdown-menu-right">
              <a
                v-if="project.management_option === 1"
                href="#"
                class="dropdown-item"
                @click.prevent="goToBoard(project.id)"
              >
                Project board
              </a>
              <a
                v-if="user.is_pm"
                href="#"
                class="dropdown-item"
              >
                User management
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import moment from 'moment'

export default {
  name: 'Project',
  props: {
    project: {
      type: Object,
      required: true
    },
    user: {
      type: Object,
      required: true
    }
  },
  methods: {
    humanizeDate(date) {
      return moment(date).format('DD.MM.YYYY')
    },
    goToBoard(id) {
      window.location.pathname = `/settings/projects/${id}/board`
    }
  }
}
</script>
