<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p style='text-align: right;'>ver.{{ document.version }}</p><br />
    <h2 style='text-align: center;'>{{ document.name }}</h2>
    {{ document.body }}
</body>
</html>