<template>
  <Modal
    id="partnership-modal"
    ref="modal"
    styles="modal-dialog-centered career-modal-dialog"
  >
    <span
      class="modal-close"
      data-dissmiss="modal"
      aria-label="close"
      @click="close"
    >
      <span class="mdi mdi-close" />
    </span>
    <Form
      :fields="fields"
      :submit="submitForm"
    >
      <template
        slot-scope="{
          models: {
            name, email, company, phone, text
          }, isValid, isLoading
        }"
      >
        <InputRow
          v-model="name.value"
          label="Name"
          :error="name.error"
        />
        <InputRow
          v-model="email.value"
          label="Email"
          :error="email.error"
        />
        <InputRow
          v-model="company.value"
          label="Company"
          :error="company.error"
        />
        <InputRow
          v-model="phone.value"
          label="Phone"
          :error="phone.error"
        />
        <div class="input-row">
          <textarea
            v-model="text.value"
            placeholder="I am interested in..."
            name="text"
            class="height120"
          />
        </div>
        <div class="input-row-button">
          <Submit
            class="btn-site"
            value="SEND"
            :disabled="!isValid || isLoading"
            :loading="isLoading"
          />
        </div>
      </template>
    </Form>
  </Modal>
</template>

<script>
import axios from 'axios'
import Cookies from 'js-cookie'
import Modal from '@/components/Modal'
import Form, {
  InputRow,
  Submit
} from '@/components/Form'
import { isRequired, isEmail, digitsOnly } from '@/utils/validators'
import { NotificationMixin } from '@/mixins'

export default {
  name: 'PartnershipModal',
  components: {
    Modal,
    Form,
    InputRow,
    Submit
  },
  mixins: [NotificationMixin],
  data() {
    return {
      fields: [
        { name: 'name', validators: [isRequired] },
        { name: 'email', validators: [isRequired, isEmail] },
        { name: 'company' },
        { name: 'phone', validators: [isRequired, digitsOnly] },
        { name: 'text', validators: [isRequired] }
      ]
    }
  },
  methods: {
    async submitForm(values) {
      const formData = {
        name: values.name,
        email: values.email,
        company: values.company,
        phone: values.phone,
        text: values.text,
        service: window.location.pathname.split('/')[2]
      }
      const response = await axios({
        method: 'post',
        url: '{% url "send-request" %}',
        data: formData,
        headers: {
          'X-CSRFToken': Cookies.get('csrftoken')
        }
      })

      if (response.status === 201) {
        this.notify('success', 'Your request has been sent successfully')
        this.$refs.modal.hide()
      } else {
        this.notify('error', 'Oops... Something went wrong!')
      }
    },
    close() {
      this.$refs.modal.hide()
    }
  }
}
</script>

<style>

</style>
