<template>
  <div class="row project-filters">
    <InputRow
      v-model="search"
      label="Search by name"
    >
      <span
        slot="icon"
        class="mdi mdi-magnify"
      />
    </InputRow>
  </div>
</template>

<script>
import bus from './bus'
import { InputRow } from '@/components/Form'

export default {
  name: 'Filters',
  components: {
    InputRow
  },
  data() {
    return {
      search: null,
    }
  },
  watch: {
    search(value) {
      bus.$emit('filtersChange', { name: 'search', value })
    }
  }
}
</script>

<style>

</style>
