<template>
  <div v-if="loading">
    loading...
  </div>
  <div
    v-else
    class="admin-container__body"
  >
    <Tabs />
    <Filters />
    <div class="row d-flex flex-wrap">
      <Item
        v-for="item in filteredDocuments"
        :key="item.id"
        :item="item"
        :user="user"
      />
    </div>
  </div>
</template>

<script>
import axios from 'axios'
import Filters from './Filters'
import Item from './Item'
import Tabs from './Tabs'
import bus from './bus'

export default {
  name: 'Documents',
  components: {
    Filters,
    Item,
    Tabs,
  },
  props: {
    user: {
      type: Object,
      required: true
    },
  },
  data() {
    return {
      loading: true,
      documents: [],
      search: null,
      page: 1,
      hasNext: false,
      tab: null,
    }
  },
  computed: {
    filteredDocuments() {
      let { documents } = this

      if (this.search) {
        documents = documents.filter(doc => doc.name.toLowerCase().indexOf(this.search.trim().toLowerCase()) > -1)
      }

      if (this.tab === 'available') {
        documents = documents.filter(doc => !doc.is_archived)
      }

      if (this.tab === 'archived') {
        documents = documents.filter(doc => doc.is_archived)
      }

      return documents
    }
  },
  created() {
    bus.$on('filtersChange', this.handleFilters)
  },
  async mounted() {
    const response = await axios({
      method: 'get',
      url: '{% url "admin-get-documents" %}',
      params: { page: this.page }
    })

    if (response.status === 200) {
      this.loading = false
      this.documents = response.data.results
    }

    if (response.data.next) {
      this.hasNext = true
      this.page += 1
    }
  },
  methods: {
    handleFilters({ name, value }) {
      this[name] = value
    }
  }
}
</script>

<style>

</style>
