<template>
  <div class="col-doc">
    <span>
      {{ item.name }}
    </span>
    <mark>
      Company:
      <span>
        {{ item.project.company.name }}
      </span>
    </mark>
    <div class="dropdown dropdown-top-right">
      <span
        class="mdi mdi-dots-vertical"
        data-toggle="dropdown"
      />
      <div class="dropdown-menu dropdown-menu-right dropdown-menu-position0">
        <a
          href="#"
          class="dropdown-item"
          @click.prevent="getPDF"
        >
          Download PDF
        </a>
      </div>
    </div>
  </div>
</template>

<script>
import FileSaver from 'file-saver'

export default {
  name: 'Item',
  props: {
    item: {
      type: Object,
      required: true,
    },
    user: {
      type: Object,
      required: true
    }
  },
  methods: {
    getPDF() {
      const url = `{% url "admin-get-pdf" %}?pk=${this.item.id}`

      FileSaver.saveAs(url)
    }
  }
}
</script>

<style>

</style>
