<template>
  <Reviews
    :user="user"
    :projects="projects"
  />
</template>

<script>
import Reviews from './Reviews'

export default {
  name: 'ReviewPM',
  components: {
    Reviews,
  },
  props: {
    user: {
      type: Object,
      required: true
    },
    projects: {
      type: Array,
      default: () => []
    }
  }
}
</script>
