<template>
  <div class="col-md-6">
    <div class="info-block-wrap">
      <div class="status grey" />
      <div class="row align-items-center">
        <div class="col-md-5">
          <span>
            Project: <br>
            <mark class="project-name">
              {{ project.name }}
            </mark>
          </span>
        </div>
        <div class="col-md-5">
          <span>Budget: <mark>${{ project.budget }}</mark></span>
          <span class="d-flex align-items-center">
            Company: <mark
              class="project-name"
              style="margin-left: 5px; flex: 1;"
            >
              {{ project.company.name }}
            </mark>
          </span>
        </div>
        <div class="col-md-2">
          <div class="review-controls d-flex justify-content-end align-items-center">
            <span
              class="mdi mdi-flag-checkered finished"
              data-toggle="tooltip"
              data-placement="top"
              title
              data-original-title="Finished"
            />
            <div class="dropdown dropdown-top-right">
              <span
                class="mdi mdi-dots-vertical"
                data-toggle="dropdown"
              />
              <div class="dropdown-menu dropdown-menu-right">
                <a
                  href="#"
                  class="dropdown-item"
                  @click.prevent="showListModal()"
                >
                  View review
                </a>
                <a
                  v-if="user.pm.id === project.pm"
                  href="#"
                  class="dropdown-item"
                  @click.prevent="showAddReviewModal()"
                >
                  Add review
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <ListModal
      :project="project"
      :user="user"
      :reviews="reviews"
    />
    <AddModal
      :project="project"
      :user="user"
    />
  </div>
</template>

<script>
import axios from 'axios'
import ListModal from './ListModal'
import AddModal from './AddModal'

export default {
  name: 'Project',
  components: {
    ListModal,
    AddModal
  },
  props: {
    project: {
      type: Object,
      required: true
    },
    user: {
      type: Object,
      required: true
    }
  },
  data() {
    return {
      reviews: null
    }
  },
  methods: {
    async showListModal() {
      this.$children[0].$refs.listModal.show()
      const { data } = await axios({
        method: 'get',
        url: '{% url "get-reviews" %}',
        params: {
          project: this.project.id
        }
      })
      this.reviews = data
    },
    showAddReviewModal() {
      this.$children[1].$refs.addModal.show()
    }
  }
}
</script>
