<template>
  <div class="settings-holder settings-remove-bg-mobile">
    <div class="reviews-wrap">
      <div class="row flex-wrap">
        <div v-if="!projects.length">
          No projects yet.
        </div>
        <Project
          v-for="project in projects"
          v-else
          :key="project.id"
          :project="project"
          :user="user"
        />
      </div>
    </div>
  </div>
</template>

<script>
import Project from './Project'

export default {
  name: 'Reviews',
  components: {
    Project
  },
  props: {
    user: {
      type: Object,
      required: true
    },
    projects: {
      type: Array,
      default: () => []
    }
  }
}
</script>
