{% extends 'base.html' %}

{% block content %}
<div class="setting-wrapper">
	<div class="settings-section">
		<div class="is-heading">
			<div class="wrapper">
				<div class="row">
					<div class="col-md-3 col-sm-6 is-heading-col">
						<div class="is-col">
							<span>March 12, 2018</span>
							<mark>Bringing creative projects to life</mark>
						</div>
					</div>
					<div class="col-md-3 col-sm-6 is-heading-col">
						<div class="is-col">
							<span class="text-uppercase">PROJECTS POSTED</span>
							<mark>1.108</mark>
						</div>
					</div>
					<div class="col-md-3 col-sm-6 is-heading-col">
						<div class="is-col">
							<span class="text-uppercase">MEMBERS WORLDWIDE</span>
							<mark>2.661</mark>
						</div>
					</div>
					<div class="col-md-3 col-sm-6 is-heading-col">
						<div class="is-col">
							<span class="text-uppercase">TOTAL SPENT</span>
							<mark>186.900</mark>
						</div>
					</div>
				</div>
			</div>
		</div>

    {% block project_content %}
    {% endblock project_content %}

	</div>
</div>
{% endblock content %}