{% extends 'project/base.html' %}
{% load static vuejs sekizai_tags %}

{% block project_content %}
<div class="wrapper">
  <div class="is-project-wrapper">

    {% include "includes/back-button.html" %}

    <div class="is-project-row row">
      <div class="col-md-2">
        <div class="is-row-img is-row-img-project">
          {% if object.logo %}
          <img src="{{ object.logo.url }}" alt="">
          {% endif %}
        </div>
      </div>
      <div class="col-lg-10">
        <div class="row is-project-info-row">
          <div class="col-sm-4">
            <div class="is-row-details">
              <span class="details-page-link">{{ object.name }}</span>
              <span class="location">{{ object.location.name }}, {{ object.location.country }}</span>

              {% include "includes/rating.html" with rating=object.rating %}

              <span class="reviews">{{ object.rating }} - {{ object.reviews.count }}
              <a href="#" data-toggle="modal" data-target="#reviews-modal">Reviews</a></span>
              <span class="reviews"><a target="_blank" href="//{{ object.get_site_url }}">{{ object.website }}</a></span>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="is-col">
              <span>Date of creation</span>
              <mark>{{ object.date_creation|date:"d.m.Y" }}</mark>
            </div>
            <div class="is-col">
              <span>Ceo</span>
              <a href="#">{{ object.owner }}</a>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="is-col">
              <span>Type of ownership</span>
              <mark>{{ object.ownership }}</mark>
            </div>
            <div class="is-col">
              <span>Language</span>
              <mark>{{ object.get_language_list }}</mark>
            </div>
          </div>
        </div>
        <div class="row justify-content-end">
          <div class="col-lg-6 col-sm-7">
            <div class="is-buttons-wrap d-flex">

              {% include "includes/social-share.html" with data=data %}
              <div id="sendmessage"></div>

              {% addtoblock "js" %}
                {% render_component "SendMessageButton" el="sendmessage" data=data  %}
              {% endaddtoblock %}
            </div>
          </div>
        </div>
      </div>
    </div>

    {% if object.picture %}
    <div class="is-project-image">
      <img src="{{ object.picture.url }}" class="img-fluid" alt="">
      <h2 class="img-txt">{{ object.slogan }}</h2>
    </div>
    {% endif %}

    <p class="is-project-description">{{ object.description }}</p>

    {% if object.presentation %}
    <div class="view-more-wrapper">
      <div class="row">
        <div class="col-sm-6">
          <img src="{% static 'images/view-more-img.png' %}" class="img-fluid" alt="">
        </div>
        <div class="col-sm-6">
          <div class="view-more-text">
            <h4 class="view-more-title">What We Do?</h4>
            <p>View the presentation of the service</p>
            <a target="_blank" href="{{ object.presentation.url }}" class="btn-site"><span class="mdi mdi-arrow-right"></span> View more</a>
          </div>
        </div>
      </div>
    </div>
    {% endif %}

    {% if object.video %}
    {% include "includes/video.html" with url=object.video.url %}
    {% endif %}
  </div>
</div>
{% endblock project_content %}
