{% extends 'project/base.html' %}
{% load vuejs sekizai_tags %}

{% block project_content %}
<div class="wrapper">
  <div class="is-project-wrapper">

    {% url 'project-list' 'design' as back_url %}
    {% include "includes/back-button.html" with text="Back to search results" url=back_url class="back-wrapper" %}

    <div class="is-project-row row">
      <div class="col-md-2">
        <div class="is-row-img is-row-img-project">
          {% if object.company.logo %}
          <img src="{{ object.company.logo.url }}" alt="{{ object.company }}">
          {% endif %}
        </div>
      </div>
      <div class="col-lg-10">
        <div class="row is-project-info-row">
          <div class="col-sm-4">
            <div class="is-row-details">
              <span class="details-page-link">{{ object.company }}</span>
              <span class="location">{{ object.company.location.name }}, {{ object.company.location.country }}</span>

              {% include "includes/rating.html" with rating=object.company.rating %}

              <span class="reviews">{{ object.company.rating }} - {{ object.company.reviews.count }}
              <a href="#" data-toggle="modal" data-target="#reviews-modal">Reviews</a></span>
              <span class="reviews"><a target="_blank" href="//{{ object.company.get_site_url }}">{{ object.company.website }}</a></span>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="is-col">
              <span>Date of foundation</span>
              <mark>{{ object.company.date_creation|date:"d.m.Y" }}</mark>
            </div>
            <div class="is-col">
              <span>Job done</span>
              <mark>73</mark>
            </div>
            <div class="is-col">
              <span>Category</span>
              <mark>{{ object.category }}</mark>
              {% comment %} <a href="{% url 'project-list' object.category.slug %}">{{ object.category }}</a> {% endcomment %}
            </div>
          </div>
          <div class="col-sm-4">
            <div class="is-col">
              <span>Type of ownership</span>
              <mark>{{ object.company.ownership }}</mark>
            </div>
            <div class="is-col">
              <span>Language</span>
              <mark>{{ object.company.get_language_list }}</mark>
            </div>
            <div class="is-col">
              <span>Industry</span>
              <mark>{{ object.industry }}</mark>
            </div>
          </div>
        </div>
        <div class="row justify-content-between">
          <div class="col-lg-6 col-sm-5">
            <div class="is-col">
              <span>Rate</span>
              <mark class="fz-bigger">
              {% if object.hourly_rate == 0 %}
                Upon request
              {% else %}
                {{ object.hourly_rate }}
              {% endif %}
              </mark>
            </div>
          </div>
          <div class="col-lg-6 col-sm-7">
            <div class="is-buttons-wrap d-flex">

              {% include "includes/social-share.html" with data=data %}
              <div id="sendmessage"></div>

              {% addtoblock "js" %}
                {% render_component "SendMessageButton" el="sendmessage" data=data  %}
              {% endaddtoblock %}
            </div>
          </div>
        </div>
      </div>
    </div>

    {% if object.logo %}
    <div class="is-project-image">
      <img src="{{ object.logo.url }}" class="img-fluid" alt="">
      <h2 class="img-txt">{{ object.name }}</h2>
    </div>
    {% endif %}
    <p class="is-project-description">
      {{ object.description }}
    </p>

    {% if object.video %}
    {% include "includes/video.html" with url=object.video.url %}
    {% endif %}
  </div>
</div>
{% endblock project_content %}
