<template>
  <Form
    class="enter-form signIn"
    :submit="register"
    :fields="fields"
  >
    <template slot-scope="{ models: { name, email, password, password2 }, isValid, isLoading }">
      <h2>Sign Up blogger</h2>
      <div class="inputs-wrap">
        <InputRow
          id="name"
          v-model="name.value"
          :error="name.error"
          label="Name or Nickname"
        />
        <InputRow
          id="email"
          v-model="email.value"
          :error="email.error"
          type="email"
          label="Email"
        />
        <InputRow
          id="password"
          v-model="password.value"
          :error="password.error"
          type="password"
          label="Password"
        />
        <InputRow
          id="password2"
          v-model="password2.value"
          :error="password2.error"
          type="password"
          label="Re-enter password"
        />
        <div class="enter-form-button">
          <Submit
            class="btn-site"
            value="Create account"
            :disabled="!isValid"
            :loading="isLoading"
          />
        </div>
      </div>
      <div class="sign-in-social">
        <div class="sign-in-social__title">
          <span>Or sign up with</span>
        </div>
        <div class="social-buttons">
          <a :href="getFacebookAuthUrl({ is_blogger: true })">
            <img
              src="@/assets/images/facebook-box.svg"
              alt="facebook"
            >
          </a>
          <a :href="getLinkedInAuthUrl({ is_blogger: true })">
            <img
              src="@/assets/images/linkedin-box.svg"
              alt="linkedin"
            >
          </a>
          <a :href="getGoogleAuthUrl({ is_blogger: true })">
            <img
              src="@/assets/images/google-plus.svg"
              alt="google"
            >
          </a>
        </div>
      </div>
    </template>
  </Form>
</template>

<script>
import Form, { InputRow, Submit } from '@/components/Form'
import axios from 'axios'
import {
  isRequired, isEmail, shouldBeEqual, minLength
} from '@/utils/validators'
import { SocialAuthMixin } from '@/mixins'
import { Toast, capitalizeOne } from '@/utils'

export default {
  name: 'SignUpBlogger',
  components: {
    Form,
    InputRow,
    Submit,
  },
  mixins: [SocialAuthMixin],
  data() {
    return {
      fields: [
        { name: 'name', validators: [isRequired] },
        { name: 'email', validators: [isRequired, isEmail] },
        { name: 'password', validators: [isRequired, minLength(4)] },
        { name: 'password2', validators: [isRequired, shouldBeEqual('password', 'Passwords do not match')] },
      ]
    }
  },
  methods: {
    async register(values) {
      try {
        const response = await axios({
          method: 'post',
          url: '{% url "sign-up-blogger" %}',
          data: values,
        })

        if (response.request.status === 201) {
          await Toast.fire({
            type: 'info',
            title: 'Confirm your email by clicking the link we sent!'
          })

          window.location.replace('/')
        }
      } catch (e) {
        if (e.response.data.email) {
          Toast.fire({
            type: 'error',
            title: capitalizeOne(e.response.data.email[0])
          })
        }
      }
    },
  }
}
</script>
