<template>
  <Modal
    id="ask-modal"
    ref="modal"
    modal-class="reviews-modal"
    styles="display: block; padding-right: 15px;"
  >
    <div class="ask-modal-top">
      <span
        class="modal-close"
        data-dismiss="modal"
      >
        <span class="mdi mdi-close" />
      </span>
      <h2>You are asking your first question!</h2>
      <p>How to quickly get a good answer:</p>
      <p>- Keep your question short and to the point</p>
      <p>- Check for grammar or spelling errors</p>
      <p>- Phrase it like a question</p>
    </div>
    <div class="ask-modal-body">
      <Form
        :fields="fields"
        :submit="createQuestion"
      >
        <template slot-scope="{ models: { title, text, category }, isValid, isLoading }">
          <div class="ask-modal-body-top d-flex justify-content-between align-items-center flex-wrap">
            <div class="author-info-block no-link d-flex align-items-center">
              <div class="avatar-img">
                <img
                  :src="user.picture"
                  alt=""
                >
              </div>
              <div class="author-detail-info">
                <mark>{{ user.name }}</mark>
              </div>
            </div>
            <InputDropdown
              id="category"
              v-model="category.value"
              label="Category"
              :error="category.error"
              :items="categories"
              :get-value="item => item.name"
            />
          </div>
          <div class="ask-modal-body-textarea">
            <TextareaRow
              id="title"
              v-model="title.value"
              :error="title.error"
              name="title"
              label="Your question title"
            />
            <TextareaRow
              id="text"
              v-model="text.value"
              :error="text.error"
              label="Start your question with &quot;What&quot;, &quot;How&quot;, &quot;Why&quot;, etc."
            />
          </div>
          <div class="text-center">
            <Submit
              :disabled="!isValid || isLoading"
              :loading="isLoading"
              class="btn-site"
            />
          </div>
        </template>
      </Form>
    </div>
  </Modal>
</template>

<script>
import Modal from '@/components/Modal'
import Form, { Submit, InputDropdown, TextareaRow } from '@/components/Form'
import { isRequired } from '@/utils/validators'
import axios from 'axios'

export default {
  name: 'AskModal',
  components: {
    Modal,
    Form,
    InputDropdown,
    TextareaRow,
    Submit,
  },
  props: {
    user: {
      type: Object,
      required: true
    },
    categories: {
      type: Array,
      default: () => []
    }
  },
  data() {
    return {
      fields: [
        { name: 'title', validators: [isRequired] },
        { name: 'text', validators: [isRequired] },
        { name: 'category', validators: [isRequired] }
      ]
    }
  },
  methods: {
    async createQuestion({ title, text, category }) {
      try {
        const { data } = await axios({
          url: '{% url "create-blog-question" %}',
          method: 'post',
          data: {
            title,
            text,
            category_id: category.id,
            user_id: this.user.id,
          },
          headers: {
            Authorization: `JWT ${this.user.token}`,
          }
        })

        this.$emit('create', data)
        this.$refs.modal.hide()
      } catch (e) {
        console.log(e.response)
      }
    },
  }
}
</script>
