<template>
  <div>
    <Spinner v-if="isLoading" />
    <Comments
      :create="create"
      :comments="comments"
      class="answers-wrapper"
      :user="user"
      @like="handleCommentLike"
      @dislike="handleCommentDislike"
    />
  </div>
</template>

<script>
import axios from 'axios'
import Comments from '../Comments'
import Spinner from '@/components/Spinner'
import { AuthRequiredMixin, LikeDislikeMixin, TimeoutMixin } from '@/mixins'
import { findItem } from '@/utils'

export default {
  name: 'CommentsControl',
  components: {
    Comments,
    Spinner
  },
  mixins: [AuthRequiredMixin, LikeDislikeMixin, TimeoutMixin],
  props: {
    collapsed: {
      type: Boolean,
      required: true
    },
    user: {
      type: Object,
      default: null
    },
    questionId: {
      type: Number,
      required: true
    },
    comments: {
      type: Array,
      default: () => []
    },
    create: {
      type: Function,
      required: true,
    }
  },
  data() {
    return {
      isLoading: true,
      isFetched: false,
    }
  },
  watch: {
    collapsed() {
      if (this.collapsed && !this.isFetched) {
        this.fetchAnswers()
      }
    }
  },
  methods: {
    async fetchAnswers() {
      const { data } = await axios({
        url: '{% url "blog-answers-list" %}',
        params: {
          question: this.questionId,
        }
      })

      this.$emit('fetched', data)
      this.isFetched = true
      this.isLoading = false
    },
    handleCommentLike(commentId) {
      this.$authRequired(() => {
        const instance = findItem(this.comments, commentId)

        this.like({
          instance,
          url: `/blogs/like-blog-answer/${commentId}/`,
          user: this.user
        })
      })
    },
    handleCommentDislike(commentId) {
      this.$authRequired(() => {
        const instance = findItem(this.comments, commentId)

        this.dislike({
          instance,
          url: `/blogs/dislike-blog-answer/${instance.id}/`,
          user: this.user
        })
      })
    },
  }
}
</script>
