<template>
  <div class="checkbox checkbox_black">
    <input
      :id="feed.name"
      v-model="selected"
      type="checkbox"
    >
    <label :for="feed.name">
      <span class="check-wrap" />
      <i class="remember-me-text">
        {{ feed.name }}
      </i>
    </label>
  </div>
</template>

<script>
export default {
  name: 'Feed',
  props: {
    feed: {
      type: Object,
      required: true
    }
  },
  data() {
    return {
      selected: false
    }
  },
  watch: {
    selected() {
      this.$emit('change', { category: this.feed.id, selected: this.selected })
    }
  }
}
</script>
