<template>
  <div>
    <Question
      v-for="question in questions"
      :key="question.id"
      :data="question"
      :user="user"
      @hide="id => $emit('hide', id)"
    />
    <InfiniteLoading
      :distance="10"
      spinner="spiral"
      :identifier="questions.length"
      @infinite="$state => $emit('loadMore', $state)"
    >
      <span slot="no-more" />
      <span slot="no-results" />
    </InfiniteLoading>
  </div>
</template>

<script>
import InfiniteLoading from 'vue-infinite-loading'
import Question from './Question'

export default {
  name: 'QuestionList',
  components: {
    Question,
    InfiniteLoading
  },
  props: {
    questions: {
      type: Array,
      default: () => []
    },
    user: {
      type: Object,
      default: null
    }
  }
}
</script>
