<template>
  <div>
    <Slider slider-class="about-slider">
      <Slide
        v-for="pers in people"
        :key="pers.id"
        :person="pers"
        @showInfo="data => person = data"
      />
    </Slider>
    <div class="century-wrap">
      <span>{{ century }}</span>
    </div>

    <PersonModal
      :person="person"
    />
  </div>
</template>

<script>
import Slider from '@/components/Slider'
import Slide from './Slide'
import PersonModal from './PersonModal'

export default {
  name: 'PeopleSlider',
  components: {
    Slide,
    PersonModal,
    Slider,
  },
  props: {
    people: {
      type: Array,
      default: () => []
    },
    century: {
      type: String,
      default: ''
    }
  },
  data() {
    return {
      person: { activity: {} },
    }
  },
}
</script>
