<template>
  <Modal
    id="people-modal"
    styles="people-modal-dialog"
  >
    <div class="people-modal-top">
      <span class="people-name">
        <span class="mdi mdi-account-star" /> {{ person.name }}
      </span>
      <span
        class="modal-close"
        data-dismiss="modal"
        aria-label="Close"
      >
        <span class="mdi mdi-close" />
      </span>
    </div>
    <div class="people-modal-content">
      <div class="row">
        <div class="col-md-3 col-sm-4">
          <div class="people-modal-left">
            <div
              class="people-modal-img"
              :style="`background-image: url('${person.photo}')`"
            />
            <div class="people-modal-info">
              <span class="name">
                {{ person.name }}
              </span>
              <span class="position">
                {{ person.activity.name }}
              </span>
              <span class="date">
                {{ person.year_of_birth }} {{ person.year_of_death && `- ${person.year_of_death}` }}
              </span>
            </div>
          </div>
        </div>
        <div class="col-md-9 col-sm-8">
          <div
            class="people-modal-right"
            v-html="person.bio"
          />
        </div>
      </div>
    </div>
  </Modal>
</template>

<script>
import Modal from '@/components/Modal'
import moment from 'moment'

export default {
  name: 'PersonModal',
  components: { Modal },
  filters: {
    date(date) {
      return moment(date).format('MM/DD/Y')
    }
  },
  props: {
    person: {
      type: Object,
      default: () => ({})
    }
  }
}
</script>
