{% extends 'registration/base.html' %}
{% load vuejs sekizai_tags %}


{% block title %}
    Create password
{% endblock title %}

{% block text %}
  {% if error %}
    <h3>Errors occured! {{ error }}</h3>
  {% else %}
    <div id="invitee-password"></div>
    {% addtoblock "js" %}
    {% render_component "InvitePassword" el="invitee-password" data=data %}
    {% endaddtoblock %}
  {% endif %}
  
{% endblock text %}