<html>
    <body>
        Hello!
        There are new inactive {{ label }} waiting for you!
        <ul>
            {% for s in services %}
            <li><a href="https://{{ site }}{{ s.abs_url }}">{{s.name}}</a></li>
            {% endfor %}
        </ul>
    </body>
</html>