{% extends "careers/base.html" %}
{% load static sekizai_tags vuejs %}

{% block additional_title %}
<p>We’re looking for dedicated, creative people to join us in making</p>
{% endblock %}

{% block job_details %}
<article class="article-wrapper">
  <div class="wrapper">
    <div class="back-to-wrapper">
      <a href="#">
        <span class="mdi mdi-arrow-left"></span>
        {{ job.title }} {% if job.is_expired %}<mark>(Expired)</mark>{% endif %}
      </a>
    </div>
    {% if job.image %}
      <img src="{{ job.image.url }}" alt="" class="img-fluid">
    {% else %}
      <img src="{% static 'images/careers-img3.png' %}" alt="" class="img-fluid">
    {% endif %}
    <div class="career-details">
      <div class="row">
        <div class="col-md-6">
          <h2>{{ job.category.name }}</h2>
          <span>{{ job.location }}</span>
        </div>
        <div class="col-md-6">
          <p>{{ job.short_description }}</p>
        </div>
      </div>
    </div>
      <div class="article-text">
        {{ job.rich_description|safe }}
      </div>
      {% comment %} additional description, needs to discuss {% endcomment %}
      <div class="careers-connect-wrap text-center">
        <div class="apply-button-wrap">
          <button class="btn-site" data-toggle="modal" data-target="#career-request-modal">Apply to this job</button>
        </div>
        <p class="text-center">And if you don’t see the kind of opportunity you’re looking for, you can always email
          <a href="mailto:jobs@mp.com">jobs@mp.com</a> to tell us more.</p>
      </div>
  </div>
</article>

<div id="job-request"></div>
{% addtoblock "js" %}
  {% render_component "JobRequest" el="job-request" data=data %}
{% endaddtoblock %}
{% endblock %}