<template>
  <div>
    <!-- Details sidebar -->
    <div
      class="doc-details"
      :class="{show: isActive}"
    >
      <span
        class="mdi mdi-close doc-detail-close"
        @click="$emit('hideDetails')"
      />
      <span class="doc-details-title">
        Datails person
      </span>
      <span class="doc-details-row">
        Email: <mark>{{ member.user.email }}</mark>
      </span>
      <span class="doc-details-row">
        Location: <mark> {{ member.user.location }}</mark>
      </span>
      <span class="doc-details-row">
        User name: <mark> {{ member.user.name }}</mark>
      </span>
      <span class="doc-details-row">
        Date joined: <mark>{{ member.user.date_joined | date }}</mark>
      </span>
      <span class="doc-details-row">
        Time zone: <mark>{{ member.user.timezone && member.user.timezone.tz_display }}</mark>
      </span>
    </div>
    <!-- END Details sidebar -->
    <div
      class="col-doc activate"
      :class="{active: isActive}"
      @click="$emit('toggleDetails')"
    >
      <div class="d-flex">
        <div class="img-wrap">
          <img
            :src="member.user.picture"
            alt=""
          >
        </div>
        <div class="text-wrap">
          <span>{{ member.user.name }}</span>
        </div>
      </div>

      <div class="dropdown dropdown-top-right">
        <span
          class="mdi mdi-dots-vertical"
          data-toggle="dropdown"
          aria-expanded="false"
        />
        <div
          class="dropdown-menu dropdown-menu-right dropdown-menu-position0"
          x-placement="top-end"
          style="position: absolute; transform: translate3d(-144px, -179px, 0px); top: 0px; left: 0px; will-change: transform;"
        >
          <a
            class="dropdown-item"
            href="#"
            @click.prevent="$emit('sendMessage')"
          >
            Send message
          </a>
          <a
            class="dropdown-item"
            href="#"
            @click.prevent="$emit('toggleActiveness')"
          >
            {{ member.is_active ? 'Deactivate (ban)' : 'Activate' }}
          </a>
          <a
            class="dropdown-item"
            href="#"
            @click.prevent="$emit('delete')"
          >
            Delete
          </a>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import moment from 'moment'

export default {
  name: 'Member',
  filters: {
    date(value) {
      return moment(value).format('MM.DD.YYYY')
    }
  },
  props: {
    member: {
      type: Object,
      required: true
    },
    isActive: {
      type: Boolean,
      required: true
    }
  }
}
</script>
