<template>
  <Company
    :user="user"
    :company="company"
    :cities="cities"
    :timezones="timezones"
    :ownerships="ownerships"
    :languages="languages"
  />
</template>

<script>
import Company from '@/components/Settings/Company'

export default {
  name: 'CompanyContainer',
  components: {
    Company
  },
  props: {
    user: {
      type: Object,
      default: () => {}
    },
    company: {
      type: Object,
      default: () => {}
    },
    cities: {
      type: Array,
      default: () => []
    },
    timezones: {
      type: Array,
      default: () => []
    },
    ownerships: {
      type: Array,
      default: () => []
    },
    languages: {
      type: Array,
      default: () => []
    }
  }
}
</script>
