<template>
  <Documents
    :user="user"
    :projects="shouldShowActive ? activeProjects : archivedProjects"
    @changeList="shouldShowActive = !shouldShowActive"
  />
</template>

<script>
import Documents from '@/components/Settings/Documents'

export default {
  name: 'DocumentsContainer',
  components: {
    Documents
  },
  props: {
    user: {
      type: Object,
      default: () => {}
    },
    projects: {
      type: Array,
      default: () => []
    }
  },
  data() {
    return {
      shouldShowActive: true,
    }
  },
  computed: {
    activeProjects() {
      return this.projects.filter(project => !project.is_archived)
    },
    archivedProjects() {
      return this.projects.filter(project => project.is_archived)
    }
  }
}
</script>
