<template>
  <MembershipList
    :user="user"
    :workers="workers"
  />
</template>

<script>
import MembershipList from '@/components/Settings/Membership/MembershipList'

export default {
  name: 'MembershipListContainer',
  components: {
    MembershipList,
  },
  props: {
    user: {
      type: Object,
      default: () => {}
    },
    workers: {
      type: Array,
      default: () => []
    },
  },
}
</script>
