<template>
  <div
    v-if="!projects.length"
    class="settings-holder settings-remove-bg-mobile"
  >
    <div class="reviews-wrap projects-list-wrap">
      <div class="d-flex justify-content-between flex-wrap top-controls">
        <span class="repeat-title18">
          My projects
        </span>
        <a
          v-if="user.role === 2"
          href="{% url 'create-project' %}"
          class="add-project"
        >
          Add project <span class="mdi mdi-plus-box" />
        </a>
      </div>
      <p class="empty-sections-txt">
        You have no projects
      </p>
    </div>
  </div>
  <ProjectsList
    v-else-if="!user.is_pm"
    :user="user"
    :projects="shouldShowActive ? activeProjects : archivedProjects"
    @handleChangeOption="changeOption"
    @changeList="shouldShowActive = !shouldShowActive"
  />
  <ProjectsListPM
    v-else
    :user="user"
    :projects="shouldShowActive ? activeProjects : archivedProjects"
    @changeList="shouldShowActive = !shouldShowActive"
  />
  <!-- TODO another projects list component for PM -->
</template>

<script>
import $ from 'jquery'
import ProjectsList from '@/components/Settings/Projects/ProjectsList'
import ProjectsListPM from '@/components/Settings/Projects/PM/ProjectsListPM'

export default {
  name: 'ProjectsListContainer',
  components: {
    ProjectsList,
    ProjectsListPM
  },
  props: {
    user: {
      type: Object,
      default: () => {}
    },
    projects: {
      type: Array,
      default: () => []
    },
  },
  data() {
    return {
      projectsToDisplay: this.projects && this.projects.filter(project => project.management_option === 1),
      shouldShowActive: true,
    }
  },
  computed: {
    activeProjects() {
      return this.projectsToDisplay.filter(project => !project.is_archived)
    },
    archivedProjects() {
      return this.projectsToDisplay.filter(project => project.is_archived)
    }
  },
  created() {
    $(document).ready(() => {
      if (this.projects.length > 0 && !this.user.is_pm) {
        $('#rad1')[0].setAttribute('checked', 'checked')
      }
    })
  },
  methods: {
    changeOption(id, option) {
      if (id === 'rad1') {
        $('#rad2')[0].removeAttribute('checked')
      } else if (id === 'rad2') {
        $('#rad1')[0].removeAttribute('checked')
      }
      $(`#${id}`)[0].setAttribute('checked', 'checked')
      this.projectsToDisplay = this.projects.filter(project => project.management_option === option)
    }
  }
}
</script>
