<template>
  <ProjectBoard
    :user="user"
    :tasks="tasks"
    :project="project"
  />
</template>

<script>
import ProjectBoard from '@/components/Settings/ProjectBoard'

export default {
  name: 'ProjectBoardContainer',
  components: {
    ProjectBoard
  },
  props: {
    user: {
      type: Object,
      default: () => {}
    },
    tasks: {
      type: Array,
      default: () => []
    },
    project: {
      type: Object,
      default: () => {}
    }
  }
}
</script>
