<template>
  <Project
    :user="user"
    :categories="categories"
    :industries="industries"
    :tags="tags"
    :languages="languages"
    :project="project"
  />
</template>

<script>
import Project from '@/components/Settings/Projects'

export default {
  name: 'ProjectContainer',
  components: {
    Project
  },
  props: {
    user: {
      type: Object,
      default: () => {}
    },
    categories: {
      type: Array,
      default: () => []
    },
    industries: {
      type: Array,
      default: () => []
    },
    tags: {
      type: Array,
      default: () => []
    },
    languages: {
      type: Array,
      default: () => []
    },
    project: {
      type: Object,
      default: () => {}
    }
  }
}
</script>
