<template>
  <div
    v-if="!services.length"
    class="settings-holder settings-remove-bg-mobile"
  >
    <div class="reviews-wrap projects-list-wrap">
      <div class="d-flex justify-content-between flex-wrap top-controls">
        <span class="repeat-title18">
          My Services
        </span>
        <a
          href="{% url 'create-service' %}"
          class="add-project"
        >
          Add service <span class="mdi mdi-plus-box" />
        </a>
      </div>
      <p class="empty-sections-txt">
        You have no services
      </p>
    </div>
  </div>
  <ServicesList
    v-else
    :user="user"
    :services="shouldShowActive ? activeServices : archivedServices"
    @changeList="shouldShowActive = !shouldShowActive"
  />
  </div>
</template>

<script>
import ServicesList from '@/components/Settings/Services/ServicesList'

export default {
  name: 'ServicesListContainer',
  components: {
    ServicesList
  },
  props: {
    user: {
      type: Object,
      default: () => {}
    },
    services: {
      type: Array,
      default: () => []
    }
  },
  data() {
    return {
      shouldShowActive: true,
    }
  },
  computed: {
    activeServices() {
      return this.services.filter(service => !service.is_archived)
    },
    archivedServices() {
      return this.services.filter(service => service.is_archived)
    }
  }
}
</script>
