{% extends 'about/base.html' %}
{% load static cms_tags vuejs sekizai_tags %}

{% block about_content %}
<section class="section-about">
  <div class="wrapper">
    <div class="banner">
      <img src="{% static 'images/about-achieve.jpg' %}" class="img-fluid" alt="">
      <p class="center-text">{% placeholder "Title" %}</p>
    </div>

    <div class="about-holder">
      <div class="about-holder__title">
        {% placeholder "Subtitle" %}
        {% placeholder "Description" %}
      </div>

      <div id="achievements-slider"></div>

      {% addtoblock "js" %}
      {% render_component "AchievementsSlider" el="achievements-slider" data=data %}
      {% endaddtoblock %}

    </div>
  </div>
</section>
{% endblock about_content %}