{% extends 'base.html' %}
{% load cms_tags menu_tags %}
{% block add_metatags %}
  {% if not seo_tags %}
    <meta name="robots" content="index, follow">
  {% endif %}
{% endblock add_metatags %}
{% block content %}
  <section class="section-top">
    <div class="wrapper">
      <div class="title-wrap"><span>About Engre</span></div>
      <div
        class="categories-wrapper d-flex justify-content-between align-items-center"
      >
        <div
          class="categories-list d-flex justify-content-between align-items-end"
        >
          {% show_menu 1 %}
        </div>
      </div>
    </div>
  </section>

  {% block about_content %}{% endblock about_content %}
{% endblock content %}
