{% extends 'about/base.html' %}

{% block about_content %}
<article class="article-wrapper">
  <div class="wrapper">
    <div class="back-to-wrapper">
      <a href="{% url 'about-common-projects' %}"><span class="mdi mdi-arrow-left"></span> {{ object.title }}</a>
    </div>

    {{ object.description | safe }}

  </div>
</article>
{% endblock about_content %}