{% extends 'about/base.html' %}
{% load cms_tags static vuejs sekizai_tags %}

{% block about_content %}
<section class="section-about">
  <div class="wrapper">
    <div class="banner">
      <img
        src="{% static 'images/about-img4.png' %}"
        class="img-fluid"
        alt=""
      />
      {% placeholder "Title" %}
    </div>

    <div class="about-holder">
      <div class="about-holder__title">
        {% placeholder "Sub title" %} {% placeholder "Description" %}
      </div>

      <div id="people-slider"></div>

      {% addtoblock "js" %}
        {% render_component "PeopleSlider" el="people-slider" data=data %}
      {% endaddtoblock %}
</section>
{% endblock about_content %}
