{% extends 'about/base.html' %}
{% load cms_tags staticfiles vuejs sekizai_tags %}

{% block about_content %}
    <section class="section-about">
        <div class="wrapper">
            <h2 class="reviews-title">
                {% placeholder 'review_title' %}
            </h2>
            <div class="row reviews-grid">
                {% for obj in object_list %}
                    <div class="col-md-6 {% if forloop.counter|divisibleby:2 %} review-right-column {% else %} review-left-column {% endif %}">
                        <div class="review-col">
                            <div class="review-logo">
                                {# <img src="{{ obj.user.work.company.logo.url }}" alt=""> #}
                                <img src="{{ obj.user.picture.url }}" alt="">
                            </div>
                            <div class="review-text">
                                <span class="mdi mdi-format-quote-close"></span>
                                <p>
                                    {{ obj.text }}
                                </p>
                                <div class="review-author d-flex align-items-center">
                                    {% if obj.user.picture %}
                                    <div class="author-img">
                                        <img src="{{ obj.user.picture.url }}" alt="">
                                    </div>
                                    {% endif %}
                                    <div class="author-info">
                                        <span class="name">{{ obj.user.name }}</span>
                                        <span class="position">CEO</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
{% endblock %}
