<template>
  <div class="input-row">
    <input
      :id="id"
      type="file"
      name="file"
      class="file"
      v-bind="$attrs"
      @input="handleInput"
    >
    <div class="repeat-icon-text">
      <span
        :style="error ? 'color: red;' : ''"
        class="mdi mdi-paperclip"
      /> <i :class="{error: error}">
        {{ file.name || label }}
      </i>
    </div>
  </div>
</template>

<script>
export default {
  name: 'AttachField',
  props: {
    id: {
      type: String,
      required: true
    },
    label: {
      type: String,
      default: ''
    },
    error: {
      type: [Boolean, String],
      default: false
    },
  },
  data() {
    return {
      file: {}
    }
  },
  methods: {
    handleInput({ target: { files } }) {
      [this.file] = files

      this.$emit('input', files[0])
    }
  }
}
</script>

<style lang="scss" scoped>
.error {
  color: red;
  border-color: red;
}
</style>
