<template>
  <div class="checkbox">
    <input
      :id="id"
      :value="value"
      type="checkbox"
      @input="$emit('input', $event.target.checked)"
    >
    <label
      v-if="label"
      :for="id"
    >
      <span class="check-wrap" />
      <i class="remember-me-text">
        {{ label }}
      </i>
    </label>
  </div>
</template>

<script>
export default {
  name: 'Checkbox',
  props: {
    id: {
      type: String,
      required: true
    },
    value: {
      type: Boolean,
      default: false,
    },
    label: {
      type: String,
      default: ''
    }
  }
}
</script>
