<template>
  <form
    :enctype="enctype"
    @submit="_handleSubmit"
  >
    <slot
      :models="innerFields"
      :is-valid="isValid"
      :is-loading="isLoading"
    />
  </form>
</template>

<script>
import Vue from 'vue'

export default {
  name: 'Form',
  props: {
    fields: {
      type: Array,
      default: () => []
    },
    submit: {
      type: Function,
      default: () => {}
    },
    prevent: {
      type: Boolean,
      default: true
    },
    enctype: {
      type: String,
      default: 'application/x-www-form-urlencoded',
    }
  },
  data() {
    return {
      innerFields: {},
      isLoading: false,
      pristine: true,
      submited: false,
    }
  },
  computed: {
    isValid() {
      const result = Object.keys(this.innerFields).map((key) => {
        if (this.innerFields[key].error) {
          return false
        }

        return true
      })

      return !result.includes(false)
    }
  },
  created() {
    this.fields.map((field) => {
      Vue.set(this.innerFields, field.name, {
        value: field.value !== null ? field.value : null,
        error: null,
        validators: [],
        shouldValidate: true,
        ...field
      })

      this.$watch(`innerFields.${field.name}.value`, (value) => {
        this.pristine = false
        this._validateField(field.name, value)
      })

      return null
    })
  },
  methods: {
    setFieldValue(name, value, shouldValidate = true) {
      Vue.set(this.innerFields, name, { ...this.innerFields[name], value, shouldValidate })

      this.$nextTick(() => {
        Vue.set(this.innerFields, name, { ...this.innerFields[name], shouldValidate: true })
      })
    },
    _validateField(name, value) {
      for (let index = 0; index < this.innerFields[name].validators.length; index += 1) {
        const error = this.innerFields[name].validators[index](name, value, this.innerFields)

        if (this.innerFields[name].shouldValidate && (this.submited || !this.pristine) && error) {
          this.innerFields[name].error = error
          break
        } else {
          this.innerFields[name].error = false
        }
      }
    },
    _validate() {
      Object.keys(this.innerFields).map((key) => {
        this._validateField(this.innerFields[key].name, this.innerFields[key].value)

        return null
      })
    },
    _handleSubmit(e) {
      if (this.prevent) {
        e.preventDefault()
      }

      this.submited = true
      this._validate()

      this.$nextTick(async () => {
        if (this.isValid) {
          const values = {}

          Object.keys(this.innerFields).map((key) => {
            values[key] = this.innerFields[key].value
            return null
          })

          this.isLoading = true
          await this.submit(values)
          this.isLoading = false
          this.pristine = true
        }
      })
    }
  }
}
</script>
