<template>
  <div class="dropdown dropdown-select">
    <div
      :id="id"
      class="selected-wrap"
      data-toggle="dropdown"
      aria-haspopup="true"
      aria-expanded="false"
      :class="{active: selected}"
      :style="error ? 'color: red;' : ''"
    >
      <span
        v-if="!hideLabelOnSelect"
        class="label"
      >
        {{ label }}
      </span>
      <span class="selected-item">
        {{ _getValue(selected) }}
      </span>
      <span class="mdi mdi-menu-down" />
    </div>
    <div class="dropdown-menu">
      <div class="dropdown-list-wrapper">
        <div class="dropdown-list">
          <div class="dropdown-list-row">
            <a
              href="#"
              @click.prevent="select(null)"
            >
              ----------
            </a>
            <a
              v-for="item in items"
              :key="getKey(item)"
              href="#"
              @click.prevent="select(item)"
            >
              {{ getValue(item) }}
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'InputDropdown',
  props: {
    id: {
      type: String,
      required: true
    },
    label: {
      type: String,
      default: ''
    },
    value: {
      type: Object,
      default: null,
    },
    items: {
      type: Array,
      default: () => []
    },
    getValue: {
      type: Function,
      default: item => item
    },
    getKey: {
      type: Function,
      default: item => item.id
    },
    defaultValue: {
      type: Object,
      default: () => {}
    },
    error: {
      type: [String, Boolean],
      default: false,
    },
    hideLabelOnSelect: {
      type: Boolean,
      default: false
    }
  },
  data() {
    return {
      selected: this.value
    }
  },
  watch: {
    value() {
      this.selected = this.value
    }
  },
  created() {
    if (this.defaultValue) {
      this.select(this.defaultValue)
    }
  },
  mounted() {
    /* eslint-disable no-undef */
    $(`#${this.id}`).dropdown()
  },
  methods: {
    select(item) {
      this.selected = item

      this.$emit('input', item)
      this.$emit('select', item)

      // $(`#${this.id}`).dropdown('toggle')
    },
    _getValue(item) {
      if (!item) {
        return item
      }

      return this.getValue(item)
    }
  }
}
</script>
