<template>
  <div class="input-row">
    <input
      :id="id"
      :type="type"
      :value="value"
      :name="name"
      :class="[{active: value}, styles]"
      :disabled="disabled"
      @input="$emit('input', $event.target.value)"
    >
    <label
      :for="id"
      :style="error ? 'color: red;' : ''"
    >
      {{ error || label }}
    </label>

    <slot name="icon" />

    <i class="text-hint">
      {{ helpText }}
    </i>
  </div>
</template>

<script>
export default {
  name: 'InputRow',
  props: {
    id: {
      type: String,
      default: '',
    },
    label: {
      type: String,
      default: ''
    },
    helpText: {
      type: String,
      default: '',
    },
    value: {
      type: String,
      default: '',
    },
    type: {
      type: String,
      default: 'text',
    },
    styles: {
      type: String,
      default: '',
    },
    disabled: {
      type: Boolean,
      default: false
    },
    error: {
      type: [String, Boolean],
      default: false
    },
    name: {
      type: String,
      default: null,
    }
  },
}
</script>
