<template>
  <div>
    <div class="dropdown dropdown-select dropdown-select-location">
      <div
              class="selected-wrap"
              data-toggle="dropdown"
              :class="selectedItem ? 'active' : ''"
              :style="error ? 'color: red;' : ''"
      >
        <span class="label">
          {{ label }}
        </span>
        <span v-if="!multiple">
          {{ selectedItem && getValue(selectedItem) }}
        </span>
        <span class="mdi mdi-magnify select-search-button" />
      </div>
      <div class="dropdown-menu">
        <div class="dropdown-search">
          <span class="mdi mdi-magnify icon-left" />
          <span
                  class="mdi mdi-close icon-right icon"
                  @click="clearSearch"
          />
          <input
                  v-model="search"
                  placeholder="Start typing..."
                  type="search"
                  autofocus
          >
        </div>
        <div
                class="dropdown-list-wrapper"
                style="max-height: 300px;"
        >
          <div class="dropdown-list">
            <div class="dropdown-list-row">
              <template v-if="filteredItems.length">
                <a
                        v-for="item in filteredItems"
                        :key="item.id"
                        href="#"
                        @click.prevent="handleSelect(item)"
                >
                  {{ getValue(item) }}
                </a>
              </template>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div
            v-if="multiple"
            class="selected-langs"
    >
      <span
              v-for="item in selectedItems"
              :key="item.id"
              class="lang"
      >
        {{ item.name }} <span
              class="mdi mdi-close"
              @click="removeItem(item)"
              v-if="selectedItems.length > 1"
      />
      </span>
    </div>
  </div>
</template>

<script>
  export default {
    name: 'SearchInput',
    props: {
      items: {
        type: Array,
        default: () => {}
      },
      multiple: {
        type: Boolean,
        default: false,
      },
      label: {
        type: String,
        default: ''
      },
      defaultValues: {
        type: Array,
        default: () => []
      },
      defaultValue: {
        type: Object,
        default: null,
      },
      getValue: {
        type: Function,
        default: item => item.name
      },
      error: {
        type: [String, Boolean],
        default: false,
      }
    },
    data() {
      return {
        search: null,
        selectedItem: this.defaultValue,
        selectedItems: [],
      }
    },
    computed: {
      unselectedItems: {
        get() {
          if (!this.multiple && this.selectedItem) {
            return this.items.filter(item => !this.getValue(item).includes(this.selectedItem.name))
          } if (this.multiple && this.selectedItems.length) {
            return this.items.filter(item => this.selectedItems.map(sel => sel.name).indexOf(item.name) === -1)
          }

          return this.items
        },
        set(value) {
          this.filteredItems = value
        }
      },
    },
    watch: {
      search(value) {
        this.filter(value)
        this.$emit('search', value)
      }
    },
    created() {
      if (this.defaultValues) {
        this.selectedItems = this.defaultValues
      }

      this.displayCorrectValues()
    },
    methods: {
      filter(data) {
        this.unselectedItems = this.unselectedItems.filter(item => this.getValue(item).toLowerCase().includes(data.trim().toLowerCase()))
      },
      handleSelect(item) {
        if (!this.multiple) {
          this.selectedItem = item
          this.$emit('select', item)
        } else {
          this.selectedItems = this.selectedItems.concat(item)
          this.$emit('select', this.selectedItems)
        }
        this.displayCorrectValues()
      },
      removeItem(item) {
        const index = this.selectedItems.indexOf(item)

        if (index > -1) {
          this.selectedItems.splice(index, 1)
        }
        this.displayCorrectValues()
      },
      clearSearch() {
        this.search = ''
      },
      displayCorrectValues() {
        this.filteredItems = this.unselectedItems
      }
    }
  }
</script>
