<template>
  <div>
    <label>{{ label }}</label>
    <div class="dropdown dropdown-select dropdown-select-location">
      <div
        class="selected-wrap"
        data-toggle="dropdown"
        aria-expanded="false"
      >
        <span class="selected-item">
          {{ selected }}
        </span>
        <span class="mdi mdi-menu-down" />
      </div>
      <div
        class="dropdown-menu"
        x-placement="top-start"
        style="position: absolute; transform: translate3d(0px, -247px, 0px); top: 0px; left: 0px; will-change: transform;"
      >
        <div class="dropdown-search">
          <span class="mdi mdi-magnify icon-left" />
          <span
            class="mdi mdi-close icon-right"
            @click="handleClose"
          />

          <input
            ref="search"
            v-model="search"
            v-bind="$attrs"
            type="search"
          >
        </div>
        <div class="dropdown-list-wrapper">
          <div class="dropdown-list">
            <div class="dropdown-list-row">
              <a
                v-show="selected !== 'All'"
                href="#"
                @click.prevent="handleSelect(null)"
              >
                All
              </a>
              <a
                v-for="item in filteredItems"
                :key="getKey(item)"
                href="#"
                @click.prevent="handleSelect(item)"
              >
                {{ getValue(item) }}
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'SelectSearch',
  props: {
    value: {
      type: Object,
      default: null,
    },
    label: {
      type: String,
      default: '',
    },
    items: {
      type: Array,
      default: () => [],
    },
    getValue: {
      type: Function,
      default: item => item,
    },
    getKey: {
      type: Function,
      default: item => item,
    },
  },
  data() {
    return {
      search: null
    }
  },
  computed: {
    filteredItems() {
      const items = this.items.filter(item => this.getValue(item) !== this.selected)

      if (!this.search) {
        return items
      }

      return items.filter(
        item => this.getValue(item)
          .toLowerCase()
          .indexOf(this.search.trim().toLowerCase()) > -1,
      )
    },
    selected() {
      if (this.value) {
        try {
          return this.getValue(this.value)
        } catch (e) {
          return this.value
        }
      } else {
        return 'All'
      }
    },
  },
  methods: {
    handleSelect(item) {
      this.$emit('input', item)
    },
    handleClose() {
      this.search = null
    }
  },
}
</script>
