<template>
  <button
    :class="{running: loading}"
    v-bind="$attrs"
    type="submit"
    class="ld-ext-right"
  >
    <div class="ld ld-ring ld-spin" />

    {{ value }} <slot
      v-if="!loading"
      name="icon"
    />
  </button>
</template>

<script>
import '@/assets/css/loading.css'
import '@/assets/css/loading-btn.css'

export default {
  name: 'Submit',
  props: {
    loading: {
      type: Boolean,
      default: false,
    },
    value: {
      type: String,
      default: 'Submit'
    }
  }
}
</script>
