<template>
  <div class="profile-holder">
    <div
      class="delete-profile-wrapper"
      title="Delete profile"
      @click="deleteProfile"
    >
      <span class="mdi mdi-delete" />
    </div>
    <Form
      ref="profileForm"
      :fields="fields"
      enctype="multipart/form-data"
      :submit="updateProfile"
    >
      <template
        slot-scope="{ models: {
          timezone, location, name
        }, isLoading, isValid }"
      >
        <div class="row">
          <div class="col-md-4">
            <div class="upload-wrapper">
              <span>Your photo</span>
              <div class="uploaded-img">
                <img
                  :src="picture"
                  alt="Your pic will be here"
                >
              </div>
              <input
                id="pic"
                ref="pic"
                type="file"
                hidden
                @change="uploadPicture"
              >
              <label for="pic">
                <div class="edit-photo-button">
                  <span class="mdi mdi-pencil" />
                  <i>Edit photo</i>
                </div>
              </label>
            </div>
          </div>
          <div class="col-md-8">
            <div class="row">
              <div class="col-md-6">
                <InputRow
                  id="name"
                  v-model="name.value"
                  :error="name.error"
                  label="Name*"
                  help-text="Your name is displayed on your profile."
                />
              </div>
              <div class="col-md-6">
                <div class="input-row">
                  <InputDropdown
                    id="city"
                    v-model="location.value"
                    style="pointer-events: none;"
                    :get-key="item => item.id"
                    :get-value="item => item.name_ascii"
                    :error="location.error"
                    label="Location*"
                    @input="handleSelectLocation"
                  />
                  <i class="text-hint">
                    E.g. Brooklyn, NY
                  </i>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <InputRow
                  id="email"
                  type="email"
                  label="Email*"
                  help-text="Can not be changed"
                  :value="user.email"
                  :disabled="true"
                />
              </div>
              <div class="col-md-6">
                <div class="input-row">
                  <SearchInput
                    id="zone"
                    :items="timezones"
                    :error="timezone.error"
                    :default-value="timezone.value"
                    :get-value="item => item.tz_display"
                    label="Time zone*"
                    @select="handleSelectTimezone"
                  />
                  <i class="text-hint">
                    Most time zones are automatically adjusted for you. We'll use this setting for emails.
                  </i>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4" />
          <div class="col-md-8">
            <div class="row align-items-center">
              <div class="col-md-6">
                <Submit
                  class="button-styles light-blue"
                  value="Save profile"
                  :disabled="!isValid || isLoading"
                  :loading="isLoading"
                >
                  <span
                    slot="icon"
                    class="mdi mdi-content-save"
                  />
                </Submit>
              </div>
              <div class="col-md-6">
                <a
                  href="/password-reset"
                  class="reset-pass-link"
                >
                  Reset password
                </a>
              </div>
            </div>
          </div>
        </div>
      </template>
    </Form>
  </div>
</template>

<script>
import axios from 'axios'
import Form, {
  InputRow,
  InputDropdown,
  SearchInput,
  Submit
} from '@/components/Form'
import { isRequired, minLength } from '@/utils/validators'
import { NotificationMixin } from '@/mixins'
import Swal from 'sweetalert2'

export default {
  name: 'Profile',
  components: {
    InputRow,
    InputDropdown,
    SearchInput,
    Form,
    Submit
  },
  mixins: [NotificationMixin],
  props: {
    user: {
      type: Object,
      required: true,
    },
    timezones: {
      type: Array,
      default: () => []
    },
    cities: {
      type: Array,
      default: () => []
    }
  },
  data() {
    return {
      fields: [
        { name: 'name', value: this.user.name, validators: [isRequired, minLength(2)] },
        { name: 'location', value: this.user.location, validators: [isRequired] },
        { name: 'timezone', value: this.user.timezone, validators: [isRequired] },
      ],
      picture: this.user.picture,
    }
  },
  async created() {
    const { user } = this

    if (!user.location || !user.timezone) {
      const { data } = await axios.get('https://api.ipdata.co?api-key=a34ceba047da41c55d8239a4b9c9c5bb5f71099d86a72458170f31b0')
      this.setLocation(data.city)
      this.$children[0].$children[3].handleSelect(this.timezones.find(timezone => timezone.tz_db === data.time_zone.name))
    }
  },
  methods: {
    async setLocation(city) {
      const { data } = await axios({
        method: 'get',
        url: '{% url "get-location" %}',
        params: {
          city
        }
      })

      this.$children[0].$children[1].select(data)
    },
    async uploadPicture() {
      if (this.$refs.pic.files[0].size > 2000000) {
        this.notify('error', 'Picture is too large, 2mb is the limit')
        return
      }

      const data = new FormData()
      data.append('pk', this.user.id)
      data.append('picture', this.$refs.pic.files[0])

      const response = await axios({
        method: 'post',
        url: '{% url "upload-user-picture" %}',
        data,
        headers: {
          Authorization: `JWT ${this.user.token}`
        }
      })

      if (response.status === 200) {
        this.picture = response.data.picture
        this.notify('success', 'Picture has been updated successfully')
      }
    },
    handleSelectLocation(location) {
      this.fields[1].value = location
    },
    handleSelectTimezone(timezone) {
      this.fields[2].value = timezone
      this.$refs.profileForm.setFieldValue('timezone', timezone)
    },
    async updateProfile(values) {
      if (!this.picture) {
        this.notify('error', 'Select your avatar, please')
        return
      }

      const data = {
        pk: this.user.id,
        name: values.name,
        location_id: values.location.id,
        timezone: values.timezone.tz_db
      }

      const response = await axios({
        method: 'put',
        url: '{% url "update-profile" %}',
        data,
        headers: {
          Authorization: `JWT ${this.user.token}`,
        }
      })

      if (response.status === 200) {
        window.location.pathname = response.data.url
        this.notify('success', 'Profile hass been updated successfully')
      }
    },
    async deleteProfile() {
      // const confirmed = confirm('Are you sure?')
      Swal.fire({
        title: 'Are you sure?',
        type: 'question',
        showConfirmButton: true,
        confirmButtonText: 'Delete',
        confirmButtonColor: 'red',
        showCancelButton: true,
        showLoaderOnConfirm: true,
        preConfirm: async () => {
          try {
            await axios({
              method: 'patch',
              url: `/settings/delete-profile/${this.user.id}/`,
              headers: {
                Authorization: `JWT ${this.user.token}`
              }
            })

            window.location.replace('/logout')
          } catch (e) {
            console.log(e)
          }
        }
      })
    }
  }
}
</script>
