{% load cms_tags menu_tags sekizai_tags %}
{% load static vuejs sass_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
  {% include "seo_tags/head.html" %}
  {% block head_add %}{% endblock head_add %}
  {% block add_metatags %}{% endblock add_metatags %}
  <!-- Google Tag Manager -->
  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-WN6553N');</script>
  <!-- End Google Tag Manager -->
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="apple-mobile-web-app-status-bar-style" content="black" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="icon" type="image/x-icon" href="{% static 'images/favicon.ico' %}">
  <link media="all" rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" type="text/css" />
  <link media="all" rel="stylesheet" href="{% static 'css/materialdesignicons.min.css' %}" type="text/css" />
  <link media="all" rel="stylesheet" href="{% static 'css/slick.css' %}" type="text/css" />
  <link media="all" rel="stylesheet" href="{% static 'css/aos.css' %}" type="text/css" />
  <link href="{% sass_src 'scss/style.scss' %}" rel="stylesheet" type="text/css" />
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
  <title>
    {% block title %} 
      {% if seo_tags and seo_tags.title %}
        {{ seo_tags.title }}
      {% else %}
        {% page_attribute "page_title" %}
      {% endif %}
  {% endblock title %}
    
  </title>
  {% render_block "css" %}
</head>

<body {% block body_style %}style="background-image: url({% static 'images/main-bg.jpg' %})"{% endblock %}>
  {% include "seo_tags/body.html" %}
  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WN6553N"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->
  {% cms_toolbar %}
  {% block video %}{% endblock video %}

  {% include 'static_pages/header.html' %}
  <main>
    {% block content %}{% endblock content %}
  </main>

  {% include 'static_pages/footer-redesign.html' %}

  <div class="mobile-menu-mask"></div>

  {% render_block "modals" %}
  <div id="modals"></div>

  <!-- Include script -->
  <script type="text/javascript" src="{% static 'js/vendor/jquery-3.3.1.min.js'%}"></script>
  <script type="text/javascript" src="{% static 'js/vendor/popper.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/vendor/bootstrap.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/vendor/slick.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/vendor/aos.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/header-fixed.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/main.js' %}"></script>
  {% load_vendor %}
  {% render_block "js" %}

</body>
</html>
