{% extends 'base-redesign.html' %}
{% load cms_tags staticfiles vuejs sekizai_tags %}

{% block body_style %}
{% endblock body_style %}
{% block content %}
<main>

      <div id="landing"></div>

      {% addtoblock "js" %}
      {% render_component "Landing" el="landing" data=data %}
      {% endaddtoblock %}

</main>


{% comment %} MODAL WINDOW WITH VIDEO {% endcomment %}
{% addtoblock "css" %}
<link href="https://vjs.zencdn.net/7.4.1/video-js.css" rel="stylesheet">
{% endaddtoblock %}
<div class="modal fade" id="video-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <video id="video" class="video-js" controls data-setup='{"fluid": true}' poster="{% static 'images/video-preview.png' %}">
                {% if for_customers %}
                    <source src="{{ for_customers.video.url }}" type='video/mp4'>
                {% endif %}
                <p class="vjs-no-js">
                    To view this video please enable JavaScript, and consider upgrading to a web browser that
                    <a href="https://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
                </p>
            </video>
        </div>
    </div>
</div>
{% addtoblock "js" %}
<script src="https://vjs.zencdn.net/7.4.1/video.js"></script>
{% endaddtoblock %}

{% endblock %}
