{% extends "base.html" %}
{% load cms_tags %}

{% block video %}
{% include "static_pages/video_bg.html" %}
{% endblock %}

{% block content %}
<div class="homepage-main-wrapper">
  <div class="hp-main-text">
    <span>Engineering inventions based on passion and big ideas.</span>
  </div>
  <a href="{% page_url 'for-a-customer' %}" class="meet-button">Let us meet</a>
</div>
{% endblock %}