{% extends 'base.html' %}
{% load cms_tags staticfiles vuejs sekizai_tags %}
{% block add_metatags %}
	<meta name="google-site-verification" content="hyoA8d5ZYY8bEQFbGqSWUzxzQRy9ymVafgmk2reUYU0" />
{% endblock add_metatags %}
{% block body_style %}
{% endblock body_style %}
{% block content %}
<main class="m-top-reduce70">

	<div id="videosection"></div>

	{% addtoblock "js" %}
	{% render_component "LandingVideo" el="videosection" data=data %}
	{% endaddtoblock %}
	<div class="hero-banner" id="let-us-meet">
		<img src="{% static 'images/abstraction-yellow.png' %}" alt="" class="abstraction-yellow"
			 data-aos="fade-right" data-aos-delay="700" data-aos-duration="1500">
		<div class="wrapper">
			<div class="lp-heading">
				<h1>Safe and Easy Engineering Solutions. How It Works with Engre</h1>
				<p>Together, we can make it better. Fast-track your chances to get outstanding solutions.</p>
			</div>
			<div class="lp-wrapper media-left d-flex"> <!-- If you need  -->
				<div class="lp-wrapper__media" data-aos="fade" data-aos-duration="1500">
					<div class="slideshow">
						<div class="slider">
							{% for card in landing.cards.all %}
							<div class="item">
								<img src="{{ card.image.url }}" alt="">
							</div>
							{% endfor %}
						</div>
					</div>
				</div>
				<div class="lp-wrapper__info" data-aos="fade" data-aos-duration="2000">
					<div class="step-wrapper d-flex">
						<div class="step-number">
							<span>1</span>
						</div>
						<div class="step-info">
							<span class="step-name">Light on</span>
							<h2>Hit It Big!</h2>
							<p>Get the best advantages by choosing what you need Engre most for.</p>
							<div class="step-tags">
								{% for card in landing.cards.all %}
								<a href="#" class="{% if forloop.counter == 1 %}active{% endif %}" data-target="#slick-slide-control0{{ forloop.counter0 }}">{{ card.name }}</a>
								{% endfor %}
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<section class="section-step step2">
		<div class="abstraction-blue" style="overflow: hidden;">
			<img src="{% static 'images/abstraction-blue.png' %}" alt="" data-aos="fade-down" data-aos-delay="700"
				 data-aos-duration="1500">
		</div>
		<div class="wrapper">
			<div class="lp-wrapper media-right d-flex">
				<div class="lp-wrapper__media" data-aos="fade" data-aos-duration="1500">
					<div class="video-wrapper">
						<span class="mdi mdi-play-circle play-video-button" data-toggle="modal" data-target="#video-modal"></span>
						<img src="{% static 'images/video-preview.png' %}" class="img-fluid" alt="">
					</div>
				</div>
				<div class="lp-wrapper__info">
					<div class="step-wrapper d-flex">
						<div class="step-number">
							<span>2</span>
						</div>
						<div class="step-info">
							<span class="step-name">Dig deep</span>
							<h2>Feel the Flow!</h2>
							<p>Looking for ways to maximize engineering solutions or finding new projects? Do you wish to know how we combine safety and quality, follow warranties and meet deadlines? Get all the answers in this video.</p>
							<a href="#" class="btn-site" data-toggle="modal" data-target="#video-modal">Discover Engre</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="section-step">
		<div class="wrapper">
			<div class="lp-wrapper media-left d-flex">
				<div class="lp-wrapper__media" data-aos="fade" data-aos-duration="1500">
					<div class="media-content">
						<img src="{% static 'images/step3-new.jpg' %}" class="img-fluid" alt="">
					</div>
				</div>
				<div class="lp-wrapper__info">
					<div class="step-wrapper d-flex">
						<div class="step-number">
							<span>3</span>
						</div>
						<div class="step-info">
							<span class="step-name">Interact</span>
							<h2>Turn on the action!</h2>
							<p>Choose among a number of verified contractors and projects, get the results at a screen-distance and be sure of your progress constantly by keeping an eye on it.</p>
							<a
									href="
								{% if user.is_anonymous %}
									{% page_url 'sign-in' %}
								{% elif user.is_authenticated %}
									{% if not user.is_profile_completed %}
										{% page_url 'profile' %}
									{% elif user.is_pm %}
										{% page_url 'projects' %}
									{% elif not user.work %}
										{% page_url 'company' %}
									{% elif user.is_customer %}
										{% page_url 'projects' %}
									{% elif user.is_contractor %}
										{% page_url 'services' %}
									{% endif %}
								{% endif %}
								"
									class="btn-site"
							>
								Join Engre
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<img src="{% static 'images/arc.svg' %}" class="arc-img" alt="">

	<div id="news"></div>

	{% addtoblock "js" %}
	{% render_component "NewsList" el="news" data=data %}
	{% endaddtoblock %}

</main>


{% comment %} MODAL WINDOW WITH VIDEO {% endcomment %}
{% addtoblock "css" %}
<link href="https://vjs.zencdn.net/7.4.1/video-js.css" rel="stylesheet">
{% endaddtoblock %}
<div class="modal fade" id="video-modal" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<video id="video" class="video-js" controls data-setup='{"fluid": true}' poster="{% static 'images/video-preview.png' %}">
				<source src="{{ landing.video.url }}" type='video/mp4'>
				<p class="vjs-no-js">
					To view this video please enable JavaScript, and consider upgrading to a web browser that
					<a href="https://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
				</p>
			</video>
		</div>
	</div>
</div>
{% addtoblock "js" %}
<script src="https://vjs.zencdn.net/7.4.1/video.js"></script>
{% endaddtoblock %}


{% endblock %}
