// admin sidebar starts
.admin-sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: calc(100% + 100px);
  overflow-x: hidden;
  width: 335px;
  z-index: 100;
  background-color: $blue-dark;
  @include transition(.5s);

  @media (max-width: $screen-sm-max) {
    width: 270px;
  }

  &.sidebar-sm {
    width: 80px;

    @media (max-width: $screen-sm-max) {
      width: 50px;
    }

    .admin-sidebar__top {
      padding: 0;
      justify-content: center !important;

      .logo {
        display: none;
      }

      .sidebar-trigger {
        .mdi {
          margin-right: 0;
          transform: scaleX(-1);
        }
      }
    }

    .admin-sidebar__menu {
      padding-left: 10px;

      a {
        padding: 20px;

        @media (max-height: 700px) {
          padding: 10px 20px;
        }

        @media (max-width: $screen-sm-max) {
          padding: 10px 13px;
        }

        .mdi {
          &.notification {
            &:after {
              opacity: 1;
              visibility: visible;
            }
          }
        }

        i {
          opacity: 0;
          visibility: hidden;
        }
      }
    }
  }

  &__top {
    padding: 30px 30px 30px 60px;
    min-height: 97px;

    @media (max-width: $screen-sm-max) {
      min-height: 50px;
      padding: 0 20px;
    }

    .logo {
      a {
        display: block;
        width: 130px;
        @include transition(.5s);

        @media (max-width: $screen-sm-max) {
          width: 80px;
        }
      }
    }

    .sidebar-trigger {
      cursor: pointer;

      .mdi {
        display: block;
        margin-right: -11px;
        color: $blue-light;
        font-size: 35px;
        line-height: 35px;
        @include transition(.5s);
      }
    }
  }

  &__menu {
    padding-left: 20px;
    @include transition(.5s);

    @media (max-width: $screen-sm-max) {
      padding-left: 0 !important;
    }

    a {
      display: block;
      padding: 20px 20px 20px 40px;
      border-radius: 3px 0 0 3px;
      text-decoration: none;
      color: #fff;
      white-space: nowrap;
      //@include transition(.5s);

      @media (max-height: 700px) {
        padding: 10px 20px;
      }

      @media (max-width: $screen-sm-max) {
        border-radius: 0;
        padding: 10px 13px;
      }

      &:hover {
        color: $yellow;

        i {
          color: $yellow;
        }
      }

      &.active {
        background-color: #f1f5f8;
        color: $blue-dark;

        i {
          color: $blue-dark;
        }
      }

      .mdi {
        display: inline-block;
        vertical-align: middle;
        margin-right: 15px;
        font-size: 25px;
        line-height: 24px;
        @include transition(.2s);

        &.notification {
          position: relative;

          &:after {
            content: '';
            display: block;
            position: absolute;
            top: 0;
            right: 0;
            width: 12px;
            height: 12px;
            border: 2px solid $blue-dark;
            border-radius: 50%;
            background-color: $yellow;
            opacity: 0;
            visibility: hidden;
            @include transition(.3s);
          }
        }
      }

      i {
        display: inline-block;
        vertical-align: middle;
        color: #fff;
        text-transform: uppercase;
        font-size: 16px;
        line-height: 18px;
        font-weight: 300;
        font-style: normal;
        position: relative;
        @include transition(.2s);

        .notification {
          display: block;
          padding: 0;
          width: 24px;
          height: 24px;
          border-radius: 50%;
          background: $yellow;
          font-size: 12px;
          line-height: 24px;
          font-weight: 300;
          text-align: center;
          position: absolute;
          top: -5px;
          right: -35px;
        }
      }
    }
  }
}

.admin-container {
  padding-left: 335px;
  @include transition(.5s);

  &.container-sm {
    padding-left: 80px;

    @media (max-width: $screen-sm-max) {
      padding-left: 50px;
    }
  }

  @media (max-width: $screen-lg-max) {
    padding-left: 80px;

    @media (max-width: $screen-sm-max) {
      padding-left: 50px;
    }
  }

  &__top {
    background-color: #99a9b8;
    padding: 0 15px;

    .top-col {
      border-right: 1px solid #fff;
      padding: 29px 35px;
      min-height: 97px;
      color: #fff;

      @media (max-width: $screen-lg-max) {
        padding: 20px 15px;
      }

      @media (max-width: $screen-sm-max) {
        &:nth-child(2n) {
          border: none;
        }
      }

      @media (max-width: $screen-xs-max) {
        border: none;
        min-height: initial;
        padding: 15px !important;
      }

      @media (max-height: 700px) {
        padding: 20px 35px;
      }

      &:last-child {
        border: none;
      }

      span {
        display: block;
        font-size: 14px;
        line-height: 16px;
        margin-bottom: 5px;
        text-transform: uppercase;
      }

      mark {
        display: block;
        padding: 0;
        background: none;
        font-size: 16px;
        line-height: 18px;
        font-weight: 700;
        color: #fff;
      }
    }
  }

  &__body {
    padding: 50px 35px;
    min-height: calc(100vh - 100px);
    position: relative;

    .info-block-wrap {
      cursor: pointer;

      &:hover {
        box-shadow: none;
      }

      span {
        word-break: break-all;
      }
    }

    &.admin-chat {
      padding: 0;

      .settings-holder {
        box-shadow: none;
        background: none;

        .chat-wrap {
          .chat-list {
            box-shadow: none;
          }

          .chat-holder {
            @media (min-width: $screen-sm-max) {
              height: 600px;
            }

            .chat-wrapper {
              background-color: #fff;
              height: calc(100% - 120px);
              padding: 35px 30px 70px 80px;

              &.chat-wrapper-noheading {
                height: calc(100% - 40px);

                .admin-chat-control {
                  height: calc(100% - 40px);
                }
              }

              .admin-chat-control {
                position: absolute;
                top: 0;
                left: 0;
                height: calc(100% - 120px);
                width: 50px;
                background-color: #99a9b8;
                z-index: 10;
                border-radius: 3px 0 0 3px;
                cursor: pointer;

                @media (max-width: $screen-sm-max) {
                  display: none;
                }

                .mdi {
                  display: block;
                  text-align: center;
                  font-size: 24px;
                  line-height: 24px;
                  color: #fff;
                  padding: 20px 0;
                  @include transition(.2s);
                }

                .author {
                  display: block;
                  position: absolute;
                  bottom: 20px;
                  left: 35px;
                  transform: rotate(-90deg);
                  white-space: nowrap;
                  transform-origin: bottom left;
                  font-size: 18px;
                  line-height: 20px;
                  font-weight: 700;
                  color: #fff;
                }
              }

              .date {
                span {
                  background-color: #fff;
                }
              }

              .chat-message {
                box-shadow: none;
                border: 1px solid #99a9b8;
              }
            }

            .admin-chat-wrap {
              position: relative;
              height: 100%;
              margin-top: 40px;
              @include transition(.4s);

              .review-text {
                font-size: 16px;
                line-height: 24px;
                font-weight: 300;
                margin: 0 0 30px 0;
                font-style: italic;
                letter-spacing: 0.4px;
                text-align: justify;
              }

              &.hide {
                transform: translateX(calc(100% - 50px));

                .admin-chat-control {
                  .mdi {
                    transform: scaleX(-1);
                  }
                }
              }

              @media (max-width: $screen-sm-max) {
                margin-top: 0;
              }

              &.admin-moderation-wrap {
                margin-top: 98px;

                @media (max-width: $screen-sm-max) {
                  margin-top: 30px;
                }
              }
            }

            .chat-input-wrapper {
              box-shadow: 0 2px 15px 0 rgba(13, 71, 161, 0.08) inset;
              padding: 10px 30px 5px 30px;
              margin-left: 50px;
              width: calc(100% - 50px);
              @include transition(.4s);

              @media (max-width: $screen-sm-max) {
                padding: 10px 15px 5px 15px;
                margin-left: 0;
                width: 100%;
              }

              &.hide {
                transform: translateX(100%);
              }
            }
          }
        }
      }
    }

    @media (max-width: $screen-xs-max) {
      padding: 20px 15px;
      min-height: initial;
    }

    .col-doc {
      @media (max-width: 768px) {
        width: 185px;
      }

      @media (max-width: $screen-xs-max) {
        width: 100%;
      }
    }
  }
}

// admin sidebar ends

.admin-body {
  background-color: #f1f5f8;
}

.admin-title {
  display: inline-block;
  margin-bottom: 40px;
  font-size: 18px;
  line-height: 20px;
  text-transform: uppercase;
  font-weight: 700;
  color: $blue-dark;
  position: relative;

  &:after {
    content: '';
    display: block;
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: $blue-dark;
  }
}

.admin-row {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: $bs-default;
  padding: 40px;
  margin-bottom: 30px;

  @media (max-width: $screen-xs-max) {
    padding: 20px 15px;
  }

  &.admin-settings {
    padding: 25px 30px;

    @media (max-width: $screen-xs-max) {
      padding: 25px 15px;
    }
  }
}

.hints-title {
  display: block;
  padding-left: 30px;
  font-size: 18px;
  line-height: 20px;
  font-weight: 700;
  color: #222;
  margin-bottom: 15px;
}

.hints-list {
  padding: 0 0 0 30px;
  margin: 0;
  list-style: none;

  li {
    font-size: 16px;
    line-height: 18px;
    color: $blue-dark;
    text-decoration: underline;
    position: relative;
    margin-bottom: 10px;
    cursor: pointer;

    &.blue {
      &:before {
        background-color: #3066cd;
      }
    }

    &.red {
      &:before {
        background-color: #dd360b;
      }
    }

    &.orange {
      &:before {
        background-color: #f79a00;
      }
    }

    &.green {
      &:before {
        background-color: #26970f;
      }
    }

    &.violet {
      &:before {
        background-color: #9b009a;
      }
    }

    &:before {
      content: '';
      display: block;
      position: absolute;
      top: 1px;
      left: -25px;
      width: 15px;
      height: 15px;
      border-radius: 50%;
    }

    &:hover {
      text-decoration: none;
    }
  }
}

.filter-statistics {
  .fs-row {
    margin-bottom: 10px;

    &:last-child {
      margin-bottom: 0;
    }

    .requests, .requests-number {
      display: block;
      font-size: 16px;
      line-height: 24px;
      font-weight: 300;
      color: $blue-dark;
    }

    .requests {
      cursor: pointer;
      text-decoration: underline;

      &:hover {
        text-decoration: none;
      }
    }

    .requests-number {
      width: 55px;
      text-align: right;
    }
  }
}

.project-filters {
  padding: 0 15px;

  @media (max-width: $screen-xs-max) {
    width: 100%;
    padding: 0;
    margin: 0;
  }

  .input-row {
    margin-right: 15px;

    @media (max-width: $screen-xs-max) {
      margin-right: 0;
      width: 100%;

      .dropdown-select {
        min-width: initial;
        width: 100%;
      }
    }
  }
}

.crop-photos-wrapper {
  .upload-wrapper {
    > span {
      padding-left: 0;
    }

    .edit-photo-button {
      display: block;
      margin-top: -30px;
    }
  }
}

.cropping-img {
  img {
    width: 80px;
    vertical-align: top;
    margin-right: 15px;
    border: 1px solid #99a9b8;
  }
}

.admin-menu {
  border-bottom: 1px solid $grey;
  margin-bottom: 50px;
  white-space: nowrap;

  @media (max-width: $screen-sm-max) {
    overflow-y: hidden;
  }

  a {
    display: inline-block;
    vertical-align: middle;
    font-size: 18px;
    line-height: 20px;
    font-weight: 300;
    margin-right: 20px;
    color: #666;
    padding-bottom: 7px;
    position: relative;
    text-decoration: none;
    @include transition(.2s);

    span {
      display: inline-block;
      vertical-align: top;
      font-size: 9px;
      line-height: 9px;
      color: $blue-dark;
    }

    &:hover {
      color: $blue-dark;

      /*&:after {
        opacity: 1;
        visibility: visible;
      }*/
    }

    &:after {
      content: '';
      display: block;
      position: absolute;
      bottom: -1px;
      left: 0;
      width: 100%;
      height: 2px;
      background-color: $blue-dark;
      opacity: 0;
      visibility: hidden;
      @include transition(.2s);
    }

    &.active {
      font-weight: 500;
      color: $blue-dark;

      &:after {
        background-color: $blue-dark;
        opacity: 1;
        visibility: visible;
      }
    }

    &:last-child {
      margin-right: 0;
    }
  }
}

.dropdown-add-wrap {
  margin-top: -10px;
}

.admin-add-button {
  display: block;
  font-size: 18px;
  line-height: 20px;
  font-weight: 700;
  color: $blue-dark;
  cursor: pointer;
  outline: none;
  text-decoration: none;
  @include transition(.2s);

  @media (max-width: $screen-sm-max) {
    margin-bottom: 30px;
  }

  &:hover, &.dark {
    color: #333;
    text-decoration: none;

    .mdi {
      color: #333;
    }
  }

  &.dark {
    margin-bottom: 30px;
  }

  &.view-archive-button {
    margin: 20px 0;
  }

  .mdi {
    display: inline-block;
    vertical-align: middle;
    font-size: 20px;
    line-height: 20px;
    position: relative;
    top: -1px;
    color: $blue-dark;
    @include transition(.2s);
  }
}

.content-wrapper [class*=col-] {
  margin-bottom: 30px;
}

.content-cards {
  padding: 10px;
  height: 100%;
  background-color: #fff;
  box-shadow: $bs-default;
  border-radius: 8px;
  cursor: pointer;
  @include transition(.3s);

  &:hover {
    box-shadow: $bs-hover;

    .card-description {
      .name-article {
        color: $blue-dark;
      }
    }
  }

  .card-img {
    width: 150px;
    height: 150px;
    border-radius: 8px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    margin-right: 25px;

    &.no-photo {
      background-image: url('../images/no-photo.png');
      border: 1px solid #e6e6e6;
    }

    @media (max-width: $screen-xs-max) {
      display: none;
    }
  }

  .card-description {
    flex: 1;
    padding: 10px 0;
    position: relative;

    @media (max-width: $screen-xs-max) {
      padding: 0;
    }

    span {
      display: block;
    }

    .mdi {
      position: absolute;
      top: 5px;
      right: 5px;
      font-size: 20px;
      line-height: 20px;
      cursor: pointer;
      color: $blue-dark;

      @media (max-width: $screen-xs-max) {
        top: 0;
        right: 0;
      }
    }

    .name-category {
      font-size: 12px;
      line-height: 14px;
      margin-bottom: 5px;
    }

    .name-article {
      font-size: 24px;
      line-height: 26px;
      font-weight: 700;
      text-transform: uppercase;
      margin-bottom: 10px;
      @include transition(.2s);

      @media (max-width: $screen-xs-max) {
        font-size: 18px;
        line-height: 20px;
        margin-bottom: 5px;
      }
    }

    .date {
      font-size: 18px;
      line-height: 20px;
      color: #666;
      margin-bottom: 5px;

      @media (max-width: $screen-xs-max) {
        font-size: 14px;
        line-height: 16px;
      }
    }

    p {
      font-size: 16px;
      line-height: 23px;
      font-weight: 300;
      margin: 0;

      @media (max-width: $screen-xs-max) {
        font-size: 14px;
        line-height: 20px;
      }
    }
  }
}

.admin-edit-top {
  margin-bottom: 50px;

  @media (max-width: $screen-xs-max) {
    margin-bottom: 30px;
  }
}

.admin-back {
  display: block;
  font-size: 18px;
  line-height: 20px;
  font-weight: 700;
  color: $blue-dark;
  text-decoration: none;
  text-transform: uppercase;
  @include transition(.2s);

  @media (max-width: $screen-xs-max) {
    margin-bottom: 15px;
  }

  &:hover {
    text-decoration: none;
    color: #333;
  }

  .mdi {
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
    position: relative;
    top: -1px;
    font-size: 20px;
    line-height: 20px;
  }
}

.edit-controls {
  a {
    display: inline-block;
    vertical-align: middle;
    margin-left: 15px;
    font-size: 18px;
    line-height: 20px;
    font-weight: 700;
    letter-spacing: .5px;
    @include transition(.2s);

    @media (max-width: $screen-xs-max) {
      margin-left: 0;
      margin-right: 15px;
    }

    &:hover {
      text-decoration: none;
    }

    &.move {
      color: $blue-dark;
    }

    &.archive {
      color: $red;
    }

    .mdi {
      display: inline-block;
      vertical-align: middle;
      font-size: 20px;
      line-height: 20px;
      margin-top: -1px;
    }
  }

  .dropdown {
    display: inline-block;
    vertical-align: middle;
    margin-left: 15px;

    @media (max-width: $screen-xs-max) {
      margin-left: 0;
    }
  }
}

.add-tag-wrapper {
  .add-tag-form {
    margin-bottom: 35px;

    .input-row {
      width: 100%;
      margin: 0 100px 0 0;
    }
  }
}

.edit-wrapper {
  .edit-top {
    margin-bottom: 40px;
  }

  .article-title {
    display: block;
    text-transform: uppercase;
    font-size: 18px;
    line-height: 20px;
    font-weight: 700;
    color: $blue-dark;

    @media (max-width: $screen-xs-max) {
      font-size: 17px;
      line-height: 19px;
    }

    .mdi {
      margin-left: 10px;
      cursor: pointer;
    }
  }

  .textarea-edit {
    height: 350px;
    width: 100%;
    border-radius: 3px;
    border: solid 1px #99a9b8;
    padding: 15px;
    resize: none;
    outline: none;
    color: #333;
    margin-bottom: 40px;

    &.height120 {
      height: 120px;
    }
  }
}

.edit-buttons {
  @media (max-width: $screen-xs-max) {
    display: block !important;
  }

  a {
    margin-left: 30px;

    @media (max-width: $screen-md-max) {
      min-width: initial;
      padding: 13px;
    }

    @media (max-width: $screen-xs-max) {
      margin-left: 0;
      margin-bottom: 15px;
    }
  }
}

.btn-sign {
  display: inline-block;
  min-width: 275px;
  min-height: 50px;
  border-radius: 3px;
  outline: none;
  font-size: 18px;
  line-height: 20px;
  font-weight: 700;
  color: $blue-dark;
  border: 2px solid $blue-dark;
  cursor: pointer;
  padding: 13px 0;
  text-transform: uppercase;
  text-align: center;
  @include transition(.2s);

  @media (max-width: $screen-xs-max) {
    width: 100%;
  }

  &:hover, &.signed {
    background-color: $blue-dark;
    text-decoration: none;
    color: #fff;

    .st0 {
      fill: #fff !important;
    }
  }

  svg {
    display: inline-block;
    vertical-align: middle;
    width: 41px;
    margin-left: -41px;

    .st0 {
      @include transition(.2s);
    }
  }
}

.system-text {
  @include center(both);
  text-align: center;
  width: 100%;
  padding: 0 15px;

  @media (max-width: $screen-xs-max) {
    @include reset-position;
    padding: 50px 0;
  }

  span {
    display: block;
    font-size: 24px;
    line-height: 26px;
    font-weight: 300;
    text-transform: uppercase;
    margin-bottom: 10px;
  }

  p {
    font-size: 16px;
    line-height: 20px;
    font-weight: 300;
    margin: 0;
  }
}

.admin-select-lang {
  margin-bottom: 50px;

  @media (max-width: $screen-xs-max) {
    margin-bottom: 20px;
  }

  a {
    display: inline-block;
    vertical-align: middle;
    text-transform: uppercase;
    color: #99a9b8;
    font-size: 18px;
    line-height: 20px;
    font-weight: 700;
    position: relative;
    margin-right: 20px;
    @include transition(.3s);

    @media (max-width: $screen-xs-max) {
      font-size: 14px;
    }

    &:hover {
      text-decoration: none;
      color: $blue-dark;
    }

    &:last-child {
      margin-right: 0;
    }

    &:after {
      content: '';
      display: none;
      position: absolute;
      top: -28px;
      left: 50%;
      transform: translateX(-50%);
      border: 10px solid transparent;
      border-top-color: #f1f5f8;
    }

    &.active {
      color: $blue-dark;

      &:after {
        display: block;
      }
    }
  }
}

.admin-profile-holder {
  max-width: 1000px;
}

.admin-change-pass-wrapper {
  max-width: 320px;

  .enter-form-button {
    .btn-site {
      min-width: initial;
      width: 100%;
    }
  }
}

.stop-words-columns {
  margin-top: 50px;

  .stop-words-col {
    width: 220px;
    margin-right: 30px;
    margin-bottom: 30px;

    .letter {
      display: block;
      font-size: 30px;
      line-height: 32px;
      font-weight: 700;
      margin-bottom: 10px;
    }

    ul {
      padding: 0;
      margin: 0;
      list-style: none;

      li {
        margin-bottom: 10px;
        cursor: pointer;

        &:hover {
          mark {
            color: $blue-dark;
            border-bottom-color: $blue-dark;
          }

          .mdi {
            opacity: 1;
            visibility: visible;
          }
        }

        mark {
          display: inline-block;
          vertical-align: middle;
          font-size: 18px;
          line-height: 20px;
          font-weight: 300;
          background: none;
          padding: 0;
          border-bottom: 1px solid transparent;
          @include transition(.2s);
        }

        .mdi {
          display: inline-block;
          vertical-align: middle;
          margin-left: 5px;
          color: $blue-dark;
          font-size: 20px;
          line-height: 20px;
          opacity: 0;
          visibility: hidden;
          @include transition(.2s);
        }
      }
    }
  }
}

.moderation-wrapper {
  background: none;

  .chat-header {
    display: none !important;

    @media (max-width: $screen-sm-max) {
      display: flex !important;
    }
  }

  .chat-wrap {
    height: auto;

    .chat-list-body {
      height: auto;
    }
  }
}

.moderation-menu {
  padding: 30px 30px 0 30px;

  @media (max-width: $screen-sm-max) {
    padding: 20px 15px;
  }

  .admin-menu {
    margin: 0;
  }
}

.moderation-list-row {
  margin-bottom: 20px;
  box-shadow: $bs-default !important;
  overflow: hidden;
  @include transition(.3s);

  &:hover {
    box-shadow: none !important;
  }

  .chat-list-row {
    margin: 0;
    box-shadow: $bs-default !important;
    position: relative;
    z-index: 1;

    &:hover {
      box-shadow: $bs-default !important;
    }

    &.active {
      border-color: transparent;
    }
  }

  .chat-input-wrapper {
    @include reset-position;
    position: relative;
    padding: 10px 15px 5px 20px;
  }
}

.moderation-buttons {
  @media (max-width: $screen-md-max) {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    bottom: 90%;
    right: 10px;
    @include transition(.3s);

    &.show {
      bottom: 100%;
      opacity: 1;
      visibility: visible;
    }
  }

  span {
    display: inline-block;
    vertical-align: middle;
    width: 30px;
    height: 30px;
    border-radius: 8px;
    position: relative;
    font-size: 20px;
    line-height: 20px;
    cursor: pointer;
    color: #fff;

    @media (max-width: $screen-md-max) {
      display: block;
      margin: 10px 0;
    }

    &.mdi-close {
      background-color: $yellow;
      color: #333;
    }

    &.mdi-cancel, &.mdi-delete {
      background-color: $red;
    }

    &.mdi-pause {
      background-color: $blue-dark;
    }

    &.mdi-check {
      background-color: $green;
    }

    &:before {
      @include center(both);
    }
  }
}

.project-chat-name {
  border-bottom: 1px solid #99a9b8;
  margin-bottom: 30px;
  margin-left: -30px;
  margin-right: -30px;
  padding: 0 30px 30px 30px;

  a, .skill-name {
    display: inline-block;
    vertical-align: middle;
    font-size: 18px;
    line-height: 20px;
    font-weight: 700;
    text-decoration: underline;
    color: $blue-dark;

    &:hover {
      text-decoration: none;
    }
  }

  .skill-name {
    text-decoration: none;
  }

  .mdi {
    display: inline-block;
    vertical-align: middle;
    color: $blue-dark;
    font-size: 20px;
    line-height: 20px;
    margin: 0 10px;
  }
}

.settings-columns {
  &.category-columns {
    .settings-col {
      height: 100px;
    }
  }

  .settings-col {
    width: 275px;
    height: 275px;
    border-radius: 8px;
    background-color: #ffffff;
    box-shadow: $bs-default;
    margin-right: 15px;
    margin-bottom: 15px;
    padding: 20px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    user-select: none;
    @include transition(.2s);

    &:hover {
      box-shadow: none;
    }

    @media (max-width: $screen-xs-max) {
      width: 100%;
      margin-right: 0;
    }

    &:after {
      content: '';
      display: block;
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 30px;
      background: linear-gradient(to top, white, rgba(255, 255, 255, 0));
    }

    .mdi {
      display: block;
      position: absolute;
      right: 15px;
      font-size: 23px;
      line-height: 23px;
      cursor: pointer;
      z-index: 10;

      &.edit {
        top: 15px;
        color: $blue-dark;
      }

      &.move {
        bottom: 15px;
        color: #333;
      }
    }

    .settings-list {
      padding-right: 25px;

      span {
        display: block;
        font-size: 14px;
        line-height: 18px;
        font-weight: 300;
        margin-bottom: 7px;

        &.main {
          font-size: 16px;
          line-height: 20px;
          font-weight: 700;
        }
      }
    }
  }
}

.select-size-img {
  margin-bottom: 50px;

  .upload-wrapper {
    .upload-input {
      max-width: 275px;
    }
  }

  > span {
    display: block;
    margin-bottom: 10px;
    font-size: 18px;
    line-height: 20px;
    font-weight: 300;
  }

  .upload-img {
    margin-bottom: 15px;

    .upload-block {
      position: relative;
      border: 1px solid #b7b7b7;
      border-radius: 3px;
      height: 50px;
      margin-right: 20px;
      cursor: pointer;
      overflow: hidden;
      @include transition(.3s);

      &:hover {
        border-color: $blue-dark;
        
        .mdi {
          color: $blue-dark;
        }
      }

      &.w80 {
        width: 80px;
      }

      &.w40 {
        width: 40px;
      }

      &.w30 {
        width: 30px;
      }

      input {
        position: absolute;
        top: -30px;
        left: 0;
        width: 100%;
        height: calc(100% + 30px);
        z-index: 1;
        cursor: pointer;
        opacity: 0;
        color: transparent;
      }

      .mdi {
        @include center(both);
        font-size: 20px;
        line-height: 22px;
        color: #b7b7b7;
        @include transition(.3s);
      }
    }
  }
}

.add-photo-title {
  display: block;
  text-align: center;
  font-size: 30px;
  line-height: 32px;
  font-weight: 300;
  letter-spacing:  .8px;
  margin-bottom: 35px;
}

.preview-photo-wrapper {
  margin-bottom: 25px;

  .preview-col {
    border: 2px solid #00bcdd;
    margin-bottom: 20px;

    img {
      width: 100%;
    }
  }
}

.projects-top-wrapper {
  margin-bottom: 40px;

  .input-row {
    margin-bottom: 0;

    @media (max-width: $screen-xs-max) {
      margin-bottom: 20px;
    }
  }
}

.undo-button {
  cursor: pointer;

  &:hover {
    .undo-txt {
      text-decoration: none;
    }
  }

  span {
    display: inline-block;
    vertical-align: middle;
    color: #333 !important;
  }

  .undo-txt {
    font-size: 18px;
    line-height: 20px;
    font-weight: 700;
    text-decoration: underline;
    @include transition(.2s);
  }

  .mdi {
    font-size: 20px;
    line-height: 20px;
    margin: 0;
  }
}

.skills-row {
  border: 1px solid #99a9b8;
  border-radius: 8px;
  margin-bottom: 20px;
  padding: 10px;
  min-height: 52px;
  cursor: pointer;
  width: 100%;
  @include transition(.6s);

  &.active {
    .confirm-button-wrap,
    .remove-button-wrap {
      display: block;
    }

    .skill {
      margin: 0 15px;
    }
  }

  &.multi-select {
    background: $blue-dark;
    border-color: $blue-dark;
    width: calc(100% - 50px);

    .skill {
      color: #fff;
    }
  }

  .skill {
    flex: 1;
    font-size: 16px;
    line-height: 18px;
    font-weight: 300;
    margin: 0;
  }

  .confirm-button-wrap,
  .remove-button-wrap {
    width: 30px;
    height: 30px;
    border-radius: 8px;
    text-align: center;
    display: none;
    
    .mdi {
      color: #fff;
      font-size: 18px;
      line-height: 30px;
    }
  }
  
  .confirm-button-wrap {
    background: $green;
  }

  .remove-button-wrap {
    background: $red;
  }
}

.core-skill {
  padding: 5px 20px;
  border-radius: 8px;
  max-width: 350px;
  cursor: pointer;
  border: 1px solid transparent;
  margin-bottom: 5px;
  @include transition(.3s);

  &:hover {
    .core-skill-name {
      text-decoration: underline;
      color: $blue-dark;
    }
  }

  &.active {
    padding: 10px 20px;
    background-color: #fff;
    border-color: #99a9b8;

    .core-skill-controls {
      display: block;
    }

    &:hover {
      border-color: $blue-dark;

      .core-skill-name {
        text-decoration: none;
        color: initial;
      }
    }
  }

  .core-skill-name {
    display: block;
    flex: 1;
    font-size: 18px;
    font-weight: 300;
    color: #333;
  }

  .core-skill-controls {
    display: none;

    .edit-button,
    .confirm-button {
      display: inline-block;
      vertical-align: middle;
      width: 30px;
      height: 30px;
      border-radius: 8px;
      text-align: center;
      margin-left: 5px;

      .mdi {
        color: #fff;
        font-size: 18px;
        line-height: 30px;
      }
    }

    .edit-button {
      background: #99a9b8;
    }

    .confirm-button {
      background: $green;
    }
  }
}

.core-skill-modal {
  max-width: 400px;
}

.skills-radio-wrap {
  margin-bottom: 30px;
}