* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  user-select: none;
}

body {
  font-family: 'Roboto', sans-serif;
  min-width: 320px;
  color: #333;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow-x: hidden;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: 50% 50%;

  @media (max-width: $screen-xs-max) {
    display: block !important;
  }

  &.overflow-h {
    overflow: hidden;
  }
}

main {
  flex: 1;
  position: relative;
  min-height: 80vh;
  //& > div:first-child {
  //  min-height: 80vh
  //}

  &.z-index101 {
    z-index: 101;
  }

  @media (max-width: 1024px) {
    margin-top: 59px;
  }
}

input::-webkit-calendar-picker-indicator {
  opacity: 0;
  z-index: 10;
  cursor: pointer;
  width: 18px;
  height: 20px;
  margin-right: -15px;
}

input[type='date']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  display: none;
}

/* For Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}

input:required {
  box-shadow: none;
}

/* Webkit browsers like Safari and Chrome */
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

textarea {
  background: none;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

//btn styles
.btn-site {
  display: inline-block;
  min-width: 275px;
  min-height: 50px;
  border-radius: 3px;
  outline: none;
  font-size: 18px;
  line-height: 20px;
  font-weight: 700;
  color: #333;
  background: $yellow;
  border: 2px solid transparent;
  cursor: pointer;
  padding: 15px 20px;
  text-transform: uppercase;
  text-align: center;
  @include transition(0.2s);

  @media (max-width: $screen-xs-max) {
    min-width: initial;
    width: 100%;
  }

  &:focus {
    outline: -webkit-focus-ring-color auto 5px;
  }

  &:hover {
    text-decoration: none;
    color: #333;
    background: #ffca3d;
  }

  &.w100 {
    width: 100%;
  }

  &.expired {
    background-color: $grey;
    color: #fff;
  }
  &.blue {
    color: #fff;
    background-color: #4fc5eb;
  }

  &.m-r-15 {
    margin-right: 15px;
  }
}

//checkbox styles
.checkbox {
  &.checkbox_black {
    label {
      .check-wrap {
        border-color: #000;
      }

      .remember-me-text {
        color: #000;
      }
    }

    input {
      &:checked {
        + label {
          .check-wrap {
            background-color: #000;
          }
        }
      }
    }
  }

  &.checkbox_green {
    label {
      .check-wrap {
        border-color: #99a9b8;
      }

      .remember-me-text {
        color: #99a9b8;
      }
    }

    input {
      &:checked {
        + label {
          .check-wrap {
            border-color: $green;
            background-color: $green;
          }
        }
      }
    }
  }

  input {
    opacity: 0;

    &:checked {
      + label {
        .check-wrap {
          background-color: $blue-dark;

          &:after {
            animation: check 0.2s ease-in-out forwards;
            opacity: 1;
            visibility: visible;
          }
        }
      }
    }
  }

  label {
    position: relative;
    padding-left: 30px;
    margin: 0;
    cursor: pointer;
    @include unselectable;

    &:hover {
      .remember-me-text {
        //border-color: transparent;
      }
    }

    .check-wrap {
      position: absolute;
      top: 3px;
      left: 0;
      width: 18px;
      height: 18px;
      border-radius: 2px;
      border: 2px solid $blue-dark;
      @include transition(0.2s);

      &:after {
        content: '';
        display: block;
        position: absolute;
        top: 8px;
        left: 1px;
        border: solid 2px #fff;
        width: 13px;
        height: 6px;
        border-top: none;
        border-right: none;
        transform: rotate(-45deg);
        transform-origin: top left;
        opacity: 0;
        visibility: hidden;
      }
    }

    .remember-me-text {
      display: inline-block;
      font-style: normal;
      color: $blue-dark;
      font-size: 17px;
      line-height: 19px;
      font-weight: 300;
      //border-bottom: 1px solid $blue-dark;
      text-decoration: none;
      @include transition(0.2s);

      @media (max-width: $screen-xs-max) {
        font-size: 14px;
        line-height: 16px;
      }
    }
  }
}

// radio buttons styles
.radio-button {
  display: inline-block;
  vertical-align: middle;

  &.dark-blue {
    display: block;
    margin-bottom: 20px;

    input {
      &:checked {
        + label {
          .radio-circle {
            border-color: $blue-dark;

            &:before {
              background-color: $blue-dark;
            }
          }

          i {
            color: #000;
          }
        }
      }
    }
    label {
      .radio-circle {
        border-color: $blue-dark;

        &:before {
          background-color: $blue-dark;
        }
      }

      i {
        font-weight: 300;
        color: #000;
      }
    }
  }

  input {
    opacity: 0;

    &:checked {
      + label {
        .radio-circle {
          border-color: $blue-light;

          &:before {
            opacity: 1;
            visibility: visible;
          }
        }

        i {
          color: $blue-light;
        }
      }
    }
  }

  label {
    margin: 0;
    cursor: pointer;
    user-select: none;

    .radio-circle {
      display: inline-block;
      vertical-align: middle;
      width: 20px;
      height: 20px;
      margin-right: 5px;
      border-radius: 50%;
      border: 2px solid #99a9b8;
      position: relative;
      @include transition(0.3s);

      &.vertical-top {
        vertical-align: top;
      }

      &:before {
        content: '';
        display: block;
        width: 10px;
        height: 10px;
        background-color: $blue-light;
        border-radius: 50%;
        opacity: 0;
        visibility: hidden;
        @include center(both);
        @include transition(0.3s);
      }
    }

    i {
      display: inline-block;
      vertical-align: middle;
      font-size: 18px;
      line-height: 20px;
      font-weight: 700;
      font-style: normal;
      letter-spacing: 0.5px;
      color: #99a9b8;
      @include transition(0.3s);
    }
  }
}

input {
  background: none;
}

.wrapper {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 15px;
  position: relative;
  z-index: 10;
}

// keyframes
@keyframes overshadowing-dx {
  0% {
    z-index: 2;
    transform: perspective(160px) translate3d(0px, 0px, 0px);
    opacity: 1;
  }
  100% {
    z-index: 1;
    transform: perspective(160px) translate3d(215px, 0px, -85px);
  }
}

@keyframes overshadowing-sx {
  0% {
    z-index: 2;
    transform: perspective(160px) translate3d(0px, 0px, 0px);
    opacity: 1;
  }
  100% {
    z-index: 1;
    transform: perspective(160px) translate3d(-215px, 0px, -85px);
  }
}

@keyframes foregrounding-dx {
  0% {
    z-index: 1;
    transform: perspective(160px) translate3d(215px, 0px, -85px);
  }
  50% {
    z-index: 2;
    transform: perspective(160px) translate3d(500px, 0px, -85px);
  }
  100% {
    z-index: 2;
    transform: perspective(160px) translate3d(0px, 0px, 0px);
    opacity: 1;
  }
}

@keyframes foregrounding-sx {
  0% {
    z-index: 1;
    transform: perspective(160px) translate3d(-215px, 0px, -85px);
  }
  50% {
    z-index: 2;
    transform: perspective(160px) translate3d(-500px, 0px, -85px);
  }
  100% {
    z-index: 2;
    transform: perspective(160px) translate3d(0px, 0px, 0px);
    opacity: 1;
  }
}

// keyframes login/register animation mobile
@keyframes overshadowing-dx-mob {
  0% {
    z-index: 2;
    transform: perspective(160px) translate3d(0px, 0px, 0px);
    opacity: 1;
  }
  100% {
    z-index: 1;
    transform: perspective(160px) translate3d(135px, 0px, -85px);
  }
}

@keyframes overshadowing-sx-mob {
  0% {
    z-index: 2;
    transform: perspective(160px) translate3d(0px, 0px, 0px);
    opacity: 1;
  }
  100% {
    z-index: 1;
    transform: perspective(160px) translate3d(-135px, 0px, -85px);
  }
}

@keyframes foregrounding-dx-mob {
  0% {
    z-index: 1;
    transform: perspective(160px) translate3d(135px, 0px, -85px);
  }
  50% {
    z-index: 2;
    transform: perspective(160px) translate3d(300px, 0px, -85px);
  }
  100% {
    z-index: 2;
    transform: perspective(160px) translate3d(0px, 0px, 0px);
    opacity: 1;
  }
}

@keyframes foregrounding-sx-mob {
  0% {
    z-index: 1;
    transform: perspective(160px) translate3d(-135px, 0px, -85px);
  }
  50% {
    z-index: 2;
    transform: perspective(160px) translate3d(-300px, 0px, -85px);
  }
  100% {
    z-index: 2;
    transform: perspective(160px) translate3d(0px, 0px, 0px);
    opacity: 1;
  }
}

@keyframes wave {
  from {
    width: 0;
  }

  to {
    width: 100%;
  }
}

@keyframes check {
  0% {
    width: 0;
    height: 0;
  }

  50% {
    width: 0;
    height: 6px;
  }
  100% {
    width: 13px;
  }
}

.section-top {
  background: $gradient;
  margin-top: -70px;
  padding: 190px 0 30px 0;
  position: relative;
  z-index: 15;

  @media (max-width: 900px) {
    padding-top: 90px;
  }

  &.article-top {
    padding: 0;
    height: 95px;

    @media (max-width: 900px) {
      height: 69px;
    }
  }
}

.title-wrap {
  text-align: center;
  margin-bottom: 50px;

  @media (max-width: 900px) {
    margin-bottom: 20px;
  }

  span {
    display: block;
    text-transform: uppercase;
    font-size: 30px;
    line-height: 32px;
    font-weight: 300;
    color: #fff;
  }

  p {
    font-size: 18px;
    line-height: 20px;
    font-weight: 300;
    color: #fff;
    margin: 20px 0 0 0;
  }
}

.partner-nav {
  @include transition(0.3s);

  .categories-wrapper {
    margin: 0;
  }
}

.fixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: $blue-dark;
  z-index: 100;

  .consulting-nav {
    a {
      color: #fff;
    }
  }
}

.categories-wrapper {
  border-bottom: 1px solid #ebebeb;
  margin-bottom: 50px;

  @media (max-width: 1024px) {
    //flex-direction: column-reverse !important;
    //align-items: flex-start !important;
    display: block !important;
    border: none;
    margin-bottom: 20px;
  }

  @media (max-width: $screen-xs-max) {
    margin-bottom: 0;
  }

  &.search-active {
    border-bottom: 1px solid transparent;

    .categories-list {
      .category-active {
        a {
          &:first-child {
            display: inline-block;
          }

          &:after {
            display: none;
          }
        }

        .mdi {
          display: inline-block;
        }
      }

      .categories-dropdown {
        opacity: 0;
        visibility: hidden;
        position: absolute;
        top: 100%;
        left: 0;
        box-shadow: $bs-hover;
        background-color: #fff;
        padding: 10px;
        border-radius: 3px;
        border: none;
        margin-top: 10px;
        min-width: 190px;

        a {
          display: block;
          color: #333;
          padding: 10px 0;
          font-size: 16px;
          line-height: 18px;

          &:hover {
            color: $blue-dark;
            text-decoration: none;
          }
        }

        .categories-more {
          .selected {
            display: none;
          }

          .dropdown-menu {
            display: block !important;
            position: relative !important;
            top: auto !important;
            transform: none !important;
            padding: 0;
            margin: 0;
            box-shadow: none;
          }
        }
      }
    }

    .search-wrap {
      .search-input-wrap {
        opacity: 1;
        visibility: visible;
        width: 100%;
      }
    }
  }

  .categories-list {
    padding: 7px 0;
    position: relative;

    @media (max-width: 1024px) {
      display: block !important;
      width: 100%;
      margin-bottom: 15px;
    }

    .category-active-mobile {
      display: none;

      @media (max-width: 1024px) {
        display: block;
      }

      font-size: 18px;
      line-height: 20px;
      font-weight: 300;
      color: #fff;
      text-decoration: none;
      text-shadow: 0 0 0.65px #fff, 0 0 0.65px #fff;

      &:after {
        content: '';
        display: block;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 1px;
        background-color: #fff;
        opacity: 1;
        visibility: visible;
      }

      span {
        float: right;
      }
    }

    .category-active {
      position: relative;

      @media (max-width: 1024px) {
        display: none;
      }

      &:after {
        content: '';
        display: block;
        position: absolute;
        bottom: -9px;
        left: 0;
        width: 100%;
        height: 2px;
        background-color: #fff;
      }

      a {
        margin-left: 0;
        margin-right: 0;
        display: none;
      }

      .mdi {
        display: none;
        color: #fff;
      }
    }

    .categories-dropdown {
      z-index: 100;
      //@include transition(.4s);

      &.hidden-dropdown {
        @media (max-width: 1024px) {
          display: none;
        }
      }

      @media (max-width: 1024px) {
        //display: none;
        position: absolute;
        top: 100% !important;
        transform: none !important;
        left: 0;
        margin: 0;
        box-shadow: $bs-hover;
        background-color: #fff;
        padding: 15px 15px 0 15px;
        border-radius: 0 0 3px 3px;
        border: none;
        width: 100%;

        &.mobile-toggle {
          display: block;
        }
      }

      &.show-dropdown {
        opacity: 1;
        visibility: visible;

        a {
          margin: 0 10px !important;

          &.active {
            display: none;
          }
        }
      }
    }

    .categories-more {
      display: inline-block;
      vertical-align: middle;
      position: relative;

      @media (max-width: 1024px) {
        .selected {
          display: none;
        }
      }

      .dropdown-menu {
        background-color: #fff;
        padding: 10px 20px;
        border-radius: 3px;
        border: none;
        margin-top: 10px;
        min-width: 190px;
        box-shadow: $bs-hover;

        @media (max-width: 1024px) {
          display: block !important;
          position: relative !important;
          top: auto !important;
          transform: none !important;
          padding: 0;
          margin: 0;
          box-shadow: none;
          background: none;
        }

        a {
          display: block;
          color: #333;
          padding: 10px 0;
          font-size: 16px;
          line-height: 18px;
          position: relative;
          background: none;
          //@include transition(.2s);

          @media (max-width: 1024px) {
            margin: 0 0 15px 0;
            color: #333;
            font-size: 18px;
            line-height: 20px;
            font-weight: 300;
            padding: 0;
          }

          &:hover {
            color: $blue-dark;
            text-shadow: 0 0 .55px $blue-dark;
          }
        }
      }
    }

    a {
      display: inline-block;
      vertical-align: middle;
      font-size: 18px;
      line-height: 20px;
      font-weight: 300;
      color: #fff;
      margin-right: 20px;
      position: relative;
      //@include transition(.2s);

      &:after {
        content: '';
        display: block;
        position: absolute;
        bottom: -11px;
        left: 0;
        width: 100%;
        height: 2px;
        background-color: #fff;
        opacity: 0;
        visibility: hidden;
        @include transition(0.2s);
      }

      &:hover {
        text-decoration: none;
        text-shadow: 0 0 0.65px #fff, 0 0 0.65px #fff;
      }

      @media (max-width: 1024px) {
        display: block;
        margin: 0 0 15px 0;
        padding: 0;
        color: #333;
      }

      &:last-child {
        margin-right: 0;
      }

      &.active {
        text-decoration: none;
        text-shadow: 0 0 0.65px #fff, 0 0 0.65px #fff;
        color: #fff;

        &:hover {
          color: #fff;
        }

        @media (max-width: 1024px) {
          display: none;
        }

        &:after {
          opacity: 1;
          visibility: visible;

          @media (max-width: 900px) {
            display: none;
          }
        }
      }
    }
  }
}

.start-blog-button {
  display: inline-block;
  position: absolute;
  bottom: -30px;
  right: 15px;
  font-size: 16px;
  line-height: 18px;
  font-weight: 700;
  color: $blue-dark;
  text-decoration: underline;
  background-color: #f1f5f8;
  border-radius: 3px 3px 0 0;
  padding: 10px 20px 8px 20px;

  @media (max-width: $screen-xs-max) {
    bottom: -45px;
  }

  &:hover {
    text-decoration: none;
    color: $blue-dark;
  }
}

.mx-datepicker {
  @media (max-width: $screen-xs-max) {
    width: 100% !important;
  }
}

.search-wrap {
  position: relative;
  flex: 1;
  height: 40px;
  margin-left: 30px;

  @media (max-width: 900px) {
    display: block !important;
    margin-left: 0;
    width: 100%;
    margin-bottom: 30px;
  }

  .search-button {
    display: block;
    font-size: 22px;
    line-height: 22px;
    height: 22px;
    color: #fff;
    cursor: pointer;
    right: 0;
    @include center(vertical);
    @include transition(0.2s);

    @media (max-width: 900px) {
      left: 0;
      right: auto;
    }

    &:hover {
      color: $yellow;

      @media (max-width: 900px) {
        color: #fff;
      }
    }
  }

  .search-input-wrap {
    position: absolute;
    top: 1px;
    right: 0;
    height: 40px;
    width: 40px;
    opacity: 0;
    visibility: hidden;
    @include transition(0.6s);

    @media (max-width: 900px) {
      width: 100%;
      opacity: 1;
      visibility: visible;
    }

    input {
      display: block;
      width: 100%;
      height: 40px;
      border: none;
      border-bottom: 1px solid #ebebeb;
      font-size: 18px;
      line-height: 20px;
      font-weight: 300;
      color: #fff;
      outline: none;
      padding: 10px 30px 10px 0;

      @media (max-width: 900px) {
        padding: 10px 10px 10px 30px;
      }

      @include input-placeholder {
        font-size: 18px;
        line-height: 20px;
        font-weight: 300;
        color: #fff;
      }
    }
  }
}

.filters-wrapper {
  text-align: center;

  @media (max-width: $screen-xs-max) {
    text-align: left;
  }

  .filter-col {
    display: inline-block;
    vertical-align: middle;
    margin: 0 10px 20px 10px;

    @media (max-width: $screen-xs-max) {
      display: block;
      margin: 0 0 15px 0;
    }

    &.sorted-by-dropdown {
      .select-wrapper {
        select {
          width: 150px;

          @media (max-width: $screen-xs-max) {
            width: 100%;
          }
        }
      }
    }

    label {
      display: inline-block;
      vertical-align: middle;
      margin: 0 10px 0 0;
      font-size: 24px;
      line-height: 26px;
      letter-spacing: 0.6px;
      color: #fff;

      @media (max-width: $screen-xs-max) {
        display: block;
        margin: 0 0 10px 0;
        letter-spacing: normal;
        font-size: 20px;
        line-height: 22px;
      }
    }

    .dropdown-select {
      display: inline-block;
      vertical-align: middle;
      min-width: 150px;
      height: 40px;
      border-radius: 3px;
      box-shadow: 0 8px 13px 0 rgba(13, 71, 161, 0.08);
      background-color: #fff;
      border: none;
      padding: 0;

      @media (max-width: $screen-xs-max) {
        min-width: initial;
        width: 100% !important;
      }

      &.dropdown-country {
        .selected-wrap {
          &.active {
            .label {
              opacity: 0;
              visibility: hidden;
            }
          }
        }
      }

      .dropdown-menu {
        width: 200px;
        border-radius: 3px;
        transform: translate3d(0px, 40px, 0px) !important;

        @media (max-width: $screen-xs-max) {
          width: 100%;
        }
      }

      .selected-wrap {
        padding: 9px 30px 8px 15px;
        border: none;
        text-align: left;

        .selected-item {
          font-size: 18px;
          line-height: 20px;
          letter-spacing: 0.5px;
          color: #666;
          font-weight: 400;
        }

        .mdi {
          font-size: 24px;
          line-height: 24px;
          right: 5px;
          @include center(vertical);
        }
      }
    }

    .date-wrapper {
      position: relative;
      display: inline-block;
      vertical-align: middle;

      @media (max-width: $screen-xs-max) {
        display: block;
      }

      .mdi {
        display: block;
        @include center(vertical);
        right: 5px;
        font-size: 23px;
        line-height: 23px;
        color: #333;
        margin-top: 1px;
      }

      input {
        display: block;
        width: 170px;
        height: 40px;
        border-radius: 3px;
        box-shadow: $bs-default;
        background-color: #fff;
        border: none;
        padding: 8px 15px;
        font-size: 18px;
        line-height: 20px;
        letter-spacing: 0.5px;
        color: #666;
        outline: none;

        @media (max-width: $screen-xs-max) {
          width: 100%;
        }
      }
    }
  }
}

.repeat-title18 {
  display: block;
  font-size: 18px;
  line-height: 20px;
  font-weight: 700;
  margin-bottom: 30px;

  @media (max-width: $screen-xs-max) {
    margin-bottom: 15px;
  }
}

.select-wrapper {
  display: inline-block;
  vertical-align: middle;
  position: relative;

  @media (max-width: $screen-xs-max) {
    display: block;
  }

  &.select-border {
    select {
      border: 1px solid #2c3447;
      box-shadow: none;
    }
  }

  .mdi {
    display: block;
    @include center(vertical);
    right: 0;
    pointer-events: none;
    font-size: 24px;
    line-height: 24px;
  }

  select {
    display: block;
    min-width: 150px;
    height: 40px;
    border-radius: 3px;
    box-shadow: $bs-default;
    background-color: #fff;
    border: none;
    padding: 8px 21px 8px 15px;
    font-size: 18px;
    line-height: 20px;
    letter-spacing: 0.5px;
    color: #666;
    //outline: none;
    cursor: pointer;
    -webkit-appearance: none;

    @media (max-width: $screen-xs-max) {
      width: 100%;
    }
  }
}

.filters-active {
  @media (max-width: $screen-xs-max) {
    display: block !important;
  }

  .filters-title {
    display: block;
    margin-right: 20px;
    font-size: 18px;
    line-height: 20px;
    color: #fff;
    padding: 10px 0;
  }

  .filters-list {
    flex: 1;

    .filters-clear {
      display: inline-block;
      vertical-align: middle;
      font-size: 18px;
      line-height: 20px;
      color: #fff;
      margin: 0 20px 20px 0;
      cursor: pointer;
      text-decoration: underline;

      &:hover {
        text-decoration: none;
      }
    }
  }
}

.selected-filter {
  display: inline-block;
  vertical-align: middle;
  border-radius: 3px;
  background-color: $yellow;
  box-shadow: $bs-default;
  padding: 10px 15px;
  font-size: 18px;
  line-height: 20px;
  color: #666;
  margin: 0 20px 20px 0;
  @include transition(0.2s);

  &:hover {
    box-shadow: $bs-hover;
  }

  .mdi {
    vertical-align: middle;
    margin-left: 10px;
    font-size: 20px;
    cursor: pointer;
    @include transition(0.2s);

    &:hover {
      color: #000;
    }
  }
}

.more-filters-wrapper {
  margin-bottom: 30px;

  @media (max-width: $screen-xs-max) {
    margin-bottom: 50px;
  }

  .more-filter-dropdown {
    display: inline-block;
    vertical-align: middle;
    margin-right: 15px;

    &:nth-child(2) {
      .dropdown-menu {
        @media (max-width: $screen-xs-max) {
          margin-left: -75px;
        }
      }
    }

    .selected {
      display: block;
      text-decoration: underline;
      color: #fff;
      font-size: 18px;
      line-height: 20px;
    }

    .dropdown-menu {
      margin-top: 10px;
      padding: 20px;
      min-width: 275px;

      .select-wrapper {
        margin-bottom: 20px;
        width: 100%;

        &:last-child {
          margin-bottom: 0;
        }

        select {
          width: 100%;
        }
      }

      .save-filter-row {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 40px;

        &:last-child {
          margin-bottom: 0;
        }

        &.name {
          margin-bottom: 30px;
        }

        .input-row {
          margin-bottom: 0;
        }

        .mdi {
          display: block;
          font-size: 22px;
          line-height: 22px;
          cursor: pointer;
          width: 22px;
          margin-left: 15px;

          &.edit {
            color: $blue-dark;
          }

          &.delete {
            color: $red;
          }

          &.add {
            color: #4fc5eb;
          }
        }

        .filter-name {
          display: block;
          font-size: 18px;
          line-height: 20px;
          letter-spacing: 0.5px;
          color: #4fc5eb;
          text-decoration: underline;
          border: none;
          outline: none;
        }
      }
    }
  }
}

.article-wrapper {
  padding: 50px 0;
  background-color: #f1f5f8;
  position: relative;
  z-index: 20;
  min-height: calc(100vh - 153px);

  @media (max-width: 1400px) {
    min-height: calc(100vh - 133px);
  }

  @media (max-width: $screen-xs-max) {
    padding: 30px 0;

    h1 {
      font-size: 30px;
    }
  }

  img {
    margin-bottom: 40px;
    border-radius: 3px;

    @media (max-width: $screen-xs-max) {
      margin-bottom: 20px;
    }
  }

  .article-text {
    padding: 0 30px;

    @media (max-width: $screen-xs-max) {
      padding: 0;
    }
  }

  h2 {
    margin: 0 0 15px 0;
    font-size: 24px;
    line-height: 26px;
    font-weight: 700;

    @media (max-width: $screen-xs-max) {
      font-size: 18px;
      line-height: 20px;
    }
  }

  p {
    text-align: justify;
    margin: 0 0 30px 0;
    font-size: 18px;
    font-weight: 300;

    @media (max-width: $screen-xs-max) {
      font-size: 16px;
      line-height: 26px;
    }
  }

  ul {
    padding: 0;
    margin: 0 0 30px 0;
    list-style: none;

    li {
      font-size: 18px;
      line-height: 30px;
      font-weight: 300;

      @media (max-width: $screen-xs-max) {
        font-size: 16px;
        line-height: 26px;
      }
    }
  }
}

.tags-section {
  padding: 0 30px;
  margin-bottom: 50px;

  @media (max-width: $screen-xs-max) {
    padding: 0;
  }

  .tag {
    display: inline-block;
    vertical-align: middle;
    background: none;
    padding: 0;
    font-size: 16px;
    line-height: 18px;
    font-weight: 300;
    color: $blue-dark;
    border-bottom: 1px solid $blue-dark;
    cursor: pointer;
    margin-right: 10px;
    margin-bottom: 10px;
    @include transition(0.2s);

    &:hover {
      border-color: transparent;
    }
  }
}

.career-details {
  padding: 0 30px;

  @media (max-width: $screen-xs-max) {
    padding: 0;
  }

  h3 {
    text-transform: uppercase;
    color: $blue-dark;
    font-size: 24px;
    line-height: 26px;
    font-weight: 700;
    margin: 0 0 30px 0;
  }

  span {
    display: block;
    font-size: 24px;
    line-height: 26px;
  }
}

.careers-connect-wrap {
  max-width: 720px;
  margin: 100px auto 0 auto;

  @media (max-width: $screen-xs-max) {
    margin: 40px auto 0 auto;
  }

  .apply-button-wrap {
    margin-bottom: 50px;

    @media (max-width: $screen-xs-max) {
      margin-bottom: 40px;
    }
  }

  p {
    font-size: 24px;
    line-height: 30px;

    @media (max-width: $screen-xs-max) {
      font-size: 16px;
      line-height: 26px;
    }

    a {
      color: #222;
    }
  }
}

.back-to-wrapper {
  margin-bottom: 50px;

  @media (max-width: $screen-xs-max) {
    margin-bottom: 30px;
  }

  a {
    display: inline-block;
    font-size: 24px;
    line-height: 26px;
    font-weight: 700;
    text-transform: uppercase;
    color: $blue-dark;
    text-decoration: none !important;
    @include transition(0.2s);

    @media (max-width: $screen-xs-max) {
      font-size: 20px;
      line-height: 22px;
    }

    &:hover {
      color: #333;

      span {
        color: $blue-dark;
      }
    }

    span {
      display: inline-block;
      margin-right: 10px;
      font-size: 25px;
      line-height: 25px;
      color: #333;
      @include transition(0.2s);

      @media (max-width: $screen-xs-max) {
        font-size: 20px;
        line-height: 20px;
      }
    }

    mark {
      background: none;
      padding: 0;
      color: $grey;
    }
  }
}

// comments styles starts

.comment-wrapper {
  &__author-info {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: $bs-default;
    padding: 20px 30px;
    margin-bottom: 30px;
    position: relative;

    @media (max-width: $screen-sm-max) {
      display: block !important;
    }

    @media (max-width: $screen-xs-max) {
      padding: 20px 15px;
    }
  }
}

.comment-answer-holder {
  padding: 20px 30px;
  background-color: #fff;
  border-radius: 0 0 8px 8px;
  margin-top: -35px;

  @media (max-width: $screen-xs-max) {
    padding: 20px 15px;
  }
}

.author-info-block {
  position: relative;

  @media (max-width: $screen-sm-max) {
    margin-bottom: 20px;
  }

  &:hover {
    .detail-info-hover {
      opacity: 1;
      visibility: visible;
      bottom: 100%;
    }
  }

  .avatar-img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
    margin-right: 20px;

    img {
      @include center(both);
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .author-detail-info {
    span {
      display: block;
      font-size: 14px;
      line-height: 16px;
      font-weight: 300;
      color: #666;
      margin-bottom: 5px;

      &.status {
        position: relative;
        padding-left: 15px;

        &:before {
          content: '';
          display: block;
          position: absolute;
          top: 2px;
          left: 0;
          width: 10px;
          height: 10px;
          border-radius: 50%;
        }
      }

      &.status.online {
        &:before {
          background-color: $green;
        }
      }

      &.status.offline {
        &:before {
          background-color: $grey;
        }
      }
    }

    a,
    i {
      display: block;
      font-size: 16px;
      line-height: 18px;
      color: $blue-dark;
      font-style: normal;
      text-decoration: underline;
      cursor: pointer;

      &:hover {
        text-decoration: none;
      }
    }

    mark {
      display: block;
      padding: 0;
      background: none;
      font-size: 16px;
      line-height: 18px;
      font-weight: 300;
    }
  }

  .detail-info-hover {
    width: 300px;
    position: absolute;
    bottom: 90%;
    padding-bottom: 30px;
    left: -30px;
    opacity: 0;
    visibility: hidden;
    @include transition(0.3s);

    @media (max-width: $screen-xs-max) {
      left: -15px;
    }

    .di-hover-wrapper {
      background-color: #fff;
      box-shadow: $bs-default;
      border-radius: 8px;

      .di-hover-top {
        padding: 20px 20px 0 20px;

        .di-img {
          width: 80px;
          height: 80px;
          border-radius: 50%;

          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 50%;
          }
        }

        .di-text {
          .is-col {
            margin-bottom: 10px;
          }
        }
      }

      .di-hover-optional-wrap {
        padding: 0 20px;

        p {
          font-size: 14px;
          line-height: 1.29;
          font-weight: 300;
          text-align: justify;
          color: #666;
          margin: 0 0 20px 0;
        }

        .send-message {
          display: inline-block;
          font-size: 16px;
          line-height: 18px;
          font-weight: 700;
          color: $blue-dark;
          text-decoration: underline;

          &:hover {
            text-decoration: none;
          }
        }
      }

      .show-hide-optional-wrap {
        font-size: 25px;
        line-height: 10px;
        cursor: pointer;
        display: inline-block;
        margin-top: 20px;
      }

      .di-bottom-info {
        background-color: #99a9b8;
        padding: 15px 20px;
        border-radius: 0 0 8px 8px;

        .di-bottom-col {
          margin-right: 20px;
          white-space: nowrap;

          &:last-child {
            margin-right: 0;
          }

          .mdi {
            display: inline-block;
            vertical-align: middle;
            font-size: 25px;
            line-height: 25px;
            color: #fff;
          }

          mark {
            display: inline-block;
            vertical-align: middle;
            background: none;
            padding: 0;
            font-size: 16px;
            line-height: 18px;
            font-weight: 700;
            color: #fff;
          }
        }
      }
    }
  }
}

.comment-info {
  @media (max-width: $screen-xs-max) {
    display: block !important;
  }
}

.comment-info-col {
  display: inline-block;
  margin-right: 15px;
  position: relative;

  @media (max-width: $screen-sm-max) {
    margin-bottom: 15px;
  }

  &:last-child {
    margin-right: 0;
  }

  &.comment-info-col-last {
    margin-left: auto;
  }

  .comment-info-control {
    display: block;
    text-decoration: none;

    &.answers-info-control {
      &:hover {
        .mdi {
          color: initial;
        }

        mark {
          color: initial;
          border-color: transparent;
        }
      }
    }

    &:hover,
    &.active {
      .mdi {
        color: $blue-dark;
      }

      mark {
        color: $blue-dark;
        border-color: $blue-dark;
      }
    }

    &.active {
      &:hover {
        mark {
          border-color: transparent;
        }
      }
    }

    .mdi {
      display: inline-block;
      vertical-align: middle;
      font-style: normal;
      font-size: 24px;
      line-height: 24px;
      color: #222;
      margin-right: 5px;
      @include transition(0.2s);
    }

    mark,
    i {
      display: inline-block;
      vertical-align: middle;
      background: none;
      padding: 0;
      font-size: 16px;
      line-height: 18px;
      font-weight: 300;
      border-bottom: 1px solid transparent;
      @include transition(0.2s);
    }

    i {
      font-weight: 700;
      font-style: normal;
      color: $blue-dark;
    }
  }
}

.share-block {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: $bs-default;
  width: 300px;
  position: absolute;
  bottom: 30px;
  right: -30px;
  opacity: 0;
  visibility: hidden;
  @include transition(0.3s);

  &.active {
    opacity: 1;
    visibility: visible;
    bottom: 60px;
  }

  .share-block-top {
    padding: 25px 10px;

    .mdi {
      color: #000;
      font-size: 25px;
      line-height: 25px;
      cursor: pointer;
      @include transition(0.2s);

      &.mdi-facebook {
        &:hover {
          color: #3967af;
        }
      }

      &.mdi-google-plus {
        &:hover {
          color: #e64d47;
        }
      }

      &.mdi-linkedin {
        &:hover {
          color: #0073b1;
        }
      }

      &.mdi-telegram {
        &:hover {
          color: #497495;
        }
      }

      &.mdi-twitter {
        &:hover {
          color: #1da1f2;
        }
      }
    }
  }

  .copy-link {
    background-color: #99a9b8;
    padding: 15px 0;
    border-radius: 0 0 8px 8px;
    text-align: center;
    cursor: pointer;

    mark {
      display: block;
      background: none;
      padding: 0;
      font-size: 18px;
      line-height: 20px;
      font-weight: 300;
      color: #fff;

      .mdi {
        display: inline-block;
        vertical-align: middle;
        color: #fff;
        font-size: 20px;
        line-height: 20px;
        margin-right: 5px;
      }
    }
  }
}

.comments-section {
  background-color: #fff;
  box-shadow: $bs-default;
  border-radius: 8px;

  &__header {
    background-color: #99a9b8;
    padding: 30px;
    border-radius: 8px 8px 0 0;

    @media (max-width: $screen-xs-max) {
      padding: 20px 15px;
    }

    > span {
      display: block;
      font-size: 18px;
      line-height: 20px;
      font-weight: 700;
      color: #fff;
    }
  }
}

.comments-section__body {
  padding: 30px;

  @media (max-width: $screen-sm-max) {
    padding: 20px 15px;
  }

  .comment-row {
    margin-bottom: 25px;

    .comment-row-body {
      p {
        font-size: 16px;
        line-height: 1.5;
        font-weight: 300;
        text-align: justify;
        margin: 0 0 20px 0;
      }
    }
  }
}

.comment-row-header {
  margin-bottom: 20px;

  @media (max-width: $screen-xs-max) {
    display: block !important;
  }

  .col-left {
    @media (max-width: $screen-xs-max) {
      margin-bottom: 15px;
    }

    mark {
      display: block;
      font-size: 16px;
      line-height: 18px;
      font-weight: 700;
      color: $blue-dark;
      margin-right: 5px;
      background: none;
      padding: 0;

      &.nolikes {
        color: #99a9b8;
      }

      .mdi {
        vertical-align: middle;
        font-size: 25px;
        line-height: 25px;
        position: relative;
        top: -1px;
      }
    }

    .likes-wrap {
      a {
        display: inline-block;
        vertical-align: middle;

        .mdi {
          display: block;
          color: #99a9b8;
          font-size: 25px;
          line-height: 25px;
        }
      }
    }
  }

  .col-right {
    span {
      display: block;
      font-size: 14px;
      line-height: 16px;
      font-weight: 300;
      color: #666;
    }

    .comment-author {
      margin-right: 20px;

      @media (max-width: $screen-xs-max) {
        margin-bottom: 5px;
      }

      .comment-author-img {
        display: inline-block;
        vertical-align: middle;
        width: 24px;
        height: 24px;
        border-radius: 50%;
        margin-right: 5px;

        img {
          border-radius: 50%;
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }

      .user-link {
        display: inline-block;
        vertical-align: middle;
        font-size: 16px;
        line-height: 18px;
        font-weight: 300;
        color: $blue-dark;
        text-decoration: underline;

        &:hover {
          text-decoration: none;
        }
      }
    }
  }
}

.comment-answer-area {
  .comment-answer {
    padding: 30px 0 0 0;

    .comment-answer-author {
      margin-bottom: 25px;

      .author-img {
        display: inline-block;
        vertical-align: middle;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        margin-right: 10px;

        img {
          border-radius: 50%;
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }

      span {
        display: inline-block;
        vertical-align: middle;
        font-size: 16px;
        line-height: 18px;
        font-weight: 300;
        color: #666;
      }
    }

    .comment-answer-textarea {
      height: 100px;
      width: 100%;
      border-radius: 3px;
      border: solid 1px #99a9b8;
      margin-bottom: 20px;
      padding: 15px;
      resize: none;
      outline: none;
      color: #333;
    }

    .comment-answer-submit {
      display: inline-block;
      min-width: 150px;
      text-align: center;
      padding: 12px;
      text-transform: uppercase;
      background: #99a9b8;
      outline: none;
      border-radius: 3px;
      font-size: 16px;
      line-height: 18px;
      font-weight: 700;
      color: #fff;
      border: none;
      cursor: pointer;
      @include transition(0.2s);

      &:hover {
        background: #798794;
      }
    }
  }
}

.edit-buttons-wrap {
  .edit-button {
    display: block;
    width: 50px;
    height: 50px;
    background-color: #99a9b8;
    border-radius: 3px;
    margin-right: 10px;
    margin-bottom: 10px;
    position: relative;
    text-align: center;
    cursor: pointer;
    @include transition(0.3s);

    &:hover {
      background-color: #798794;
    }

    @media (max-width: $screen-xs-max) {
      width: 25px;
      height: 25px;
    }

    .mdi {
      color: #fff;
      font-size: 20px;
      line-height: 50px;

      @media (max-width: $screen-xs-max) {
        font-size: 15px;
        line-height: 25px;
      }
    }
  }
}

.dropdown-sort {
  .selected {
    display: block;
    cursor: pointer;
    font-size: 18px;
    line-height: 20px;
    font-weight: 700;
    color: #fff;
  }
}

.comment-branch {
  margin: 20px 0;

  .comment-branch-header {
    margin-bottom: 10px;

    &[aria-expanded='true'] {
      mark {
        &.plus {
          display: none;
        }

        &.minus {
          display: block;
        }
      }
    }

    &[aria-expanded='false'] {
      mark {
        &.plus {
          display: block;
        }

        &.minus {
          display: none;
        }
      }
    }

    mark {
      padding: 0;
      background: none;
      font-size: 16px;
      line-height: 18px;
      font-weight: 700;
      color: #99a9b8;
      cursor: pointer;

      .mdi {
        font-size: 23px;
        line-height: 23px;
        position: relative;
        top: 2px;
        margin-right: 3px;
      }
    }
  }

  .comment-branch-body {
    padding-left: 20px;
    border-left: 2px solid #99a9b8;
    margin-left: 10px;

    .comment-row-header {
      padding-top: 20px;
    }
  }
}

// comments styles ends

.dropdown-menu {
  box-shadow: $bs-hover;
  border: none;
  border-radius: 8px;
  padding: 10px 20px;
  margin-top: 10px;

  a {
    display: block;
    color: #333;
    padding: 10px 0;
    font-size: 16px;
    line-height: 18px;
    position: relative;
    background: none;

    img {
      width: 40px;
    }

    &.disabled {
      cursor: default;
      color: $grey !important;

      &.start {
        &:before {
          color: $grey !important;
        }
      }
    }

    &:hover {
      color: $blue-dark;
      background: none;
    }

    &:before {
      display: inline-block;
      font: normal normal normal 24px/1 'Material Design Icons';
      font-size: 22px;
      line-height: 22px;
      text-rendering: auto;
      position: absolute;
      top: 7px;
      left: -5px;
    }

    &.finished {
      color: $red;

      &:before {
        content: '\F23C';
        color: $red;
      }
    }

    &.start {
      color: $blue-light;

      &:before {
        content: '\F23C';
        color: $blue-light;
      }
    }
  }
}

.load-more-button {
  margin: 30px 0;
}

.back-wrapper {
  cursor: pointer;

  &.position-top-left {
    position: absolute;
    top: 1px;
    left: 1px;
  }

  &:hover {
    text-decoration: none;

    .back-icon {
      background-color: #798794;
    }
  }

  .back-icon {
    display: inline-block;
    vertical-align: middle;
    width: 50px;
    height: 50px;
    position: relative;
    border-radius: 3px 0 3px 0;
    background-color: #99a9b8;
    margin-right: 15px;
    @include transition(0.2s);

    .mdi {
      @include center(both);
      color: #fff;
      font-size: 24px;
    }
    &.text {
      display: flex;
      align-items: center;
      width: 100%;
      padding: 0 10px;
      mark {
        width: 100%;
        text-align: center;
        color: #fff;
      }
    }
  }

  mark {
    display: inline-block;
    vertical-align: middle;
    background: none;
    padding: 0;
    font-size: 18px;
    line-height: 20px;
    font-weight: 700;
    color: #333;
    flex: 1;
  }

  a {
    display: block;
    text-decoration: none;
  }
}

.reset-pass-link {
  display: inline-block;
  font-size: 18px;
  line-height: 20px;
  font-weight: 300;
  color: $blue-dark;
  margin: 10px 0;
  border-bottom: 1px solid $blue-dark;
  @include transition(0.2s);

  @media (max-width: $screen-xs-max) {
    display: block;
    text-align: center;
    border-bottom: none;
    text-decoration: underline;
    margin-bottom: 30px;
  }

  &:hover {
    text-decoration: none;
    border-color: transparent;
  }
}

.videoWrap {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  padding-top: 25px;
  height: 0;

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.dropdown-select {
  position: relative;
  min-width: 220px;

  &.dropdown-select-location {
    .dropdown-menu {
      margin-top: -40px;
      transform: translate3d(0, 40px, 0px) !important;
    }
  }

  &.dropdown-software-adm {
    min-width: 145px;

    .selected-wrap {
      border: none;

      .label {
        color: $blue-dark;
        font-weight: 700;
      }

      .mdi {
        color: $blue-dark;

        &.upload {
          right: 43px;
        }
      }
    }

    .dropdown-menu {
      width: 200px;
    }
  }

  &.dropdown-add {
    min-width: initial;

    .selected-wrap {
      border: none;

      .label {
        display: inline-block;
        vertical-align: middle;
        color: $blue-dark;
        font-weight: 700;
        position: initial;
      }

      .mdi {
        color: $blue-dark;

        &.upload {
          right: 43px;
          position: initial;
          display: inline-block;
          vertical-align: middle;
        }
      }
    }

    .dropdown-menu {
      width: 200px;

      @media (min-width: 577px) {
        //transform: translate3d(-120px, 40px, 0px) !important;
      }
    }
  }

  .selected-wrap {
    width: 100%;
    height: 40px;
    border-bottom: 1px solid #333;
    outline: none;
    padding: 7px 30px 9px 10px;
    position: relative;
    cursor: pointer;

    &.active {
      .label {
        top: -14px;
        font-size: 14px;
        line-height: 16px;
      }
    }

    span {
      display: block;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }

    .label {
      display: block;
      font-size: 18px;
      line-height: 20px;
      font-weight: 300;
      position: absolute;
      top: 10px;
      left: 10px;
      user-select: none;
      @include transition(0.2s);
    }

    .selected-item {
      font-size: 18px;
      line-height: 20px;
      font-weight: 300;
    }

    .mdi {
      position: absolute;
      top: 10px;
      right: 10px;
      font-size: 20px;
      line-height: 20px;
    }
  }

  .dropdown-menu {
    min-width: initial;
    width: 100%;
    padding: 0;
    position: relative;
    margin-top: 0;

    &:after {
      content: '';
      display: block;
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 30px;
      border-radius: 0 0 8px 8px;
      background: linear-gradient(
        to top,
        rgba(255, 255, 255, 1),
        rgba(255, 255, 255, 0)
      );
    }

    .dropdown-search {
      position: relative;
      height: 40px;
      border-bottom: 1px solid #ccc;

      .mdi {
        color: #666;
        font-size: 20px;
        line-height: 20px;
        cursor: pointer;
        @include center(vertical);

        &.icon-left {
          left: 20px;
        }

        &.icon-right {
          right: 20px;
        }
      }

      input {
        border: none;
        outline: none;
        padding: 9px 50px;
        width: 100%;
      }
    }

    .dropdown-list-wrapper {
      max-height: 450px;
      overflow: auto;

      .dropdown-list {
        padding: 20px 10px 20px 20px;

        .dropdown-list-row {
          margin-bottom: 40px;

          &:last-child {
            margin-bottom: 0;
          }

          a {
            display: block;
            font-size: 16px;
            line-height: 18px;
            font-weight: 300;
            color: #666;
            padding: 5px 0;
            @include transition(0.2s);

            &:hover, &:focus {
              outline: none;
              text-decoration: none;
              color: $blue-dark;
              text-shadow: 0 0 0.55px $blue-dark;
            }

            &:last-child {
              margin-bottom: 0;
            }

            &.active {
              font-weight: 700;
              color: $blue-dark;
            }
          }
        }
      }
    }
  }
}

.repeat-icon-text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  &:hover {
    i {
      border-color: transparent;
    }
  }

  .mdi {
    display: inline-block;
    vertical-align: middle;
    color: $blue-dark;
    font-size: 35px;
    margin-left: -10px;
  }

  i {
    display: inline-block;
    vertical-align: middle;
    font-size: 24px;
    line-height: 26px;
    font-weight: 400;
    color: $blue-dark;
    font-style: normal;
    border-bottom: 1px solid $blue-dark;
    @include transition(0.2s);
  }
}

.header-title-link {
  display: inline-block;
  font-size: 24px;
  line-height: 26px;
  font-weight: 700;
  color: $blue-dark;
  border-bottom: 2px solid $blue-dark;
  @include transition(0.3s);

  &:hover {
    border-color: transparent;
    text-decoration: none;
  }
}

.overflow-hidden {
  overflow: hidden;
}

.error-page-wrapper {
  @include center(both);
  padding: 0 15px;
  width: 550px;
  text-align: center;

  @media (max-width: $screen-xs-max) {
    width: 100%;
    @include reset-position;
    padding: 50px 15px;
  }

  span {
    display: block;
    color: #fff;
    font-size: 48px;
    line-height: 50px;
    font-weight: 300;
    margin-bottom: 15px;
  }

  p {
    margin: 0 0 50px 0;
    font-size: 24px;
    line-height: 26px;
    font-weight: 300;
    color: #fff;
  }

  .btn-site {
    margin-bottom: 30px;
  }

  .back-previous {
    display: inline-block;
    color: #fff;
    border-bottom: 1px solid #fff;
    @include transition(0.2s);

    &:hover {
      border-color: transparent;
      text-decoration: none;
    }
  }
}

.event-info {
  .event-col {
    margin-right: 60px;
    color: $blue-dark;

    &:hover {
      .txt {
        border-color: transparent;
      }
    }

    span {
      display: inline-block;
      vertical-align: middle;
    }

    .mdi {
      font-size: 24px;
      margin-right: 5px;
    }

    .txt {
      border-bottom: 1px solid $blue-dark;
      font-size: 16px;
      font-weight: 300;
      @include transition(0.2s);
    }
  }
}

// rich text editor
.ProseMirror {
  outline: none !important;
}

.answers-wrapper {
  .comment-row {
    margin-top: 20px;
  }
}

// Tooltip
.tooltip {
  display: block !important;
  z-index: 10000;

  .tooltip-inner {
    background: black;
    color: white;
    border-radius: 16px;
    padding: 5px 10px 4px;
  }

  .tooltip-arrow {
    width: 0;
    height: 0;
    border-style: solid;
    position: absolute;
    margin: 5px;
    border-color: black;
    z-index: 1;
  }

  &[x-placement^='top'] {
    margin-bottom: 10px;

    .tooltip-arrow {
      border-width: 5px 5px 0 5px;
      border-left-color: transparent !important;
      border-right-color: transparent !important;
      border-bottom-color: transparent !important;
      bottom: -5px;
      left: calc(50% - 5px);
      margin-top: 0;
      margin-bottom: 0;
    }
  }

  &[x-placement^='bottom'] {
    margin-top: 5px;

    .tooltip-arrow {
      border-width: 0 5px 5px 5px;
      border-left-color: transparent !important;
      border-right-color: transparent !important;
      border-top-color: transparent !important;
      top: -5px;
      left: calc(50% - 5px);
      margin-top: 0;
      margin-bottom: 0;
    }
  }

  &[x-placement^='right'] {
    margin-left: 5px;

    .tooltip-arrow {
      border-width: 5px 5px 5px 0;
      border-left-color: transparent !important;
      border-top-color: transparent !important;
      border-bottom-color: transparent !important;
      left: -5px;
      top: calc(50% - 5px);
      margin-left: 0;
      margin-right: 0;
    }
  }

  &[x-placement^='left'] {
    margin-right: 5px;

    .tooltip-arrow {
      border-width: 5px 0 5px 5px;
      border-top-color: transparent !important;
      border-right-color: transparent !important;
      border-bottom-color: transparent !important;
      right: -5px;
      top: calc(50% - 5px);
      margin-left: 0;
      margin-right: 0;
    }
  }

  &.popover {
    $color: #f9f9f9;

    .popover-inner {
      background: $color;
      color: black;
      padding: 24px;
      border-radius: 5px;
      box-shadow: 0 5px 30px rgba(black, 0.1);
    }

    .popover-arrow {
      border-color: $color;
    }
  }

  &[aria-hidden='true'] {
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.15s, visibility 0.15s;
  }

  &[aria-hidden='false'] {
    visibility: visible;
    opacity: 1;
    transition: opacity 0.15s;
  }
}

.mx-calendar-content {
  @media (max-width: $screen-xs-max) {
    width: 100% !important;
  }
}

.industry-dropdown {
  .dropdown {
    .dropdown-menu {
      transform: none !important;
      top: 100% !important;

      .dropdown-list-wrapper {
        max-height: 400px;
      }
    }
  }
}

.chat-history-wrapper {
  @media (max-width: $screen-sm-max) {
    padding: 35px 0 !important;
  }
}