.section-learn-more {
  padding: 10px 0 70px 0;
  background-color: #f1f5f8;
}

.learn-more-modal h2 {
  @media(max-height: 500px) {
    display: none;
  }
}

.learn-more-modal form {
  @media (max-height: 500px) {
    height: 100px;
    padding: 20px;
    overflow-y: scroll;
  }

  @media (max-height: 750px) {
    height: 250px;
    padding: 20px;
    overflow-y: scroll;
    .btn-site {
      min-width: 150px;
    }
  }
}

.section-top-education {
  .categories-list {
    padding: 8px 0;
  }
  .categories-dropdown a {
    margin-right: 24px;
  }
}
