.main-footer {
  background: $blue-dark;
  padding: 20px 0;
  position: relative;

  @media (max-width: 1400px) {
    padding: 10px 0;
  }

  @media (max-width: $screen-md-max) {
    padding: 20px 0;
  }
}

.callback-wrap {
  position: absolute;
  bottom: 100%;
  transform: translateX(-50%);
  width: 460px;
  padding: 35px 25px;
  background-color: #fff;
  box-shadow: $bs-hover;
  border-radius: 3px;
  left: 50%;
  z-index: 10;
  opacity: 0;
  visibility: hidden;
  @include transition(.2s);

  @media (max-width: $screen-xs-max) {
    width: calc(100% - 30px);
    box-shadow: 0 13px 100px 0 rgba(13, 71, 161, 0.33);
  }

  &.active {
    opacity: 1;
    visibility: visible;
    bottom: calc(100% + 15px);
  }

  .btn-site {
    min-width: initial;
    width: 100%;
  }

  .input-row {
    margin: 0;

    @media (max-width: $screen-xs-max) {
      margin-bottom: 15px;
    }
  }
}

.footer-wrapper {
  max-width: 1420px;
  margin: 0 auto;
  padding: 0 15px;
  align-items: center;

  @media (max-width: 700px) {
    align-items: inherit;
  }

  &__col {
    font-size: 0;
    letter-spacing: -3px;

    @media (max-width: 1024px) {
      &:first-child {
        width: 100%;
        text-align: center;
        margin-top: 20px;
        order: 3;
      }
    }

    span {
      display: inline-block;
      vertical-align: top;
      font-size: 16px;
      line-height: 18px;
      font-weight: 300;
      letter-spacing: normal;
      color: #fff;
      margin-right: 10px;

      @media (max-width: $screen-xs-max) {
        margin-bottom: 10px;
      }
      
      a {
        color: #fff;
        text-decoration: underline;

        &:hover {
          text-decoration: none;
        }
      }
    }

    .social-links {
      display: inline-block;
      vertical-align: top;

      a {
        display: inline-block;
        vertical-align: middle;
        margin: 0 3px;

        .mdi {
          font-size: 22px;
          line-height: 18px;
          color: #fff;
          @include transition(.2s);
          
          &:hover {
            color: $yellow;
          }
        }
      }
    }

    .footer-block {
      display: inline-block;
      vertical-align: middle;
      letter-spacing: normal;
      margin: 0 20px;

      @media (max-width: 820px) {
        margin: 0 15px 0 0;
      }

      @media (max-width: 700px) {
        display: block;
        margin: 0 0 15px 0;

        &:last-child {
          margin: 0;
        }
      }

      @media (max-width: $screen-xs-max) {
        display: block;
        margin: 0 0 15px 0;
      }
      
      &:hover {
        .mdi, mark {
          color: $yellow;
        }
      }

      .mdi {
        display: inline-block;
        vertical-align: middle;
        color: #fff;
        font-size: 24px;
        line-height: 24px;
        margin-right: 10px;
        @include transition(.2s);
      }

      mark {
        display: inline-block;
        vertical-align: middle;
        background: none;
        padding: 0;
        font-size: 16px;
        line-height: 18px;
        font-weight: 300;
        color: #fff;
        @include transition(.2s);
      }
    }
  }
}


.footer-main-r {
  color: #fff;
  padding-top: 130px;
  position: relative!important;
  @media screen and (max-width: 768px) {
    text-align: center;
  }
  .row > div[class^="col-"] {
    margin-bottom: 40px;
  }
  .logo img {
    width: 140px;
    @media screen and (max-width: 768px) {
      margin-bottom: 30px;
    }
  }
  .footer-menu {
    .h4 {
      font-weight: bold;
      font-size: 18px;
      display: block;
    }
    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      li a {
        font-size: 18px;
        font-weight: 300;
        margin-bottom: 8px;
        color: #fff;
        text-decoration: none;
      }
    }
  }
  .social-links {
    display: flex;
    @media screen and (max-width: 768px) {
      justify-content: center;
    }
    a {
      width: 30px;
      height: 30px;
      background: #43add1;
      color: #fff;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      margin-right: 20px;
      font-size: 20px;
      &:last-child {
        margin-right: 0;
      }
    }
  }
  .contact-cases {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    a {
      color: #fff;
      text-decoration: none;
      cursor: pointer;
      span {
        //margin-bottom: 20px;
        cursor: pointer;
        &:before {
          font-size: 24px;
        }
        mark {
          background: none;
          color: #fff;
        }
      }
      &:hover {
        color: #4fc5eb;
        span {
          &:before,
          mark {
            color: #4fc5eb;
          }
        }
      }
    }
  }
  .copyright {
    text-align: center;
    margin-top: 20px;
    font-weight: bold;
    font-size: 18px;
    a {
      color: #fff;
      text-decoration: underline;
    }
  }
}