.main-header {
  padding-top: 30px;
  z-index: 100;
  @media (max-width: 1024px) {
    padding: 5px 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    will-change: transform;
    transform: translateZ(0);
    transition: all .5s;
    &.header-scroll {
      background-color: $blue-dark;
      box-shadow: $bs-default;
    }
  }
  &.is-hidden {
    transform: translateY(-100%);
  }
}

.header-wrapper {
  max-width: 1420px;
  margin: 0 auto;
  padding: 0 15px;
  &__left {
    .logo {
      padding-right: 25px;
      @media (max-width: 1300px) {
        padding-right: 15px;
      }
      @media (max-width: 1024px) {
        padding-right: 11px;
      }
      a {
        display: block;
        img {
          width: 130px;
          @media (max-width: 850px) {
            width: 100px;
          }
        }
      }
    }
    .start-project {
      //border-right: 1px solid #fff;
      border-left: 1px solid #fff;
      @media (max-width: 1024px) {
        border-right: none;
      }
      a {
        display: block;
        padding: 0 20px;
        text-align: center;
        @media (max-width: 1300px) {
          padding: 0 10px;
        }
        @media (max-width: 1024px) {
          padding: 0 5px;
        }
        &:hover {
          text-decoration: none;
          .mdi {
            .circle-plus {
              circle {
                stroke-opacity: 1;
                stroke-width: 2px;
                transform: scale(1);
                margin-top: -1px;
              }
            }
          }
        }
        .mdi {
          display: block;
          color: #fff;
          font-size: 19px;
          line-height: 18px;
          margin-bottom: 1px;
          position: relative;
          transform: translateY(-1px);
          @media (max-width: 1024px) {
            font-size: 28px;
            line-height: 28px;
            transform: none;
            margin: 0;
          }
          .circle-plus {
            @include center(both);
            margin-top: -1px;
            circle {
              fill: #fff;
              fill-opacity: 0;
              stroke: #fff;
              stroke-opacity: 0;
              stroke-width: 0;
              transform: scale(2);
              transition: all .7s ease-in-out;
              transform-origin: 50% 50%;
            }
          }
        }
        .start-text {
          display: block;
          font-size: 16px;
          line-height: 18px;
          color: #fff;
          @media (max-width: 1024px) {
            display: none;
          }
        }
      }
    }
    .info {
      font-size: 16px;
      line-height: 18px;
      color: #fff;
      padding: 0 20px;
      @media (max-width: 1300px) {
        padding: 0 10px;
      }
      @media (max-width: 1024px) {
        display: none;
      }
      span {
        display: block;
        margin-bottom: 3px;
        cursor: pointer;
      }
      a {
        display: block;
        color: #fff;
      }
    }
  }
  &__right {
    .main-nav {
      white-space: nowrap;
      @media (max-width: 1024px) {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        height: 100vh;
        width: 280px;
        text-align: center;
        padding: 80px 15px 15px 15px;
        background: #fff;
        box-shadow: $bs-hover;
        z-index: 100;
        opacity: 0;
        overflow: auto;
        visibility: hidden;
        transform: translateZ(0);
        @include transition(.3s);
        &.open {
          opacity: 1;
          visibility: visible;
        }
      }
      a {
        display: inline-block;
        vertical-align: middle;
        font-size: 18px;
        line-height: 20px;
        color: #fff;
        margin: 0 10px;
        text-decoration: none;
        position: relative;
        @media (max-width: 1300px) {
          font-size: 14px;
          line-height: 18px;
          margin: 0 3px;
        }
        @media (max-width: 1024px) {
          display: block;
          color: #333;
          font-size: 16px;
          margin: 0 0 24px 0;
          text-transform: uppercase;
          @include transition(.3s);
        }
        &:after {
          content: '';
          display: block;
          position: absolute;
          bottom: -8px;
          left: 0;
          width: 100%;
          height: 2px;
          background-color: #fff;
          opacity: 0;
          visibility: hidden;
          @include transition(.3s);
          @media (max-width: 1024px) {
            display: none;
          }
        }
        &:hover, &.active {
          @media (max-width: 1024px) {
            color: $blue-dark;
          }
          &:after {
            opacity: 1;
            visibility: visible;
            bottom: -5px;
          }
        }
        &:first-child {
          margin-left: 0;
        }
        &:last-child {
          margin-right: 0;
        }
      }
    }
    .select-lang-wrapper {
      display: none!important;
      margin-left: 20px;
      min-width: 45px;
      @media (max-width: 1300px) {
        margin-left: 10px;
        min-width: 35px;
      }
      .dropdown-select-lang {
        .selected-lang {
          display: block;
          width: 100%;
          text-align: left;
          background: none;
          padding: 0;
          border: none;
          outline: none;
          font-size: 18px;
          line-height: 20px;
          color: #fff;
          margin-top: 3px;
          cursor: pointer;
          @media (max-width: 1300px) {
            font-size: 16px;
            line-height: 18px;
            margin-top: 2px;
          }
          .mdi {
            position: absolute;
            top: 0;
            right: 0;
          }
        }
        .dropdown-menu {
          background: #fff;
          box-shadow: $bs-hover;
          min-width: 50px;
          margin-top: 10px;
          padding: 5px 0;
          text-align: center;
          border-radius: 3px;
          border: none;
          &:before {
            content: '';
            display: block;
            position: absolute;
            top: -16px;
            left: 50%;
            transform: translateX(-50%);
            border: 8px solid transparent;
            border-bottom: 8px solid #fff;
          }
          .dropdown-item {
            font-size: 14px;
            line-height: 16px;
            font-weight: 300;
            color: #333;
            padding: 7px 15px;
            text-transform: uppercase;
            @include transition(.3s);
            &.selected {
              display: none;
            }
            &:hover {
              background: none;
              color: $blue-dark;
            }
          }
        }
      }
    }
    .profile-wrapper {
      margin-left: 10px;
      .profile-icon {
        display: block;
        cursor: pointer;
        margin-top: 5px;
        position: relative;
        &[aria-expanded='true'] {
          &:before {
            opacity: 1;
            visibility: visible;
          }
        }
        &:before {
          content: '';
          display: block;
          position: absolute;
          bottom: -6px;
          z-index: 1111;
          opacity: 0;
          visibility: hidden;
          left: 50%;
          transform: translateX(-50%);
          border: 8px solid transparent;
          border-bottom: 8px solid #fff;
        }
        &.notification {
          &:after {
            content: '';
            display: block;
            position: absolute;
            top: 0;
            right: 0;
            background-color: $red;
            width: 10px;
            height: 10px;
            border: 2px solid #fff;
            border-radius: 50%;
            animation: 1.2s ease-in-out notifications-pulse infinite;
          }
        }
        .mdi {
          color: #fff;
          font-size: 24px;
          line-height: 24px;
        }
      }
      .dropdown-profile {
        .dropdown-menu {
          min-width: 345px;
          box-shadow: $bs-hover;
          background-color: #fff;
          margin-right: -30px;
          margin-top: 5px;
          padding: 30px 30px 15px 30px;
          border-radius: 3px;
          border: none;
          @media (max-width: 1480px) {
            margin-right: 0;
          }
          @media (max-width: $screen-xs-max) {
            padding: 25px 30px 0 30px;
            margin-left: 10px;
            min-width: 384px;
          }
          @media (max-width: 384px) {
            min-width: 354px;
          }
          @media (max-width: 375px) {
            min-width: 345px;
            margin-left: 10px;
          }
          @media (max-width: 360px) {
            min-width: 330px;
          }
          @media (max-width: 320px) {
            min-width: 290px;
          }
          .dropdown-profile-top {
            margin-bottom: 30px;
            @media (max-width: $screen-xs-max) {
              margin-bottom: 20px;
            }
            .name {
              display: block;
              font-size: 18px;
              line-height: 20px;
              font-weight: 700;
              color: $blue-dark;
            }
            .logout-button {
              color: #333;
              font-size: 23px;
              line-height: 23px;
              padding: 0;
              @include transition(.2s);
              &:hover {
                color: $blue-dark;
              }
            }
          }
          .second-col {
            @media (min-width: $screen-sm-max) {
              margin-top: 30px;
            }
          }
          .profile-list {
            margin-bottom: 15px;
            @media (max-width: $screen-xs-max) {
              margin-bottom: 25px;
            }
            h2,
            span {
              text-transform: uppercase;
              margin: 0 0 15px 0;
              font-size: 14px;
              line-height: 16px;
              font-weight: 700;
              color: #333;
              display: block;
            }
            a {
              display: block;
              margin-bottom: 15px;
              font-size: 14px;
              line-height: 16px;
              font-weight: 300;
              color: #333;
              padding: 0;
              @include transition(.2s);
              @media (max-width: $screen-xs-max) {
                margin-bottom: 10px;
              }
              &:hover {
                color: $blue-dark;
                text-shadow: 0 0 .55px $blue-dark;
                text-decoration: none;
              }
              &:last-child {
                margin-bottom: 0;
              }
            }
          }
        }
      }
    }
    .mobile-menu-button {
      display: none;
      @media (max-width: 1024px) {
        display: block;
        width: 44px;
        height: 44px;
        position: relative;
        cursor: pointer;
        margin-right: -10px;
        z-index: 101;
        transform-origin: center;
      }
      &.open {
        span {
          background: #333;
          &.line1 {
            top: 13px;
            transform: rotate(-45deg) translateX(-50%);
          }
          &.line2 {
            opacity: 0;
            visibility: hidden;
            transform: translateX(-20px);
          }
          &.line3 {
            bottom: 13px;
            transform: rotate(45deg) translateX(-50%);
          }
        }
      }
      span {
        display: block;
        width: 23px;
        height: 2px;
        background-color: #fff;
        @include transition(.3s);
        @include center(horizontal);
        &.line1 {
          top: 13px;
        }
        &.line2 {
          top: 50%;
          margin-top: -1px;
        }
        &.line3 {
          bottom: 13px;
        }
      }
    }
  }
}
@keyframes notifications-pulse {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1);
  }
}


.mobile-menu-mask {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  background: rgba(0, 0, 0, .8);
  height: 100%;
  width: calc(100% - 280px);
  opacity: 0;
  z-index: 100;
  visibility: hidden;
  @include transition(.3s);
  &.open {
    opacity: 1;
    visibility: visible;
  }
}