.my-video-bg {
  width: 100%;
  pointer-events: none;
  max-height: 100%;
  @media (min-width: 1200px) {
    display: block;
    /* min-width: 100vw; */
    position: absolute;
    left: 50%;
    right: 0;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 0;
    /* height: 100vh; */
    min-width: 100vw;
    max-height: initial;
    width: auto;
    //height: 100vh;
  }
}

.video-bg {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 100%;
  min-height: 100%;
  width: 100%;
  background: #000;
  z-index: -1;

  @media (max-width: 1440px) {
    width: 100%;
  }

  @media (max-width: $screen-lg-max) {
    display: none;
  }
}

.homepage-main-wrapper {
  position: relative;
  line-height: 0;
  @media (min-width: 1200px) {
    height: 100vh;
  }
}

.hp-main-text {
  @include center(both);
  text-align: center;
  padding: 100px 15px;
  width: 1010px;
  display: none;

  @media (max-width: $screen-lg-max) {
    display: block;
  }

  @media (max-width: 1024px) {
    width: 100%;
  }

  @media (max-width: $screen-xs-max) {
    //@include reset-position;
  }

  @media (max-height: 500px) {
    @include reset-position;
    margin: 0 auto;
  }

  span {
    display: block;
    font-size: 48px;
    line-height: 50px;
    letter-spacing: 2.4px;
    font-weight: 300;
    text-transform: uppercase;
    color: #fefefe;
    margin-bottom: 35px;
    outline: none;

    @media (max-width: $screen-xs-max) {
      font-size: 28px;
      line-height: 32px;
    }
  }

  p {
    font-size: 24px;
    line-height: 26px;
    font-weight: 300;
    color: #fefefe;

    @media (max-width: $screen-xs-max) {
      font-size: 20px;
      line-height: 22px;
    }
  }
}

.meet-button {
  bottom: 45px;
  min-width: 275px;
  text-align: center;
  text-transform: uppercase;
  border-radius: 3px;
  border: 1px solid #fff;
  font-size: 18px;
  line-height: 20px;
  font-weight: 700;
  color: #fff;
  padding: 18px 0;
  text-decoration: none;
  z-index: 2;
  @include center(horizontal);
  @include transition(.3s);

  @media (max-width: 1400px) {
    padding: 15px 0;
  }

  @media (max-width: $screen-xs-max) {
    bottom: 22px;
  }

  &:hover {
    color: #333;
    background: $yellow;
    border-color: $yellow;
    text-decoration: none;
  }
}