.is-heading {
  width: 100%;
  background-color: #fff;
  margin-bottom: 65px;
  box-shadow: $bs-default;

  .is-heading-col {
    border-right: 1px solid #d7d7d7;
    padding: 25px;

    .is-col {
      margin-bottom: 0;
    }

    @media (max-width: $screen-sm-max) {
      &:nth-child(2) {
        border: none;
      }
    }

    @media (max-width: $screen-xs-max) {
      border: none;
      padding: 15px;
    }

    &:first-child {
      padding-left: 15px;

      @media (max-width: $screen-sm-max) {
        padding-left: 25px;
      }

      @media (max-width: $screen-xs-max) {
        padding-left: 15px;
      }
    }

    &:last-child {
      border: none;
      padding-right: 15px;

      @media (max-width: $screen-sm-max) {
        padding-right: 25px;
      }

      @media (max-width: $screen-xs-max) {
        padding-right: 15px;
      }
    }
  }
}

.is-col {
  margin-bottom: 20px;

  span {
    display: block;
    font-size: 14px;
    line-height: 16px;
    color: #666;
    margin-bottom: 5px;
  }

  mark,
  a {
    display: block;
    padding: 0;
    background: none;
    font-size: 16px;
    line-height: 18px;
    font-weight: 700;
    color: $blue-dark;

    &.fz-bigger {
      font-size: 30px;
      line-height: 32px;
    }
  }

  mark {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  a {
    text-decoration: underline;

    &:hover {
      text-decoration: none;
    }
  }
}

.is-row-block {
  padding: 30px;
  background-color: #fff;
  border-radius: 3px;
  box-shadow: $bs-default;
  margin-bottom: 30px;
  @include transition(0.3s);

  @media (max-width: $screen-md-max) {
    margin-bottom: 15px;
  }

  @media (max-width: $screen-sm-max) {
    padding: 30px 15px;
  }

  &:hover {
    box-shadow: $bs-hover;
  }

  .is-row-description {
    margin-bottom: 30px;

    .title-description {
      display: block;
      font-size: 24px;
      line-height: 26px;
      font-weight: 700;
      margin: 0 0 15px 0;
    }

    p {
      font-size: 16px;
      line-height: 1.88;
      font-weight: 300;
      text-align: justify;
      margin: 0;
      height: 210px;
      overflow: hidden;
      white-space: pre-line;

      @media (max-width: $screen-xs-max) {
        line-height: 24px;
        height: auto;
        overflow: initial;
      }
    }
  }
}

.is-list {
  padding: 0;
  margin: 0;
  list-style: none;

  li {
    font-size: 16px;
    line-height: 1.88;
    font-weight: 300;
    position: relative;
    padding-left: 25px;

    @media (max-width: $screen-xs-max) {
      padding-left: 15px;
      line-height: 30px;
    }

    &:before {
      content: '';
      display: block;
      width: 7px;
      height: 1px;
      background-color: #333;
      position: absolute;
      top: 15px;
      left: 0;
    }
  }
}

.is-row-top {
  margin-bottom: 35px;

  @media (max-width: $screen-xs-max) {
    margin-bottom: 25px;
  }

  .is-col {
    span {
      font-size: 16px;
      line-height: 18px;
    }
  }

  .is-row-info {
    @media (max-width: $screen-xs-max) {
      margin-bottom: 20px;
    }
  }
}

.is-row-img {
  border-radius: 15px;
  box-shadow: $bs-default;
  background-color: #fff;
  width: 100px;
  height: 100px;
  margin-right: 30px;
  position: relative;

  @media (max-width: $screen-xs-max) {
    width: 75px;
    height: 75px;
    margin-right: 15px;
  }

  &.is-row-img-project {
    width: 100%;
    height: 0;
    padding-bottom: 100%;

    @media (max-width: $screen-sm-max) {
      width: 230px;
      height: 230px;
      padding: 0;
      margin: 0 auto 30px auto;
    }

    @media (max-width: $screen-xs-max) {
      width: 100%;
      height: 0;
      padding-bottom: 100%;
    }
  }

  img {
    @include center(both);
    max-width: 100%;
    max-height: 100%;
  }
}

.is-buttons-wrap {
  @media (max-width: $screen-xs-max) {
    flex-wrap: wrap;
  }

  a,
  .button {
    margin-right: 30px;

    @media (max-width: $screen-xs-max) {
      margin-right: 15px;
    }

    &:last-child {
      margin-right: 0;
    }
  }
}

.is-row-details {
  flex: 1;

  .details-page-link {
    display: inline-block;
    font-size: 24px;
    line-height: 26px;
    font-weight: 700;
    color: $blue-dark;
    text-transform: lowercase;
    text-decoration: underline;

    &:first-letter {
      text-transform: uppercase;
    }

    &:hover {
      text-decoration: none;
    }

    &.invisibly {
      text-decoration: none;
      pointer-events: none;
    }
  }

  span.details-page-link {
    text-decoration: none;
  }

  .location {
    display: block;
    font-size: 18px;
    line-height: 20px;
  }

  .reviews {
    font-size: 16px;
    line-height: 18px;
    color: $blue-dark;

    a {
      text-decoration: underline;
      color: $blue-dark;
      outline: none;
      word-break: break-all;

      &:hover {
        text-decoration: none;
      }
    }
  }
}

.rating-wrap {
  margin-bottom: 5px;

  &.rating-wrap-modal {
    margin-bottom: 10px;

    img {
      width: 24px;
    }
  }

  img {
    width: 18px;
    margin-right: 5px;
  }
}

.button-styles {
  display: block;
  border-radius: 3px;
  padding: 15px 0;
  font-size: 18px;
  line-height: 20px;
  font-weight: 700;
  letter-spacing: 0.5px;
  position: relative;
  text-align: center;
  outline: none !important;
  cursor: pointer;
  border: none;
  //border: 2px solid transparent;
  @include transition(0.2s);

  @media (max-width: $screen-lg-max) {
    font-size: 16px;
    line-height: 18px;
  }

  @media (max-width: $screen-md-max) {
    font-size: 18px;
    line-height: 20px;
  }

  &:hover {
    text-decoration: none;
  }

  &.share {
    background: #99a9b8;
    min-width: 50px;
    height: 50px;
    padding: 0;

    &:hover {
      background-color: #798794;
    }

    .mdi {
      @include center(both);
      color: #fff;
      font-size: 25px;
      line-height: 25px;
    }
  }

  &.more-info {
    background-color: $yellow;
    width: 100%;
    color: #333;

    @media (max-width: $screen-xs-max) {
      flex: 1;
      margin-right: 0 !important;
      margin-bottom: 15px;
    }

    &:hover {
      background-color: #ffca3d;
    }
  }

  &.invert-light-blue {
    color: #4fc5eb;
    background-color: transparent;
    box-shadow: 0 0 0 2px $blue-light inset;

    &:hover {
      background-color: #39bfeb;
      color: #fff;
    }
  }

  &.send-message,
  &.light-blue {
    width: 100%;
    color: #fff;
    background-color: #4fc5eb;

    &:hover {
      background-color: #39bfeb;
    }

    .mdi {
      margin-left: 5px;
      font-size: 22px;
      vertical-align: middle;
    }
  }

  &.delete {
    background-color: $red;
    color: #fff;
  }
}

// is project
.is-project-wrapper {
  background: #fff;
  box-shadow: $bs-hover;
  border-radius: 3px;
  padding: 75px 120px;
  position: relative;

  @media (max-width: 1024px) {
    padding: 75px 30px;
  }

  @media (max-width: $screen-sm-max) {
    padding: 75px 15px;
  }

  .is-col {
    margin-bottom: 10px;
  }
}

.is-project-info-row {
  margin-bottom: 20px;
  min-height: 145px;
}

.is-project-row {
  margin-bottom: 50px;

  .is-buttons-wrap {
    @media (max-width: $screen-xs-max) {
      .button-styles {
        &.send-message {
          width: auto;
          flex: 1;
        }
      }
    }
  }
}

.is-project-image {
  position: relative;
  margin-bottom: 50px;
  background: #000;
  overflow: hidden;
  border-radius: 3px;

  @media (max-width: $screen-xs-max) {
    margin-bottom: 20px;
    background: none;
  }

  img {
    border-radius: 3px;

    @media (max-width: $screen-xs-max) {
      margin-bottom: 15px;
    }
  }

  .img-txt {
    position: absolute;
    top: 25px;
    left: 25px;
    font-size: 36px;
    line-height: 38px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    width: 50%;

    @media (max-width: $screen-xs-max) {
      width: 100%;
      font-size: 20px;
      line-height: 26px;
      color: #333;
      position: relative;
      top: auto;
      left: auto;
      margin: 0;

      br {
        display: none;
      }
    }
  }
}

.is-project-title {
  display: block;
  margin: 0 0 5px 0;
  font-size: 18px;
  line-height: 20px;
  font-weight: 700;
}

.is-project-description {
  font-size: 16px;
  line-height: 26px;
  font-weight: 300;
  margin-bottom: 20px;
  text-align: justify;
  white-space: pre-line;
}

.view-more-wrapper {
  max-width: 580px;
  margin: 60px auto;
  position: relative;

  &:before {
    content: '';
    display: block;
    @include center(both);
    width: 400px;
    height: 240px;
    border-radius: 8px;
    border: solid 2px #4fc5eb;
    margin-left: 40px;

    @media (max-width: $screen-xs-max) {
      transform: none;
      top: -15px;
      left: -8px;
      margin: 0;
      width: 50%;
      height: 100px;
    }
  }

  img {
    border-radius: 8px;

    @media (max-width: $screen-xs-max) {
      margin-bottom: 30px;
      width: 100%;
    }
  }

  .view-more-text {
    .view-more-title {
      display: block;
      margin: 0 0 10px 0;
      font-size: 24px;
      line-height: 26px;
      font-weight: 700;
      text-transform: uppercase;
      color: $blue-dark;
    }

    p {
      font-size: 18px;
      line-height: 24px;
      font-weight: 700;
      margin: 0 0 19px 0;
      min-height: 69px;
      padding-right: 75px;

      @media (max-width: $screen-xs-max) {
        min-height: initial;
        padding-right: 0;
      }
    }

    .btn-site {
      min-width: initial;
      width: 100%;
    }
  }
}

.is-project-video {
  max-width: 560px;
  margin: 60px auto 0 auto;
}
