.m-top-reduce70 {
  margin-top: -70px;
}


.hero-banner {
  min-height: 100vh;
  background: $gradient;
  //margin-top: -70px;
  padding: 190px 0 250px 0;
  position: relative;
  //margin-top: calc(100vh - 70px);

  @media (max-width: 1024px) {
    //margin-top: -63px;
    margin-top: 0px;
  }

  @media (max-width: 1023px) {
    //margin-top: -118px;
    margin-top: 0px;
  }

  @media (max-width: 900px) {
    padding: 120px 0 50px 0;
  }

  @media (max-width: $screen-xs-max) {
    padding: 100px 0 50px 0;
  }
}

.abstraction-yellow {
  position: absolute;
  top: 50%;
  margin-top: -265px;
  left: -310px;

  @media (max-width: 900px) {
    width: 300px;
    margin-top: -150px;
  }
  
  @media (min-width: 900px) and (max-width: 1200px) {
    left: -360px;
  }

  @media (max-width: $screen-xs-max) {
    display: none;
  }
}

.abstraction-blue {
  position: absolute;
  top: 0;
  right: 0;
  overflow: hidden;

  @media (max-width: $screen-xs-max) {
    display: none;
  }

  img {
    @media (max-width: 900px) {
      width: 290px;
    }
  }
}

.lp-heading {
  text-align: center;
  margin-bottom: 125px;

  @media (max-width: 900px) {
    margin-bottom: 50px;
  }

  h1 {
    font-size: 30px;
    line-height: 32px;
    font-weight: 300;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    color: #fff;
    margin: 0 0 20px 0;

    @media (max-width: $screen-xs-max) {
      font-size: 23px;
      line-height: 28px;
    }
  }

  p {
    font-size: 16px;
    line-height: 20px;
    font-weight: 300;
    color: #fff;
    margin: 0;
  }
}

.lp-wrapper {
  @media (max-width: 1100px) {
    align-items: center;
  }

  @media (max-width: 900px) {
    display: block !important;
  }

  &.media-left {
    .lp-wrapper__media {
      order: 1;
      width: 50%;
      margin-right: 90px;

      @media (max-width: $screen-lg-max) {
        margin-right: 20px;
      }

      @media (max-width: 900px) {
        margin: 0;
        width: auto;
      }
    }

    .lp-wrapper__info {
      order: 2;
    }
  }

  &.media-right {
    .lp-wrapper__media {
      order: 2;
    }

    .lp-wrapper__info {
      order: 1;
      margin-right: 90px;

      @media (max-width: $screen-lg-max) {
        margin-right: 20px;
      }

      @media (max-width: 900px) {
        margin: 0;
      }
    }
  }
}

.slideshow {
  max-width: 640px;
  position: relative;
  z-index: 1;
  height: 100%;

  @media (max-width: 1100px) {
    max-width: 490px;
  }

  @media (max-width: 900px) {
    max-width: 640px;
    margin: 0 auto 70px auto;
  }

  * {
    outline: none;
  }

  .slider {
    .slick-list {
      box-shadow: $bs-hover;
      border-radius: 8px;
    }

    .item {
      height: 100%;
      position: relative;
      border-radius: 8px;
      overflow: hidden;
      z-index: 1;

      img {
        width: 100%;
        border-radius: 8px;
        transition: all 1s cubic-bezier(0.7, 0, 0.3, 1);
        transform: scale(1.2);
      }

      &.slick-active img {
        transform: scale(1);
      }
    }
  }

  .slider-track {
    transition: all 1s cubic-bezier(0.7, 0, 0.3, 1);
  }

  .slick-dots {
    margin: 0;
    padding: 0;
    list-style: none;
    position: absolute;
    bottom: -46px;
    width: 100%;
    text-align: center;
    left: 50%;
    transform: translateX(-50%);

    li {
      display: inline-block;
      vertical-align: middle;
      margin: 0 10px;

      &.slick-active {
        button {
          background: $yellow;
        }
      }

      button {
        font-size: 0;
        width: 20px;
        height: 20px;
        border: solid 2px $yellow;
        border-radius: 50%;
        background: none;
        cursor: pointer;
        outline: none;
        @include transition(0.2s);
      }
    }
  }
}

.step-wrapper {
  padding-top: 65px;

  @media (max-width: 900px) {
    max-width: 640px;
    margin: 0 auto;
  }

  @media (max-width: 1100px) {
    padding-top: 0;
  }

  .step-number {
    margin-right: 35px;

    @media (max-width: $screen-xs-max) {
      margin-right: 10px;
    }

    span {
      display: block;
      font-size: 80px;
      line-height: 60px;
      font-weight: 300;

      @media (max-width: $screen-xs-max) {
        font-size: 67px;
        line-height: 50px;
      }
    }
  }

  .step-info {
    max-width: 400px;

    @media (max-width: 900px) {
      max-width: initial;
    }

    .step-name {
      font-size: 14px;
      line-height: 16px;
      font-weight: 300;
      margin-bottom: 15px;
      text-transform: uppercase;
    }

    h2 {
      font-size: 40px;
      line-height: 42px;
      font-weight: 400;
      margin: 0 0 30px 0;

      @media (max-width: $screen-xs-max) {
        font-size: 26px;
        line-height: 30px;
        margin: 0 0 15px 0;
      }
    }

    p {
      font-size: 18px;
      line-height: 28px;
      font-weight: 300;
      margin: 0 0 30px 0;

      @media (max-width: $screen-xs-max) {
        font-size: 16px;
        line-height: 23px;
        margin: 0 0 15px 0;
      }
    }

    .step-tags {
      a {
        display: inline-block;
        vertical-align: middle;
        font-size: 16px;
        line-height: 18px;
        color: #fff;
        margin-right: 10px;
        text-decoration: none;
        position: relative;

        @media (max-width: $screen-xs-max) {
          margin-bottom: 20px;
        }

        &.active {
          &:after {
            width: 100%;

            @media (max-width: $screen-xs-max) {
              opacity: 1;
              visibility: visible;
            }
          }
        }

        &:hover {
          &:after {
            width: 100%;
          }
        }

        &:after {
          content: '';
          display: block;
          position: absolute;
          bottom: -5px;
          left: 0;
          width: 0;
          height: 2px;
          background-color: #fff;
          @include transition(0.2s);

          @media (max-width: $screen-xs-max) {
            opacity: 0;
            visibility: hidden;
          }
        }
      }
    }
  }
}

.video-wrapper {
  border-radius: 50%;
  overflow: hidden;
  box-shadow: $bs-hover;
  margin-top: -180px;
  position: relative;

  @media (max-width: 900px) {
    margin: 0 auto 20px auto;
    width: 290px;
  }
}

.play-video-button {
  @include center(both);
  font-size: 40px;
  line-height: 40px;
  // color: #fff;
  cursor: pointer;
}

.media-content {
  box-shadow: $bs-hover;

  @media (max-width: 900px) {
    max-width: 640px;
    margin: 0 auto 20px auto;
  }

  img {
    border-radius: 3px;
  }
}

.section-step {
  padding: 100px 0;
  position: relative;

  @media (max-width: 900px) {
    padding: 50px 0 !important;
  }

  &.step2 {
    padding-top: 0;
  }
}

.section-news {
  .arc-img {
    width: 100%;
  }

  .section-news-holder {
    padding: 80px 0 100px 0;
    background-color: #f1f5f8;

    @media (max-width: 900px) {
      padding: 50px 0;
    }
  }
}

.news-row {
  margin-bottom: 100px;

  &.blog-row {
    margin-bottom: 30px;
  }

  @media (max-width: $screen-xs-max) {
    margin-bottom: 30px;
  }

  &:last-child {
    margin-bottom: 0;
  }

  .item {
    @media (max-width: $screen-sm-max) {
      height: auto !important;
    }
  }

  .news-block {
    display: flex;
    flex-direction: row;
    background-color: #fff;
    min-height: 380px;
    -webkit-background-size: cover;
    background-size: cover;
    border-radius: 3px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    @include transition(0.4s);

    @media (max-width: $screen-md-max) {
      min-height: 230px;
      margin-bottom: 30px;
      height: auto !important;
      background: #fff !important;
    }

    @media (max-width: $screen-xs-max) {
      box-shadow: $bs-default;
    }

    &:hover {
      text-decoration: none;
      box-shadow: $bs-hover;

      @media (max-width: $screen-xs-max) {
        box-shadow: none;
      }

      .news-info {
        .news-name {
          color: $blue-dark;
        }

        &.bg-img {
          .news-name {
            color: #fff;

            @media (max-width: $screen-md-max) {
              color: $blue-dark;
            }
          }
        }
      }
    }

    &.vertical-content {
      flex-direction: column;

      .news-media {
        flex-basis: 52%;
        width: 100%;

        &:after {
          top: auto;
          right: auto;
          bottom: 0;
          left: 25px;
          border-bottom-color: #fff;
          border-right-color: transparent;
        }

        @media (max-width: $screen-lg-max) {
          width: 100%;
        }
      }
    }

    .news-media {
      width: 490px;
      position: relative;
      -webkit-background-size: cover;
      background-size: cover;
      background-position: 50% 50%;
      background-repeat: no-repeat;
      border-radius: 3px 3px 0 0;
      overflow: hidden;

      @media (max-width: $screen-lg-max) {
        width: 300px;
      }

      @media (max-width: $screen-md-max) {
        display: none;
      }

      &:after {
        content: '';
        display: block;
        position: absolute;
        top: 25px;
        right: 0;
        border: 25px solid transparent;
        border-right-color: #fff;
      }

      /*&:before {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, .4);
      }*/
    }
  }
}

.news-heading {
  margin-bottom: 30px;

  @media (max-width: $screen-xs-max) {
    display: block !important;
    margin-bottom: 15px;
  }

  > span {
    display: block;
    font-size: 30px;
    line-height: 32px;
    font-weight: 300;
    letter-spacing: 1.5px;
    color: $blue-dark;
    text-transform: uppercase;

    @media (max-width: $screen-xs-max) {
      margin-bottom: 15px;
      font-size: 25px;
      line-height: 27px;
    }
  }
}

.subscribe-wrap {
  .subscribe-button {
    display: inline-block;
    vertical-align: middle;
    padding: 10px 40px;
    border-radius: 3px;
    border: 2px solid $red;
    font-size: 16px;
    line-height: 18px;
    font-weight: 700;
    color: $red;
    margin-left: 25px;
    @include transition(0.2s);

    @media (max-width: $screen-xs-max) {
      margin-left: 0;
    }

    &:hover,
    &.subscribed {
      color: #fff;
      background-color: $red;
      text-decoration: none;
    }
  }

  .notifications {
    vertical-align: middle;
    font-size: 25px;
    line-height: 25px;
    color: $red;
    margin-left: 10px;
    cursor: pointer;
  }
}

.news-info {
  flex: 1;
  padding: 30px;
  text-align: justify;
  color: #333;
  position: relative;
  z-index: 10;

  @media (max-width: $screen-xs-max) {
    padding: 20px;
  }

  &.bg-img {
    &:before {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border-radius: 3px;
      background: rgba(0, 0, 0, 0.4);

      @media (max-width: $screen-md-max) {
        display: none;
      }
    }

    .category-name,
    .news-name,
    .news-date,
    p {
      position: relative;
      z-index: 10;
      color: #fff;

      @media (max-width: $screen-md-max) {
        color: #333;
      }
    }
  }

  .category-name {
    display: block;
    font-size: 12px;
    line-height: 14px;
    margin-bottom: 30px;
  }

  .news-name {
    font-size: 24px;
    line-height: 30px;
    text-align: left;
    text-transform: uppercase;
    margin: 0 0 5px 0;
    @include transition(0.4s);
  }

  .news-date {
    display: block;
    color: #666;
    font-size: 18px;
    line-height: 20px;
    font-weight: 300;
    margin-bottom: 35px;
  }

  p {
    font-size: 16px;
    line-height: 24px;
    font-weight: 300;
    text-align: justify;
    margin: 0 0 30px 0;
  }

  .author-info-block {
    @media (max-width: $screen-xs-max) {
      margin-bottom: 0;
    }
  }
}

.blog-article-share {
  cursor: pointer;
  font-size: 22px;
  line-height: 22px;
  @include transition(0.2s);

  &.news-article-share {
    position: absolute;
    bottom: 20px;
    right: 20px;
  }

  &.white-color {
    color: #fff;
  }

  &:hover {
    color: $blue-dark;
  }
}

.blogger-info-wrap {
  margin-bottom: 30px;
  background-color: #fff;
  box-shadow: $bs-default;
  border-radius: 3px;
  padding: 20px 30px;

  @media (max-width: $screen-xs-max) {
    padding: 20px 15px;
  }

  .author-detail-info {
    margin-right: 30px;
    flex: 1;
  }

  .blogger-info {
    margin: 0;
    white-space: nowrap;
  }

  .author-info-block {
    @media (max-width: $screen-sm-max) {
      //margin-bottom: 0;
    }
  }
}
