// reviews modal
.reviews-modal {
  .modal-dialog {
    max-width: 755px;
    border: none;
    box-shadow: $bs-hover;

    .modal-content {
      border: none;
      border-radius: 8px;
      background-color: #f1f5f8;
    }

    .modal-heading {
      background-color: #fff;
      padding: 15px 40px 15px 20px;
      border-radius: 8px 8px 0 0;

      .modal-title {
        .mdi {
          display: inline-block;
          vertical-align: middle;
          font-size: 24px;
          line-height: 24px;
          color: $blue-dark;
          margin-right: 5px;
        }

        i {
          display: inline-block;
          vertical-align: middle;
          font-style: normal;
          font-size: 16px;
          line-height: 18px;
          font-weight: 700;
          color: $blue-dark;
        }
      }
    }

    .close-modal {
      display: block;
      position: absolute;
      top: 15px;
      right: 15px;
      font-size: 24px;
      line-height: 24px;
      cursor: pointer;
    }

    .modal-wrapper {
      padding: 20px 25px;
      background-color: #f1f5f8;
      border-radius: 8px;

      @media (max-width: $screen-xs-max) {
        padding: 20px 15px;
      }

      p {
        font-size: 16px;
        line-height: 24px;
        font-weight: 300;
        margin: 0 0 30px 0;

        &:last-child {
          margin: 0;
        }
      }
    }
  }
}

.add-review {
  margin-top: 30px;

  label {
    display: block;
    font-size: 18px;
    line-height: 20px;
    font-weight: 700;
    letter-spacing: 0.5px;
  }

  textarea {
    width: 100%;
    height: 130px !important;
    border-radius: 3px;
    box-shadow: $bs-default;
    background-color: #fff;
    outline: none;
    border: none;
    margin-bottom: 35px;
    resize: none;
    overflow: auto !important;
    padding: 20px;
  }
}

.reviews-top {
  margin-bottom: 40px;

  @media (max-width: $screen-xs-max) {
    margin-bottom: 0;
  }

  .is-row-info {
    @media (max-width: $screen-xs-max) {
      margin-bottom: 20px;
    }
  }
}

.svg-wrap {
  width: 0;
  overflow: hidden;
  animation: wave 3s forwards;
  margin-bottom: 30px;

  img {
    width: 1920px;
  }
}

.review-block {
  padding: 35px 25px 30px 25px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: $bs-default;
  margin-bottom: 30px;

  @media (max-width: $screen-xs-max) {
    padding: 35px 15px 30px 15px;
  }

  .review-block-top {
    margin-bottom: 40px;

    @media (max-width: $screen-xs-max) {
      margin-bottom: 15px;
    }

    .is-row-img {
      background: none;
      box-shadow: none;
      height: auto;

      img {
        @include reset-position;
      }
    }

    .is-col {
      margin-bottom: 0;

      @media (max-width: $screen-xs-max) {
        margin-bottom: 10px;
      }
    }
  }

  .review-content-wrap {
    .review-content-top {
      margin-bottom: 20px;

      .mdi {
        display: block;
        color: #808080;
        font-size: 45px;
        line-height: 25px;
        position: relative;
        left: -9px;
      }

      .review-content-info {
        i, a {
          display: block;
          font-style: normal;
          font-size: 18px;
          line-height: 20px;
          font-weight: 700;
          letter-spacing: 0.5px;
        }

        a {
          text-decoration: underline;
          color: $blue-dark;

          &:hover {
            text-decoration: none;
          }
        }
      }
    }

    .review-text {
      font-size: 16px;
      line-height: 26px;
      font-weight: 300;
      font-style: italic;
      letter-spacing: 0.4px;
      text-align: justify;
      margin: 0;
    }
  }
}

// people modal
.people-modal-dialog {
  max-width: 1200px;
  border: none;
  box-shadow: $bs-hover;

  @media (max-width: $screen-md-max) {
    padding: 0 15px;
  }

  @media (max-width: $screen-sm-max) {
    padding: 0;
  }

  .modal-content {
    border: none;
    background-color: #f1f5f8;

    .videoWrap {
      iframe {
        border-radius: 0 0 4px 4px;
      }
    }

    .people-modal-top {
      background-color: #fff;
      padding: 18px 20px;
      border-radius: 8px 8px 0 0;

      .people-name {
        display: block;
        font-size: 16px;
        line-height: 18px;
        font-weight: 700;
        color: $blue-dark;

        .mdi {
          display: inline-block;
          vertical-align: middle;
          font-size: 23px;
          margin-right: 5px;
        }
      }
    }
  }
}

.people-modal-content {
  padding: 40px 30px;

  @media (max-width: $screen-xs-max) {
    padding: 20px;
  }

  h1 {
    @media (max-width: $screen-xs-max) {
      font-size: 35px;
    }
  }
}

.people-modal-left {
  margin-bottom: 30px;

  .people-modal-img {
    width: 100%;
    padding-bottom: 100%;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    border-radius: 50%;
    margin-bottom: 40px;
  }

  .people-modal-info {
    text-align: center;

    span {
      display: block;

      &.name {
        font-size: 30px;
        line-height: 32px;
        font-weight: 700;
        text-transform: uppercase;
        margin: 0 0 5px 0;
      }

      &.position {
        font-size: 18px;
        line-height: 20px;
        font-weight: 700;
        margin-bottom: 15px;
      }

      &.date {
        font-size: 16px;
        line-height: 18px;
        font-weight: 300;
      }
    }
  }
}

.people-modal-right {
  h3 {
    margin: 0 0 20px 0;
    font-size: 30px;
    line-height: 32px;
    font-weight: 700;
    text-transform: uppercase;

    @media (max-width: $screen-xs-max) {
      font-size: 24px;
      line-height: 26px;
    }
  }

  h4 {
    margin: 0;
    font-size: 24px;
    line-height: 26px;
    font-weight: 700;
  }

  p {
    font-size: 18px;
    line-height: 26px;
    font-weight: 300;
    text-align: justify;
    margin: 0 0 30px 0;

    @media (max-width: $screen-xs-max) {
      font-size: 16px;
      line-height: 23px;
    }
  }
}


.modal-dialog-centered {
  display: flex;
  align-items: center;
  min-height: calc(100% - (.5rem * 2));
}

.modal-dialog {
  border: none;

  @media (max-width: $screen-xs-max) {
    margin: 0 15px;
  }
}

.modal-add-photo {
  max-width: 800px;
}

.modal-content {
  width: 100%;
  box-shadow: $bs-hover;
  border: none;
  border-radius: 3px;
  overflow: hidden;
}

.modal-close {
  position: absolute;
  top: 15px;
  right: 15px;
  font-size: 24px;
  line-height: 24px;
  cursor: pointer;
}

.career-modal-dialog {
  margin: 0 auto;
  padding: 0 15px;

  .modal-content {
    padding: 35px 90px;
    margin: 30px 0;

    @media (max-width: $screen-xs-max) {
      padding: 50px 30px;
    }

    h2 {
      font-size: 48px;
      line-height: 50px;
      font-weight: 300;
      letter-spacing: 2.4px;
      text-transform: uppercase;
      color: #fff;
      position: absolute;
      top: -60px;
      left: 0;
      width: 100%;
      text-align: center;
    }

    mark {
      display: block;
      text-align: center;
      text-transform: uppercase;
      font-size: 24px;
      line-height: 26px;
      font-weight: 700;
      color: $blue-dark;
      padding: 0;
      margin-bottom: 30px;
      background: none;
    }

    .input-row-button {
      input {
        min-width: initial;
        width: 100%;
      }
    }
  }
}

.modal-dialog-email {
  box-shadow: none !important;
  width: 275px;

  @media (max-width: $screen-xs-max) {
    width: calc(100% - 20px);
  }

  .modal-content {
    border-radius: 3px;
  }
}

.invite-email {
  display: block;
  width: 100%;
  height: 50px;
  padding: 15px;
  font-size: 18px;
  line-height: 20px;
  font-weight: 300;
  color: #666;
  border: none;
  outline: none;
}

.task-top {
  margin-bottom: 20px;

  .status {
    display: block;
    font-size: 16px;
    line-height: 18px;
    font-weight: 300;
    letter-spacing: .4px;

    mark {
      padding: 0;
      background: none;
      font-size: 18px;
      line-height: 20px;
      font-weight: 700;
      color: $blue-light;
    }
  }

  .due-date {
    color: $red;
    font-size: 18px;
    line-height: 20px;
    font-weight: 700;

    .mdi {
      font-size: 22px;
      line-height: 20px;
      display: inline-block;
      vertical-align: middle;
      margin-right: 5px;
      position: relative;
      top: -2px;
    }
  }
}

.task-title-section {
  display: block;
  font-size: 18px;
  line-height: 20px;
  font-weight: 700;
  margin-bottom: 20px;
}

.task-card-row {
  margin-bottom: 30px;

  .textarea-autoheight {
    width: 100%;
    background-color: #fff;
    border-radius: 3px;
    box-shadow: $bs-default;
    padding: 15px;
    font-size: 16px;
    line-height: 18px;
    font-weight: 300;
    border: none;
    outline: none;
    resize: none;
    letter-spacing: 0.4px;

    &.textarea-description {
      min-height: 100px;
    }

    &.textarea-comment {
      min-height: 80px;
    }
  }

  .add-attachment {
    display: block;
    font-size: 16px;
    line-height: 18px;
    font-weight: 700;
    letter-spacing: .4px;
    text-decoration: underline;
    padding-left: 28px;
    cursor: pointer;

    &:hover {
      text-decoration: none;
    }
  }
}

.members-list {
  .member-block {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
    position: relative;

    &:hover {
      &:after, .mdi {
        opacity: 1;
        visibility: visible;
      }
    }

    &:after {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border-radius: 50%;
      background: rgba(0, 0, 0, .55);
      opacity: 0;
      visibility: hidden;
      @include transition(.3s);
    }

    img {
      max-width: 100%;
      border-radius: 50%;
    }

    .mdi {
      display: block;
      font-size: 20px;
      line-height: 20px;
      color: #fff;
      text-align: center;
      cursor: pointer;
      z-index: 1;
      opacity: 0;
      visibility: hidden;
      @include transition(.3s);
      @include center(both);
    }
  }

  .add-member {
    font-size: 22px;
    line-height: 22px;
    color: $blue-light;
    cursor: pointer;
    @include transition(.3s);

    &:hover {
      color: $blue-dark;
    }
  }
}

.attachment-row {
  margin-bottom: 20px;

  .attach-icon {
    display: block;
    font-size: 18px;
    line-height: 18px;
    margin-right: 10px;
  }

  .attachment-img {
    border-radius: 3px;
    background-color: #2a8db7;
    width: 110px;
    height: 80px;
    text-align: center;
    margin-right: 15px;

    @media (max-width: $screen-xs-max) {
      width: 60px;
      height: 50px;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .attachment-info {
    flex: 1;

    mark {
      display: block;
      padding: 0;
      background: none;
      font-size: 16px;
      line-height: 18px;
      font-weight: 700;
      letter-spacing: .4px;
      margin-bottom: 10px;

      @media (max-width: $screen-xs-max) {
        margin: 0;
      }

      .mdi {
        display: inline-block;
        vertical-align: middle;
        font-size: 23px;
        line-height: 23px;
        color: #333;
        cursor: pointer;
      }
    }

    p {
      line-height: 18px !important;
      letter-spacing: .4px;
      margin: 0 !important;

      span {
        display: inline-block;
        cursor: pointer;
        font-size: 14px;
        line-height: 16px;
        text-decoration: underline;

        &:hover {
          text-decoration: none;
        }
      }
    }
  }
}

.write-comment-wrap {
  position: relative;
  margin-bottom: 10px;

  .mdi {
    display: block;
    position: absolute;
    bottom: 10px;
    right: 10px;
    font-size: 18px;
    line-height: 18px;
    cursor: pointer;
  }
}

.save-wrap, .control-btns {
  overflow: hidden;

  .save-button,
  .delete-btn,
  .edit-btn {
    float: right;
    cursor: pointer;

    &:hover {
      i {
        border-color: transparent;
      }
    }

    i {
      display: inline-block;
      vertical-align: middle;
      font-size: 18px;
      line-height: 20px;
      font-weight: 700;
      font-style: normal;
      color: #bec4c8;
      letter-spacing: .5px;
      margin-right: 5px;
      border-bottom: 1px solid #bec4c8;
    }

    .mdi {
      display: inline-block;
      vertical-align: middle;
      font-size: 24px;
      line-height: 24px;
      color: #bec4c8;
      margin: 0;
    }
  }

  .delete-btn {
    margin-left: 20px;
  }
}

.task-comment-row {
  margin-bottom: 20px;

  .comment-img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 20px;

    img {
      max-width: 100%;
      border-radius: 50%;
    }
  }

  .comment-description {
    flex: 1;

    span {
      display: block;
      margin-bottom: 10px;
      font-size: 14px;
      line-height: 16px;
      font-weight: 300;
      letter-spacing: .4px;

      mark {
        background: none;
        padding: 0;
        font-weight: 700;
        font-size: 16px;
        line-height: 18px;
        color: $blue-light;
      }
    }

    .comment-block {
      padding: 15px;
      background-color: #fff;
      border-radius: 3px;
      box-shadow: $bs-default;
      position: relative;
      margin-bottom: 10px;

      &:before {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: -5px;
        border: 4px solid transparent;
        border-top-color: #fff;
        border-right-color: #fff;
      }

      p {
        font-size: 16px;
        line-height: 23px;
        font-weight: 300;
        letter-spacing: .4px;
        text-align: justify;
        margin: 0;
      }
    }

    .reply-wrap {
      overflow: hidden;

      .reply-button {
        display: block;
        float: right;
        font-size: 14px;
        line-height: 16px;
        font-weight: 300;
        letter-spacing: .4px;
        text-decoration: underline;
        cursor: pointer;

        &:hover {
          text-decoration: none;
        }
      }
    }
  }
}

.ask-modal-top {
  padding: 30px;
  background-color: #99a9b8;
  border-radius: 8px 8px 0 0;
  color: #fff;

  @media (max-width: $screen-xs-max) {
    padding: 20px 15px;
  }

  .modal-close {
    top: 30px;
    color: #fff;

    @media (max-width: $screen-xs-max) {
      top: 20px;
    }
  }

  h2 {
    font-size: 24px;
    line-height: 26px;
    font-weight: 700;
    margin: 0 0 5px 0;
  }

  p {
    font-size: 18px;
    line-height: 23px;
    font-weight: 300;
    margin: 0 0 5px 0;

    &:last-child {
      margin: 0;
    }
  }
}

.ask-modal-body {
  padding: 30px;

  @media (max-width: $screen-xs-max) {
    padding: 20px 15px;
  }
}

.modal-add-wrap {
  padding: 90px 50px 50px 50px;

  @media (max-width: $screen-xs-max) {
    padding:  90px 20px 50px 20px;
  }
}

.add-photo-profile-modal {
  max-width: 400px;
}

.add-photo-section {
  margin-bottom: 40px;
  position: relative;

  img {
    width: 100%;
  }
}

.delete-button {
  position: absolute;
  top: 13px;
  right: 13px;

  .mdi {
    cursor: pointer;
    display: block;
    font-size: 22px;
    line-height: 22px;
    color: $red;
  }
}

.confirm-modal-wrapper {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 800px;
  border-radius: 3px;
  background-color: #fff;
  box-shadow: $bs-hover;
  z-index: 1100;
  opacity: 0;
  visibility: hidden;
  padding-bottom: 30px;
  @include transition(.3s);

  @media (max-width: 850px) {
    width: calc(100% - 20px);
  }

  &.show {
    opacity: 1;
    visibility: visible;
  }
}

.confirm-text {
  padding: 150px 50px;
  text-align: center;

  @media (max-width: $screen-xs-max) {
    padding: 100px 15px;
  }

  p {
    font-size: 30px;
    line-height: 35px;
    font-weight: 300;
    letter-spacing: .8px;
    margin: 0;
  }
}

.modal-dialog-start-project {
  max-width: 690px;
  .modal-add-wrap {
    background-color: #f1f5f8;
    padding: 90px 70px 50px 70px;

    @media (max-width: $screen-xs-max) {
      padding: 90px 20px 50px 20px;
    }

    .button-styles {
      min-width: 200px;
      width: auto;
      margin: 40px auto 0 auto;
    }
  }
}
