<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>INVITATION: Invitation to the company</title>
</head>
<body>
    <div>TO: {{ user }}</div>
    <div>FROM: {{ company }}</div>
    <div>LINK: {{ link }}</div>
</body>
</html>