<template>
  <div class="category-col">
    <div
      class="category-col__img"
      :style="`background-image: url('${newsCategory.picture}');`"
    />
    <div class="category-col__info">
      <h4>{{ newsCategory.name }}</h4>
      <p>{{ newsCategory.description }}</p>
      <div class="subscribe-button-wrap">
        <a
          href="#"
          :class="{subscribed: newsCategory.is_subscribed}"
          @click.prevent="handleSubscribe"
        >
          {{ newsCategory.is_subscribed ? 'Subscribed' : 'Subscribe' }}
        </a>
      </div>
    </div>
  </div>
</template>

<script>
import { TimeoutMixin } from '@/mixins'

export default {
  name: 'Item',
  mixins: [TimeoutMixin],
  props: {
    category: {
      type: Object,
      required: true
    },
    subscribe: {
      type: Function,
      required: true
    }
  },
  data() {
    return {
      isLocked: false,
      newsCategory: this.category
    }
  },
  methods: {
    handleSubscribe() {
      // optimistic update
      this.newsCategory.is_subscribed = !this.newsCategory.is_subscribed

      this.$withTimeout(async () => {
        try {
          await this.subscribe(this.category.id, this.newsCategory.is_subscribed)
        } catch (e) {
          // revert changes on error
          this.newsCategory.is_subscribed = !this.newsCategory.is_subscribed
        }
      })
    }
  }
}
</script>
