<template>
  <div class="settings-holder">
    <div class="notifications-setting-top">
      <div class="row">
        <div class="col-lg-3">
          <h3>Newsletters</h3>
          <p>Stay up to date with our favorite projects, and any news and events that are on our radar.</p>
          <a
            href="#"
            :class="{'subscribe-all': subscribedToAll, 'clear-all': !subscribedToAll }"
            @click.prevent="subscribeAll"
          >
            {{ subscribedToAll ? 'Clear all' : 'Subscribe to all' }}
            <span class="mdi mdi-playlist-check" />
          </a>
        </div>
        <div class="col-lg-4" />
        <div class="col-lg-3">
          <h3>Account email notifications</h3>
          <div class="checkbox checkbox_black">
            <input
              id="check1"
              v-model="notificationsSettings.project_updates"
              type="checkbox"
            >
            <label for="check1">
              <span class="check-wrap" />
              <i class="remember-me-text">
                Project updates
              </i>
            </label>
          </div>
          <div class="checkbox checkbox_black">
            <input
              id="check2"
              v-model="notificationsSettings.new_messages"
              type="checkbox"
            >
            <label for="check2">
              <span class="check-wrap" />
              <i class="remember-me-text">
                New messages
              </i>
            </label>
          </div>
          <div class="checkbox checkbox_black">
            <input
              id="check3"
              v-model="notificationsSettings.events"
              type="checkbox"
            >
            <label for="check3">
              <span class="check-wrap" />
              <i class="remember-me-text">
                Events
              </i>
            </label>
          </div>
        </div>
      </div>
    </div>

    <div class="notification-categories">
      <List
        :items="newsCategories"
        :subscribe="subscribe"
      />
    </div>
  </div>
</template>

<script>
import axios from 'axios'
import List from './List'
import { TimeoutMixin } from '@/mixins'

export default {
  name: 'Layout',
  components: {
    List,
  },
  mixins: [TimeoutMixin],
  props: {
    categories: {
      type: Array,
      default: () => []
    },
    user: {
      type: Object,
      required: true,
    },
    subscribedAll: {
      type: Boolean,
      required: true,
    },
    settings: {
      type: Object,
      required: true
    }
  },
  data() {
    return {
      newsCategories: this.categories,
      subscribedToAll: this.subscribedAll,
      subscribeLocked: false,
      notificationsSettings: this.settings,
      updateSettingsLocked: false,
    }
  },
  watch: {
    notificationsSettings: {
      deep: true,
      handler(val, oldVal) {
        this.updateSettings(oldVal)
      }
    }
  },
  methods: {
    async subscribe(categoryId, isSubscribed) {
      if (!isSubscribed) {
        this.subscribedToAll = false
      }

      await axios({
        url: `/news/subscribe-category/${categoryId}`,
        method: 'patch',
        headers: {
          Authorization: `JWT ${this.user.token}`,
        }
      })
    },
    subscribeAll() {
      this.newsCategories.map((category) => {
        if (this.subscribedToAll) {
          category.is_subscribed = false
        } else {
          category.is_subscribed = true
        }

        return null
      })

      this.subscribedToAll = !this.subscribedToAll

      this.$withTimeout(async () => {
        try {
          await axios({
            url: '{% url "subscribe-all-categories" %}',
            method: 'post',
            data: {
              categories: this.categories.map(({ id }) => id)
            },
            headers: {
              Authorization: `JWT ${this.user.token}`,
            }
          })
        } catch (e) {
          this.newsCategories.map((category) => {
            if (this.subscribedToAll) {
              category.is_subscribed = false
            } else {
              category.is_subscribed = true
            }

            return null
          })
          this.subscribedToAll = !this.subscribedToAll
        }
      })
    },
    async updateSettings(oldVal) {
      if (!this.updateSettingsLocked) {
        this.updateSettingsLocked = true

        try {
          await axios({
            method: 'patch',
            url: `/settings/update-notifications-settings/${this.notificationsSettings.id}/`,
            data: this.notificationsSettings,
            headers: {
              Authorization: `JWT ${this.user.token}`,
            }
          })
        } catch (e) {
          this.notificationsSettings = oldVal
        }

        setTimeout(() => {
          this.updateSettingsLocked = false
        }, 3000)
      }
    }
  }
}
</script>
