<template>
  <div class="notification-categories-row d-flex flex-wrap">
    <Item
      v-for="category in items"
      :key="category.id"
      :category="category"
      :subscribe="subscribe"
    />
  </div>
</template>

<script>
import Item from './Item'

export default {
  name: 'List',
  components: {
    Item
  },
  props: {
    items: {
      type: Array,
      default: () => []
    },
    subscribe: {
      type: Function,
      required: true
    }
  }
}
</script>
