<template>
  <div>
    <Slider slider-class="about-slider about-slider-achievements">
      <Slide
        v-for="(achieve, index) in achievements"
        :key="achieve.id"
        :achievement="achieve"
        :index="index + 1"
        @showInfo="data => achievement = data"
      />
    </Slider>
  </div>
</template>

<script>
import Slider from '@/components/Slider'
import Slide from './Slide'

export default {
  name: 'AchievementsSlider',
  components: {
    Slide,
    Slider,
  },
  props: {
    achievements: {
      type: Array,
      default: () => []
    }
  },
  data() {
    return {
      achievement: {},
    }
  },
}
</script>
