<template>
  <div class="about-holder__body">
    <div class="sort-wrapper">
      <div class="row">
        <div class="col-sm-6">
          <InputDropdown
            id="years"
            :items="years"
            label="Year"
            :get-key="item => item"
            @select="handleSelectYear"
          />
        </div>
        <div class="col-sm-6">
          <InputDropdown
            id="activities"
            :items="activities"
            label="Field of activity"
            :get-value="item => item.name"
            :value="activity"
          @select="handleSelectActivity"
          />
        </div>
      </div>
      <div class="about-slider-wrap">
        <AchievementsSlider :achievements="achievements" />
      </div>
    </div>
  </div>
</template>

<script>
import AchievementsSlider from './AchievementsSlider'
import { InputDropdown } from '@/components/Form'

export default {
  name: 'Achievements',
  components: { AchievementsSlider, InputDropdown },
  props: {
    achievements: {
      type: Array,
      default: () => []
    },
    activities: {
      type: Array,
      default: () => []
    },
    years: {
      type: Array,
      default: () => []
    }
  },
  data(){
    return {
      year: null,
      activity: null
    }
  },
  methods: {
    handleSelectYear(year) {
      this.year = year
      this.activity = null

      this.$emit('yearChange', year)
    },
    handleSelectActivity(activity) {
      this.activity = activity

      this.$emit('activityChange', activity)
    },
  }
}
</script>
