<template>
  <div
    class="slide"
    :style="`background-image: url('${achievement.image}')`"
  >
    <div class="achievements-content">
      <h4>#{{ index }}</h4>
      <h4>{{ achievement.title }}</h4>
      <span>{{ achievement.activity.name }}</span>

      <a
        :href="`/about/achievements/${achievement.slug}`"
        class="read-more read-more-achievement"
        tabindex="0"
      >
        Read more
      </a>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Slide',
  props: {
    index: {
      type: Number,
      required: true
    },
    achievement: {
      type: Object,
      required: true
    }
  },
}
</script>
