{% load sekizai_tags %}

{% addtoblock "css" %}
  <link rel="stylesheet" href="https://vjs.zencdn.net/7.4.1/video-js.css">
{% endaddtoblock %}
<div class="is-project-video">
  <div class="">
    <video id="video" class="video-js" controls data-setup='{"fluid": true}'>
      <source src="{{ url }}" type="video/mp4">
      <source src="{{ url }}" type='video/mov'>
      <source src="{{ url }}" type='video/webm'>
      <p class="vjs-no-js">
        To view this video please enable JavaScript, and consider upgrading to a web browser that
        <a href="https://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
      </p>
    </video>
  </div>
</div>

{% addtoblock "js" %}
  <script src="https://vjs.zencdn.net/7.4.1/video.js"></script>
{% endaddtoblock %}