{% extends 'settings/base.html' %}
{% load vuejs sekizai_tags %}


{% block settings_content %}
<div class="settings-holder">
  <div class="back-wrapper position-top-left">
    <span class="back-icon">
      <span class="mdi mdi-account-plus"></span>
    </span>
    <mark>Update Profile</mark>
  </div>

  <div id="profile"></div>
  {% addtoblock "js" %}
    {% render_component "Profile" el="profile" data=data %}
  {% endaddtoblock %}
</div>
{% endblock %}