{% load cms_tags sekizai_tags %}
{% load static vuejs sass_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="apple-mobile-web-app-status-bar-style" content="black" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link media="all" rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" type="text/css" />
  <link media="all" rel="stylesheet" href="{% static 'css/materialdesignicons.min.css' %}" type="text/css" />
  <link media="all" rel="stylesheet" href="{% static 'css/slick.css' %}" type="text/css" />
  <link media="all" rel="stylesheet" href="{% static 'css/aos.css' %}" type="text/css" />
  <link href="{% sass_src 'scss/style.scss' %}" rel="stylesheet" type="text/css" />
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
  <title>Project Board</title>
  {% render_block "css" %}
</head>

<body>
  {% cms_toolbar %}
  <main>
    <div id="project-board"></div>
    {% addtoblock "js" %}
      {% render_component "ProjectBoard" el="project-board" data=data %}
    {% endaddtoblock %}
  </main>
  <div class="mobile-menu-mask"></div>

  {% render_block "modals" %}
  <div id="modals"></div>

  <!-- Include script -->
  <script type="text/javascript" src="{% static 'js/vendor/jquery-3.3.1.min.js'%}"></script>
  <script type="text/javascript" src="{% static 'js/vendor/popper.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/vendor/bootstrap.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/vendor/slick.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/vendor/aos.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/header-fixed.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/main.js' %}"></script>
  {% load_vendor %}
  {% render_block "js" %}

</body>
</html>
