<template>
  <div class="row project-filters justify-content-between flex-wrap">
    <div class="input-row">
      <InputDropdown
        id="categories"
        :items="categories"
        :get-key="item => item.id"
        :get-value="item => item.name"
        label="Category"
        @select="handleSelectCategory"
      />
    </div>
    <div class="add-person">
      <a
        href="#"
        class="add-project"
        style="color: #0d47a1;"
        @click.prevent="add()"
      >
        <span class="mdi mdi-plus-box" />
        Add job
      </a>
    </div>
  </div>
</template>

<script>
import bus from './bus'
import { InputDropdown } from '@/components/Form'

export default {
  name: 'Filters',
  components: {
    InputDropdown
  },
  props: {
    categories: {
      type: Array,
      default: () => []
    }
  },
  methods: {
    handleSelectCategory(item) {
      bus.$emit('filtersChange', { name: 'category', value: item ? item.id : null })
    },
    add() {
      bus.$emit('add')
    }
  }
}
</script>
