<template>
  <div>
    <div class="admin-edit-top d-flex justify-content-between flex-wrap">
      <a
        href="#"
        class="admin-back"
        @click.prevent="close"
      >
        <span class="mdi mdi-arrow-left" /> Back
      </a>
      <!--div.edit-controls-->
    </div>
    <div class="admin-row">
      <Form
        ref="editForm"
        :fields="fields"
        :submit="submit"
      >
        <template
          slot-scope="{
            models: {
              title, location, shortDescription, description, category
            }, isValid, isLoading
          }"
        >
          <div class="edit-wrapper">
            <!-- Job title -->
            <div class="edit-top justify-content-between d-flex">
              <span
                v-if="!shouldEditName"
                class="article-title"
              >
                {{ title.value || 'Job title' }} <span
                  class="mdi mdi-pencil"
                  @click.prevent="shouldEditName=true"
                />
              </span>
              <div
                v-else
                class="input-row"
              >
                <input
                  id="name"
                  v-model="title.value"
                  type="text"
                  :class="{active: title.value}"
                  autofocus
                  @blur="shouldEditName=false"
                >
                <label
                  for="name"
                  :style="title.error ? 'color: red;' : ''"
                >
                  {{ title.error || 'Job title' }}
                </label>
              </div>
              <div class="dropdown dropdown-select dropdown-add">
                <div
                  class="selected-wrap"
                  data-toggle="dropdown"
                  aria-expanded="false"
                >
                  <span class="mdi upload mdi-folder-move" />
                  <span class="label">
                    {{ category.value ? category.value.name : 'Category' }}
                  </span>
                  <span class="mdi mdi-menu-down" />
                </div>
                <div class="dropdown-menu dropdown-menu-right">
                  <div class="dropdown-list-wrapper">
                    <div class="dropdown-list">
                      <div
                        class="dropdown-list-row"
                      >
                        <a
                          v-for="c in categories"
                          :key="c.id"
                          href="#"
                          @click.prevent="setCategory(c)"
                        >
                          {{ c.name }}
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="select-size-img">
              <span>Upload photo</span>
              <div class="upload-img d-flex align-items-center flex-wrap">
                <ClipperUpload
                  ref="img"
                  v-model="image"
                  class="upload-block w80"
                />
              </div>
              <ClipperFixed
                v-if="image"
                ref="clipper"
                :src="image"
                :ratio="260/260"
                preview="preview"
                style="max-width: 600px;"
              />
              <button
                v-if="image"
                @click.prevent="clip"
              >
                clip!
              </button>
              <img
                v-if="preview || item && item.image"
                :src="preview || item && item.image"
                width="260"
                height="260"
              >
            </div>
            <div class="input-row">
              <input
                id="location"
                v-model="location.value"
                :class="{active: location.value}"
                type="text"
              >
              <label
                for="location"
                :style="location.error ? 'color: red;' : ''"
              >
                {{ location.error || 'Location' }}
              </label>
              <i class="text-hint">
                E.g. Kharkiv, UA
              </i>
            </div>
            <div class="input-row">
              <input
                id="short"
                v-model="shortDescription.value"
                :class="{active: shortDescription.value}"
                type="text"
              >
              <label for="short">
                {{ shortDescription.error || 'Short description' }}
              </label>
            </div>
            <RichTextEditor
              id="description"
              :content="description.value"
              :error="description.error"
              content-class="textarea-edit"
              @change="setContent"
            />
            <div class="edit-buttons d-flex justify-content-end">
              <Submit
                class="btn-site"
                value="Save"
                :disabled="!isValid || isLoading"
                :loading="isLoading"
              />
            </div>
          </div>
        </template>
      </Form>
    </div>
  </div>
</template>

<script>
import axios from 'axios'
import bus from './bus'
import Form, { Submit, RichTextEditor } from '@/components/Form'
import { isRequired, isCyrillic } from '@/utils/validators'
import { NotificationMixin } from '@/mixins'

export default {
  name: 'EditForm',
  components: {
    Form,
    Submit,
    RichTextEditor
  },
  mixins: [NotificationMixin],
  props: {
    user: {
      type: Object,
      required: true,
    },
    item: {
      type: Object,
      default: () => {}
    },
    categories: {
      type: Array,
      default: () => []
    }
  },
  data() {
    return {
      fields: [
        { name: 'title', validators: [isRequired, isCyrillic] },
        { name: 'location', validators: [isRequired] },
        { name: 'shortDescription', validators: [isRequired] },
        { name: 'description', validators: [isRequired] },
        { name: 'category', validators: [isRequired] }
      ],
      shouldEditName: false,
      image: null,
      preview: null,
    }
  },
  watch: {
    image() {
      if (this.$refs.img.file.size > 2097152) {
        this.notify('error', 'File is too large. 2MB is the limit!')
        this.image = null
      }
    }
  },
  created() {
    const { fields, item } = this

    if (item) {
      fields[0].value = item.title
      fields[1].value = item.location
      fields[2].value = item.short_description
      fields[3].value = item.rich_description
      fields[4].value = item.category
    }
  },
  methods: {
    clip() {
      const img = this.$refs.clipper.clip()
      this.image = ''
      this.preview = img.toDataURL('image/jpg', 1)
    },
    setCategory(item) {
      this.$refs.editForm.setFieldValue('category', item)
    },
    setContent(value) {
      this.$refs.editForm.setFieldValue('description', value)
    },
    submit(values) {
      if (this.item) {
        this.update(values)
      } else {
        this.create(values)
      }
    },
    async create(values) {
      const data = {
        title: values.title,
        location: values.location,
        short_description: values.shortDescription,
        rich_description: values.description,
        category_id: values.category.id
      }

      if (this.preview) {
        data.image = this.preview
      } else {
        this.notify('error', 'Upload a picture for your vacancy, please')
        return
      }

      const response = await axios({
        method: 'post',
        url: '{% url "create-job" %}',
        data,
        headers: {
          Authorization: `JWT ${this.user.token}`
        }
      })

      if (response.status === 201) {
        bus.$emit('update', response.data)
      }
    },
    async update(values) {
      const data = {
        title: values.title,
        location: values.location,
        short_description: values.shortDescription,
        rich_description: values.description,
        category_id: values.category.id,
        pk: this.item.id
      }

      const response = await axios({
        method: 'put',
        url: '{% url "update-job" %}',
        data,
        headers: {
          Authorization: `JWT ${this.user.token}`
        }
      })

      if (response.status === 200) {
        bus.$emit('update', response.data)
      }
    },
    close() {
      bus.$emit('close')
    }
  }
}
</script>

<style lang="scss" scoped>
  #location, #name {
    width: 400px;
  }
</style>
