<template>
  <div v-if="loading && !showForm">
    loading...
  </div>
  <EditForm
    v-else-if="showForm"
    :item="selectedItem"
    :user="user"
    :categories="jobCategories"
  />
  <div v-else>
    <Filters
      :categories="jobCategories"
    />
    <div class="content-wrapper">
      <div class="row flex-wrap">
        <Item
          v-for="item in filteredJobs"
          :key="item.id"
          :item="item"
        />
      </div>
    </div>
  </div>
</template>

<script>
import Swal from 'sweetalert2'
import axios from 'axios'
import bus from './bus'
import Item from './Item'
import Filters from './Filters'
import EditForm from './Form'
import { NotificationMixin } from '@/mixins'

export default {
  name: 'AdminCareers',
  components: {
    Item,
    Filters,
    EditForm,
  },
  mixins: [NotificationMixin],
  props: {
    user: {
      type: Object,
      required: true
    },
    jobCategories: {
      type: Array,
      default: () => []
    }
  },
  data() {
    return {
      loading: true,
      hasNext: false,
      page: 1,
      jobs: [],
      category: null,
      showForm: false,
      selectedItem: null
    }
  },
  computed: {
    filteredJobs() {
      let { jobs } = this

      if (this.category) {
        jobs = jobs.filter(job => job.category.id === this.category)
      }

      return jobs
    }
  },
  async mounted() {
    const response = await axios({
      method: 'get',
      url: '{% url "admin-get-jobs" %}',
      params: { page: this.page }
    })

    if (response.status === 200) {
      this.loading = false
      this.jobs = response.data.results
    }

    if (response.data.next) {
      this.hasNext = true
      this.page += 1
    }
  },
  created() {
    bus.$on('filtersChange', this.handleFilters)
    bus.$on('edit', this.edit)
    bus.$on('update', this.update)
    bus.$on('add', this.edit)
    bus.$on('remove', this.remove)
    bus.$on('close', this.close)
  },
  methods: {
    handleFilters({ name, value }) {
      this[name] = value
    },
    edit(item = null) {
      if (item) {
        this.selectedItem = item
      }
      this.showForm = true
    },
    update(item) {
      this.showForm = false
      const index = this.jobs.findIndex(job => job.id === item.id)

      if (index > -1) {
        this.$set(this.jobs, index, item)
        this.notify('success', 'Job has been updated successfully')
      } else {
        this.notify('success', 'Job has been created successfully')
        if (!this.hasNext) {
          this.jobs.push(item)
        }
      }
    },
    remove(pk) {
      const url = '{% url "remove-job" %}'
      const data = { pk }

      Swal.fire({
        title: 'Are you sure?',
        type: 'question',
        showConfirmButton: true,
        confirmButtonText: 'Delete',
        confirmButtonColor: 'red',
        showCancelButton: true,
        showLoaderOnConfirm: true,
        preConfirm: async () => {
          try {
            const response = await axios({
              method: 'delete',
              url,
              data,
              headers: {
                Authorization: `JWT ${this.user.token}`
              }
            })

            if (response.status === 204) {
              const index = this.jobs.findIndex(job => job.id === pk)
              this.jobs.splice(index, 1)
              this.notify('success', 'Job has been successfully deleted')
            }
          } catch (e) {
            this.notify('error', 'Something went wrong!')
            console.log(e)
          }
        }
      })
    },
    close() {
      this.showForm = false
    }
  }
}
</script>

<style>

</style>
