<template>
  <div class="d-flex justify-content-between align-items-center projects-top-wrapper flex-column flex-lg-row">
    <div class="row project-filters">
      <InputRow
        v-model="search"
        label="Search by name"
      >
        <span
          slot="icon"
          class="mdi mdi-magnify select-search-button"
        />
      </InputRow>
      <div class="input-row">
        <InputDropdown
          id="industries"
          :items="industries"
          :get-key="item => item.id"
          :get-value="item => item.name"
          label="Sort by industry"
          @select="handleSelectIndustry"
        />
      </div>
      <div class="input-row">
        <InputDropdown
          id="sortby"
          :items="sortByItems"
          :get-key="item => item.id"
          :get-value="item => item.name"
          label="Sort by"
          @select="handleSelectSortBy"
        />
      </div>
    </div>
    <a
      href="#"
      class="admin-add-button view-archive-button"
      @click.prevent="isArchive = !isArchive"
    >
      <span class="mdi mdi-archive" /> View {{ isArchive ? 'active' : 'archive' }}
    </a>
  </div>
</template>

<script>
import { InputRow, InputDropdown } from '@/components/Form'
import bus from './bus'

export default {
  name: 'Filters',
  components: {
    InputRow,
    InputDropdown
  },
  props: {
    industries: {
      type: Array,
      default: () => []
    },
  },
  data() {
    return {
      search: '',
      isArchive: false,
      sortByItems: [
        { id: 1, value: 'popularity', name: 'Popularity' },
        { id: 2, value: 'newest', name: 'Newest' },
        { id: 3, value: 'oldest', name: 'Oldest' },
      ],
    }
  },
  watch: {
    search(value) {
      bus.$emit('filtersChange', { name: 'search', value })
    },
    isArchive(value) {
      bus.$emit('filtersChange', { name: 'archive', value })
    }
  },
  methods: {
    handleSelectIndustry(item) {
      bus.$emit('filtersChange', { name: 'industry', value: item ? item.id : null })
    },
    handleSelectSortBy(item) {
      bus.$emit('filtersChange', { name: 'sortby', value: item ? item.value : null })
    }
  }
}
</script>
