<template>
  <div class="col-lg-6">
    <div class="info-block-wrap">
      <div class="status grey" />
      <div class="row align-items-center">
        <div class="col-md-5">
          <span>
            Project: <br>
            <mark class="project-name">
              {{ project.name }}
            </mark>
          </span>
        </div>
        <div class="col-md-5">
          <span>Budget: <mark>${{ project.budget }}</mark></span>
          <span>Company: <mark>{{ project.company.name }}</mark> </span>
        </div>
        <div class="col-md-2">
          <div class="review-controls d-flex justify-content-end align-items-center">
            <div class="dropdown dropdown-top-right">
              <span
                class="mdi mdi-dots-vertical"
                data-toggle="dropdown"
              />
              <div class="dropdown-menu dropdown-menu-right">
                <a
                  href="#"
                  class="dropdown-item"
                  @click.prevent="sendMessage"
                >
                  Messages
                </a>
                <a
                  href="#"
                  class="dropdown-item"
                  @click.prevent="archive"
                >
                  {{ project.is_archived ? 'From' : 'To' }} archive
                </a>
                <a
                  :href="project.url"
                  class="dropdown-item"
                  target="_blank"
                >
                  Details
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import axios from 'axios'
import bus from './bus'
import { NotificationMixin } from '@/mixins'

export default {
  name: 'Item',
  mixins: [NotificationMixin],
  props: {
    user: {
      type: Object,
      required: true
    },
    project: {
      type: Object,
      required: true,
    }
  },
  methods: {
    async sendMessage() {
      const response = await axios({
        method: 'post',
        url: '{% url "send-warning-message" %}',
        data: {
          user_id: this.project.company.owner.id
        },
        headers: {
          Authorization: `JWT ${this.user.token}`
        }
      })

      if (response.status === 200) {
        this.notify('success', 'Message sent')
      }
    },
    archive() {
      bus.$emit('archive', this.project.id)
    }
  }
}
</script>
