<template>
  <div>
    <div class="row project-filters">
      <div class="input-row">
        <div class="dropdown dropdown-select">
          <div
            class="selected-wrap"
            data-toggle="dropdown"
            aria-expanded="false"
          >
            <span class="label">
              Main page
            </span>
            <span class="selected-item" />
            <span class="mdi mdi-menu-down" />
          </div>
          <div
            class="dropdown-menu"
            x-placement="bottom-start"
            style="position: absolute; transform: translate3d(0px, 40px, 0px); top: 0px; left: 0px; will-change: transform;"
          >
            <div class="dropdown-list-wrapper">
              <div class="dropdown-list">
                <div class="dropdown-list-row">
                  <a href="#">
                    Link 1
                  </a>
                  <a href="#">
                    Link 2
                  </a>
                  <a href="#">
                    Link 3
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="admin-row admin-settings">
      <div class="admin-select-lang">
        <a
          href="#"
          class="active"
        >
          English
        </a>
        <a href="#">
          French
        </a>
        <a href="#">
          German
        </a>
      </div>
      <div class="input-row input-row-admin">
        <textarea
          class="textarea-autoheight"
          style="height:39px;overflow-y:hidden;"
        >The best solutions in one platform</textarea>
      </div>
      <div class="input-row input-row-admin">
        <textarea
          class="textarea-autoheight"
          style="height:39px;overflow-y:hidden;"
        >Now, creating, giving, and tracking solutions is as easy as 1,2,3.</textarea>
      </div>
      <div class="input-row input-row-admin">
        <textarea
          class="textarea-autoheight"
          style="height:39px;overflow-y:hidden;"
        >Skip video</textarea>
      </div>
      <div class="input-row input-row-admin">
        <textarea
          class="textarea-autoheight"
          style="height:39px;overflow-y:hidden;"
        >Start a project</textarea>
      </div>
      <div class="input-row input-row-admin">
        <textarea
          class="textarea-autoheight"
          style="height:39px;overflow-y:hidden;"
        >Your city</textarea>
      </div>
      <div class="input-row input-row-admin">
        <textarea
          class="textarea-autoheight"
          style="height:39px;overflow-y:hidden;"
        >About us</textarea>
      </div>
      <div class="input-row input-row-admin">
        <textarea
          class="textarea-autoheight"
          style="height:39px;overflow-y:hidden;"
        >Intellectual services</textarea>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'AdminLanguages'
}
</script>
