<template>
  <div :class="isHalf ? 'col-lg-6' : 'col-12'">
    <div class="is-row-block">
      <div class="is-row-top row">
        <div :class="isHalf ? 'col-lg-8' : 'col-lg-4 col-md-6'">
          <div class="is-row-info d-flex align-items-center">
            <div class="is-row-img">
              <img
                :src="item.company.logo"
                :alt="item.company.name"
              >
            </div>
            <div class="is-row-details">
              <a
                :href="`/services/company/${item.company.id}/`"
                class="details-page-link"
              >
                {{ item.company.name }}
              </a> <span class="location">
                {{ item.company.location_display }}
              </span>

              <Rating :rating="item.company.rating" />

              <span class="reviews">
                {{ item.company.rating }} - {{ item.company.reviews_count }}
                <a
                  href="#"
                  data-toggle="modal"
                  data-target="#reviews-modal"
                  @click="showReviews"
                >
                  Reviews
                </a>
              </span>
            </div>
          </div>
        </div>
        <template v-if="isHalf">
          <div class="col-lg-4">
            <div class="is-col">
              <span>Rate</span>
              <mark>
                {{ item.hourly_rate == 0 ? 'Upon request' : `$${item.hourly_rate}` }}
              </mark>
            </div>
            <div class="is-col">
              <span>Job done</span>
              <mark>73</mark>
            </div>
          </div>
        </template>
        <template v-else>
          <div class="col-lg-2 col-md-6">
            <div class="is-col">
              <span>Date of foundation</span>
              <mark>{{ item.company.date_creation | date }}</mark>
            </div>
            <div class="is-col">
              <span>Job done</span>
              <mark>73</mark> <!-- TODO: count job done on BE -->
            </div>
          </div>
          <div class="col-lg-3 col-md-6">
            <div class="is-col">
              <span>Type of ownership</span>
              <mark>{{ item.company.ownership && item.company.ownership.name }}</mark>
            </div>
            <div class="is-col">
              <span>Language</span>
              <mark>{{ item.company.language_list }}</mark>
            </div>
          </div>
          <div class="col-lg-3 col-md-6">
            <div class="is-col">
              <span>Rate</span>
              <mark>
                {{ item.hourly_rate == 0 ? 'Upon request' : `$${item.hourly_rate}` }}
              </mark>
            </div>
          </div>
        </template>
      </div>
      <div class="is-row-description">
        <h3 class="title-description">
          {{ item.name }}
        </h3>
        <p :class="{truncate: isHalf}">
          {{ item.description }}
        </p>
      </div> <div class="is-row-button">
        <div class="row justify-content-end">
          <div :class="isHalf ? 'col-12' : 'col-xl-6 col-lg-7'">
            <div class="is-buttons-wrap d-flex">
              <SocialShare
                :url="`${originUrl}/services/service/${item.company.slug}/${item.slug}`"
                :title="item.name"
                :description="item.description"
              >
                <span
                  class="button-styles share"
                >
                  <span class="mdi mdi-share-variant" />
                </span>
              </SocialShare>
              <a
                :href="`/services/service/${item.company.slug}/${item.slug}`"
                class="button-styles more-info"
              >
                More information
              </a>
              <SendMessageButton
                :user="user"
                :item="item"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import SocialShare from '@/components/SocialShare'
import Rating from '@/components/Rating'
import ItemMixin from '../ItemMixin'
import bus from '../bus'
import SendMessageButton from '../SendMessageButton'

export default {
  name: 'Service',
  components: {
    Rating,
    SocialShare,
    SendMessageButton
  },
  mixins: [ItemMixin],
  props: {
    user: {
      type: Object,
      default: null
    }
  },
  methods: {
    showReviews() {
      bus.$emit('showReviews', this.item.company)
    }
  }
}
</script>
