<template>
  <div>
    <template v-if="items.length">
      <div class="row">
        <Item
                v-for="(item, index) in items"
                :key="item.id"
                :item="item"
                :index="index"
                :user="user"
                :has-next="!!items[index + 1]"
        />
      </div>

      <div
              v-if="hasMore"
              class="load-more-button text-center"
      >
        <button
                class="btn-site"
                @click="$emit('loadMore')"
        >
          Load more
        </button>
      </div>
    </template>
    <div v-else class="loading-status">
      <zeroresults @back="loading = false"></zeroresults>
    </div>
  </div>
</template>

<script>
import Item from './Item'
import zeroresults from '@/widget/zeroResultsTips'

export default {
  name: 'ServiceList',
  components: {
    Item,
    zeroresults
  },
  props: {
    items: {
      default: () => []
    },
    hasMore: {
      default: true,
      required: true,
    },
    user: {
      default: null
    }
  }
}
</script>
