<template>
  <div class="task-comment-row d-flex">
    <div class="comment-img">
      <img :src="comment.user_data.picture">
    </div>
    <div class="comment-description">
      <span><mark>{{ comment.user_data.name }}</mark> {{ humanizeDate(comment.updated_at) }}</span>
      <div class="comment-block">
        <p v-if="!shouldEdit">
          {{ comment.text }}
        </p>
        <div
          v-else
          class="input-row"
        >
          <input
            v-model="commentText"
            type="text"
            @keyup.enter="updateComment"
          >
        </div>
      </div>
      <div class="control-btns">
        <div
          class="delete-btn"
          @click.prevent="removeComment"
        >
          <i>Delete</i>
          <span class="mdi mdi-delete" />
        </div>
        <div
          class="edit-btn"
          @click.prevent="shouldEdit = true"
        >
          <i>Edit</i>
          <span class="mdi mdi-pencil" />
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import moment from 'moment'

export default {
  name: 'Comment',
  props: {
    comment: {
      type: Object,
      required: true
    }
  },
  data() {
    return {
      commentText: this.comment && this.comment.text,
      shouldEdit: false
    }
  },
  methods: {
    humanizeDate(date) {
      return moment(date).fromNow()
    },
    removeComment() {
      this.$emit('removeComment', this.comment.id)
    },
    updateComment() {
      this.shouldEdit = false
      const data = {
        pk: this.comment.id,
        text: this.commentText
      }
      this.$emit('updateComment', data)
    }
  }
}
</script>

<style>
  .delete-btn {
    margin-left: 20px;
  }
</style>
