<template>
  <div class="setting-wrapper board-wrapper">
    <div class="board-section">
      <div class="board-top d-flex justify-content-between align-items-center flex-wrap">
        <div class="back-wrapper">
          <a :href="`{% url 'projects-list' %}`">
            <span class="back-icon">
              <span class="mdi mdi-arrow-left" />
            </span>
            <mark>{{ project.name }}</mark>
          </a>
        </div>
      </div>
      <div class="board-body">
        <div class="row">
          <div class="col-xl-8 col-lg-6">
            <div
              v-for="task in tasks"
              :key="task.id"
              class="row"
            >
              <!-- !TODO list of tasks here!!!!! -->
              <div
                v-b-modal.task-modal
                class="col-xl-8 col-lg-12"
                @click.prevent="selectTask(task)"
              >
                <div class="board-task">
                  <div class="d-flex align-items-center">
                    <div class="board-task-img">
                      <!-- user avatar -->
                      <img :src="user.picture">
                    </div>
                    <div class="board-task-text">
                      <span class="task-name">
                        {{ task.name || 'Task name' }}
                      </span>
                      <div class="board-task-info d-flex align-items-center">
                        <div class="task-info-col">
                          <span class="mdi mdi-eye-outline" />
                        </div>
                        <div class="task-info-col">
                          <span class="mdi mdi-text-subject" />
                        </div>
                        <div class="task-info-col">
                          <span class="mdi mdi-message-text-outline" />
                          <i>{{ task.comments_count }}</i>
                        </div>
                        <div class="task-info-col">
                          <span class="mdi mdi-attachment" />
                          <i>{{ task.attachments_count }}</i>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-xl-4 col-lg-12">
                <div class="progress-holder">
                  <div class="progress-control">
                    <span
                      class="mdi mdi-minus"
                      @click.prevent="changeProgress('-', task)"
                    />
                  </div>
                  <div class="progress-circle-wrapper">
                    <span>{{ task.progress * 10 }}%</span>
                    <svg
                      class="progress-circle"
                      width="80"
                      height="80"
                      viewBox="0 0 160 160"
                    >
                      <circle
                        class="progress-circle__border"
                        cx="80"
                        cy="80"
                        r="65"
                        fill="none"
                        stroke="#fff"
                        stroke-width="26"
                      />
                      <circle
                        class="progress-circle__value"
                        cx="80"
                        cy="80"
                        r="65"
                        fill="none"
                        stroke="#4fc5eb"
                        stroke-width="26"
                        stroke-dasharray="408.4"
                        :stroke-dashoffset="408.4 - task.progress * 40.84"
                      />
                    </svg>
                  </div>
                  <div class="progress-control">
                    <span
                      class="mdi mdi-plus"
                      @click.prevent="changeProgress('+', task)"
                    />
                  </div>
                </div>
              </div>
            </div>
            <div
              v-if="user.is_pm"
              class="row"
            >
              <div class="col-xl-4 col-lg-12">
                <div
                  class="add-task-wrapper"
                  @click.prevent="create"
                >
                  <i>Add a task</i>
                  <span class="mdi mdi-plus-box" />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <TaskForm
      :user="user"
      :project="project.id"
      :task="selectedTask"
      :comments="taskComments.slice().reverse()"
      :attachments="taskAttachments.slice().reverse()"
      @update="updateTask"
      @updateComments="updateComments"
      @updateAttachments="updateAttachments"
      @deleteTask="deleteTask"
      @deleteAttachment="deleteAttachment"
    />
  </div>
</template>

<script>
import axios from 'axios'
import Vue from 'vue'
import { setTimeout } from 'timers'
import TaskForm from './TaskForm'

export default {
  name: 'ProjectBoard',
  components: {
    TaskForm
  },
  props: {
    user: {
      type: Object,
      default: () => {}
    },
    project: {
      type: Object,
      default: () => {}
    }
  },
  data() {
    return {
      tasks: [],
      selectedTask: null,
      taskComments: [],
      taskAttachments: []
    }
  },
  async created() {
    const { data } = await axios({
      method: 'get',
      url: '{% url "get-tasks" %}',
      params: { project: this.project.id },
      headers: {
        Authorization: `JWT ${this.user.token}`
      }
    })
    if (data.success) {
      this.tasks = data.tasks
    }
  },
  methods: {
    async selectTask(task) {
      this.selectedTask = task
      this.getComments(task.id)
      this.getAttachments(task.id)
    },
    async getComments(task) {
      const { data } = await axios({
        method: 'get',
        url: '{% url "get-comments" %}',
        params: { task }
      })
      this.taskComments = [].concat(data.comments)
    },
    async getAttachments(task) {
      const { data } = await axios({
        method: 'get',
        url: '{% url "get-attachments" %}',
        params: { task }
      })
      this.taskAttachments = [].concat(data.attachments)
    },
    changeProgress(sign, task) {
      if (sign === '-' && task.progress > 0) {
        task.progress -= 1
      } else if (sign === '+' && task.progress < 10) {
        task.progress += 1
      }
      setTimeout(() => this.updateTask({ pk: task.id }, task.progress), 3000)
    },
    async create() {
      const { data } = await axios({
        method: 'post',
        url: '{% url "create-task" %}',
        data: { project: this.project.id },
        headers: {
          Authorization: `JWT ${this.user.token}`
        }
      })
      if (data.success) {
        this.tasks.push(data.task)
      }
    },
    async updateTask(formData, progress = undefined) {
      if (progress) {
        formData.progress = progress
      }
      const { data } = await axios({
        method: 'put',
        url: '{% url "update-task" %}',
        data: formData,
        headers: {
          Authorization: `JWT ${this.user.token}`
        }
      })
      if (data.success) {
        const index = this.tasks.findIndex(task => task.id === data.task.id)
        Vue.set(this.tasks, index, data.task)
      }
    },
    updateComments(comment = undefined, id = undefined) {
      if (id && !comment) {
        const index = this.taskComments.findIndex(comm => comm.id === id)
        this.taskComments.splice(index, 1)
      } else if (comment && !id) {
        this.taskComments = this.taskComments.concat(comment)
      } else {
        const index = this.taskComments.findIndex(comm => comm.id === comment.id)
        Vue.set(this.taskComments, index, comment)
      }
    },
    deleteTask(id) {
      const index = this.tasks.findIndex(task => task.id === id)
      this.tasks.splice(index, 1)
    },
    updateAttachments(attachment) {
      this.taskAttachments = this.taskAttachments.concat(attachment)
    },
    deleteAttachment(id) {
      const index = this.taskAttachments.findIndex(attach => attach.id === id)
      this.taskAttachments.splice(index, 1)
    }
  }
}
</script>

<style lang="scss" scoped>
  .progress-circle__value {
    transition: stroke-dashoffset .35s;
  }
</style>
