<template>
  <!-- eslint-disable vue/component-name-in-template-casing -->
  <b-modal
    id="task-modal"
    ref="taskModal"
    class="reviews-modal"
    hide-header
    hide-footer
  >
    <div
      class="modal-content"
      @change.prevent="showMe($event)"
    >
      <span class="close-modal">
        <span
          class="mdi mdi-delete red"
          @click.prevent="removeTask"
        />
        <span
          class="mdi mdi-close"
          @click.prevent="$refs.taskModal.hide()"
        />
      </span>
      <div class="modal-heading">
        <div class="modal-title">
          <span class="mdi mdi-view-dashboard" />
          <div
            v-if="shouldEditName"
            class="input-row"
          >
            <input
              id="name"
              v-model="taskName"
              type="text"
              @keyup.enter="shouldEditName = !shouldEditName"
            >
          </div>
          <i
            v-else
            class="task-title"
          >
            {{ taskName || 'Task name' }} <span
              class="mdi mdi-pencil"
              @click.prevent="shouldEditName = !shouldEditName"
            />
          </i>
        </div>
      </div>
      <div class="modal-wrapper">
        <div class="task-top d-flex justify-content-between align-items-center flex-wrap">
          <span class="status">
            in list <mark>In progress</mark>
          </span>
          <div
            v-if="dueDate"
            class="due-date"
            @click.prevent="showPicker = true"
          >
            <span class="mdi mdi-timer" />
            {{ dueDate | date }}
          </div>
          <div
            v-else
            class="due-date"
            @click.prevent="showPicker = true"
          >
            <span class="mdi mdi-timer" />
            Due date
          </div>
          <DatePicker
            v-if="showPicker"
            id="due-date"
            v-model="dueDate"
            type="datetime"
            lang="en"
            :not-before="new Date()"
            :time-picker-options="{start: '00:00', step: '01:00', end: '23:00'}"
            confirm
            @confirm="saveDeadline"
          />
        </div>
        <div class="task-card-row">
          <span class="task-title-section">
            Members
          </span>
          <div
            v-if="task"
            class="members-list d-flex align-items-center"
          >
            <div
              v-for="member in task.assinged_users"
              :key="member.id"
              class="member-block"
            >
              <img
                :src="member.picture"
                alt=""
              >
              <span class="mdi mdi-delete" />
            </div>
            <span class="mdi mdi-plus-box add-member" />
          </div>
        </div>
        <div class="task-card-row">
          <span class="task-title-section">
            Description
          </span>
          <textarea
            v-model="taskDescription"
            class="textarea-autoheight textarea-description"
            placeholder="Add a more detailed description..."
          />
        </div>
        <div class="task-card-row">
          <span class="task-title-section">
            Attachments
          </span>
          <div
            v-for="attachment in attachments"
            :key="attachment.id"
            class="attachment-row d-flex"
          >
            <span class="mdi mdi-attachment attach-icon" />
            <div class="attachment-img">
              <img
                :src="attachment.file"
                alt=""
              >
            </div>
            <div class="attachment-info">
              <mark>
                {{ attachment.name }} <a
                  :href="attachment.file"
                  target="_blank"
                >
                  <span class="mdi mdi-open-in-new" />
                </a>
              </mark>
              <p>
                {{ humanizeDate(attachment.created_at) }} -  <span @click.prevent="removeAttachment(attachment.id)">
                  Delete
                </span>
              </p>
            </div>
          </div>
          <form
            enctype="multipart/form-data"
            @change.prevent="addAttachment"
          >
            <input
              id="attach"
              ref="file"
              type="file"
              hidden
            >
            <label
              for="attach"
              class="add-attachment"
            >
              Add an attachment
            </label>
          </form>
        </div>
        <div class="task-card-row">
          <span class="task-title-section">
            Add comment
          </span>
          <div class="write-comment-wrap">
            <form enctype="multipart/form-data">
              <textarea
                id="new-comment"
                v-model="newComment"
                class="textarea-autoheight textarea-comment"
                placeholder="Write a comment..."
              />
              <input
                id="comment-attach"
                ref="commentFile"
                type="file"
                hidden
              >
              <label
                for="comment-attach"
                class="mdi mdi-attachment"
              />
            </form>
          </div>
          <div class="save-wrap">
            <div
              class="save-button"
              @click.prevent="saveComment"
            >
              <i>Save</i>
              <span class="mdi mdi-content-save" />
            </div>
          </div>
        </div>
        <div class="task-card-row">
          <span class="task-title-section">
            Activity
          </span>
          <Comment
            v-for="comment in comments"
            :key="comment.id"
            :comment="comment"
            @removeComment="removeComment"
            @updateComment="updateComment"
          />
        </div>
      </div>
    </div>
  </b-modal>
</template>

<script>
import axios from 'axios'
import moment from 'moment'
import DatePicker from 'vue2-datepicker'
import Comment from './Comment'

export default {
  name: 'TaskForm',
  filters: {
    date(date) {
      return moment(date).calendar()
    }
  },
  components: {
    Comment,
    DatePicker
  },
  props: {
    user: {
      type: Object,
      required: true
    },
    task: {
      type: Object,
      default: () => {}
    },
    project: {
      type: Number,
      required: true
    },
    comments: {
      type: Array,
      default: () => []
    },
    attachments: {
      type: Array,
      default: () => []
    }
  },
  data() {
    return {
      shouldEditName: false,
      taskName: null,
      taskDescription: null,
      dueDate: null,
      assignedUsers: null,
      progress: null,
      newComment: null,
      shouldEditComment: false,
      showPicker: false,
    }
  },
  watch: {
    task() {
      this.taskName = this.task.name
      this.taskDescription = this.task.description
      this.dueDate = this.task.due_date
      this.assignedUsers = this.task.assinged_users
      this.progress = this.task.progress
    }
  },
  methods: {
    saveDeadline() {
      this.showPicker = false
      this.showMe()
    },
    showMe() {
      const data = {
        name: this.taskName,
        description: this.taskDescription,
        due_date: moment(this.dueDate),
        // assinged_users: this.assignedUsers.map(user => user.id),
        project: this.project,
        comment: this.newComment
      }
      if (this.task) {
        data.pk = this.task.id
        this.update(data)
      }
    },
    update(formData) {
      this.$emit('update', formData)
    },
    async saveComment() {
      const formData = {
        text: this.newComment,
        user: this.user.id,
        task: this.task.id
      }
      const { data } = await axios({
        method: 'post',
        url: '{% url "create-comment" %}',
        data: formData,
        headers: {
          Authorization: `JWT ${this.user.token}`
        }
      })
      if (data.success) {
        this.newComment = null
        if (this.$refs.commentFile.files.length) {
          this.addAttachment(this.$refs.commentFile.files[0], data.comment.id)
        }
        this.$emit('updateComments', data.comment)
      }
    },
    humanizeDate(date) {
      return moment(date).fromNow()
    },
    async removeComment(pk) {
      const { data } = await axios({
        method: 'delete',
        url: '{% url "remove-comment" %}',
        data: { pk },
        headers: {
          Authorization: `JWT ${this.user.token}`
        }
      })
      if (data.success) {
        this.$emit('updateComments', undefined, pk)
      }
    },
    async updateComment(formData) {
      const { data } = await axios({
        method: 'put',
        url: '{% url "update-comment" %}',
        data: formData,
        headers: {
          Authorization: `JWT ${this.user.token}`
        }
      })
      if (data.success) {
        this.$emit('updateComments', data.comment, data.comment.id)
      }
    },
    async removeTask() {
      const { data } = await axios({
        method: 'delete',
        url: '{% url "remove-task" %}',
        data: { pk: this.task.id },
        headers: {
          Authorization: `JWT ${this.user.token}`
        }
      })
      if (data.success) {
        this.$refs.taskModal.hide()
        this.$emit('deleteTask', this.task.id)
      }
    },
    async addAttachment(file = undefined, comment = undefined) {
      const formData = new FormData()
      if (file && comment) {
        formData.append('file', file)
        formData.append('comment', comment)
      } else {
        formData.append('file', this.$refs.file.files[0])
      }
      formData.append('task', this.task.id)

      const { data } = await axios({
        method: 'post',
        url: '{% url "add-attachment" %}',
        data: formData,
        headers: {
          Authorization: `JWT ${this.user.token}`,
        }
      })
      if (data.success) {
        this.$emit('updateAttachments', data.attachment)
      }
    },
    async removeAttachment(pk) {
      const { data } = await axios({
        method: 'delete',
        url: '{% url "remove-attachment" %}',
        data: { pk },
        headers: {
          Authorization: `JWT ${this.user.token}`
        }
      })
      if (data.success) {
        this.$emit('deleteAttachment', pk)
      }
    }
  }
}
</script>

<style lang="scss" scoped>
  .red {
    color: #f33;
  }
  .input-row {
    display: inline-block;
    margin-bottom: 0;
  }
  .task-title {
    min-height: 40px !important;
    vertical-align: top !important;
  }
  .delete-btn {
    margin-left: 20px;
  }
  .due-date {
    cursor: pointer;
  }
</style>
