{% extends 'base.html' %}
{% load sekizai_tags cms_tags menu_tags vuejs %}
{% block add_metatags %}
  {% if not seo_tags %}
    <meta name="robots" content="index, follow">
  {% endif %}
{% endblock add_metatags %}
{% block content %}
  <section class="section-top">
    <div class="wrapper">
      <div class="title-wrap">
        <span>Education Development Unit</span>
      </div>
      <div class="categories-wrapper d-flex justify-content-between align-items-center">
        <div class="categories-list d-flex justify-content-between align-items-end">
          {% show_menu 1 %}
        </div>
      </div>
    </div>
  </section>

  {% block education_content %}{% endblock %}
  <div id="learn-more"></div>
  {% addtoblock "js" %}
    {% render_component "LearnMore" el="learn-more" %}
  {% endaddtoblock %}
{% endblock %}
