{% extends 'education/base.html' %}
{% load cms_tags static %}

{% block education_content %}

<section class="section-about">
  <div class="wrapper">
    <div class="banner">
      <img src="{% static 'images/edu-graduates.jpg' %}" alt="" class="img-fluid">
      {% placeholder "title" %}
    </div>
    <div class="about-info-wrapper">
      {% placeholder "Paragraph 1" %}
      {% placeholder "Paragraph 2" %}
      {% placeholder "Paragraph 3" %}
      {% placeholder "Paragraph 4" %}
      {% placeholder "List" %}
      {% include 'education/learn-more.html' %}
    </div>
  </div>
</section>

{% endblock %}