{% extends 'education/base.html' %}
{% load cms_tags static %}

{% block education_content %}

<section class="section-about">
  <div class="wrapper">
    <div class="banner">
      <img src="{% static 'images/edu-undergraduates.jpg' %}" alt="" class="img-fluid">

      {% placeholder "title" %}

    </div>
    <div class="about-info-wrapper">
      {% placeholder "Top description" %}

      {% placeholder "1st section title" %}
      {% placeholder "1st section description" %}

      {% placeholder "2nd section title" %}
      {% placeholder "2nd section description" %}

      {% placeholder "3rd section title" %}
      {% placeholder "3rd title description" %}
      {% include 'education/learn-more.html' %}
    </div>
  </div>
</section>

{% endblock %}