<template>
  <div>
    <Slider slider-class="about-slider about-slider-achievements">
      <Slide
        v-for="proj in projects"
        :key="proj.id"
        :project="proj"
        @showInfo="data => project = data"
      />
    </Slider>
  </div>
</template>

<script>
import Slider from '@/components/Slider'
import Slide from './Slide'

export default {
  name: 'CommonProjectsSlider',
  components: {
    Slide,
    Slider,
  },
  props: {
    projects: {
      type: Array,
      default: () => []
    }
  },
  data() {
    return {
      project: {},
    }
  },
}
</script>
