<template>
  <div class="about-holder__body">
    <div class="sort-wrapper">
      <div class="row">
        <div class="col-sm-6">
          <InputDropdown
            id="years"
            :items="years"
            label="Year"
            :get-key="item => item"
            @select="handleSelectYear"
          />
        </div>
        <div class="col-sm-6">
          <InputDropdown
            id="industries"
            :items="industries"
            label="Industry"
            :get-value="item => item.name"
            :value="industry"
            @select="handleSelectIndustry"
          />
        </div>
      </div>
      <div class="about-slider-wrap">
        <CommonProjectsSlider :projects="projects" />
      </div>
    </div>
  </div>
</template>

<script>
import CommonProjectsSlider from './CommonProjectsSlider'
import { InputDropdown } from '@/components/Form'

export default {
  name: 'CommonProjects',
  components: { CommonProjectsSlider, InputDropdown },
  props: {
    projects: {
      type: Array,
      default: () => []
    },
    industries: {
      type: Array,
      default: () => []
    },
    years: {
      type: Array,
      default: () => []
    }
  },
  data(){
    return {
      year: null,
      industry: null
    }
  },
  methods: {
    handleSelectYear(year) {
      this.year = year
      this.industry = null

      this.$emit('yearChange', year)
    },
    handleSelectIndustry(industry) {
      this.industry = industry


      this.$emit('industryChange', industry)
    },
  }
}
</script>
