<template>
  <div
    class="slide"
    :style="`background-image: url('${project.image}')`"
  >
    <div class="achievements-content">
      <h4>{{ project.title }}</h4>
      <span>{{ project.industry.name }}</span>

      <a
        :href="`/about/common-projects/${project.slug}`"
        class="read-more read-more-achievement"
        tabindex="0"
      >
        Read more
      </a>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Slide',
  props: {
    project: {
      type: Object,
      required: true
    }
  },
}
</script>
