<template>

  <section class="landing-section">

    <div class="banner">
      <div class="image">
        <img src="/static/images/abstraction-yellow-landing.png" alt="" class="abstraction-yellow"
             data-aos="fade-right" data-aos-delay="700" data-aos-duration="1500">
      </div>
      <div class="landing-wrapper">
        <div class="banner-title">
          <h1>Get Exclusive Engineering Services without a Hitch at Engre</h1>
        </div>
        <div class="banner-description">
          <h4>Just post your project or choose a company at our B2B marketplace
            and get an all-inclusive engineering service.</h4>
        </div>
        <div class="search-component">
          <a href="/settings/project/create/" class="meet-button">Post a Project</a>
<!--          <input type="text" class="search-input">-->
<!--          <button class="search-button">-->
<!--            <img src="/static/images/magnifying-glass.svg" alt="" width="18px" height="18px">-->
<!--            <span>Search</span>-->
<!--          </button>-->
        </div>
      </div>
    </div>

    <div class="how-it-works">
      <div class="container">
        <h3 class="title">How it works?</h3>
        <div class="row flex-md-row-reverse">
          <div class="col-sm-12 col-md-6 video">
            <div class="lp-wrapper__media" data-aos="fade" data-aos-duration="1500">
              <div class="video-wrapper">
                <span class="mdi mdi-play-circle play-video-button" data-toggle="modal" data-target="#video-modal"></span>
                <img src="/static/images/viedeo-logo.png" class="img-fluid" alt="">
              </div>
            </div>
          </div>
          <div class="col-sm-12 col-md-6">
            <ul>
              <li>
                <img src="/static/images/check-mark.png" data-aos="fade-right" data-aos-delay="600" data-aos-duration="700">
                <span>Fill in your company’s profile and publish the project at Engre marketplace</span>
              </li>
              <li>
                <img src="/static/images/check-mark.png" data-aos="fade-right" data-aos-delay="600" data-aos-duration="700">
                <span>Find the outsourcing  contractor in  a  list of  global  engineering companies.</span>
              </li>
              <li>
                <img src="/static/images/check-mark.png" data-aos="fade-right" data-aos-delay="600" data-aos-duration="700">
                <span>Hire  the  selected  engineers  and sign a verified cooperation contrac</span>
              </li>
              <li>
                <img src="/static/images/check-mark.png" data-aos="fade-right" data-aos-delay="600" data-aos-duration="700">
                <span>Get the  work  done by  specialists  and make sure your instructions are adhered properly.</span>
              </li>
              <li>
                <img src="/static/images/check-mark.png" data-aos="fade-right" data-aos-delay="600" data-aos-duration="700">
                <span>Complete the payment and plan new projects with our freelance engineering platform</span>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="skill-box">
      <div class="container">
        <div class="row align-items-center">
          <div class="image col-sm-12 col-md-6" data-aos="fade-right" data-aos-delay="700" data-aos-duration="700">
            <img src="/static/images/presintation-1.png" alt="">
          </div>
          <div class="content col-sm-12 col-md-6">
            <h3 class="title" data-aos="fade-top" data-aos-delay="600" data-aos-duration="700">Sign a contract and get your demands fulfilled</h3>
            <p  data-aos="fade-top" data-aos-delay="700" data-aos-duration="700">There is no need to worry even though you cooperate  with freelance engineering companies.  Since you indicate all the specifications of project in the contract, the engineers you hire are to follow them to the letter.</p>
          </div>
        </div>
        <div class="row flex-md-row-reverse align-items-center">
          <div class="image col-sm-12 col-md-6" data-aos="fade-left" data-aos-delay="700" data-aos-duration="700">
            <img src="/static/images/presintation-2.png" alt="">
          </div>
          <div class="content col-sm-12 col-md-6">
            <h3 class="title" data-aos="fade-top" data-aos-delay="600" data-aos-duration="700">Legal safety</h3>
            <p data-aos="fade-top" data-aos-delay="700" data-aos-duration="700">All contractors registered at our platform undergo a special verification process and work according to European and international regulations. The designers and developers will use certified software only. Also, you are getting a full legal and accounting support for your project at Engre.</p>
          </div>
        </div>
        <div class="row align-items-center">
          <div class="image col-sm-12 col-md-6" data-aos="fade-right" data-aos-delay="700" data-aos-duration="700">
            <img src="/static/images/presintation-3.png" alt="">
          </div>
          <div class="content col-sm-12 col-md-6">
            <h3 class="title" data-aos="fade-top" data-aos-delay="600" data-aos-duration="700">Skilled platform manager at your service</h3>
            <p data-aos="fade-top" data-aos-delay="700" data-aos-duration="700">Once you start cooperating with the contractor within our B2B platform, your project is in the right hands. There is no need to check on all the processes going on by yourself – you have a project leader assigned for that. Just watch the progress and feel the flow.</p>
          </div>
        </div>
      </div>
    </div>

    <div class="marketplace">
      <div class="container">
        <h3>marketplace  advantages</h3>
        <ul>
          <li>
            <div class="icon">
              <img src="/static/images/circle-1.png" alt=""  data-aos="fade-top" data-aos-delay="600" data-aos-duration="700">
            </div>
            <span data-aos="fade-top" data-aos-delay="600" data-aos-duration="700">engineering companies</span>
          </li><li>
          <div class="icon">
            <img src="/static/images/circle-2.png" alt="" data-aos="fade-top" data-aos-delay="600" data-aos-duration="700">
          </div>
          <span data-aos="fade-top" data-aos-delay="600" data-aos-duration="700">Specific industries covered</span>
        </li>
          <li>
            <div class="icon">
              <img src="/static/images/circle-3.png" alt="" data-aos="fade-top" data-aos-delay="600" data-aos-duration="700">
            </div>
            <span data-aos="fade-top" data-aos-delay="600" data-aos-duration="700">Of your  budget saved</span>
          </li>
        </ul>
      </div>
    </div>

    <div class="choose">
      <div class="container">
        <h3>Choose  an  industry  you  have been looking for!</h3>
        <ul>
          <li>
            <a href="/services/design/">
              <div class="image">
                <img src="/static/images/grid-1.png" alt="">
              </div>
              <span>Design</span>
            </a>
          </li>
          <li>
            <a href="/services/infrastructure-solutions/">
              <div class="image">
                <img src="/static/images/grid-2.png" alt="">
              </div>
              <span>Infrastructure solutions</span>
            </a>
          </li>
          <li>
            <a href="/services/software/">
              <div class="image">
                <img src="/static/images/grid-3.png" alt="">
              </div>
              <span>Software</span>
            </a>
          </li>
          <li>
            <a href="/services/hardware/">
              <div class="image">
                <img src="/static/images/grid-4.png" alt="">
              </div>
              <span>Hardware</span>
            </a>
          </li>
          <li>
            <a href="/services/tooling/">
              <div class="image">
                <img src="/static/images/grid-5.png" alt="">
              </div>
              <span>Tooling</span>
            </a>
          </li>
          <li>
            <a href="/services/management-and-consulting/">
              <div class="image">
                <img src="/static/images/grid-6.png" alt="">
              </div>
              <span>Management &  Consulting</span>
            </a>
          </li>
          <li>
            <a href="/services/r-d/">
              <div class="image">
                <img src="/static/images/grid-7.png" alt="">
              </div>
              <span>R & D</span>
            </a>
          </li>
          <li>
            <a href="/services/modeling/">
              <div class="image">
                <img src="/static/images/grid-8.png" alt="">
              </div>
              <span>Modeling</span>
            </a>
          </li>
          <li>
            <a href="/services/manufacturing/">
              <div class="image">
                <img src="/static/images/grid-9.png" alt="">
              </div>
              <span>Manufacturing</span>
            </a>
          </li>
          <li>
            <a href="/services/other/">
              <div class="image">
                <img src="/static/images/grid-10.png" alt="">
              </div>
              <span>Other</span>
            </a>
          </li>
        </ul>
      </div>
    </div>

    <div class="just-post">
      <div class="container">
        <div class="row align-items-center">
          <div class="image col-sm-12 col-md-6">
            <img src="/static/images/presintation-4.png" alt="">
          </div>
          <div class="content col-sm-12 col-md-6">
            <h3 class="title">Just post a project and move on with Engre!</h3>
            <p>All the necessary elements of your project are in one place. With us, you can be ready to accept any challenge that the world brings you.</p>
            <div class="post-btn-section">
              <a href='/settings/project/create/' class="post-btn">post project</a>
            </div>
          </div>
        </div>
      </div>
    </div>

  </section>

</template>

<script>


export default {
  name: 'Layout',
}

</script>

<style scoped>
  h3.title {
    font-size: 30px;
    position: relative;
    padding-left: 18px;
    text-transform: uppercase;
    max-width: 380px;
  }

  h3.title:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 6px;
    background-color: rgb(253, 216, 53);
  }

  /*banner*/
  .landing-section .banner {
    min-height: 100vh;
    background: linear-gradient(to top, #5acff4, #007fac);
    margin-top: -70px;
    /*padding: 190px 0 250px 0;*/
    padding: 120px 0 50px;
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    position: relative;
  }

  .landing-section .banner .image {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    height: 100%;
    /* transform: translateY(50%); */
    display: block;
    width: 300px;
  }

  .landing-section .banner .image .abstraction-yellow {
    width: 300px;
    height: auto;
    position: absolute;
    bottom: 0;
    top: unset;
  }

  .landing-section .banner .landing-wrapper {
    max-width: 970px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    position: relative;
    z-index: 2;
  }
  .landing-section .banner h1 {
    font-size: 48px;
    font-weight: 400;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    color: #fff;
    margin: 0 0 40px 0;
    line-height: normal;
  }

  .landing-section .banner h4 {
    font-size: 24px;
    /*line-height: 20px;*/
    font-weight: 300;
    color: #fff;
    margin: 0;
  }

  .landing-section .search-component {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 110px;
    position: relative;
    padding-top: 40px;
  }

  .landing-section .search-component input {
    width: 100%;
    border-radius: 4px;
    margin-right: 10px;
    border: 0;
    font-size: 18px;
    outline: none;
    background-color: #fff;
  }

  .landing-section .search-component input:focus {
    box-shadow: 0px 0px 3px 2px #ffcc3c;
  }

  .landing-section .search-component button {
    width: 240px;
    height: 50px;
    background-color: #ffcc3c;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0px;
    border-radius: 4px;
    text-transform: uppercase;
  }

  .landing-section .search-component button img {
    margin-right: 7px;
  }


  /* how it works */
  .how-it-works {
    background-color: #f7f9fc;
    padding: 110px 0 160px;
    background-image: url(/static/images/how-it-works-after.png);
    background-size: contain;
    background-position: bottom right;
    background-repeat: no-repeat;
  }

  .how-it-works .video-wrapper {
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 0 13px 33px 0 rgba(13, 71, 161, 0.33);
    margin-top: -180px;
    width: 300px;
    z-index: 2;
    position: absolute;
    top: -70px;
    left: 10%;
  }

  .how-it-works ul {
    margin-top: 50px;
    padding: 0;
  }

  .how-it-works ul li {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 24px;
    margin-bottom: 60px;
  }

  .how-it-works ul li img {
    margin-right: 35px;
  }

  /* skill-box */
  .skill-box {
    background-color: #fff;
    background-image: url(/static/images/how-it-works-after-white.png);
    background-size: contain;
    background-position: top right;
    background-repeat: no-repeat;
    padding: 150px 0;
  }

  .skill-box h3.title {
    font-size: 24px;
  }

  .skill-box img {
    width: 100%;
  }

  /* marketplace */
  .marketplace {
    background: #f1f5f8;
    padding: 120px 0 135px;
  }

  .marketplace h3 {
    text-transform: uppercase;
    text-align: center;
  }

  .marketplace ul {
    margin: 80px 0 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
  }

  .marketplace ul li {
    list-style: none;
    text-align: center;
    width: calc(100% / 3);
  }

  .marketplace ul li .icon {
    position: relative;
    margin-bottom: 35px;
  }

  .marketplace ul li .icon img {
    max-width: 230px;
  }

  .marketplace ul li:not(:last-child) .icon:before,
  .marketplace ul li:not(:last-child) .icon:after {
    content: '';
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(50%, -50%);
    border-radius: 50%;
  }

  .marketplace ul li .icon:before {
    width: 7px;
    height: 7px;
    background: #fff;
    z-index: 3;
  }

  .marketplace ul li .icon:after {
    width: 23px;
    height: 23px;
    background: #ffcc3c;
    z-index: 2;
  }

  .marketplace ul li span {
    font-size: 24px;
    color: #555151;
    text-transform: uppercase;
    width: 70%;
    display: block;
    margin: auto;
  }

  /* choose */
  .choose {
    background-image: linear-gradient( 90deg, rgb(90,207,244) 9%, rgb(0,127,172) 88%);
    padding: 140px 0;
  }

  .choose h3 {
    font-size: 30px;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
  }

  .choose ul {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 25px;
    margin-top: 80px;
  }

  .choose ul li {
    min-height: 170px;
    border-radius: 10px;
    overflow: hidden;
    list-style: none;
    transition: all .3s ease-in-out;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px 15px 30px;
    cursor: pointer;
    position: relative;
  }

  .choose ul li a {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .choose ul li:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: #fff;
    opacity: 18%;
    transition: all .3s ease-in-out;
    border-radius: 10px;
    overflow: hidden;
    pointer-events: none;
  }

  .choose ul li:hover:after {
    opacity: 37%;
  }

  .choose ul li .image {
    margin-bottom: 10px;
  }

  .choose ul li span {
    color: #fff;
    position: absolute;
    bottom: 25px;
    transform: translateY(50%);
    width: 60%;
    margin: auto;
    text-align: center;
    line-height: normal;
  }

  /* just-post */
  .just-post {
    padding: 140px 0 160px;
  }

  .just-post h3 {
    font-size: 24px;
  }

  .just-post .image img {
    width: 100%;
  }

  .post-btn {
    background-color: #90d8f0;
    color: #fff;
    min-width: 245px;
    height: 50px;
    border-radius: 3px;
    text-align: center;
    margin-top: 10px;
    border: 0;
    text-transform: uppercase;
    transition: background-color .3s ease-in-out;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
  }

  .post-btn:hover {
    background-color: #7fc6f0;
  }

</style>

<style scoped>
  @media screen and (min-width: 768px) and (max-width: 1024px) {
    .choose ul {
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(4, 1fr);
    }
    .choose ul li:last-child {
      grid-column: 2 / span 1;
      grid-row: 4 / span 1;
    }
  }

  @media screen and (max-width: 767px) {

    h3.title {
      max-width: initial;
      text-align: center;
      padding-left: 0;
    }

    h3.title:before {
      padding-left: 0;
      padding-bottom: 5px;
      bottom: 0;
      left: 50%;
      width: 60px;
      height: 6px;
      top: unset;
      transform: translate(-50%, 100%);
    }

    .landing-section {
      transform: translateY(-59px);
    }

    .landing-section .banner {
      /*padding: 100px 15px 170px;*/
    }

    .landing-section .banner .image {
      display: none;
    }

    .landing-section .banner h1 {
      padding: 0 5%;
    }

    .landing-section .search-component button {
      width: 130px;
    }
    .landing-section .search-component button img {
      margin: 0;
    }
    .landing-section .search-component button span {
      display: none;
    }


    .play-video-button {
      position: absolute;
      top: 70%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 80px;
      line-height: 40px;
      cursor: pointer;
    }

    .how-it-works {
      background-size: 140%;
    }
    .how-it-works h3.title {
      margin-bottom: 70px;
    }
    .how-it-works h3.title:before {
      content: none;
    }

    .how-it-works .video-wrapper {
      top: unset;
      left: unset;
      position: relative;
      margin-top: 0;
      width: 100%;
    }

    .skill-box [data-aos^=fade] {
      opacity: 1!important;
    }

    .skill-box {
      background-image: none;
    }

    .marketplace [data-aos^=fade] {
      opacity: 1!important;
    }

    .marketplace ul {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
    }

    .marketplace ul li {
      width: 100%;
      position: relative;
      padding-bottom: 60px;
      margin-bottom: 60px;
    }

    .marketplace ul li:not(:last-child) .icon:before,
    .marketplace ul li:not(:last-child) .icon:after {
      content: none;
    }

    .marketplace ul li:not(:last-child):before,
    .marketplace ul li:not(:last-child):after {
      content: '';
      position: absolute;
      bottom: 0%;
      left: 50%;
      transform: translate(-50%, 50%);
      border-radius: 50%;
    }

    .marketplace ul li:before {
      width: 7px;
      height: 7px;
      background: #fff;
      z-index: 3;
    }

    .marketplace ul li:after {
      width: 23px;
      height: 23px;
      background: #ffcc3c;
      z-index: 2;
    }

    .choose ul {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    }

    /*.post-btn {*/
    /*  margin: 0 auto;*/
    /*  display: block;*/
    /*}*/

    .post-btn-section {
      text-align: center;
      width: 100%;
    }

  }

  @media screen and (max-width: 320px) {
    .landing-section .banner {
      padding: 140px 15px 30px;
    }
    .landing-section .banner h1 {
      font-size: 36px;
    }

    .landing-section .search-component {
      margin-top: 60px;
    }
  }

  @media screen and (min-width: 1921px) {
    .how-it-works,
    .skill-box {
      background-size: 50vw;
    }
  }
</style>
