<template>
  <div class="row project-filters d-flex justify-content-between flex-wrap">
    <div class="input-row">
      <input type="text">
    </div>
    <div class="add-person">
      <a
        href="#"
        class="add-project"
        style="color: #0d47a1;"
        @click.prevent="add()"
      >
        <span class="mdi mdi-plus-box" />
        Add person
      </a>
    </div>
  </div>
</template>

<script>
import bus from './bus'

export default {
  name: 'Filters',
  methods: {
    add() {
      bus.$emit('add')
    }
  }
}
</script>

<style lang="scss" scoped>
  .add-person {
    margin-top: 25px;
  }
</style>
