<template>
  <div v-if="loading && !showForm">
    loading...
  </div>
  <EditForm
    v-else-if="showForm"
    :item="selectedItem"
    :user="user"
    :centuries="centuries"
    :activities="activities"
  />
  <div v-else>
    <Filters />
    <div class="content-wrapper">
      <div class="row flex-wrap">
        <Item
          v-for="item in people"
          :key="item.id"
          :item="item"
        />
      </div>
    </div>
    <InfiniteLoading
      :distance="10"
      spinner="spiral"
      @infinite="infiniteHandler"
    >
      <span slot="no-more" />
      <span slot="no-results" />
    </InfiniteLoading>
  </div>
</template>

<script>
import Swal from 'sweetalert2'
import axios from 'axios'
import InfiniteLoading from 'vue-infinite-loading'
import Filters from './Filters'
import Item from './Item'
import bus from './bus'
import EditForm from './Form'
import { NotificationMixin } from '@/mixins'

export default {
  name: 'AdminAbout',
  components: {
    Filters,
    Item,
    EditForm,
    InfiniteLoading,
  },
  mixins: [NotificationMixin],
  props: {
    user: {
      type: Object,
      required: true
    },
    centuries: {
      type: Array,
      default: () => []
    },
    activities: {
      type: Array,
      default: () => []
    }
  },
  data() {
    return {
      people: null,
      selectedItem: null,
      showForm: false,
      page: 1,
      hasNext: false,
      loading: true,
    }
  },
  created() {
    bus.$on('handleEdit', this.handleEditForm)
    bus.$on('updateList', this.updateList)
    bus.$on('add', this.handleEditForm)
    bus.$on('remove', this.remove)
    bus.$on('close', this.close)
  },
  async mounted() {
    const response = await axios({
      method: 'get',
      url: '{% url "about-people-api" %}',
      params: {
        page: this.page,
      }
    })

    if (response.status === 200) {
      this.loading = false
      this.people = response.data.results
    }
    if (response.data.next) {
      this.page += 1
      this.hasNext = true
    }
  },
  methods: {
    handleEditForm(item = null) {
      if (item) {
        this.selectedItem = item
      }
      this.showForm = true
    },
    updateList(item) {
      this.showForm = false
      const index = this.people.findIndex(person => person.id === item.id)
      if (index > -1) {
        this.notify('success', 'Person has been updated successfully')
        this.$set(this.people, index, item)
      } else {
        this.notify('success', 'Person has been added successfully')
        if (!this.hasNext) {
          this.people.push(item)
        }
      }
    },
    async infiniteHandler($state) {
      const hasMore = await this.loadMore()

      if (hasMore) {
        $state.loaded()
      } else {
        $state.complete()
      }
    },
    async loadMore() {
      if (this.hasNext) {
        const people = await this.fetchData(this.page)
        this.people.push(...people)
      }

      return this.hasNext
    },
    async fetchData(page) {
      const { data } = await axios({
        method: 'get',
        url: '{% url "about-people-api" %}',
        params: { page }
      })

      this.hasNext = !!data.next
      this.page += 1

      return data.results
    },
    async remove(pk) {
      const url = '{% url "remove-person" %}'
      const data = { pk }

      Swal.fire({
        title: 'Are you sure?',
        type: 'question',
        showConfirmButton: true,
        confirmButtonText: 'Delete',
        confirmButtonColor: 'red',
        showCancelButton: true,
        showLoaderOnConfirm: true,
        preConfirm: async () => {
          try {
            const response = await axios({
              method: 'delete',
              url,
              data,
              headers: {
                Authorization: `JWT ${this.user.token}`
              }
            })

            if (response.status === 204) {
              const index = this.people.findIndex(person => person.id === pk)
              this.people.splice(index, 1)
              this.notify('success', 'Person has been successfully deleted')
            }
          } catch (e) {
            this.notify('error', 'Something went wrong!')
            console.log(e)
          }
        }
      })
    },
    close() {
      this.showForm = false
    }
  },
}
</script>
