<template>
  <div class="settings-columns category-columns d-flex flex-wrap">
    <div v-if="loading">
      loading...
    </div>
    <Draggable
      v-else
      v-model="categories"
      @change="updateList"
    >
      <TransitionGroup
        class="d-flex flex-wrap"
      >
        <Item
          v-for="item in categories"
          :key="item.id"
          :item="item"
        />
      </TransitionGroup>
    </Draggable>
  </div>
</template>

<script>
import axios from 'axios'
import draggable from 'vuedraggable'
import bus from './bus'
import Item from './Item'

export default {
  name: 'AdminCategory',
  components: {
    Item,
    Draggable: draggable
  },
  props: {
    user: {
      type: Object,
      required: true
    }
  },
  data() {
    return {
      loading: true,
      categories: [],
    }
  },
  async mounted() {
    const response = await axios({
      method: 'get',
      url: '{% url "admin-get-categories" %}'
    })

    if (response.status === 200) {
      this.loading = false
      this.categories = response.data
    }
  },
  created() {
    bus.$on('update', this.updateItem)
  },
  methods: {
    async updateList() {
      await axios({
        method: 'put',
        url: '{% url "admin-update-categories-ordering" %}',
        data: { categories: this.categories },
        headers: {
          Authorization: `JWT ${this.user.token}`
        }
      })
    },
    async updateItem(pk, name) {
      const response = await axios({
        method: 'put',
        url: '{% url "admin-update-category-name" %}',
        data: {
          pk,
          name
        },
        headers: {
          Authorization: `JWT ${this.user.token}`
        }
      })

      if (response.status === 200) {
        const index = this.categories.findIndex(item => item.id === pk)
        this.$set(this.categories, index, response.data)
      }
    }
  }
}
</script>

<style>

</style>
