<template>
  <div class="settings-col">
    <span
      class="mdi mdi-pencil edit"
      @click.prevent="shouldEdit=true"
    />
    <span class="mdi mdi-cursor-move move" />
    <div class="settings-list">
      <input
        v-if="shouldEdit"
        v-model="name"
        type="text"
        @keyup.enter="updateName"
      >
      <span v-else>
        {{ item.name }}
      </span>
    </div>
  </div>
</template>

<script>
import bus from './bus'

export default {
  name: 'Item',
  props: {
    item: {
      type: Object,
      required: true
    }
  },
  data() {
    return {
      shouldEdit: false,
      name: this.item.name,
    }
  },
  methods: {
    updateName() {
      this.shouldEdit = false
      bus.$emit('update', this.item.id, this.name)
    }
  }
}
</script>

<style>

</style>
