<template>
  <Form
    :fields="fields"
    :submit="login"
    :class="[
      switched && (currentForm === 'sign-in' ? 'active-sx' : 'inactive-sx'),
      {transformed: currentForm === 'sign-up'}
    ]"
    class="enter-form signIn"
  >
    <template
      slot-scope="{ models: { email, password, remember_me }, isValid, isLoading }"
    >
      <h2>Sign In</h2>
      <div
        class="inputs-wrap"
      >
        <h3>To add a project, sign in</h3>
        <InputRow
          id="email-signin"
          v-model="email.value"
          :error="email.error"
          type="email"
          label="Email"
        />

        <InputRow
          id="password-signin"
          v-model="password.value"
          :error="password.error"
          type="password"
          label="Password"
        />

        <RouterLink
          tag="a"
          :to="{ name: 'password-reset' }"
        >
          <a class="forgot-pass">
            Forgot your password?
          </a>
        </RouterLink>

        <div class="enter-form-button">
          <Submit
            :disabled="!isValid"
            :loading="isLoading"
            class="btn-site"
            value="LOG IN"
          />
        </div>
        <div class="remember-me-wrap">
          <Checkbox
            id="remember-me"
            v-model="remember_me.value"
            label="Remember me"
          />
        </div>
      </div>
      <div class="sign-in-social">
        <div class="sign-in-social__title">
          <span>Or sign in with</span>
        </div>
        <div class="social-buttons">
          <a :href="getFacebookAuthUrl()">
            <img
              src="@/assets/images/facebook-box.svg"
              alt="facebook"
            >
          </a>
          <a :href="getLinkedInAuthUrl()">
            <img
              src="@/assets/images/linkedin-box.svg"
              alt="linkedin"
            >
          </a>
          <a :href="getGoogleAuthUrl()">
            <img
              src="@/assets/images/google-plus.svg"
              alt="google"
            >
          </a>
        </div>
      </div>
      <div
        class="go-to-button go-to-login"
        @click="goToForm('sign-in')"
      >
        <span>Have an account? <i>Log in!</i></span>
      </div>
    </template>
  </Form>
</template>

<script>
import Form, { InputRow, Submit, Checkbox } from '@/components/Form'
import { isRequired, isEmail } from '@/utils/validators'
import { Toast } from '@/utils'
import axios from 'axios'
import Cookies from 'js-cookie'
import { SocialAuthMixin } from '@/mixins'

export default {
  name: 'SignIn',
  components: {
    Form,
    InputRow,
    Submit,
    Checkbox,
  },
  mixins: [SocialAuthMixin],
  props: {
    currentForm: {
      type: String,
      default: 'signIn',
    },
    goToForm: {
      type: Function,
      required: true,
    },
    switched: {
      type: Boolean,
      default: false,
    },
    referer: {
      type: String,
      required: true
    }
  },
  data() {
    return {
      rememberMe: false,
      fields: [
        { name: 'email', validators: [isRequired, isEmail] },
        { name: 'password', validators: [isRequired] },
        { name: 'remember_me' },
      ]
    }
  },
  methods: {
    async login(values) {
      try {
        const csrfToken = Cookies.get('csrftoken')

        const { data } = await axios({
          method: 'post',
          url: '{% url "sign-in" %}',
          data: values,
          headers: { 'X-CSRFToken': csrfToken },
        })

        if (data.success) {
          if (!data.is_profile_completed) {
            window.location.replace('{% url "profile" %}')
          } else if (this.referer) {
            if (this.referer.indexOf('reset/done') != -1) {
              window.location.replace('/')
            } else {
              window.location.replace(this.referer)
            }
          } else if (this.$route.query.next) {
            window.location.replace(this.$route.query.next)
          } else {
            window.location.replace('/')
          }

          // if (this.$route.query.next) {
          //   window.location.replace(this.$route.query.next)
          // } else {
          //   window.location.replace('{% url "profile" %}')
          // }
        } else {
          Toast.fire({
            type: 'error',
            title: 'Email or password is invalid'
          })
        }
      } catch (e) {
        console.log(e)
      }
    },
  },
  mounted(){
    // http://localhost:8000/settings/notifications/
    console.log(this.referer)
  }
}
</script>


<style lang="scss" scoped>
@import "./index.scss";
</style>
