$screen-xs-max: 575px;

.transformed {
  z-index: 1;
  transform: perspective(160px) translate3d(-215px, 0px, -85px);

  .inputs-wrap,
  .sign-in-social {
    opacity: 0;
  }

  .go-to-button {
    opacity: 1;
    visibility: visible;
  }

  @media (max-width: $screen-xs-max) {
    z-index: 1;
    transform: perspective(160px) translate3d(-135px, 0px, -85px);
  }
}
