<template>
  <div class="admin-change-pass-wrapper">
    <Form
      :fields="fields"
      :submit="submit"
    >
      <template
        slot-scope="{
          models: {
            oldpass, newpass1, newpass2
          }, isValid, isLoading
        }"
      >
        <InputRow
          id="old"
          v-model="oldpass.value"
          :error="oldpass.error"
          label="Old Password"
          type="password"
        />
        <InputRow
          id="new1"
          v-model="newpass1.value"
          :error="newpass2.error"
          label="New Password"
          type="password"
        />
        <InputRow
          id="new2"
          v-model="newpass2.value"
          :error="newpass2.error"
          label="Repeat Password"
          type="password"
        />
        <div class="enter-form-button">
          <Submit
            class="btn-site"
            value="Save"
            :disabled="!isValid || isLoading"
            :loading="isLoading"
          />
        </div>
      </template>
    </Form>
  </div>
</template>

<script>
import axios from 'axios'
import Form, {
  InputRow,
  Submit
} from '@/components/Form'
import { isRequired, minLength, shouldBeEqual } from '@/utils/validators'
import { NotificationMixin } from '@/mixins'

export default {
  name: 'AdminChangePassword',
  components: {
    Form,
    InputRow,
    Submit
  },
  mixins: [NotificationMixin],
  props: {
    user: {
      type: Object,
      required: true
    }
  },
  data() {
    return {
      fields: [
        { name: 'oldpass', validators: [isRequired] },
        { name: 'newpass1', validators: [isRequired, minLength(6)] },
        { name: 'newpass2', validators: [isRequired, minLength(6), shouldBeEqual('newpass1', 'Is not match')] },
      ]
    }
  },
  methods: {
    async submit(values) {
      const data = {
        oldpass: values.oldpass,
        newpass: values.newpass1,
      }
      try {
        const response = await axios({
          method: 'post',
          url: '{% url "admin-set-new-password" %}',
          data,
          headers: {
            Authorization: `JWT ${this.user.token}`
          }
        })

        if (response.status === 200) {
          this.notify('success', 'Password has been changed successfully')
        }
      } catch (e) {
        if (e.response.status === 401) {
          this.notify('error', 'Wrong password')
        }
      }
    }
  }
}
</script>
