<template>
  <div :class="isHalf ? 'col-lg-6' : 'col-12'">
    <div class="is-row-block">
      <div
        v-if="!isHalf"
        class="is-row-top row"
      >
        <div class="col-lg-4 col-md-6">
          <div
            class="is-row-info d-flex align-items-center"
            :style="user.company.role === 1 && item.management_option === 1 ? 'filter: blur(15px); pointer-events: none;' : ''"
          >
            <div class="is-row-img">
              <img
                :src="item.company.logo"
                alt=""
              >
            </div>
            <div class="is-row-details">
              <a
                :href="`/services/company/${item.company.id}/`"
                class="details-page-link"
              >
                {{ item.company.name }}
              </a>
              <span
                v-if="item.company.location"
                class="location"
              >
                {{ item.company.location.name }}, {{ item.company.location.country.name }}
              </span>
            </div>
          </div>
        </div>
        <div class="col-lg-2 col-md-6">
          <div class="is-col">
            <span>Date of creation</span>
            <mark>{{ item.created_at | date }}</mark>
          </div>
          <div class="is-col">
            <span>Deadline</span>
            <mark>{{ item.date_finish | date }}</mark>
          </div>
        </div>
        <div class="col-lg-3 col-md-6">
          <div class="is-col">
            <span>Type of ownership</span>
            <mark>{{ item.company.ownership && item.company.ownership.name }}</mark>
          </div>
          <div class="is-col">
            <span>Language</span>
            <mark>{{ item.company.language_list }}</mark>
          </div>
        </div>
        <div class="col-lg-3 col-md-6">
          <div class="is-col">
            <span>Budget</span>
            <mark class="fz-bigger">
              ${{ item.budget }}
            </mark>
          </div>
        </div>
      </div>
      <div
        v-else
        class="is-row-top row"
      >
        <div class="col-lg-8">
          <div class="is-row-info d-flex align-items-center">
            <div class="is-row-img">
              <img
                :src="item.company.logo"
                alt=""
              >
            </div>
            <div class="is-row-details">
              <a
                href="#"
                class="details-page-link invisibly"
              >
                {{ item.company.name }}
              </a>
              <span
                v-if="item.company.location"
                class="location"
              >
                {{ item.company.location.name }}, {{ item.company.location.country.name }}
              </span>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="is-col">
            <span>Budget</span>
            <mark class="fz-bigger">
              ${{ item.budget }}
            </mark>
          </div>
          <div class="is-col">
            <span>Deadline</span>
            <mark>{{ item.date_finish | date }}</mark>
          </div>
        </div>
      </div>
      <div class="is-row-description">
        <h3 class="title-description">
          {{ item.name }}
        </h3>
        <p>{{ item.description }}</p>
      </div>
      <div
        v-if="!isHalf"
        class="is-row-button"
      >
        <div class="row justify-content-end">
          <div class="col-xl-6 col-lg-7">
            <div class="is-buttons-wrap d-flex">
              <SocialShare
                :url="`${originUrl}/services/project/${item.company.slug}/${item.slug}`"
                :title="item.name"
                :description="item.description"
              >
                <span
                  class="button-styles share"
                >
                  <span class="mdi mdi-share-variant" />
                </span>
              </SocialShare>
              <a
                :href="`/services/project/${item.company.slug}/${item.slug}`"
                class="button-styles more-info"
              >
                More information
              </a>
              <SendMessageButton
                :user="user"
                :item="item"
              />
            </div>
          </div>
        </div>
      </div>
      <div
        v-else
        class="is-row-button"
      >
        <div class="row justify-content-end">
          <div class="col-12">
            <div class="is-buttons-wrap d-flex">
              <SocialShare
                :url="`${originUrl}/services/project/${item.company.slug}/${item.slug}`"
                :title="item.name"
                :description="item.description"
              >
                <a
                  class="button-styles share"
                  @click.prevent
                >
                  <span class="mdi mdi-share-variant" />
                </a>
              </SocialShare>
              <a
                :href="`/services/project/${item.slug}`"
                class="button-styles more-info"
              >
                More information
              </a>
              <SendMessageButton
                :user="user"
                :item="item"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import SocialShare from '@/components/SocialShare'
import SendMessageButton from '../SendMessageButton'
import ItemMixin from '../ItemMixin'
import bus from '../bus'

export default {
  name: 'Project',
  components: {
    SocialShare,
    SendMessageButton
  },
  mixins: [ItemMixin],
  props: {
    user: {
      type: Object,
      required: true,
    }
  },
  methods: {
    showReviews() {
      bus.$emit('showReviews', this.item.company)
    }
  }
}
</script>
