<template>
  <div>
    <div class="row">
      <Item
        v-for="(item, index) in items"
        :key="item.id"
        :item="item"
        :index="index"
        :has-next="!!items[index + 1]"
        :user="user"
      />
    </div>

    <div
      v-if="hasMore"
      class="load-more-button text-center"
    >
      <button
        class="btn-site"
        @click="$emit('loadMore')"
      >
        Load more
      </button>
    </div>
  </div>
</template>

<script>
import Item from './Item'

export default {
  name: 'ProjectList',
  components: { Item },
  props: {
    items: {
      type: Array,
      default: () => []
    },
    hasMore: {
      type: Boolean,
      required: true
    },
    user: {
      type: Object,
      default: null
    }
  }
}
</script>
