<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Partnership</title>
</head>
<body>
    <div>Name: {{ name }}</div>
    <div>Email: {{ email }}</div>
    {% if company %}
    <div>Company: {{ company }}</div>
    {% endif %}
    {% if phone %}
    <div>Phone: {{ phone }}</div>
    {% endif %}
    {% if text %}
    <div>{{ text }}</div>
    {% endif %}
</body>
</html>
