<template>
  <span>
    <span class="selected-filter">
      {{ text }} <span
        class="mdi mdi-close"
        @click="$emit('remove', text)"
      />
    </span>
  </span>
</template>

<script>
export default {
  name: 'ActiveFilter',
  props: {
    text: {
      type: String,
      required: true,
    },
  },
}
</script>
