<template>
  <div class="comment-answer">
    <div class="comment-answer-author">
      <div class="author-img">
        <img
          :src="user.picture"
          alt=""
        >
      </div> <span>{{ user.name }}</span>
    </div>
    <Form
      ref="form"
      :submit="_submit"
      :fields="fields"
    >
      <template slot-scope="{ models: { content }, isValid, isLoading }">
        <RichTextEditor
          :id="id"
          :content="content.value"
          content-class="comment-answer-textarea"
          :error="content.error"
          @change="value => content.value = value"
        />
        <div class="text-right">
          <Submit
            :disabled="!isValid"
            :loading="isLoading"
            class="comment-answer-submit"
          />
        </div>
      </template>
    </Form>
  </div>
</template>

<script>
import Form, { RichTextEditor, Submit } from '@/components/Form'
import { RichTextEditorContentRequired } from '@/utils/validators'

export default {
  name: 'AnswerInput',
  components: {
    Form,
    RichTextEditor,
    Submit
  },
  props: {
    id: {
      type: String,
      required: true
    },
    user: {
      type: Object,
      required: true
    },
    parentId: {
      type: Number,
      default: null
    },
    submit: {
      type: Function,
      required: true
    }
  },
  data() {
    return {
      fields: [{ name: 'content', value: '', validators: [RichTextEditorContentRequired] }],
    }
  },
  methods: {
    async _submit({ content }) {
      const comment = { comment: content }

      if (this.parentId) {
        comment.parentId = this.parentId
      }

      await this.submit(comment)

      // clear field value after submit
      this.$refs.form.setFieldValue('content', '', false)
    }
  }
}
</script>
