<template>
  <div class="blogger-info-wrap d-flex justify-content-between align-items-center flex-wrap">
    <div class="author-info-block no-link d-flex align-items-center">
      <div class="avatar-img">
        <img
          :src="blogger.picture"
          alt="Avatar"
        >
      </div>
      <div class="author-detail-info">
        <span
          class="status"
          :class="{online: blogger.online, offline: !blogger.online}"
        >
          {{ blogger.online ? 'Online' : 'Offline' }}
        </span> <!-- class='offline' -->
        <i>{{ blogger.name }}</i>
      </div>
      <div class="blogger-info">
        <div class="blogger-info-col">
          <span class="mdi mdi-star" />
          <mark>{{ blogger.rating }}</mark>
        </div>
      </div>
    </div>

    <div class="subscribe-wrap d-flex align-items-center">
      <SocialShare
        :title="blogger.name"
        :description="blogger.biography || ''"
        url=""
        right="-80px"
      >
        <span class="mdi mdi-share-variant blog-article-share no-link" />
      </SocialShare>
      <a
        href="#"
        class="subscribe-button"
        :class="{subscribed: blogger.is_subscribed}"
        @click.prevent="subscribe"
      >
        {{ blogger.is_subscribed ? 'Subscribed' : 'Subscribe' }}
      </a>
      <span class="mdi mdi-bell-ring notifications" />
    </div>
  </div>
</template>

<script>
import SocialShare from '@/components/SocialShare'
import axios from 'axios'
import { AuthRequiredMixin, TimeoutMixin } from '@/mixins'

export default {
  name: 'BloggerInfo',
  components: {
    SocialShare,
  },
  mixins: [AuthRequiredMixin, TimeoutMixin],
  props: {
    data: {
      type: Object,
      required: true
    },
    user: {
      type: Object,
      default: null,
    },
  },
  data() {
    return {
      blogger: this.data
    }
  },
  watch: {
    data() {
      this.blogger = this.data
    }
  },
  methods: {
    subscribe() {
      this.$authRequired(() => {
        this.blogger.is_subscribed = !this.blogger.is_subscribed

        this.$withTimeout(async () => {
          try {
            const { data } = await axios({
              method: 'patch',
              url: `/accounts/subscribe-blogger/${this.blogger.id}/`,
              headers: { Authorization: `JWT ${this.user.token}` }
            })

            this.$emit('updateBlogger', { id: this.blogger.id, data })
          } catch (e) {
            this.blogger.is_subscribed = !this.blogger.is_subscribed
          }
        })
      })
    }
  }
}
</script>
