<template>
  <div
    class="comment-wrapper"
  >
    <div class="comment-wrapper__author-info d-flex justify-content-between align-items-center">
      <div class="author-info-block no-link d-flex">
        <div class="avatar-img">
          <img
            :src="blogArticle.author.picture"
            alt=""
          >
        </div>
        <div class="author-detail-info">
          <span>{{ blogArticle.created_at | date }}</span>
          <a href="#">
            {{ blogArticle.author.name }}
          </a>
        </div>
        <div class="detail-info-hover">
          <div class="di-hover-wrapper">
            <div class="di-hover-top row">
              <div class="col-4">
                <div class="di-img">
                  <img
                    :src="blogArticle.author.picture"
                    alt=""
                  >
                </div>
              </div>
              <div class="col-8">
                <div class="di-text">
                  <div class="is-col">
                    <span>On site 2y 10m</span>
                    <mark>{{ blogArticle.author.name }}</mark>
                  </div>
                  <div
                    v-if="blogArticle.author.company"
                    class="is-col"
                  >
                    <span>Company</span>
                    <a href="#">
                      {{ blogArticle.author.company.name }}
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <div
              id="optional-wrap"
              class="di-hover-optional-wrap collapse"
            >
              <div class="row">
                <div class="col-4" />
                <div class="col-8">
                  <div class="di-text">
                    <div
                      v-if="blogArticle.author.location"
                      class="is-col"
                    >
                      <span>Location</span>
                      <mark>{{ blogArticle.author.location }}</mark>
                    </div>
                  </div>
                </div>
              </div>
              <p>{{ blogArticle.author.biography }}</p>
              <div class="text-center">
                <a
                  href="#"
                  class="send-message"
                  @click.prevent="showContactBlogger"
                >
                  Private message
                </a>
              </div>
            </div>
            <div class="text-center">
              <span
                class="mdi mdi-dots-horizontal show-hide-optional-wrap"
                data-toggle="collapse"
                data-target="#optional-wrap"
              />
            </div>
            <div class="di-bottom-info d-flex align-items-baseline">
              <div class="di-bottom-col">
                <span class="mdi mdi-star" />
                <mark>{{ blogArticle.author.rating }}</mark>
              </div>
              <div class="di-bottom-col">
                <span class="mdi mdi-comment-text-outline" />
                <mark>{{ blogArticle.author.blog_comments_count }}</mark>
              </div>
              <div class="di-bottom-col">
                <span class="mdi mdi-file-document-box" />
                <mark>{{ blogArticle.author.blog_blogArticles_count }}</mark>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="comment-info d-flex align-items-center">
        <div class="comment-info-col">
          <a
            v-if="user"
            href="#"
            class="comment-info-control active"
            data-toggle="collapse"
            data-target="#answer-blogArticle"
          >
            <span class="mdi mdi-pencil" />
            <mark>Answer</mark>
          </a>
        </div>
        <div class="comment-info-col">
          <span
            class="comment-info-control active"
            style="cursor: pointer;"
            @click="interestArticle"
          >
            <i>+{{ blogArticle.interested_users_count }}</i>
            <span class="mdi mdi-star" />
            <mark>
              Interesting
            </mark>
          </span>
        </div>
        <div class="comment-info-col">
          <a
            href="#"
            class="comment-info-control active"
            @click.prevent
          >
            <span class="mdi mdi-comment-text-outline" />
            <mark>{{ blogArticle.answers_count }} Answers</mark>
          </a>
        </div>
        <div class="comment-info-col">
          <SocialShare
            :title="blogArticle.title"
            :description="blogArticle.excerpt"
            :url="blogArticle.url"
            right="-75px"
          >
            <a
              href="#"
              class="comment-info-control"
              @click.prevent
            >
              <span class="mdi mdi-share-variant" />
            </a>
          </SocialShare>
        </div>
        <div class="comment-info-col">
          <div class="subscribe-wrap d-flex align-items-center">
            <a
              href="#"
              class="subscribe-button"
              :class="{subscribed: blogArticle.author.is_subscribed}"
              @click.prevent="subscribe"
            >
              {{ blogArticle.author.is_subscribed ? 'Subscribed' : 'Subscribe' }}
            </a>
            <span class="mdi mdi-bell-ring notifications" />
          </div>
        </div>
      </div>
    </div>
    <div
      v-if="user"
      id="answer-blogArticle"
      style="margin-bottom: 30px;"
      class="comment-answer-holder collapse"
    >
      <div class="comment-answer-area">
        <AnswerInput
          id="answer"
          :user="user"
          :submit="handleCommentCreate"
        />
      </div>
    </div>
    <div class="comments-section">
      <div class="comments-section__header d-flex justify-content-between align-items-center">
        <span>{{ blogArticle.comments_count }} comments</span>

        <div class="dropdown dropdown-sort">
          <span
            class="selected"
            data-toggle="dropdown"
          >
            Sort by {{ ordering }} <span class="mdi mdi-menu-down" />
          </span>
          <div class="dropdown-menu dropdown-menu-right">
            <a
              class="dropdown-item"
              href="#"
              @click.prevent="sort('latest')"
            >
              latest
            </a>
            <a
              class="dropdown-item"
              href="#"
              @click.prevent="sort('rating')"
            >
              rating
            </a>
          </div>
        </div>
      </div>

      <Comments
        class="comments-section__body"
        :comments="articleComments"
        :user="user"
        :create="handleCommentCreate"
        @like="handleCommentLike"
        @dislike="handleCommentDislike"
      />
    </div>
    <Modal
      v-if="user"
      id="askBlogger"
      ref="modal"
      styles="modal-dialog modal-dialog-centered career-modal-dialog"
    >
      <h2>PRIVATE MESSAGE</h2>
      <span
        class="modal-close"
        @click.prevent="$refs.modal.hide()"
      >
        <span class="mdi mdi-close" />
      </span>
      <Form
        :fields="fields"
        :submit="contactBlogger"
      >
        <template
          slot-scope="{
            models: {
              subject, text
            }, isLoading, isValid
          }"
        >
          <InputRow
            :value="blogArticle.author.email"
            disabled
            label="Blogger email"
          />
          <InputRow
            :value="user.email"
            disabled
            label="Your email"
          />
          <InputRow
            v-model="subject.value"
            :error="subject.error"
            label="Subject"
          />
          <InputRow
            v-model="text.value"
            :error="text.error"
            label="Text"
          />
          <div class="input-row-button">
            <Submit
              class="btn-site"
              value="Send"
              :disabled="!isValid || isLoading"
              :loading="isLoading"
            />
          </div>
        </template>
      </Form>
    </Modal>
  </div>
</template>

<script>
import Cookies from 'js-cookie'
import moment from 'moment'
import axios from 'axios'
import SocialShare from '@/components/SocialShare'
import Comments from './Comments'
import AnswerInput from './AnswerInput'
import {
  LikeDislikeMixin,
  AuthRequiredMixin,
  TimeoutMixin,
  NotificationMixin
} from '@/mixins'
import { findItem } from '@/utils'
import Modal from '@/components/Modal'
import Form, {
  InputRow,
  Submit,
} from '@/components/Form'
import { isRequired } from '@/utils/validators'

export default {
  name: 'BlogArticleComments',
  components: {
    SocialShare,
    Comments,
    AnswerInput,
    Modal,
    Form,
    InputRow,
    Submit
  },
  filters: {
    date(value) {
      return moment(value).format('MMM DD, YYYY')
    }
  },
  mixins: [LikeDislikeMixin, AuthRequiredMixin, TimeoutMixin, NotificationMixin],
  props: {
    article: {
      type: Object,
      required: true
    },
    comments: {
      type: Array,
      default: () => []
    },
    user: {
      type: Object,
      default: null
    }
  },
  data() {
    return {
      blogArticle: this.article,
      articleComments: this.comments,
      ordering: 'latest',
      fields: [
        { name: 'subject', validators: [isRequired] },
        { name: 'text', validators: [isRequired] }
      ]
    }
  },
  methods: {
    subscribe() {
      this.$authRequired(() => {
        this.blogArticle.author.is_subscribed = !this.blogArticle.author.is_subscribed

        this.$withTimeout(async () => {
          try {
            await axios({
              method: 'patch',
              url: `/accounts/subscribe-blogger/${this.article.author.id}/`,
              headers: { Authorization: `JWT ${this.user.token}` }
            })
          } catch (e) {
            this.blogArticle.author.is_subscribed = !this.blogArticle.author.is_subscribed
          }
        })
      })
    },
    interestArticle() {
      this.$authRequired(async () => {
        if (this.blogArticle.interested_users.includes(this.user.id)) {
          this.blogArticle.interested_users_count -= 1
          this.blogArticle.interested_users = this.blogArticle.interested_users.filter(id => id !== this.user.id)
        } else {
          this.blogArticle.interested_users_count += 1
          this.blogArticle.interested_users.push(this.user.id)
        }

        try {
          const { data } = await axios({
            method: 'patch',
            url: `/blogs/interest-article/${this.article.id}`,
            headers: { Authorization: `JWT ${this.user.token}` }
          })

          this.blogArticle.interested_users_count = data.interested_users_count
          this.blogArticle.interested_users = data.interested_users
        } catch (e) {
          this.blogArticle.interested_users_count -= 1
        }
      })
    },
    _commentRating(comment) {
      return comment.liked_count - comment.disliked_count
    },
    sort(sortBy) {
      this.ordering = sortBy

      if (sortBy === 'rating') {
        this.articleComments.sort((a, b) => {
          if (this._commentRating(a) > this._commentRating(b)) {
            return -1
          } if (this._commentRating(b) > this._commentRating(a)) {
            return 1
          }

          return 0
        })
      } else if (sortBy === 'latest') {
        this.articleComments.sort((a, b) => {
          const dateA = moment(a.created_at)
          const dateB = moment(b.created_at)

          if (dateA > dateB) {
            return -1
          } if (dateB > dateA) {
            return 1
          }

          return 0
        })
      }
    },
    handleCommentLike(commentId) {
      this.$authRequired(() => {
        const instance = findItem(this.articleComments, commentId)

        this.like({
          instance,
          url: `/blogs/like-comment/${commentId}`,
          user: this.user
        })
      })
    },
    handleCommentDislike(commentId) {
      this.$authRequired(() => {
        const instance = findItem(this.articleComments, commentId)

        this.dislike({
          instance,
          url: `/blogs/dislike-comment/${instance.id}`,
          user: this.user
        })
      })
    },
    async handleCommentCreate({ comment, parentId }) {
      const data = { article: this.blogArticle.id, comment }

      if (parentId) {
        data.parent_id = parentId
      }

      const item = findItem(this.articleComments, parentId)

      try {
        const response = await axios({
          method: 'post',
          url: '{% url "create-blog-comment" %}',
          data,
          headers: { Authorization: `JWT ${this.user.token}` }
        })

        if (parentId) {
          if (item) {
            item.reply_set = [response.data, ...item.reply_set]
            this.blogArticle.comments_count += 1
          }
        } else {
          this.articleComments = [response.data, ...this.articleComments]
          this.blogArticle.answers_count += 1
          this.blogArticle.comments_count += 1
        }
      } catch (e) {
        console.log(e.response)
      }
    },
    showContactBlogger() {
      if (this.user) {
        this.$refs.modal.show()
      } else {
        window.location.pathname = '/sign-in/'
      }
    },
    async contactBlogger(values) {
      values.blogger = this.blogArticle.author.email
      values.user = this.user.email

      console.log(Cookies.get('csrftoken'))

      const response = await axios({
        method: 'post',
        url: '{% url "contact-blogger" %}',
        data: values,
        headers: {
          'X-CSRFToken': Cookies.get('csrftoken'),
        }
      })

      if (response.status === 200) {
        this.notify('success', 'Your email successfully sent to blogger')
        this.$refs.modal.hide()
      } else {
        this.notify('error', 'Something gone wrong')
      }
    }
  },
}
</script>
