<template>
  <div v-if="category.articles.length">
    <div class="news-heading d-flex justify-content-between align-items-center">
      <span>{{ category.name }}</span>
    </div>
    <Item
      v-for="article in category.articles"
      :key="article.id"
      :item="article"
    />
    <InfiniteLoading
      v-if="infinite"
      :distance="10"
      spinner="spiral"
      @infinite="infiniteHandler"
    >
      <span slot="no-more" />
      <span slot="no-results" />
    </InfiniteLoading>

    <br>
  </div>
</template>

<script>
import InfiniteLoading from 'vue-infinite-loading'
import Item from './Item'

export default {
  name: 'Category',
  components: {
    InfiniteLoading,
    Item,
  },
  props: {
    category: {
      type: Object,
      required: true
    },
    infinite: {
      type: Boolean,
      default: false
    },
    loadMore: {
      type: Function,
      default: () => {}
    }
  },
  methods: {
    async infiniteHandler($state) {
      const hasMore = await this.loadMore()

      if (hasMore) {
        $state.loaded()
      } else {
        $state.complete()
      }
    },

  }
}
</script>
