<template>
  <div class="comment-row">
    <div class="comment-row-header d-flex justify-content-between align-items-center">
      <Rating
        :rating="rating"
        :is-liked="comment.is_liked"
        :is-disliked="comment.is_disliked"
        @like="like"
        @dislike="dislike"
      />
      <div class="col-right d-flex align-items-center flex-wrap">
        <div class="comment-author">
          <div class="comment-author-img">
            <img
              :src="data.user.picture"
              alt=""
            >
          </div> <span
            class="user-link"
          >
            {{ data.user.name }}
          </span>
        </div> <span>{{ data.created_at | date }}</span>
      </div>
    </div> <div class="comment-row-body">
      <div v-html="data.comment" />
      <div
        v-if="user"
        class="comment-info-col"
      >
        <a
          href="#"
          data-toggle="collapse"
          :data-target="`#comment-${data.id}-area`"
          aria-expanded="false"
          class="comment-info-control active collapsed"
        >
          <span class="mdi mdi-pencil" /> <mark>{{ reply ? 'Reply' : 'Answer' }}</mark>
        </a>
      </div>
      <div
        :id="`comment-${data.id}-area`"
        class="comment-answer-area collapse"
      >
        <AnswerInput
          v-if="user"
          :id="`reply-${comment.id}`"
          :submit="create"
          :user="user"
          :parent-id="comment.id"
          @create="data => $emit('create', data)"
        />
      </div>
    </div>
    <div
      v-if="data.reply_set.length"
      class="comment-branch"
    >
      <div
        data-toggle="collapse"
        :data-target="`#${data.id}`"
        aria-expanded="false"
        class="comment-branch-header collapsed"
      >
        <mark class="plus">
          <span class="mdi mdi-plus-box-outline" /> Uncover branch
        </mark>
        <mark class="minus">
          <span class="mdi mdi-minus-box-outline" /> Collapse a branch
        </mark>
      </div>
      <div
        :id="data.id"
        class="collapse"
      >
        <div class="comment-branch-body">
          <Comment
            v-for="msg in data.reply_set"
            :key="msg.id"
            :comment="msg"
            reply
            :user="user"
            :create="create"
            @like="data => $emit('like', data)"
            @dislike="data => $emit('dislike', data)"
          />
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import moment from 'moment'
import AnswerInput from './AnswerInput'
import Rating from './Rating'

export default {
  name: 'Comment',
  components: {
    AnswerInput,
    Rating
  },
  filters: {
    date(value) {
      return moment(value).fromNow()
    }
  },
  props: {
    comment: {
      type: Object,
      required: true
    },
    user: {
      type: Object,
      default: null
    },
    reply: {
      type: Boolean,
      default: false
    },
    create: {
      type: Function,
      required: true
    }
  },
  data() {
    return {
      data: this.comment,
    }
  },
  computed: {
    rating() {
      const rating = this.comment.liked_count - this.comment.disliked_count

      if (rating > 0) {
        return `+${rating}`
      }

      return rating.toString()
    }
  },
  methods: {
    like() {
      this.$emit('like', this.comment.id)
    },
    dislike() {
      this.$emit('dislike', this.comment.id)
    }
  }
}
</script>
