<template>
  <div>
    <Comment
      v-for="comment in comments"
      :key="comment.id"
      :comment="comment"
      :user="user"
      :create="create"
      @like="data => $emit('like', data)"
      @dislike="data => $emit('dislike', data)"
    />
  </div>
</template>

<script>
import Comment from './Comment'

export default {
  name: 'Comments',
  components: {
    Comment
  },
  props: {
    comments: {
      type: Array,
      default: () => []
    },
    user: {
      type: Object,
      default: null
    },
    create: {
      type: Function,
      required: true,
    }
  }
}
</script>
