<template>
  <div>
    <div class="filters-wrapper">
      <div class="filter-col">
        <label>Date</label>
        <div class="date-wrapper">
          <DatePicker
            v-model="dates"
            range
          />
        </div>
      </div>
      <div class="filter-col">
        <label>Sorted by</label>
        <div class="select-wrapper">
          <span class="mdi mdi-menu-down" />
          <select v-model="ordering">
            <option :value="null">
              Latest
            </option>
            <option value="-popularity">
              Popularity
            </option>
          </select>
        </div>
      </div>

      <div class="filter-col">
        <SelectSearch
          v-model="author"
          label="Author"
          :items="bloggers"
          :get-value="item => item.name"
          :get-key="item => item.id"
          placeholder="Start typing..."
        />
      </div>
    </div>
    <div
      v-if="searchTags.length"
      class="filters-active d-flex"
    >
      <span class="filters-title">
        Active filters:
      </span>
      <div class="filters-list">
        <ActiveFilter
          v-for="tag in searchTags"
          :key="tag"
          :text="tag"
          @remove="text => $emit('removeTag', text)"
        />
        <span
          class="filters-clear"
          @click="$emit('clearSearch')"
        >
          Clear
        </span>
      </div>
    </div>

    <a
      v-if="!user || (user && !user.is_blogger)"
      href="/sign-up-blogger"
      class="start-blog-button"
    >
      Start a blog
    </a>
  </div>
</template>

<script>
import DatePicker from '@/components/DatePicker'
import { SelectSearch } from '@/components/Form'
import moment from 'moment'
import ActiveFilter from './ActiveFilter'
import { UrlQueryMixin } from '@/mixins'
import bus from './bus'
import { filterMatcher } from '.'

export default {
  name: 'Filters',
  components: {
    DatePicker,
    SelectSearch,
    ActiveFilter,
  },
  mixins: [UrlQueryMixin],
  props: {
    bloggers: {
      type: Array,
      default: () => []
    },
    searchTags: {
      type: Array,
      default: () => []
    },
    user: {
      type: Object,
      default: null
    }
  },
  data() {
    return {
      dates: [],
      ordering: null,
      author: null,
    }
  },
  watch: {
    dates() {
      this.handleFiltersChange()
    },
    ordering() {
      this.handleFiltersChange()
    },
    author() {
      this.handleFiltersChange()
    }
  },
  created() {
    this._getDataFromUrlQuery(filterMatcher, { author: this._transformAuthor, dates: this._transformDateRange })
    bus.$on('authorChange', this.setAuthor)
  },
  methods: {
    _transformAuthor(id) {
      return this.bloggers.find(blogger => blogger.id === parseInt(id, 10))
    },
    _transformDateRange(dates) {
      return dates.split(',').map(date => moment(date))
    },
    setAuthor({ author }) {
      this.author = this._transformAuthor(author)
    },
    handleFiltersChange() {
      const { dates, author, ordering } = this

      bus.$emit('filtersChange', {
        dates: dates.map(date => (date ? moment(date).format('YYYY-MM-DD') : null)).join(',') || null,
        author: author ? author.id : null,
        ordering
      })
    },
  }
}
</script>
