<template>
  <div class="news-row blog-row">
    <div class="row">
      <div class="col-lg-12">
        <a
          :href="item.url"
          class="news-block"
        >
          <div
            class="news-media"
            :style="`background-image: url('${item.picture}');`"
          >
            <span
              v-if="item.video"
              class="mdi mdi-play-circle-outline play-video-button"
            />
          </div>
          <div class="news-info">
            <span class="category-name">
              {{ item.category.name }}
            </span>
            <h3 class="news-name">
              {{ item.title }}
            </h3>
            <span class="news-date">
              {{ item.created_at | date }}
            </span>
            <p>{{ item.excerpt }}</p>
            <div class="d-flex justify-content-between align-items-center">
              <div
                class="author-info-block no-link d-flex"
                @click.prevent="selectBlogger"
              >
                <div class="avatar-img">
                  <img
                    :src="item.author.picture"
                    alt="avatar"
                  >
                </div>
                <div class="author-detail-info">
                  <span
                    class="status"
                    :class="{online: item.author.online, offline: !item.author.online}"
                  >
                    {{ item.author.online ? 'Online' : 'Offline' }}
                  </span> <!-- class='offline' -->
                  <i>{{ item.author.name }}</i>
                </div>
              </div>

              <SocialShare
                :url="item.url"
                :title="item.title"
                :description="item.excerpt"
                right="-80px"
              >
                <span
                  class="mdi mdi-share-variant blog-article-share no-link"
                  @click.prevent
                />
              </SocialShare>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</template>

<script>
import moment from 'moment'
import SocialShare from '@/components/SocialShare'
import bus from './bus'

export default {
  name: 'Item',
  components: {
    SocialShare
  },
  filters: {
    date(value) {
      return moment(value).format('MMM DD, YYYY')
    }
  },
  props: {
    item: {
      type: Object,
      required: true
    }
  },
  methods: {
    selectBlogger() {
      bus.$emit('authorChange', { author: this.item.author.id })
    }
  }
}
</script>
