<template>
  <div>
    <section class="section-top">
      <div class="wrapper">
        <div class="title-wrap">
          <span>Blogs</span>
        </div>

        <Menu
          :items="categories"
          :search-query="searchQuery"
          @search="handleSearch"
        />
        <Filters
          v-if="$route.params.category"
          :bloggers="bloggers"
          :search-tags="searchTags"
          :user="user"
          @removeTag="removeTag"
          @clearSearch="clearSearch"
        />
      </div>
    </section>

    <RouterView />
  </div>
</template>

<script>
import Menu from './Menu'
import Filters from './Filters'
import { UrlQueryMixin } from '@/mixins'

export default {
  name: 'Layout',
  components: {
    Menu,
    Filters,
  },
  mixins: [UrlQueryMixin],
  props: {
    categories: {
      type: Array,
      default: () => []
    },
    bloggers: {
      type: Array,
      default: () => []
    },
    user: {
      type: Object,
      default: null
    }
  },
  data() {
    return {
      searchTags: [],
      searchQuery: '',
    }
  },
  watch: {
    searchTags() {
      this.searchQuery = this.searchTags.join(' ')
    },
  },
  created() {
    this._getDataFromUrlQuery({ search: 'searchQuery' })
  },
  methods: {
    removeTag(text) {
      this.searchTags = this.searchTags.filter(tag => tag !== text)
    },
    clearSearch() {
      this.searchTags = []
    },
    handleSearch(searchQuery) {
      if (searchQuery) {
        const tags = searchQuery.split(/\s+/)
        this.searchTags = tags.filter(
          (tag, index) => tags.indexOf(tag) === index,
        )
      } else {
        this.searchTags = []
      }
    }
  }
}
</script>
