<template>
  <section class="section-news">
    <div class="section-news-holder">
      <div class="wrapper">
        <BloggerInfo
          v-if="author"
          :data="blogger"
          :user="user"
          @updateBlogger="updateBlogger"
        />
        <div v-if="articles.length && loading">
          <template
                  v-if="categorySlug === 'latest'"
          >
            <Category
                    v-for="item in latestCategories"
                    :key="item.id"
                    :category="item"
            />
          </template>
          <Category
                  v-else
                  :key="category.id"
                  infinite
                  :load-more="loadMore"
                  :category="category"
          />
        </div>
        <div v-else-if="!loading" class="loading-status">
          <loader></loader>
        </div>
        <div v-else>
          <zeroresults @back="loading = false"></zeroresults>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
import axios from 'axios'
import Vue from 'vue'
import Category from './Category'
import BloggerInfo from './BloggerInfo'
import bus from './bus'
import { getKeyByValue } from '@/utils'
import { UrlQueryMixin } from '@/mixins'
import { filterMatcher } from '.'
import loader from '@/widget/loader'
import zeroresults from '@/widget/zeroResultsTips'

export default {
  name: 'List',
  components: {
    loader,
    Category,
    BloggerInfo,
    zeroresults
  },
  mixins: [UrlQueryMixin],
  props: {
    categories: {
      type: Array,
      default: () => []
    },
    user: {
      type: Object,
      default: null,
    },
    bloggers: {
      type: Array,
      default: () => []
    }
  },
  data() {
    return {
      latestCategories: this.categories,
      specificCategory: null,
      categorySlug: this.$route.params.category,
      dates: null,
      ordering: null,
      author: null,
      search: null,
      hasMoreItems: this.checkIfHasItems(),
      page: 2,
      articles: [],
      loading: true
    }
  },
  computed: {
    category: {
      get() {
        if (this.specificCategory) {
          return this.specificCategory
        }

        return this.latestCategories.find(item => item.slug === this.categorySlug)
      },
      set(value) {
        this.specificCategory = value
      }
    },
    blogger() {
      if (this.author) {
        return this.bloggers.find(({ id }) => id === parseInt(this.author, 10))
      }

      return null
    }
  },
  watch: {
    categorySlug() {
      this.refetchData()
      this.page = 2
    },
  },
  created() {

    this.articles = this.latestCategories.flatMap(item => {
      return item.articles
    })

    this._getDataFromUrlQuery(filterMatcher)
    bus.$on('filtersChange', this.handleFiltersChange)
  },
  methods: {
    async fetchData(page = 1) {

      const params = {
        search: this.search,
        dates: this.dates,
        ordering: this.ordering,
        author: this.author ? this.author : null,
        page,
      }

      const { data } = await axios({
        method: 'get',
        params: { ...params, category__slug: this.categorySlug === 'latest' ? null : this.categorySlug },
        url: "{% url 'blog-articles-list-api' %}",
      })

      this.hasMoreItems = !!data.next
      this.page = page + 1

      return data.results
    },
    async refetchData() {
      this.loading = false
      this.setArticles(await this.fetchData())
      this.loading = true
    },
    async loadMore() {
      if (this.hasMoreItems) {
        this.mergeArticles(await this.fetchData(this.page))

        return true
      }

      return false
    },
    setArticles(articles) {
      // this.specificCategory is null at this step, so we find category in this.latestCategories
      // and set the category data with new articles to this.specificCategory
      this.articles = articles
      if (this.categorySlug === 'latest') {
        this.latestCategories = this.latestCategories.map(category => ({ ...category, articles: articles.filter(article => article.category.id === category.id).splice(0, 6) }))
      } else {
        const categoryItem = this.latestCategories.find(item => item.slug === this.categorySlug)

        if (categoryItem) {
          this.specificCategory = { ...categoryItem, articles }
        }
      }
    },
    mergeArticles(articles) {
      // this.specificCategory has already set at this step so we simply merge it's articles
      this.category = { ...this.category, articles: [...this.category.articles, ...articles] }
    },
    handleFiltersChange(filters) {
      // apply filters
      Object.keys(filters).map((key) => {
        Vue.set(this, key, filters[key])

        this._setUrlQuery(getKeyByValue(filterMatcher, key), filters[key])

        return null
      })

      this.refetchData()
    },
    updateBlogger({ id, data }) {
      const index = this.bloggers.findIndex(item => item.id === id)

      if (index > -1) {
        Vue.set(this.bloggers, index, data)
      }
    },
    checkIfHasItems() {
      const category = this.categories.find(item => item.slug === this.$route.params.category)

      if (category) {
        return category.has_more_articles
      }

      return false
    }
  },
  beforeRouteUpdate(to, from, next) {
    this.categorySlug = to.params.category
    next()
  },

}
</script>
