<template>
  <div class="col-left d-flex align-items-center">
    <mark :class="{nolikes: rating === '0', 'color-red': parseInt(rating) < 0}">
      {{ rating }} <span
        class="mdi"
        :class="[{'mdi-thumb-up-outline': rating === '0', 'mdi-thumb-up': parseInt(rating) > 0, 'mdi-thumb-down color-red': parseInt(rating) < 0}]"
      />
    </mark>
    <div class="likes-wrap">
      <a
        href="#"
        @click.prevent="$emit('dislike')"
      >
        <span :class="['mdi', isDisliked ? 'mdi-minus-circle color-red' : 'mdi-minus-circle-outline']" />
      </a>
      <a
        href="#"
        @click.prevent="$emit('like')"
      >
        <span :class="['mdi', isLiked ? 'mdi-plus-circle color-blue' : 'mdi-plus-circle-outline']" />
      </a>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Rating',
  props: {
    rating: {
      type: String,
      required: true
    },
    isLiked: {
      type: Boolean,
      default: false,
    },
    isDisliked: {
      type: Boolean,
      default: false,
    }
  }
}
</script>
