<template>
  <div class="row project-filters">
    <InputRow
      v-model="search"
      label="Search by name"
    >
      <span
        slot="icon"
        class="mdi mdi-magnify select-search-button"
      />
    </InputRow>
    <div class="input-row">
      <InputDropdown
        id="industry"
        :items="categories"
        :get-key="item => item.id"
        :get-value="item => item.name"
        label="Sort by industry"
        @select="handleSelectIndustry"
      />
    </div>
    <div class="input-row">
      <InputDropdown
        id="sortby"
        :items="sortByItems"
        :get-key="item => item.id"
        :get-value="item => item.name"
        label="Sort by"
        @select="handleSelectSortBy"
      />
    </div>
  </div>
</template>

<script>
import bus from './bus'
import {
  InputRow,
  InputDropdown
} from '@/components/Form'

export default {
  name: 'Filters',
  components: {
    InputRow,
    InputDropdown
  },
  props: {
    categories: {
      type: Array,
      default: () => []
    }
  },
  data() {
    return {
      search: '',
      sortByItems: [
        { id: 1, value: 'popularity', name: 'Popularity' },
        { id: 2, value: 'newest', name: 'Newest' },
        { id: 3, value: 'oldest', name: 'Oldest' },
      ]
    }
  },
  watch: {
    search(value) {
      bus.$emit('filtersChange', { name: 'search', value })
    }
  },
  methods: {
    handleSelectIndustry(item) {
      bus.$emit('filtersChange', { name: 'category', value: item ? item.id : null })
    },
    handleSelectSortBy(item) {
      bus.$emit('filtersChange', { name: 'sortby', value: item ? item.value : null })
    }
  }
}
</script>
