<template>
  <div v-if="loading && !showForm">
    loading...
  </div>
  <EditForm
    v-else-if="showForm"
    :user="user"
    :item="selectedItem"
    :categories="newsCategories"
    :content-managers="contentManagers"
  />
  <div v-else>
    <Filters
      :categories="newsCategories"
    />
    <div class="content-wrapper">
      <div class="row flex-wrap">
        <Item
          v-for="article in filteredArticles"
          :key="article.id"
          :item="article"
        />
      </div>
    </div>
    <InfiniteLoading
      :distance="10"
      spinner="spiral"
      @infinite="infiniteHandler"
    >
      <span slot="no-more" />
      <span slot="no-results" />
    </InfiniteLoading>
  </div>
</template>

<script>
import Swal from 'sweetalert2'
import axios from 'axios'
import moment from 'moment'
import InfiniteLoading from 'vue-infinite-loading'
import bus from './bus'
import Filters from './Filters'
import Item from './Item'
import EditForm from './Form'
import { NotificationMixin } from '@/mixins'

export default {
  name: 'AdminNews',
  components: {
    Filters,
    Item,
    InfiniteLoading,
    EditForm
  },
  mixins: [NotificationMixin],
  props: {
    user: {
      type: Object,
      required: true
    },
    newsCategories: {
      type: Array,
      default: () => []
    },
    contentManagers: {
      type: Array,
      default: () => []
    }
  },
  data() {
    return {
      articles: null,
      hasNext: false,
      page: 1,
      showForm: false,
      loading: true,
      search: '',
      category: null,
      sortby: null,
      selectedItem: null,
    }
  },
  computed: {
    filteredArticles() {
      let { articles } = this

      if (this.search) {
        articles = articles.filter(article => article.title.toLowerCase().indexOf(this.search.trim().toLowerCase()) > -1)
      }

      if (this.category) {
        articles = articles.filter(article => article.category.id === this.category)
      }

      if (this.sortby === 'populariry') {
        articles.sort((prev, curr) => curr.views - prev.views)
      }

      if (this.sortby === 'newest') {
        articles.sort((prev, curr) => {
          const prevDate = moment(prev.updated_at)
          const currDate = moment(curr.updated_at)

          if (prevDate > currDate) {
            return 1
          }

          if (prevDate < currDate) {
            return -1
          }

          return 0
        })
      }
      if (this.sortby === 'oldest') {
        articles.sort((prev, curr) => {
          const prevDate = moment(prev.updated_at)
          const currDate = moment(curr.updated_at)

          if (prevDate > currDate) {
            return -1
          }

          if (prevDate < currDate) {
            return 1
          }

          return 0
        })
      }
      return articles
    }
  },
  created() {
    bus.$on('filtersChange', this.handleFilersChange)
    bus.$on('edit', this.showEditForm)
    bus.$on('close', this.closeForm)
    bus.$on('update', this.update)
    bus.$on('remove', this.remove)
  },
  async mounted() {
    const response = await axios({
      method: 'get',
      url: '{% url "admin-get-news-articles" %}',
      params: { page: this.page }
    })

    if (response.status === 200) {
      this.loading = false
      this.articles = response.data.results
    }

    if (response.data.next) {
      this.hasNext = true
      this.page += 1
    }
  },
  methods: {
    handleFilersChange({ name, value }) {
      this[name] = value
    },
    async infiniteHandler($state) {
      const hasNext = await this.loadMore()

      if (hasNext) {
        $state.loaded()
      } else {
        $state.complete()
      }
    },
    async loadMore() {
      if (this.hasNext) {
        const articles = await this.fetchData(this.page)
        this.articles.push(...articles)
      }

      return this.hasNext
    },
    async fetchData(page) {
      const response = await axios({
        method: 'get',
        url: '{% url "admin-get-news-articles" %}',
        params: { page }
      })

      this.hasNext = !!response.data.next
      this.page += 1

      return response.data.results
    },
    showEditForm(item) {
      this.selectedItem = item
      this.showForm = true
    },
    closeForm() {
      this.showForm = false
    },
    update(item) {
      this.showForm = false
      const index = this.articles.findIndex(article => article.id === item.id)
      if (index) {
        this.notify('success', 'Article has been updated successfully')
        this.$set(this.articles, index, item)
      } else {
        this.notify('success', 'New article has been added successfully')
        if (!this.hasNext) {
          this.articles.append(item)
        }
      }
    },
    remove(pk) {
      const url = '{% url "remove-news-article" %}'
      const data = { pk }

      Swal.fire({
        title: 'Are you sure?',
        type: 'question',
        showConfirmButton: true,
        confirmButtonText: 'Delete',
        confirmButtonColor: 'red',
        showCancelButton: true,
        showLoaderOnConfirm: true,
        preConfirm: async () => {
          try {
            const response = await axios({
              method: 'delete',
              url,
              data,
              headers: {
                Authorization: `JWT ${this.user.token}`
              }
            })

            if (response.status === 204) {
              const index = this.articles.findIndex(article => article.id === pk)
              this.articles.splice(index, 1)
              this.notify('success', 'Article has been successfully deleted')
            }
          } catch (e) {
            this.notify('error', 'Something went wrong!')
            console.log(e)
          }
        }
      })
    }
  }
}
</script>
