<template>
  <div class="dropdown-menu dropdown-menu-right">
    <a
      v-if="project.status === 1"
      href="#"
      class="dropdown-item"
    >
      Messages
    </a>
    <a
      v-if="project.management_option === 1"
      :href="`/settings/projects/${project.id}/board/`"
      class="dropdown-item"
    >
      Project board
    </a>
    <a
      v-if="project.status !== 2 && user.role === 2"
      :href="`/settings/projects/${project.id}/edit/`"
      class="dropdown-item"
    >
      Edit project
    </a>
    <a
      v-if="user.is_pm"
      href="#"
      class="dropdown-item"
    >
      User management
    </a>
    <a
      v-if="user.role !== 1 && project.management_option === 1"
      href="#"
      class="dropdown-item"
    >
      Document
    </a>
    <a
      v-if="project.status === 2 && user.is_owner && user.role === 2 && showReview"
      href="#"
      class="dropdown-item"
      @click.prevent="openReviewModal(project.id)"
    >
      Review
    </a>
    <a
      v-if="project.status === 2 && user.role === 2"
      href="#"
      class="dropdown-item"
      @click.prevent="$emit('toArchive', project.id)"
    >
      To archive
    </a>
    <a
      v-if="project.status === 5 && !user.is_pm && user.role === 2"
      href="#"
      class="dropdown-item"
      @click.prevent="$emit('changeType', project.id)"
    >
      Change type
    </a>
    <a
      v-if="project.status === 5 && user.role === 2"
      href="#"
      class="dropdown-item start"
      :class="{disabled: !project.pm || project.has_open_request}"
      @click.prevent="handleStartProject"
    >
      Start project
    </a>
    <a
      v-if="project.status === 1 && user.role === 2"
      href="#"
      class="dropdown-item finished"
      :class="{disabled: (project.management_option === 1 && !project.pm) || project.has_open_request}"
      @click.prevent="handleFinishProject"
    >
      Finish project
    </a>
  </div>
</template>

<script>
import bus from './bus'

export default {
  name: 'DropdownItems',
  props: {
    project: {
      type: Object,
      required: true,
    },
    user: {
      type: Object,
      default: () => {}
    },
    showReview: {
      default: true
    }
  },
  methods: {
    openReviewModal(id) {
      bus.$emit('openReviewModal', id)
    },
    handleStartProject() {
      if (this.project.pm && !this.project.has_open_request) {
        this.$emit('startProject', this.project)
      }
    },
    handleFinishProject() {
      // if (this.project.pm && !this.project.has_open_request) {
      this.$emit('finishProject', this.project)
      // }
    }
  }
}
</script>
