<template>
  <div class="settings-holder">
    <div class="add-company-wrapper">
      <div class="add-company-title">
        <h2 class="title">
          Select the project management option
        </h2>
        <p>Please, note that you cannot change the cooperation option after starting a project.</p>
      </div>
      <div class="row button-styles-wrap justify-content-center">
        <div class="col-md-4">
          <div class="text-center">
            <a
              href="#"
              class="button-styles light-blue"
              @click.prevent="choose(1)"
            >
              ENGRE platform
            </a>
          </div>
          <ul class="explore-list">
            <li class="plus">
              Access to rare industry competencies
            </li>
            <li class="plus">
              Guarantee of work completion in accordance to your deadline
            </li>
            <li class="plus">
              A coordinator for your project
            </li>
            <li class="plus">
              Legal backing
            </li>
            <li class="plus">
              E-contract verified by e-signatures
            </li>
            <li class="plus">
              Financial and accounting support
            </li>
            <li class="plus">
              Verified contractor companies
            </li>
            <li class="plus">
              Licensed software
            </li>
            <li class="plus">
              An easy-to-use interface for the project tracking
            </li>
          </ul>
        </div>
        <div class="col-md-4">
          <div class="text-center">
            <a
              href="#"
              class="button-styles invert-light-blue"
              @click.prevent="choose(2)"
            >
              Directly with contractor
            </a>
          </div>
          <ul class="explore-list">
            <li class="plus">
              Access to rare industry competencies
            </li>
            <li class="minus">
              Guarantee of work completion in accordance to your contract
            </li>
            <li class="minus">
              A coordinator for your project
            </li>
            <li class="minus">
              Legal backing
            </li>
            <li class="minus">
              Financial and accounting support
            </li>
            <li class="minus">
              An easy-to-use interface for the project tracking
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Options',
  methods: {
    choose(option) {
      this.$emit('setOption', option)
    }
  }
}
</script>
