<template>
  <div class="settings-holder">
    <div class="back-wrapper position-top-left">
      <a href="#" @click="backBtn">
        <span class="back-icon">
          <span class="mdi mdi-arrow-left" />
        </span>
        <mark>Create Project</mark>
      </a>
    </div>
    <div class="profile-holder">
      <Form
        ref="projectForm"
        :fields="fields"
        enctype="multipart/form-data"
        :submit="submitForm"
      >
        <template
          slot-scope="{ models: {
            name, budget, startDate, endDate, category, industry, coreSkills, tagList, languageList, description, videoLink
          }, isLoading, isValid }"
        >
          <div class="row">
            <div class="col-md-4">
              <!-- Project logo -->
              <div
                v-if="project && project.logo"
                class="upload-wrapper"
              >
                <span>Picture Project</span>
                <div class="uploaded-img">
                  <img :src="project.logo">
                </div>
                <input
                  id="ex-logo"
                  ref="logo"
                  type="file"
                  accept=".jpeg, .jpg, .png"
                  hidden
                >
                <label for="ex-logo">
                  <div class="edit-photo-button">
                    <span class="mdi mdi-pencil" />
                    <i>Edit picture</i>
                  </div>
                </label>
              </div>
              <div
                v-else
                class="upload-wrapper"
              >
                <span>Picture Project</span>
                <div class="upload-input">
                  <input
                    ref="logo"
                    type="file"
                    accept=".jpeg, .jpg, .png"
                  >
                  <i>Choose an image from your computer</i>
                </div>
                <i class="text-hint">
                  JPEG, PNG • 1MB file limit, min 1440px width
                </i>
              </div>
              <!-- Project video -->
              <div
                v-if="project && project.video"
                class="upload-wrapper"
              >
                <span>Video Project</span>
                <div class="uploaded-documents">
                  <span class="mdi mdi-youtube" />
                  <span class="doc-name">
                    <a
                      ref="video"
                      :href="project.video"
                      download
                    >
                      video
                    </a>
                  </span>
                  <span class="mdi mdi-delete delete" />
                </div>
              </div>
              <div
                v-else
                class="upload-wrapper"
              >
                <span>Video Project</span>
                <div class="upload-input">
                  <input
                    ref="video"
                    type="file"
                    accept=".mp4"
                  >
                  <i>Choose a video from your computer</i>
                </div>
                <i class="text-hint">
                  mov, mp4 • 100MB file limit
                </i>
                <input
                  v-model="videoLink.value"
                  type="text"
                  class="input-link"
                  placeholder="Or link"
                >
              </div>
              <!-- Project document -->
              <div
                v-if="project && project.document"
                class="upload-wrapper"
              >
                <span>Document</span>
                <div class="uploaded-documents">
                  <span class="mdi mdi-file-pdf-box" />
                  <span class="doc-name">
                    <a
                      ref="doc"
                      :href="project.document"
                      download
                    >
                      document
                    </a>
                  </span>
                  <span class="mdi mdi-delete delete" />
                </div>
              </div>
              <div
                v-else
                class="upload-wrapper"
              >
                <span>Document</span>
                <div class="upload-input">
                  <input
                    ref="doc"
                    type="file"
                    accept=".pdf"
                  >
                  <i>Choose a pdf from your computer</i>
                </div>
                <i class="text-hint">
                  PDF• 20MB file limit
                </i>
              </div>
            </div>
            <div class="col-md-8">
              <div class="row">
                <div class="col-md-6">
                  <InputRow
                    id="name"
                    v-model="name.value"
                    :error="name.error"
                    label="Name of project*"
                    help-text="If it's 150 characters or less it'll look great."
                  />
                </div>
                <div class="col-md-6">
                  <InputRow
                    id="budget"
                    v-model="budget.value"
                    type="number"
                    :error="budget.error"
                    label="Budget*"
                    help-text="Budget is displayed on site."
                  />
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <div class="input-row">
                    <DatePicker
                      v-model="startDate.value"
                      placeholder="Start date*"
                      @input="handleSelectStartDate"
                    />
                    <i class="text-hint">
                      Planned date start of the project
                    </i>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="input-row">
                    <DatePicker
                      v-model="endDate.value"
                      placeholder="End date*"
                      @input="handleSelectEndDate"
                    />
                    <i class="text-hint">
                      Can be changed
                    </i>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <div class="input-row">
                    <InputDropdown
                      id="category"
                      v-model="category.value"
                      :items="categories"
                      :get-key="item => item.id"
                      :get-value="item => item.name"
                      :default-value="category.value"
                      :error="category.error"
                      label="Category*"
                    />
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="input-row">
                    <SearchInput
                      :items="industries"
                      :default-value="industry.value"
                      :error="industry.error"
                      label="Industry*"
                      @select="handleSelectIndustry"
                    />
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <div class="input-row">
                    <SearchInput
                      :items="coreSkillsList"
                      :get-key="item => item.id"
                      :get-value="item => item.name"
                      :default-values="coreSkills.value"
                      :error="coreSkills.error"
                      label="Core skills*"
                      multiple
                      @select="handleSelectCoreSkills"
                      @search="fetchCoreSkills"
                    />
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="input-row">
                    <SearchInput
                      :items="tags"
                      :get-key="item => item.id"
                      :get-value="item => item.name"
                      :default-values="tagList.value"
                      :error="tagList.error"
                      label="Tags*"
                      multiple
                      @select="handleSelectTags"
                    />
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <div class="input-row">
                    <SearchInput
                      :items="languages"
                      :get-key="item => item.id"
                      :get-value="item => item.name"
                      :default-values="languageList.value"
                      :error="languageList.error"
                      label="Languages*"
                      multiple
                      @select="handleSelectLanguages"
                    />
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-12">
                  <TextareaRow
                    id="description"
                    v-model="description.value"
                    :error="description.error"
                    label="Description*"
                    help-text="If it's 3000 characters or less it'll look great."
                  />
                </div>
              </div>
            </div>
          </div>
          <div class="row align-items-center">
            <div class="col-md-4" />
            <div class="col-md-8">
              <div class="row">
                <div class="col-md-6">
                  <Submit
                    class="button-styles light-blue"
                    value="Save project"
                    :disabled="!isValid"
                    :loading="isLoading"
                  >
                    <span
                      slot="icon"
                      class="mdi mdi-content-save"
                    />
                  </Submit>
                </div>
              </div>
            </div>
          </div>
        </template>
      </Form>
    </div>
  </div>
</template>

<script>
import axios from 'axios'
import moment from 'moment'
import Form, {
  InputRow,
  InputDropdown,
  SearchInput,
  TextareaRow,
  Submit
} from '@/components/Form'
import { isRequired, isCyrillic, maxLength } from '@/utils/validators'
import DatePicker from '@/components/DatePicker'
import { NotificationMixin } from '@/mixins'

export default {
  name: 'ProjectForm',
  components: {
    InputRow,
    InputDropdown,
    SearchInput,
    DatePicker,
    TextareaRow,
    Form,
    Submit
  },
  mixins: [NotificationMixin],
  props: {
    user: {
      type: Object,
      default: () => {}
    },
    categories: {
      type: Array,
      default: () => []
    },
    industries: {
      type: Array,
      default: () => []
    },
    tags: {
      type: Array,
      default: () => []
    },
    languages: {
      type: Array,
      default: () => []
    },
    project: {
      type: Object,
      default: null
    }
  },
  data() {
    return {
      fields: [
        { name: 'name', validators: [isRequired, isCyrillic] },
        { name: 'budget', validators: [isRequired, maxLength(9)] },
        { name: 'startDate', validators: [isRequired] },
        { name: 'endDate', validators: [isRequired] },
        { name: 'category', validators: [isRequired] },
        { name: 'industry', validators: [isRequired] },
        { name: 'coreSkills' },
        { name: 'tagList', validators: [isRequired] },
        { name: 'languageList', validators: [isRequired] },
        { name: 'description', validators: [isRequired] },
        { name: 'videoLink' }
      ],
      coreSkillsList: [],
      loading: false,
    }
  },
  created() {
    const { project, fields } = this
    if (project) {
      fields[0].value = project.name
      fields[1].value = project.budget
      fields[2].value = project.date_start
      fields[3].value = project.date_finish
      fields[4].value = project.category
      fields[5].value = project.industry
      fields[6].value = project.core_skills
      fields[7].value = project.tags
      fields[8].value = project.languages
      fields[9].value = project.description
      fields[10].value = project.video_link
    }

  },
  methods: {

    backBtn(){
      window.history.back()
    },

    handleSelectStartDate(date) {
      this.fields[2].value = date
    },
    handleSelectEndDate(date) {
      this.fields[3].value = date
    },
    handleSelectCategory(category) {
      this.$refs.projectForm.setFieldValue('category', category)
    },
    handleSelectIndustry(industry) {
      this.$refs.projectForm.setFieldValue('industry', industry)
    },
    handleSelectCoreSkills(skills) {
      this.$refs.projectForm.setFieldValue('coreSkills', skills)
    },
    handleSelectTags(tags) {
      this.$refs.projectForm.setFieldValue('tagList', tags)
    },
    handleSelectLanguages(languages) {
      this.$refs.projectForm.setFieldValue('languageList', languages)
    },
    async fetchCoreSkills(value) {
      const response = await axios({
        method: 'get',
        url: '{% url "core-skills-api" %}',
        params: {
          name__icontains: value,
        }
      })

      this.coreSkillsList = response.data.results
    },
    submitForm(values) {
      this.loading = true
      if (this.project) {
        this.updateProject(values)
      } else {
        this.createProject(values)
      }
    },
    async createProject(values) {
      this.notify('warning', 'Creating project...')
      const formData = new FormData()
      formData.append('name', values.name)
      formData.append('budget', values.budget)
      formData.append('date_start', moment(values.startDate).format('YYYY-MM-DD'))
      formData.append('date_finish', moment(values.endDate).format('YYYY-MM-DD'))
      formData.append('category_id', values.category.id)
      formData.append('industry_id', values.industry.id)
      formData.append('core_skills', values.coreSkills.map(skill => skill.id))
      formData.append('tags', values.tagList.map(tag => tag.id))
      formData.append('languages', values.languageList.map(lan => lan.id))
      formData.append('description', values.description)
      formData.append('video_link', values.videoLink)
      formData.append('management_option', this.$parent.option)
      formData.append('company', this.user.company.id)

      if (this.$refs.logo.files.length) {
        formData.append('logo', this.$refs.logo.files[0])
      }

      if (this.$refs.video.files.length) {
        formData.append('video', this.$refs.video.files[0])
      }
      if (this.$refs.doc.files.length) {
        formData.append('document', this.$refs.doc.files[0])
      }

      try {
        const { data } = await axios({
          method: 'post',
          url: '{% url  "add-project" %}',
          data: formData,
          headers: {
            Authorization: `JWT ${this.user.token}`,
          }
        })
        if (data.success) {
          if (this.$parent.option == 1) {
            this.requestToCreatingChatRoomWithPM()
          }
          window.location.pathname = data.url
          this.notify('success', 'Done! Redirecting...')
        } else {
          this.notify('error', 'Something gone wrong!')
        }
      } catch (e) {
        if (e.response.data.errors) {
          this.notify('error', e.response.data.errors)
        }
      }
    },

    async requestToCreatingChatRoomWithPM() {
      try {
        await axios({
          method: 'post',
          url: '/api/v1/chats/pm/',
          headers: {
            Authorization: `JWT ${this.user.token}`,
          }
        })
      } catch (e) {
        console.log(e.response.data)
      }
    },

    async updateProject(values) {
      this.notify('warning', 'Updating project...')
      const formData = new FormData()
      formData.append('name', values.name)
      formData.append('budget', values.budget)
      formData.append('date_start', moment(values.startDate).format('YYYY-MM-DD'))
      formData.append('date_finish', moment(values.endDate).format('YYYY-MM-DD'))
      formData.append('category_id', values.category.id)
      formData.append('industry_id', values.industry.id)
      formData.append('core_skills', values.coreSkills.map(skill => skill.id))
      formData.append('tags', values.tagList.map(tag => tag.id))
      formData.append('languages', values.languageList.map(lan => lan.id))
      formData.append('description', values.description)
      formData.append('video_link', values.videoLink)
      formData.append('pk', this.project.id)

      if (this.$refs.logo.files.length) {
        formData.append('logo', this.$refs.logo.files[0])
      }
      if (this.$refs.video.files && this.$refs.video.files.length) {
        formData.append('video', this.$refs.video.files[0])
      }
      if (this.$refs.doc.files && this.$refs.doc.files.length) {
        formData.append('document', this.$refs.doc.files[0])
      }

      try {
        const { data } = await axios({
          method: 'put',
          url: '{% url "update-project" %}',
          data: formData,
          headers: { Authorization: `JWT ${this.user.token}` }
        })
        if (data.success) {
          window.location.pathname = data.url
          this.notify('success', 'Done! Redirecting...')
        } else {
          this.notify('error', 'Something gone wrong!')
        }
      } catch (e) {
        if (e.response.data.errors) {
          this.notify('error', e.response.data.errors)
        }
      }
    }
  }
}
</script>
