<template>
  <!-- eslint-disable vue/component-name-in-template-casing -->
  <b-modal
    :id="`review-form-${project.id}`"
    ref="reviewForm"
    class="reviews-modal"
    hide-header
    hide-footer
  >
    <div class="modal-content">
      <span
        class="close-modal"
        @click.prevent="$refs.reviewForm.hide()"
      >
        <span class="mdi mdi-close" />
      </span>
      <div class="modal-heading">
        <div class="modal-title">
          <span class="mdi mdi-message draw" />
          <i>Add review</i>
        </div>
      </div>
      <div class="modal-wrapper">
        <div
          v-if="!isPlatform"
          class="row reviews-top"
        >
          <div class="col-md-6 col-sm-7">
            <div class="is-row-info d-flex align-items center">
              <div class="is-row-img">
                <img
                  :src="project.service && project.service.logo"
                  alt="pic"
                >
              </div>
              <div class="is-row-details">
                <a
                  href="#"
                  class="details-page-link"
                >
                  {{ project.service && project.service.company.name }}
                </a>
                <span class="location">
                  {{ project.service && project.service.company.location.name }},
                  {{ project.service && project.service.company.location.country.name }}
                </span>
                <span class="reviews">
                  <a :href="project.service && project.service.company.website">
                    {{ project.service && project.service.company.website }}
                  </a>
                </span>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-sm-5">
            <div class="rating-wrap rating-wrap-modal">
              <img
                v-for="item in [1, 2, 3, 4, 5]"
                :key="item"
                :src="`/static/images/icon-diamond${project.service && project.service.company.rating < item ? '-outline' : ''}.svg`"
              >
            </div>
            <div class="row">
              <div class="col-3">
                <div class="is-row">
                  <span>Rating</span>
                  <mark class="fz-bigger">
                    {{ project.service && project.service.company.rating }}
                  </mark>
                </div>
              </div>
              <div class="col-3">
                <div class="is-row">
                  <span>Reviews</span>
                  <mark class="fz-bigger">
                    {{ project.service && project.service.company.reviews_count }}
                  </mark>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="svg-wrap">
          <img
            src="/static/images/wave.svg"
            alt="wave"
          >
        </div>
        <div class="rating-wrap rating-wrap-modal text-center">
          <img
            v-for="item in [1, 2, 3, 4, 5]"
            :key="item"
            :src="`/static/images/icon-diamond${diamonds < item ? '-outline' : ''}.svg`"
            style="cursor: pointer;"
            @click.prevent="setDiamonds(item)"
          >
        </div>
        <Form
          :fields="fields"
          class="add-review"
          :submit="addReview"
        >
          <template slot-scope="{ models: { text }, isLoading, isValid }">
            <label :style="text.error ? 'color: red;' : ''">
              {{ text.error ? text.error : `Feed back on the project "${project.name}"` }}
            </label>
            <textarea
              v-model="text.value"
              :error="text.error"
              placeholder="Enter review..."
            />
            <div class="text-center">
              <Submit
                class="btn-site"
                value="Submit review"
                :disabled="!isValid"
                :loading="isLoading"
              />
            </div>
          </template>
        </Form>
      </div>
    </div>
    </div>
  </b-modal>
</template>

<script>
import axios from 'axios'
import bus from './bus'
import Form, { Submit } from '@/components/Form'
import { isRequired } from '@/utils/validators'
import { NotificationMixin } from '@/mixins'

export default {
  name: 'ReviewForm',
  components: {
    Form,
    Submit
  },
  mixins: [NotificationMixin],
  props: {
    user: {
      type: Object,
      required: true
    },
    project: {
      type: Object,
      default: () => {}
    }
  },
  data() {
    return {
      fields: [
        { name: 'text', validators: [isRequired] }
      ],
      diamonds: 0,
    }
  },
  computed: {
    // is review for platform or contractor company
    isPlatform() {
      const { project } = this

      if (project.pm) {
        return true
      }
      return false
    }
  },
  created() {
    bus.$on('openReviewModal', this.openModal)
  },
  methods: {
    openModal(id) {
      if (id === this.project.id) {
        this.$refs.reviewForm.show()
      }
    },
    setDiamonds(value) {
      this.diamonds = value
    },
    async addReview(values) {
      if (!this.isPlatform) {
        values.project = this.project.id
        values.company = this.project.service.company.id
      }
      if (this.diamonds === 0) {
        this.notify('error', 'Please select the rating (diamonds from 1 to 5)')
        return
      }
      values.rating = this.diamonds
      values.user = this.user.id

      const { data } = await axios({
        method: 'post',
        url: '{% url "create-review" %}',
        data: values,
        headers: {
          Authorization: `JWT ${this.user.token}`
        }
      })

      if (data.success) {
        this.notify('success', 'Review has been added successfully')
        this.$refs.reviewForm.hide()
      } else {
        this.notify('errors', 'Something gone wrong...')
      }
    },
  }
}
</script>
