<template>
  <div class="settings-holder">
    <div class="back-wrapper position-top-left">
      <a
        href="#"
        @click.prevent="displayInfoForm = false"
      >
        <span class="back-icon">
          <span
            class="mdi mdi-arrow-left"
          />
        </span>
        <mark>{{ displayInfoForm ? 'Company Information' : company ? 'Update Company' : 'Create Company' }}</mark>
      </a>
    </div>
    <CompanyInfoForm
      v-if="displayInfoForm"
      :user="user"
      :company="company"
    />
    <div
      v-show="!displayInfoForm"
      class="profile-holder"
    >
      <Form
        ref="companyForm"
        :fields="fields"
        enctype="multipart/form-data"
        :submit="submitForm"
      >
        <template
          slot-scope="{ models: {
            name, owner, location, timezone, ownership, date, website, size, selectedLanguages
          }, isLoading, isValid }"
        >
          <div class="row">
            <div class="col-md-4">
              <div
                v-if="company && company.logo"
                class="upload-wrapper"
              >
                <span>Logo Company</span>
                <div class="uploaded-img-company">
                  <img :src="prewiew ? prewiew : company.logo">
                </div>
                <input
                  id="ex-logo"
                  ref="exLogo"
                  type="file"
                  @change="uploadImage($event)"
                  hidden
                >
                <label for="ex-logo">
                  <div class="edit-photo-button">
                    <span class="mdi mdi-pencil" />
                    <i>Edit logo</i>
                  </div>
                </label>
              </div>
              <div
                v-else
                class="upload-wrapper"
              >
                <span>Logo Company</span>
                <div class="uploaded-img-company" v-if="prewiew">
                  <img :src="prewiew">
                </div>
                <div class="upload-input">
                  <input
                    id="company-logo"
                    ref="logo"
                    @change="uploadImage($event)"
                    type="file"
                  >
                  <i>Choose an image from your computer</i>
                </div>
                <i class="text-hint">
                  JPEG, PNG, GIF, or BMP • 1MB file limit
                </i>
              </div>
              <a
                v-if="company"
                href="#"
                class="reset-pass-link"
                @click.prevent="displayInfoForm = true"
              >
                Add company information
              </a>
            </div>
            <div class="col-md-8">
              <div class="row">
                <div class="col-md-6">
                  <InputRow
                    id="name"
                    v-model="name.value"
                    :error="name.error"
                    label="Name of company*"
                    help-text="Company name is displayed on site."
                  />
                </div>
                <div class="col-md-6">
                  <div class="input-row">
                    <SearchInput
                      :items="cities"
                      :get-key="item => item.id"
                      :get-value="item => item.name_ascii"
                      :default-value="location.value"
                      :error="location.error"
                      label="Location*"
                      @select="handleSelectLocation"
                      @search="fetchCities"
                    />
                    <i class="text-hint">
                      E.g. Brooklyn, NY
                    </i>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <InputRow
                    id="ceo"
                    v-model="owner.value"
                    :error="owner.error"
                    label="Ceo*"
                    :disabled="!!company"
                    help-text="Can not be changed"
                  />
                </div>
                <div class="col-md-6">
                  <div class="input-row">
                    <SearchInput
                      id="zone"
                      :items="timezones"
                      :get-key="item => item.tz_db"
                      :get-value="item => item.tz_display"
                      :default-value="timezone.value"
                      :error="timezone.error"
                      label="Time zone*"
                      @select="handleSelectTimezone"
                    />
                    <i class="text-hint">
                      Most time zones are automatically adjusted for you. We&apos;ll use this setting for emails.
                    </i>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <div class="input-row">
                    <InputDropdown
                      id="ownership"
                      v-model="ownership.value"
                      :items="ownerships"
                      :get-key="item => item.id"
                      :get-value="item => item.name"
                      :default-value="ownership.value"
                      :error="ownership.error"
                      label="Type of ownership*"
                      @input="handleSelectOwnership"
                    />
                    <i class="text-hint">
                      Displayed on site.
                    </i>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="input-row">
                    <span class="label-name">
                      Foundation
                    </span>
                    <DatePicker
                      v-model="date.value"
                      placeholder="Select date*"
                      @input="handleSelectDate"
                    />
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <InputRow
                    id="site"
                    v-model="website.value"
                    :error="website.error"
                    label="Website"
                    help-text="Company site*"
                  />
                </div>
                <div class="col-md-6">
                  <div class="input-row">
                    <InputDropdown
                      id="size"
                      v-model="size.value"
                      :items="companySizes"
                      :get-key="item => item.id"
                      :get-value="item => item.value"
                      :default-value="companySizes[size.value - 1]"
                      :error="size.error"
                      label="Company size*"
                      @input="handleSelectCompanySize"
                    />
                    <i class="text-hint">
                      Displayed on site.
                    </i>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <div class="input-row">
                    <SearchInput
                      v-model="selectedLanguages.value"
                      :items="languages"
                      :default-values="selectedLanguages.value"
                      label="Languages*"
                      multiple
                      @select="handleSelectLanguage"
                    />
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row justify-content-center">
            <div class="col-md-4">
              <Submit
                class="button-styles light-blue"
                value="Save company"
                :disabled="!isValid"
                :loading="isLoading"
              >
                <span
                  slot="icon"
                  class="mdi mdi-content-save"
                />
              </Submit>
            </div>
          </div>
        </template>
      </Form>
    </div>
  </div>
</template>

<script>
import Form, {
  InputRow,
  InputDropdown,
  SearchInput,
  Submit
} from '@/components/Form'
import { isRequired, maxLength, isCyrillic } from '@/utils/validators'
import DatePicker from '@/components/DatePicker'
import axios from 'axios'
import moment from 'moment'
import CompanyInfoForm from './CompanyInfoForm'
import { NotificationMixin } from '@/mixins'


export default {
  name: 'CompanyForm',
  components: {
    InputRow,
    InputDropdown,
    DatePicker,
    SearchInput,
    CompanyInfoForm,
    Form,
    Submit
  },
  mixins: [NotificationMixin],
  props: {
    user: {
      type: Object,
      required: true
    },
    company: {
      type: Object,
      default: () => {}
    },
    timezones: {
      type: Array,
      default: () => []
    },
    ownerships: {
      type: Array,
      default: () => []
    },
    languages: {
      type: Array,
      default: () => []
    }
  },
  data() {
    return {
      fields: [
        { name: 'name', validators: [isRequired, isCyrillic] },
        { name: 'owner', validators: [isRequired] },
        { name: 'website', validators: [isRequired, maxLength(50)] },
        { name: 'location', validators: [isRequired] },
        { name: 'timezone', validators: [isRequired] },
        { name: 'ownership', validators: [isRequired] },
        { name: 'size', validators: [isRequired] },
        { name: 'date', validators: [isRequired] },
        { name: 'selectedLanguages', validators: [isRequired] },
      ],
      companySizes: [
        { id: 1, value: '5-15' },
        { id: 2, value: '16-49' },
        { id: 3, value: '50-199' },
        { id: 4, value: '200-499' },
        { id: 5, value: '500-999' },
        { id: 6, value: '1000 and more' },
      ],
      loading: false,
      displayInfoForm: false,
      cities: [],
      prewiew: null,
    }
  },
  created() {
    const { company, fields } = this
    if (company) {
      fields[0].value = company.name
      fields[1].value = company.ceo
      fields[2].value = company.website
      fields[3].value = company.form_location
      fields[4].value = company.timezone
      fields[5].value = company.ownership
      fields[6].value = this.companySizes[company.company_size - 1]
      fields[7].value = company.created_at
      fields[8].value = company.languages
    }

    if (company && !company.is_info_completed) {
      this.displayInfoForm = true
    }
  },
  methods: {
    uploadImage(e) {
      const image = e.target.files[0];
      const reader = new FileReader();
      reader.readAsDataURL(image);
      reader.onload = e =>{
        this.prewiew = e.target.result;
        console.log(this.prewiew);
      };
    },
    handleSelectLocation(location) {
      this.fields[3].value = location
      this.$refs.companyForm.setFieldValue('location', location)
    },
    handleSelectTimezone(timezone) {
      this.fields[4].value = timezone
      this.$refs.companyForm.setFieldValue('timezone', timezone)
    },
    handleSelectOwnership(ownership) {
      this.fields[5].value = ownership
      // this.$refs.companyForm.setFieldValue('ownership', ownership)
    },
    handleSelectLanguage(languages) {
      this.fields[8].value = languages
      this.$refs.companyForm.setFieldValue('selectedLanguages', languages)
    },
    handleSelectDate(date) {
      this.fields[7].value = date
    },
    handleSelectCompanySize(size) {
      this.fields[6].value = size
      // this.$refs.companyForm.setFieldValue('size', size)
    },
    async fetchCities(value) {
      const { data } = await axios({
        method: 'get',
        url: '{% url "location-api" %}',
        params: {
          name__icontains: value
        }
      })

      this.cities = data
    },
    submitForm(values) {
      this.loading = true
      if (this.company) {
        this.notify('warning', 'Updating company...')
        this.update(values)
      } else {
        this.notify('warning', 'Creating company...')
        this.create(values)
      }
    },
    async create(values) {
      const formData = new FormData()
      formData.append('name', values.name)
      formData.append('owner', values.owner)
      formData.append('website', values.website)
      formData.append('location', values.location.id)
      formData.append('timezone', values.timezone.tz_db)
      formData.append('ownership', values.ownership.id)
      formData.append('languages', values.selectedLanguages.map(lang => lang.id))
      formData.append('company_size', values.size.id)
      formData.append('date_creation', moment(values.date).format('YYYY-MM-DD'))
      formData.append('role', this.$parent.option)
      formData.append('user', this.user.id)

      if (this.$refs.logo.files.length) {
        formData.append('logo', this.$refs.logo.files[0])
      } else {
        this.notify('error', 'Upload your company logo, please')
        return
      }

      const { data } = await axios({
        method: 'post',
        url: '{% url "create-company" %}',
        data: formData,
        headers: { Authorization: `JWT ${this.user.token}` }
      })
      if (data.success) {
        this.notify('success', 'Done!')
        window.location.reload()
        this.loading = false
      } else {
        this.notify('error', 'Something gone wrong!')
      }
    },
    async update(values) {
      const formData = new FormData()
      formData.append('name', values.name)
      formData.append('owner', values.owner)
      formData.append('website', values.website)
      formData.append('location', values.location.id)
      formData.append('timezone', values.timezone.tz_db)
      formData.append('ownership', values.ownership.id)
      formData.append('languages', values.selectedLanguages.map(l => l.id))
      formData.append('company_size', values.size.id)
      formData.append('date_creation', moment(values.date).format('YYYY-MM-DD'))
      formData.append('user', this.user.id)
      formData.append('pk', this.company.id)

      if (this.$refs.exLogo.files.length) {
        formData.append('logo', this.$refs.exLogo.files[0])
      }

      const { data } = await axios({
        method: 'put',
        url: '{% url "update-company" %}',
        data: formData,
        headers: { Authorization: `JWT ${this.user.token}` }
      })
      if (data.success) {
        this.notify('success', 'Done! Redirecting...')
        window.location.pathname = data.url
        this.loading = false
      } else {
        this.notify('error', 'Something gone wrong!')
      }
    }
  }
}
</script>
