<template>
  <div class="profile-holder">
    <Form
      :fields="fields"
      enctype="multipart/form-data"
      :submit="updateInfo"
    >
      <template
        slot-scope="{ models: { header, description }, isLoading, isValid }"
      >
        <div
          class="row"
        >
          <div class="col-md-4">
            <!-- Company picture -->
            <div
              v-if="company.picture"
              class="upload-wrapper"
            >
              <span>Picture Company</span>
              <div class="uploaded-img">
                <img :src="company.picture">
              </div>
              <input
                id="ex-picture"
                ref="picture"
                type="file"
                hidden
              >
              <label for="ex-picture">
                <div class="edit-photo-button">
                  <span class="mdi mdi-pencil" />
                  <i>Edit picture</i>
                </div>
              </label>
            </div>
            <div
              v-else
              class="upload-wrapper"
            >
              <span>Picture Company</span>
              <div class="upload-input">
                <input
                  id="c-picture"
                  ref="picture"
                  type="file"
                >
                <i>Choose an image from your computer</i>
              </div>
              <i class="text-hint">
                JPEG 1010x400px • 2MB file limit
              </i>
            </div>
            <!-- End company picture -->
            <!-- Video -->
            <div
              v-if="company.video"
              class="upload-wrapper"
            >
              <span>Video Company</span>
              <div class="uploaded-documents">
                <span class="mdi mdi-youtube" />
                <span class="doc-name">
                  Company's video
                </span>
                <span class="mdi mdi-delete delete" />
              </div>
            </div>
            <div
              v-else
              class="upload-wrapper"
            >
              <span>Video Company</span>
              <div class="upload-input">
                <input
                  id="c-video"
                  ref="video"
                  type="file"
                >
                <i>Choose a video from your computer</i>
              </div>
              <i class="text-hint">
                mp4 • 100MB file limit
              </i>
            <!-- <input
              id="c-link"
              type="text"
              class="input-link"
              placeholder="Or link"
            > -->
            </div>
            <!-- End video block -->
            <!-- Document -->
            <div
              v-if="company.presentation"
              class="upload-wrapper"
            >
              <span>Document</span>
              <div class="uploaded-documents">
                <span class="mdi mdi-youtube" />
                <span class="doc-name">
                  Presentation
                </span>
                <span class="mdi mdi-delete delete" />
              </div>
            </div>
            <div
              v-else
              class="upload-wrapper"
            >
              <span>Document</span>
              <div class="upload-input">
                <input
                  id="c-doc"
                  ref="document"
                  type="file"
                >
                <i>Choose a pdf from your computer</i>
              </div>
              <i class="text-hint">
                PDF • 20MB file limit
              </i>
            </div>
          <!-- End document block -->
          </div>
          <div class="col-md-8">
            <div class="row">
              <div class="col-12">
                <InputRow
                  id="header"
                  v-model="header.value"
                  :error="header.error"
                  label="Header"
                  help-text="Header of the picture. If it's 300 characters or less it'll look great on your company page."
                />
              </div>
            </div>
            <div class="row">
              <div class="col-12">
                <div class="input-row">
                  <textarea
                    id="description"
                    v-model="description.value"
                    class="active textarea-autoheight"
                  />
                  <label
                    for="description"
                    :style="description.error ? 'color: red;' : ''"
                  >
                    {{ description.error || 'Description' }}
                  </label>
                  <i class="text-hint">
                    We suggest a bio. If it's 3000 characters or less it'll look great on your profile.
                  </i>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row align-items-center">
          <div class="col-md-4" />
          <div class="col-md-8">
            <div class="row">
              <div class="col-md-6">
                <Submit
                  class="button-styles light-blue"
                  value="Save company"
                  :disabled="!isValid"
                  :loading="isLoading"
                >
                  <span
                    slot="icon"
                    class="mdi mdi-content-save"
                  />
                </Submit>
              </div>
            </div>
          </div>
        </div>
      </template>
    </Form>
  </div>
</template>

<script>
import axios from 'axios'
import { NotificationMixin } from '@/mixins'
import Form, {
  InputRow,
  Submit
} from '@/components/Form'
import { isRequired } from '@/utils/validators'

export default {
  name: 'CompanyInfoForm',
  components: {
    InputRow,
    Form,
    Submit
  },
  mixins: [NotificationMixin],
  props: {
    user: {
      type: Object,
      required: true,
    },
    company: {
      type: Object,
      default: () => {}
    }
  },
  data() {
    return {
      fields: [
        { name: 'header', value: this.company.slogan, validators: [isRequired] },
        { name: 'description', value: this.company.description, validators: [isRequired] }
      ],
    }
  },
  methods: {
    async updateInfo(values) {
      const formData = new FormData()
      formData.append('pk', this.company.id)
      formData.append('slogan', values.header)
      formData.append('description', values.description)

      if (this.$refs.picture.files.length) {
        formData.append('picture', this.$refs.picture.files[0])
      } else if (!this.company.picture) {
        this.notify('error', 'Upload a Picture of your company, please')
        return
      }
      if (!this.company) {
        if (this.$refs.video.files.length) {
          formData.append('video', this.$refs.video.files[0])
        }

        if (this.$refs.document.files.length) {
          formData.append('presentation', this.$refs.document.files[0])
        }
      }

      const { data } = await axios({
        method: 'put',
        url: '{% url "update-company" %}',
        data: formData,
        headers: {
          Authorization: `JWT ${this.user.token}`
        }
      })
      if (data.success) {
        window.location.pathname = data.url
      }
    }
  }
}
</script>
