<template>
  <Options
    v-if="!option"
    @setOption="setOption"
  />
  <CompanyForm
    v-else
    :user="user"
    :company="company"
    :cities="cities"
    :timezones="timezones"
    :ownerships="ownerships"
    :languages="languages"
  />
</template>

<script>
import Options from './Options'
import CompanyForm from './CompanyForm'

export default {
  name: 'Company',
  components: {
    Options,
    CompanyForm
  },
  props: {
    user: {
      type: Object,
      default: () => {}
    },
    company: {
      type: Object,
      default: () => {}
    },
    cities: {
      type: Array,
      default: () => []
    },
    timezones: {
      type: Array,
      default: () => []
    },
    ownerships: {
      type: Array,
      default: () => []
    },
    languages: {
      type: Array,
      default: () => []
    }
  },
  data() {
    return {
      option: null
    }
  },
  created() {
    if (this.company) {
      this.setOption(this.company.role)
    }
  },
  methods: {
    setOption(option) {
      this.option = option
    }
  }
}
</script>
