<template>
  <div class="settings-holder">
    <div class="add-company-wrapper">
      <div class="add-company-title">
        <h2 class="title">
          create your company to get started
        </h2>
        <p>Please choose your accout type wisely as you will not be able to change it later on.</p>
      </div>
      <div class="row button-styles-wrap justify-content-center">
        <div class="col-md-4">
          <div class="text-center">
            <a
              href="#"
              class="button-styles light-blue"
              @click.prevent="choose(2)"
            >
              Become a customer <span class="mdi mdi-plus-box" />
            </a>
          </div>
          <ul class="explore-list">
            <li class="plus">
              Work's completion guaranteed according to the contract
            </li>
            <li class="plus">
              Access to rare industy competencies
            </li>
            <li class="plus">
              Legal safety
            </li>
            <li class="plus">
              Experienced project leader at your disposal
            </li>
            <li class="plus">
              Verified contractors
            </li>
            <li class="plus">
              Certified software
            </li>
          </ul>
        </div>
        <div class="col-md-4">
          <div class="text-center">
            <a
              href="#"
              class="button-styles light-blue"
              @click.prevent="choose(1)"
            >
              Become a contractor <span class="mdi mdi-plus-box" />
            </a>
          </div>
          <ul class="explore-list">
            <li class="plus">
              Global market cooperation
            </li>
            <li class="plus">
              Consulting
            </li>
            <li class="plus">
              Legal support
            </li>
            <li class="plus">
              Accounting services
            </li>
            <li class="plus">
              Marketing Support
            </li>
            <li class="plus">
              Extra sales channels
            </li>
            <li class="plus">
              Guaranteed payments
            </li>
            <li class="plus">
              Access to a personnel reserve
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Options',
  methods: {
    choose(option) {
      this.$emit('setOption', option)
    }
  }
}
</script>
