<template>
  <div class="settings-holder settings-remove-bg-mobile">
    <div class="columns-wrap active columns-wrap-membership">
      <div class="col-right">
        <Menu />

        <div class="col-right-wrap-body">
          <Filters :user="user" />
          <MemberList
            :members="members"
            :user="user"
          />
        </div>
      </div>
    </div>
    <InviteModal :user="user" />
  </div>
</template>

<script>
import Menu from './Menu'
import Filters from './Filters'
import MemberList from './MemberList'
import InviteModal from './InviteModal'

export default {
  name: 'Layout',
  components: {
    Menu,
    Filters,
    MemberList,
    InviteModal
  },
  props: {
    user: {
      type: Object,
      required: true
    },
    members: {
      type: Array,
      default: () => []
    }
  }
}
</script>

<style lang="scss" scoped>
.col-right-wrap-body {
  min-height: 400px;
}
</style>
