<template>
  <div class="row d-flex flex-wrap">
    <Member
      v-for="member in filteredMembers"
      :key="member.id"
      :data="member"
      :toggle-activeness="toggleActiveness"
      :user="user"
      @delete="handleDeleteMember"
    />
  </div>
</template>

<script>
import axios from 'axios'
import moment from 'moment'
import Swal from 'sweetalert2'
import Member from './Member'
import bus from './bus'

export default {
  name: 'MemberList',
  components: {
    Member
  },
  props: {
    members: {
      type: Array,
      default: () => []
    },
    user: {
      type: Object,
      required: true
    }
  },
  data() {
    return {
      name: '',
      tab: 'all',
      sortby: 'latest',
      memberList: this.members,
    }
  },
  computed: {
    filteredMembers() {
      let members = this.memberList

      if (this.name) {
        members = members.filter(member => member.user.name.toLowerCase().indexOf(this.name.trim().toLowerCase()) > -1)
      }

      if (this.tab === 'active') {
        members = members.filter(member => member.is_active)
      }

      if (this.tab === 'inactive') {
        members = members.filter(member => !member.is_active)
      }

      if (this.sortby === 'latest') {
        members.sort((prev, curr) => {
          const prevDate = moment(prev.company.created_at)
          const currDate = moment(curr.company.created_at)

          if (prevDate > currDate) {
            return -1
          }

          if (prevDate < currDate) {
            return 1
          }

          return 0
        })
      }

      return members
    }
  },
  created() {
    bus.$on('filterMembers', this.handleFilter)
  },
  methods: {
    handleFilter({ filterName, value }) {
      this[filterName] = value
    },
    async toggleActiveness(memberId, isActive) {
      await axios({
        method: 'patch',
        url: `/company/toggle-worker-activeness/${memberId}/`,
        data: { is_active: isActive },
        headers: { Authorization: `JWT ${this.user.token}` }
      })
    },
    async handleDeleteMember(memberId) {
      let url

      if (this.user.is_pm) {
        url = `/company/delete-member-from-pm/${memberId}/`
      } else {
        url = `/company/delete-member-from-company/${memberId}/`
      }

      await this.deleteMember(url, memberId)
    },
    async deleteMember(url, memberId) {
      Swal.fire({
        title: 'Are you sure?',
        type: 'question',
        showConfirmButton: true,
        confirmButtonText: 'Delete',
        confirmButtonColor: 'red',
        showCancelButton: true,
        showLoaderOnConfirm: true,
        preConfirm: async () => {
          try {
            await axios({
              method: 'patch',
              url,
              data: { pm_id: this.user.id },
              headers: {
                Authorization: `JWT ${this.user.token}`
              }
            })

            this.memberList = this.memberList.filter(({ id }) => id !== memberId)
          } catch (e) {
            console.log(e)
          }
        }
      })
    }
  }
}
</script>
