<template>
  <div class="col-right-wrap-top">
    <div class="d-flex justify-content-between align-items-center col-right-controls">
      <span class="show-hide-button">
        Members
      </span>
      <a
        href="#"
        class="add-document"
        data-target="#invite-user-modal"
        data-toggle="modal"
      >
        Invite members <span class="mdi mdi-account-plus" />
      </a>
    </div>
    <div class="menu-wrap">
      <a
        href="#"
        :class="{active: tab === 'all'}"
        @click.prevent="setTab('all')"
      >
        All users
      </a>
      <a
        href="#"
        :class="{active: tab === 'active'}"
        @click.prevent="setTab('active')"
      >
        Active
      </a>
      <a
        href="#"
        :class="{active: tab === 'inactive'}"
        @click.prevent="setTab('inactive')"
      >
        Inactive
      </a>
      <a href="#">
        Access
      </a>
    </div>
  </div>
</template>

<script>
import bus from './bus'

export default {
  name: 'Menu',
  data() {
    return {
      tab: 'all'
    }
  },
  methods: {
    setTab(tabName) {
      bus.$emit('filterMembers', { filterName: 'tab', value: tabName })
      this.tab = tabName
    }
  }
}
</script>
