{% load menu_tags %}


{% comment %} TODO CREATE SEPARATE MOBILE TEMPLATE {% endcomment %}
{% if request.is_mobile %}
  {% for child in children %}
    {% if child.selected %}
      <div class="category-active-mobile" data-toggle="dropdown">
          {{child.get_menu_title}}
          <span class="mdi mdi-menu-down"></span>
      </div>
    {% endif %}
  {% endfor %}
  <div class="categories-dropdown dropdown-menu">
    {% for child in children %}
      {% if child.sibling %}
        <a href="{{ child.attr.redirect_url | default:child.get_absolute_url }}">
          {{ child.get_menu_title }}
        </a>
        {% endif %}
    {% endfor %}
  </div>
  {% comment %} {{ child.sibling}}
    <div class="category-active-mobile">
      <a
        class="{% if child.selected %}active{% endif %}"
        href="{{ child.attr.redirect_url | default:child.get_absolute_url }}">
        {{ child.get_menu_title }}
        {% comment %} <span class="mdi mdi-menu-down"></span>
      </a>
    </div>
    <div class="category-active">
      <span class="mdi mdi-menu-down"></span>
    </div> {% endcomment %}
{% else %}
<div class="categories-menu">
  <nav class="main-nav">
    {% for child in children %}
      <a
        class="{% if child.selected or child.ancestor %} active {% endif %}"
        href="{{ child.attr.redirect_url | default:child.get_absolute_url }}"
        >{{ child.get_menu_title }}</a
      >
    {% endfor %}
  </nav>
</div>
{% endif %}
