{% extends 'base.html' %}
{% load vuejs sekizai_tags %}
{% block content %}
<section class="section-top article-top">
  <!-- This block needs for to gradient on header -->
</section>
<article class="article-wrapper">
  <div class="wrapper">

    {% url 'news-list' as back_url %}
    {% include "includes/back-button.html" with text=object.title class="back-to-wrapper" url=back_url %}

    {% autoescape off %}
      {{ object.content }}
    {% endautoescape %}

    <div class="tags-section">
      {% for tag in object.tags.all %}
      <span class="tag">{{ tag }}</span>
      {% endfor %}
    </div>

    <div id="comments"></div>

    {% addtoblock "js" %}
    {% render_component "NewsArticleComments" el="comments" data=data %}
    {% endaddtoblock %}

  </div>
</article>
{% endblock content %}