<template>
    <div>
        <transition name="fade">
            <div v-if="isShowButton"
                 class="top-top-btn"
                 @click="scrollToTop">
                to top
            </div>
        </transition>
    </div>
</template>

<script>
    export default {
        name: 'backToTopButton',
        data() {
            return {
                isShowButton: null
            }
        },
        created() {
            this.isShowButton = this.checkScrollOffset()
        },
        mounted(){
            window.addEventListener("scroll", ()=> {
                this.isShowButton = this.checkScrollOffset()
            });
        },
        methods: {
            checkScrollOffset() {
                if (window.pageYOffset >= 1024) {
                    return true
                } else {
                    return false
                }
            },
            scrollToTop(){
                window.scrollTo({ top: 0, behavior: 'smooth' });
            }
        }
    }
</script>

<style scoped>
    .top-top-btn {
        position: fixed;
        bottom: 25px;
        right: 25px;
        height: 50px;
        width: 50px;
        border-radius: 7px;
        border: 1px solid rgba(47,47,47, .5);
        padding: 7px;
        font-size: 0;
        box-shadow: 1px 1px 1px 0px rgba(47,47,47, .8);
        z-index: 99;
        background: rgba(255,255,255, .3);
        cursor: pointer;
    }

    .top-top-btn:after {
        content: '';
        position: absolute;
        height: 15px;
        width: 15px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -25%) rotate(45deg);
        border-left: 3px solid rgba(47,47,47, .8);
        border-top: 3px solid rgba(47,47,47, .8);
    }

    .fade-enter-active, .fade-leave-active {
        transition: opacity .5s;
    }
    .fade-enter, .fade-leave-to /* .fade-leave-active до версии 2.1.8 */ {
        opacity: 0;
    }
</style>