<template>
    <div>
        <a href="#" class="footer-block footer-callback-button" style="position: relative;">
            <div class="callback-wrap">
                <div class="row">
                    <div class="col-sm-8 margin-0">
                        <div class="input-row">
<!--                            <input type="tel" id="id-tel" v-model="phone">-->
                            <vue-tel-input
                                    v-model="phone"
                                    :inputOptions="{showDialCode: true}"
                            ></vue-tel-input>
<!--                            <label for="id-tel">Your phone</label>-->
                        </div>
                    </div>
                    <div class="col-sm-4 margin-0">
                        <input type="submit" @click="sendPhone" class="btn-site" value="Call me">
                    </div>
                </div>
            </div>
            <span class="mdi mdi-phone-forward" />
            <mark>Call back</mark>
        </a>
    </div>
</template>

<script>
    import Vue from 'vue'
    import {validationMixin} from 'vuelidate'
    import {VueTelInput} from 'vue-tel-input'
    import {phoneValidator} from '@/widget/helpers/customValidators'

    import axios from 'axios'
    import Cookies from 'js-cookie'
    import { Toast } from '@/utils'


    export default {
        name: 'callBackBlock',
        validations: {
            phone: {
                phone: phoneValidator
            },
        },
        data(){
          return {
              phone: '',
              success: null
          }
        },
        components: {
            VueTelInput,
        },
        methods: {
            async sendPhone() {
                // const url = '{% url "about-achievements-api" %}'

                const csrfToken = Cookies.get('csrftoken')

                const {data} = await axios({
                    url: `/core/phone_call`,
                    method: 'post',
                    data: {
                        phone: this.phone,
                    },
                    headers: { 'X-CSRFToken': csrfToken },
                })

                this.success = data
                if (data.ok) {
                    Toast.fire({
                        type: 'success',
                        title: 'Success!'
                    })
                } else {
                    Toast.fire({
                        type: 'error',
                        title: data.detail
                    })
                }
            }
        }
    }
</script>

<style scoped>
    .footer-block mark {
        background: none;
        color: #fff
    }
    .margin-0 {
        margin: 0!important;
    }
</style>

<style>
    .vue-tel-input {
        border: 0!important
    }
</style>