<template>
  <div
    class="categories-wrapper d-flex justify-content-between align-items-center"
    :class="{'search-active': searchActive}"
  >
    <div class="categories-list d-flex justify-content-between align-items-end">
      <div
        class="category-active-mobile"
        @click="showMobileDropdown = !showMobileDropdown"
      >
          {{ activeItemText }} <span class="mdi mdi-menu-down" />
      </div>
      <div
        v-show="searchActive"
        class="category-active"
        @click="showMenuItemsDropdown = !showMenuItemsDropdown"
      >
        <a href="#">
          {{ activeItemText }}
        </a>
        <span class="mdi mdi-menu-down" />
      </div>
      <div
        class="categories-dropdown hidden-dropdown"
        :class="{'show-dropdown': showMenuItemsDropdown, 'mobile-toggle': showMobileDropdown}"
      >
        <a
          v-for="item in baseItems"
          :key="item.id"
          :class="$route.params.category === item.slug ? 'active' : ''"
          :href="getUrl(item.slug)"
          @click.native.prevent="hideDropdown"
        >
          {{ item.name }}
        </a>
        <div
          v-if="moreItems.length"
          class="categories-more dropdown"
        >
          <a
            href="#"
            class="selected"
            data-toggle="dropdown"
          >
            More <span class="mdi mdi-menu-down" />
          </a>
          <div class="dropdown-menu">
            <a
              v-for="item in moreItems"
              :key="item.id"
              :href="getUrl(item.slug)"
            >
              {{ item.name }}
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="search-wrap d-flex justify-content-between align-items-center">
      <div class="search-input-wrap">
        <input
          v-model="search"
          type="search"
          :placeholder="searchPlaceholder"
          @keyup.enter="$emit('search', search)"
        >
      </div>
      <span
        class="mdi mdi-magnify search-button"
        @click="toggleSearch"
      />
    </div>
  </div>
</template>

<script>
export default {
  name: 'CategoryMenu',
  props: {
    items: {
      type: Array,
      default: () => []
    },
    searchPlaceholder: {
      type: String,
      default: 'Search...'
    },
    searchQuery: {
      type: String,
      default: ''
    },
    defaultItem: {
      type: String,
      default: ''
    },
    urlBase: {
      type: String,
      required: true
    }
  },
  data() {
    return {
      search: this.searchQuery,
      showMenuItemsDropdown: false,
      searchActive: false,
      showMobileDropdown: false
    }
  },
  computed: {
    activeItemText() {
      if (this.$route.params.category) {
        return this.items.find(({ slug }) => slug === this.$route.params.category).name
      }

      return this.defaultItem
    },
    baseItems() {
      if (this.items.length >= 8) {
        return this.items.slice(0, 8)
      }

      return this.items
    },
    moreItems() {
      if (this.items.length >= 8) {
        return this.items.slice(8, this.items.length)
      }

      return []
    },
    availableLinks() {
      return this.items.map(item => item.slug)
    }
  },
  watch: {
    searchQuery() {
      this.search = this.searchQuery
    }
  },
  methods: {
    getUrl(category) {
      const { industry, coreSkill } = this.$route.params
      const { protocol, host, search } = window.location

      let url = `${protocol}//${host}/${this.urlBase}/${category}`

      if (industry) {
        url += `/${industry}`
      }

      if (coreSkill) {
        url += `/${coreSkill}`
      }

      return url + search

      // const pathItems = window.location.pathname.split('/')
      // const { search } = window.location

      // if (pathItems.some(item => this.availableLinks.indexOf(item) > -1)) {
      //   const index = pathItems.findIndex(item => this.availableLinks.includes(item))
      //   const clearedPathItems = pathItems.filter(item => item !== pathItems[index])
      //   return `${clearedPathItems.join('/')}/${slug}${search}`
      // }

      // return window.location.pathname + slug + search
    },
    hideDropdown() {
      this.showMobileDropdown = false
      this.showMenuItemsDropdown = false
    },
    toggleSearch() {
      /* eslint-disable no-undef */
      if ($(window).width() > 901) {
        this.searchActive = !this.searchActive
      }
    },
  },
}
</script>
