<template>
  <div
          :id="id"
          v-dom-portal="'#modals'"
          class="modal fade"
          :class="modalClass"
          tabindex="-1"
          role="dialog"
  >
    <div
            :class="styles"
            class="modal-dialog"
            role="document"
    >
      <div class="modal-content">
        <slot />
      </div>
    </div>
  </div>
</template>

<script>
  import Vue from 'vue'
  import DomPortal from 'vue-dom-portal'

  Vue.use(DomPortal)

  export default {
    name: 'Modal',
    props: {
      id: {
        type: String,
        required: true
      },
      styles: {
        type: String,
        default: ''
      },
      modalClass: {
        type: String,
        default: ''
      }
    },
    methods: {
      hide() {
        /* eslint-disable no-undef */
        $(`#${this.id}`).modal('hide')
        console.log('hide')
        this.$emit('hide')
      },
      show() {
        $(`#${this.id}`).modal('show')
        console.log('show')
        this.$emit('show')
      }
    }
  }
</script>
