<template>
  <div class="rating-wrap">
    <img
      v-for="n in rating"
      :key="n"
      :alt="n"
      src="/static/images/icon-diamond.svg"
    >
  </div>
</template>

<script>
export default {
  name: 'Rating',
  props: {
    rating: {
      type: Number,
      default: 0,
    },
  },
}
</script>

<style lang="scss" scoped>
.rating-wrap {
  margin-bottom: 5px;

  &.rating-wrap-modal {
    margin-bottom: 10px;

    img {
      width: 24px;
    }
  }

  img {
    width: 18px;
    margin-right: 5px;
  }
}
</style>
