<template>
  <div @wheel.prevent="handleWheel">
    <Slick
      ref="slick"
      :class="sliderClass"
      :options="slickOptions"
    >
      <slot />
    </Slick>
  </div>
</template>

<script>
import Slick from 'vue-slick'

export default {
  name: 'Slider',
  components: {
    Slick
  },
  props: {
    sliderClass: {
      type: String,
      default: ''
    }
  },
  data() {
    return {
      slickOptions: {
        arrows: true,
        dots: false,
        centerMode: true,
        infinite: true,
        slidesToShow: 1,
        centerPadding: '130px',
        slidesToScroll: 1,
        prevArrow:
      '<div class="slick-prev"><span class="mdi mdi-chevron-left"></span> Previous</div>',
        nextArrow:
      '<div class="slick-next">Next <span class="mdi mdi-chevron-right"></span></div>',
        responsive: [
          {
            breakpoint: 767,
            settings: {
              centerPadding: '30px'
            }
          },
          {
            breakpoint: 680,
            settings: {
              centerPadding: '90px'
            }
          },
          {
            breakpoint: 575,
            settings: {
              centerPadding: '15px',
              adaptiveHeight: true,
            }
          }
        ]
      },
    }
  },
  updated() {
    this.$nextTick(() => {
      if (this.$refs.slick) {
        this.slickOptions.initialSlide = this.$refs.slick.currentSlide()
        this.$refs.slick.create(this.slickOptions)
      }
    })
  },
  beforeUpdate() {
    if (this.$refs.slick) {
      this.$refs.slick.destroy()
    }
  },
  methods: {
    handleWheel(e) {
      if (e.deltaY > 0) {
        this.$refs.slick.next()
      } else {
        this.$refs.slick.prev()
      }
    }
  }
}
</script>
