<template>
  <div
    class="social-wrapper button"
    @click="handleClick"
    @mouseleave="handleMouseLeave"
  >
    <div id="share">
      <slot>
        <span class="button-styles share">
          <span class="mdi mdi-share-variant" />
        </span>
      </slot>
    </div>
    <div
      :class="{show: show}"
      :style="`right: ${right}`"
      class="social"
    >
      <SocialSharing
        :url="urlShare"
        :title="title"
        :description="description"
        :quote="description"
        :hashtags="hashtags"
        inline-template
      >
        <!-- eslint-disable vue/component-name-in-template-casing -->
        <ul>
          <li class="entypo-linkedin">
            <network network="linkedin">
              <i
                class="mdi mdi-linkedin-box"
                @click.prevent
              />
            </network>
          </li>
          <li class="entypo-twitter">
            <network network="twitter">
              <i
                class="mdi mdi-twitter-box"
                @click.prevent
              />
            </network>
          </li>
          <li>
            <network network="facebook">
              <i
                class="mdi mdi-facebook-box"
                @click.prevent
              />
            </network>
          </li>
        </ul>
        <!-- eslint-enable -->
      </SocialSharing>
    </div>
  </div>
</template>

<script>
import SocialSharing from 'vue-social-sharing'
import { setTimeout, clearTimeout } from 'timers'

export default {
  name: 'SocialShare',
  components: {
    SocialSharing
  },
  props: {
    title: {
      type: String,
      required: true,
    },
    description: {
      type: String,
      default: ''
    },
    hashtags: {
      type: String,
      default: '',
    },
    url: {
      // type: String,
      required: true,
    },
    right: {
      type: String,
      default: '-65px',
    },
  },
  data() {
    return {
      show: false,
      timer: null,
    }
  },
  computed: {
    urlShare(){
        if (this.url.indexOf('http') == -1) {
            return this.originUrl + this.url
        } else {
            return this.url
        }
    },
    originUrl() {
        if (window.location.origin.indexOf('localhost') == -1) {
            return window.location.origin
        } else {
            return 'https://test.engre.co'
        }
    }
  },
  methods: {
    handleClick() {
      this.show = true

      if (this.timer) {
        clearTimeout(this.timer)
      }
    },
    handleMouseLeave() {
      this.timer = setTimeout(() => {
        this.show = false
      }, 1000)
    },
  }
}
</script>

<style lang="scss">
.social-wrapper {
  position: relative;

  ul {
    color: #fff;
    height: 46px;
    width: 180px;
    background: #3b5998;
    padding: 0;
    list-style: none;

    @media (max-width: 1460px) {
      width: auto;
      height: auto;
    }

    &:after {
      content: '';
      display: block;
      position: absolute;
      left: 0;
      right: 0;
      margin: 46px auto;
      height: 0;
      width: 0;
      border-left: 20px solid transparent;
      border-right: 20px solid transparent;
      border-top: 20px solid #6cdfea;

      @media (max-width: 1460px) {
        margin: 0 auto;
        border-width: 10px;
        border-top-color: #3b5998;
      }
    }

    li {
      font-size: 30px;
      cursor: pointer;
      width: 60px;
      margin: 0;
      text-align: center;
      float: left;
      display: block;
      height: 46px;

      @media (max-width: 1460px) {
        float: none;
      }

      > span {
          line-height: 45px;
      }

      &:hover {
        color: rgba(0, 0, 0, 0.3);
      }
    }
  }

  .social {
    transform-origin: 50% 0%;
    transform: scale(0) translateY(-190px);
    opacity: 0;
    transition: 0.5s;
    position: absolute;
    top: 20px;

    @media (max-width: 1460px) {
      right: -20px !important;
      top: -65px;
    }

    &:hover {
      opacity: 1;
      transform: scale(1) translateY(-90px);
    }

    &.show {
      opacity: 1;
      transform: scale(1) translateY(-90px);
    }
  }

  li[class*='twitter'] {
    background: #6cdfea;
  }
  li[class*='gplus'] {
    background: #e34429;
  }
  li[class*='dropbox'] {
    background: #8dc5f2;
    padding: 12px 0;
  }
  li[class*='github'] {
    background: #9c7a5b;
    padding: 12px 0;
  }
  li[class*='instagram'] {
    background: #0e68ce;
    padding: 12px 0;
  }
  li[class*='youtube'] {
    background: #cc181e;
    padding: 12px 0;
  }
}
</style>
