<template>
  <div v-if="loading">
    loading...
  </div>
  <div v-else>
    <Form
      ref="form"
      :fields="fields"
      :submit="submit"
    >
      <template
        slot-scope="{
          models: { words },
          isValid, isLoading}"
      >
        <div class="admin-row admin-settings">
          <InputRow
            id="words"
            v-model="words.value"
            :error="words.error"
            label="Stop words"
            class="input-row-admin"
            help-text="Use ',' as a separator"
          />
        </div>
        <div class="text-center">
          <Submit
            class="btn-site"
            value="Add stop words"
            :disabled="!isValid || isLoading"
            :loading="isLoading"
          />
        </div>
      </template>
    </Form>
    <div class="stop-words-columns d-flex flex-wrap">
      <Letter
        v-for="item in stopWords"
        :key="item.id"
        :item="item"
      />
    </div>
  </div>
</template>

<script>
import axios from 'axios'
import Form, {
  InputRow,
  Submit
} from '@/components/Form'
import Letter from './Letter'
import { isRequired } from '@/utils/validators'

export default {
  name: 'AdminStopWords',
  components: {
    Form,
    InputRow,
    Submit,
    Letter
  },
  props: {
    user: {
      type: Object,
      required: true
    }
  },
  data() {
    return {
      loading: true,
      fields: [
        { name: 'words', validators: [isRequired] },
      ],
      stopWords: []
    }
  },
  async mounted() {
    const response = await axios({
      method: 'get',
      url: '{% url "admin-get-stop-words" %}'
    })

    if (response.status === 200) {
      this.loading = false
      this.stopWords = response.data
    }
  },
  methods: {
    async submit(values) {
      const response = await axios({
        method: 'post',
        url: '{% url "admin-create-stop-words" %}',
        data: {
          words: values.words.split(',').map(w => w.trim())
        },
        headers: {
          Authorization: `JWT ${this.user.token}`
        }
      })

      if (response.status === 201) {
        this.$refs.form.setFieldValue('words', '', false)
        this.refetch()
      }
    },
    async refetch() {
      const response = await axios({
        method: 'get',
        url: '{% url "admin-get-stop-words" %}'
      })

      if (response.status === 200) {
        this.stopWords = response.data
      }
    }
  }
}
</script>

<style>

</style>
