<template>
  <div class="stop-words-col">
    <span class="letter">
      {{ item.letter.toUpperCase() }}
    </span>
    <ul>
      <li
        v-for="word in item.words"
        :key="word.id"
      >
        {{ word.word }}
      </li>
    </ul>
  </div>
</template>

<script>
export default {
  name: 'Letter',
  props: {
    item: {
      type: Object,
      required: true,
    }
  }
}
</script>

<style>

</style>
