Hey! <br>
<br>
{{ inviter }} has invited you to join their project. Check it up following this link. <br>
{{ protocol }}://{{ domain }}{% url 'create_invitee_password' uid %}
If you have been tagged by mistake, just ignore this message. <br>
With appreciation, <br>
ENGRE team <br>