<template>
  <ServiceForm
    :user="user"
    :categories="categories"
    :industries="industries"
    :tags="tags"
    :languages="languages"
    :service="service"
  />
</template>

<script>
import ServiceForm from './ServiceForm'

export default {
  name: 'Service',
  components: {
    ServiceForm
  },
  props: {
    user: {
      type: Object,
      default: () => {}
    },
    categories: {
      type: Array,
      default: () => []
    },
    industries: {
      type: Array,
      default: () => []
    },
    tags: {
      type: Array,
      default: () => []
    },
    languages: {
      type: Array,
      default: () => []
    },
    service: {
      type: Object,
      default: () => {}
    }
  }
}
</script>
