<template>
  <div class="settings-holder">
    <div class="back-wrapper position-top-left">
      <a href="#">
        <span class="back-icon">
          <span
            class="mdi mdi-arrow-left"
            @click.prevent="goBack"
          />
        </span>
        <mark>Create Service</mark>
      </a>
    </div>
    <div class="profile-holder">
      <Form
        ref="serviceForm"
        :fields="fields"
        enctype="multipart/form-data"
        :submit="submitForm"
      >
        <template
          slot-scope="{ models: {
            name, rate, category, industry, coreSkills, tagList, languageList, description, videoLink
          }, isValid, isLoading
          }"
        >
          <div class="row">
            <div class="col-md-4">
              <!-- Service logo -->
              <div
                v-if="service && service.logo"
                class="upload-wrapper"
              >
                <span>Picture Service</span>
                <div class="uploaded-img">
                  <img :src="service.logo">
                </div>
                <input
                  id="ex-logo"
                  ref="logo"
                  type="file"
                  accept=".jpg, .jpeg, .png"
                  hidden
                >
                <label for="ex-logo">
                  <div class="edit-photo-button">
                    <span class="mdi mdi-pencil" />
                    <i>Edit picture</i>
                  </div>
                </label>
              </div>
              <div
                v-else
                class="upload-wrapper"
              >
                <span>Picture Service</span>
                <div class="upload-input">
                  <input
                    ref="logo"
                    type="file"
                    accept=".jpg, .jpeg, .png"
                  >
                  <i>Choose an image from your computer</i>
                </div>
                <i class="text-hint">
                  JPEG, PNG • 1MB file limit, min 1440px width
                </i>
              </div>
              <!-- Service video -->
              <div
                v-if="service && service.video"
                class="upload-wrapper"
              >
                <span>Video Service</span>
                <div class="uploaded-documents">
                  <span class="mdi mdi-youtube" />
                  <span class="doc-name">
                    video
                  </span>
                  <span class="mdi mdi-delete delete" />
                </div>
              </div>
              <div
                v-else
                class="upload-wrapper"
              >
                <span>Video Service</span>
                <div class="upload-input">
                  <input
                    ref="video"
                    type="file"
                    accept=".mp4"
                  >
                  <i>Choose a video from your computer</i>
                </div>
                <i class="text-hint">
                  mp4 • 100MB file limit
                </i>
                <input
                  v-model="videoLink.value"
                  type="text"
                  class="input-link"
                  placeholder="Or link"
                >
              </div>
              <!-- Service document -->
              <div
                v-if="service && service.document"
                class="upload-wrapper"
              >
                <span>Document</span>
                <div class="uploaded-documents">
                  <span class="mdi mdi-file-pdf-box" />
                  <span class="doc-name">
                    document
                  </span>
                  <span class="mdi mdi-delete delete" />
                </div>
              </div>
              <div
                v-else
                class="upload-wrapper"
              >
                <span>Document</span>
                <div class="upload-input">
                  <input
                    ref="doc"
                    type="file"
                    accept=".pdf"
                  >
                  <i>Choose a pdf from your computer</i>
                </div>
                <i class="text-hint">
                  PDF • 20MB file limit
                </i>
              </div>
            </div>
            <div class="col-md-8">
              <div class="row">
                <div class="col-md-6">
                  <InputRow
                    id="name"
                    v-model="name.value"
                    :error="name.error"
                    label="Name of service*"
                    help-text="If it's 150 characters or less it'll look great."
                  />
                </div>
                <div class="col-md-6">
                  <div class="input-row">
                    <InputRow
                      id="rate"
                      v-model="rate.value"
                      :error="rate.error"
                      label="Rate*"
                      help-text="Rate is displayed on site."
                    />
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <div class="input-row">
                    <InputDropdown
                      id="category"
                      v-model="category.value"
                      :items="categories"
                      :get-key="item => item.id"
                      :get-value="item => item.name"
                      :default-value="category.value"
                      :error="category.error"
                      label="Category*"
                    />
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="input-row">
                    <SearchInput
                      :items="industries"
                      :get-key="item => item.id"
                      :get-value="item => item.name"
                      :default-value="industry.value"
                      :error="industry.error"
                      label="Industry*"
                      @select="handleSelectIndustry"
                    />
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <div class="input-row">
                    <SearchInput
                      :items="coreSkillsList"
                      :get-key="item => item.id"
                      :get-value="item => item.name"
                      :default-values="coreSkills.value"
                      :error="coreSkills.error"
                      label="Core Skills*"
                      multiple
                      @select="handleSelectCoreSkills"
                      @search="handleCoreSkillsSearch"
                    />
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="input-row">
                    <SearchInput
                      :items="tags"
                      :get-key="item => item.id"
                      :get-value="item => item.name"
                      :default-values="tagList.value"
                      :error="tagList.error"
                      label="Tags*"
                      multiple
                      @select="handleSelectTags"
                    />
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <div class="input-row">
                    <SearchInput
                      :items="languages"
                      :get-key="item => item.id"
                      :get-value="item => item.name"
                      :default-values="languageList.value"
                      :error="languageList.error"
                      label="Languages*"
                      multiple
                      @select="handleSelectLanguages"
                    />
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-12">
                  <div class="input-row">
                    <TextareaRow
                      v-model="description.value"
                      :error="description.error"
                      label="Description*"
                      help-text="If it's 3000 characters or less it'll look great."
                    />
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row align-items-center">
            <div class="col-md-4" />
            <div class="col-md-8">
              <div class="row">
                <div class="col-md-6">
                  <Submit
                    class="button-styles light-blue"
                    value="Save service"
                    :disabled="!isValid"
                    :loading="isLoading"
                  >
                    <span
                      slot="icon"
                      class="mdi mdi-content-save"
                    />
                  </Submit>
                </div>
              </div>
            </div>
          </div>
        </template>
      </Form>
    </div>
  </div>
</template>

<script>
import axios from 'axios'

import Form, {
  InputRow,
  InputDropdown,
  SearchInput,
  TextareaRow,
  Submit
} from '@/components/Form'
import { isRequired, isCyrillic, maxLength } from '@/utils/validators'
import { NotificationMixin } from '@/mixins'

export default {
  name: 'ServiceForm',
  components: {
    InputRow,
    InputDropdown,
    SearchInput,
    TextareaRow,
    Form,
    Submit,
  },
  mixins: [NotificationMixin],
  props: {
    user: {
      type: Object,
      default: () => {}
    },
    categories: {
      type: Array,
      default: () => []
    },
    industries: {
      type: Array,
      default: () => []
    },
    tags: {
      type: Array,
      default: () => []
    },
    languages: {
      type: Array,
      default: () => []
    },
    service: {
      type: Object,
      default: () => {}
    }
  },
  data() {
    return {
      fields: [
        { name: 'name', validators: [isRequired, isCyrillic] },
        { name: 'rate', validators: [isRequired, maxLength(9)] },
        { name: 'category', validators: [isRequired] },
        { name: 'industry', validators: [isRequired] },
        { name: 'coreSkills' },
        { name: 'tagList', validators: [isRequired] },
        { name: 'languageList', validators: [isRequired] },
        { name: 'description', validators: [isRequired] },
        { name: 'videoLink' }
      ],
      coreSkillsList: [],
      loading: false
    }
  },
  created() {
    const { service, fields } = this
    if (service) {
      fields[0].value = service.name
      fields[1].value = service.hourly_rate
      fields[2].value = service.category
      fields[3].value = service.industry
      fields[4].value = service.core_skills
      fields[5].value = service.tags
      fields[6].value = service.languages
      fields[7].value = service.description
      fields[8].value = service.video_link
    }
  },
  methods: {
    handleSelectCategory(category) {
      this.$refs.serviceForm.setFieldValue('category', category)
    },
    async handleSelectIndustry(industry) {
      this.$refs.serviceForm.setFieldValue('industry', industry)
    },
    handleSelectCoreSkills(skills) {
      this.$refs.serviceForm.setFieldValue('coreSkills', skills)
    },
    handleSelectTags(tags) {
      this.$refs.serviceForm.setFieldValue('tagList', tags)
    },
    handleSelectLanguages(languages) {
      this.$refs.serviceForm.setFieldValue('languageList', languages)
    },
    goBack() {
      window.location.pathname = '{% url "services-list" %}'
    },
    async handleCoreSkillsSearch(value) {
      const response = await axios({
        method: 'get',
        url: '{% url "core-skills-api" %}',
        params: {
          name__icontains: value
        }
      })

      if (response.status === 200) {
        this.coreSkillsList = response.data.results
      }
    },
    submitForm(values) {
      this.loading = true
      if (this.service) {
        this.updateService(values)
      } else {
        this.createService(values)
      }
    },
    async createService(values) {
      this.notify('warning', 'Creating service...')
      const formData = new FormData()
      formData.append('name', values.name)
      formData.append('hourly_rate', values.rate)
      formData.append('description', values.description)
      formData.append('category_id', values.category.id)
      formData.append('industry_id', values.industry.id)
      formData.append('core_skills', values.coreSkills.map(skill => skill.id))
      formData.append('tags', values.tagList.map(tag => tag.id))
      formData.append('languages', values.languageList.map(lang => lang.id))
      formData.append('video_link', values.videoLink)
      formData.append('company', this.user.company.id)

      if (this.$refs.logo.files.length) {
        formData.append('logo', this.$refs.logo.files[0])
      }

      if (this.$refs.video.files.length) {
        formData.append('video', this.$refs.video.files[0])
      }
      if (this.$refs.doc.files.length) {
        formData.append('document', this.$refs.doc.files[0])
      }
      try {
        const { data } = await axios({
          method: 'post',
          url: '{% url "add-service" %}',
          data: formData,
          headers: {
            Authorization: `JWT ${this.user.token}`
          }
        })
        if (data.success) {
          window.location.pathname = data.url
          this.notify('success', 'Done! Redirecting...')
        } else {
          this.notify('error', 'Something gone wrong!')
        }
      } catch (e) {
        if (e.response.data.errors) {
          this.notify('error', e.response.data.errors)
        }
      }
    },
    async updateService(values) {
      this.notify('warning', 'Updating service...')
      const formData = new FormData()
      formData.append('name', values.name)
      formData.append('hourly_rate', values.rate)
      formData.append('description', values.description)
      formData.append('category_id', values.category.id)
      formData.append('industry_id', values.industry.id)
      formData.append('core_skills', values.coreSkills.map(skill => skill.id))
      formData.append('tags', values.tagList.map(tag => tag.id))
      formData.append('languages', values.languageList.map(lang => lang.id))
      formData.append('video_link', values.videoLink)
      formData.append('pk', this.service.id)

      if (this.$refs.logo.files.length) {
        formData.append('logo', this.$refs.logo.files[0])
      }
      try {
        const { data } = await axios({
          method: 'put',
          url: '{% url "update-service" %}',
          data: formData,
          headers: { Authorization: `JWT ${this.user.token}` }
        })
        if (data.success) {
          window.location.pathname = data.url
          this.notify('success', 'Done! Redirecting...')
        } else {
          this.notify('error', 'Something gone wrong!')
        }
      } catch (e) {
        if (e.response.data.errors) {
          this.notify('error', e.response.data.errors)
        }
      }
    }
  }
}
</script>

<style lang="scss" scoped>
  .button-styles {
    &:disabled {
      cursor: not-allowed;
    }
  }
</style>
