<template>
  <div
    class="d-flex"
    :class="fromUser ? 'justify-content-end' : 'justify-content-start'"
  >
    <div class="chat-message incoming media">
      <p class="chat-text">
        <span class="mdi mdi-file-download" />
        <span
          v-if="message.uploading"
          class="uploading"
        >
          Uploading...
        </span>
        <span
          v-else
          class="media-txt"
          @click="download"
        >
          {{ name }}
        </span>
      </p>
      <span class="time">
        {{ message.created_at|date }}
      </span>
      <MessageStatus
        v-if="fromUser"
        :status="message.status"
      />
    </div>
  </div>
</template>

<script>
import moment from 'moment'
import FileSaver from 'file-saver'
import MessageStatus from './MessageStatus'
import MessageMixin from './MessageMixin'

export default {
  name: 'Attachment',
  components: {
    MessageStatus,
  },
  filters: {
    date(value) {
      return moment(value).format('LT')
    }
  },
  mixins: [MessageMixin],
  props: {
    room: {
      type: Object,
      required: true
    }
  },
  computed: {
    name() {
      const parts = this.message.attachment.split('/')
      return parts[parts.length - 1]
    }
  },
  methods: {
    download() {
      const url = `/media/chat_${this.room.id}/${this.name}`

      FileSaver.saveAs(url, this.name)
    }
  }
}
</script>
