<template>
  <div
    class="chat-list-row chat-show-mobile d-flex align-items-center"
    :class="[{active: active}, {'unread-chat-message': (lastMessage.status == 2 && (user.id != lastMessage.sender_id))}]"
    style="height: 72px;"
    @click="selectRoom"
  >
    <div class="img-wrap">
      <img
        :src="room.recipient.picture"
        alt="Avatar"
      >
    </div>
    <div
      class="chat-preview-info"
      style="height: 100%;"
    >
      <div class="preview-top">
        <a
          href="#"
          @click.prevent="selectRoom"
        >
          {{ room.recipient.name }}
        </a>
        <span class="date" v-if="lastMessage.created_at">
          {{ lastMessage.created_at | date }}
        </span>
      </div>
      <p
        v-if="lastMessage.attachment"
        class="chat-text"
      >
        <span
          class="mdi mdi-file-download"
        />
        {{ getAttachmentName(lastMessage) }}
      </p>
      <p
        v-else
        class="chat-text"
        v-html="lastMessage.message"
      />
    </div>
    <MessageStatus
      v-if="lastMessage.sender_id === user.id"
      :status="lastMessage.status"
    />
    <div class="dropdown">
      <span
        class="mdi mdi-dots-vertical"
        data-toggle="dropdown"
      />
      <div class="dropdown-menu dropdown-menu-right">
        <a
          v-if="!room.blocked"
          class="dropdown-item"
          href="#"
          @click.prevent="blockChat"
        >
          Block (ban)
        </a>
        <a
          v-if="room.blocked && room.blocked_by === user.id"
          href="#"
          class="dropdown-item"
          @click.prevent="unblockChat"
        >
          Unblock
        </a>
        <a
          class="dropdown-item"
          href="#"
          @click.prevent="deleteChat"
        >
          Delete
        </a>
      </div>
    </div>
  </div>
</template>

<script>
import axios from 'axios'
import Swal from 'sweetalert2'
import moment from 'moment'
import bus from './bus'
import MessageStatus from './MessageStatus'

export default {
  name: 'ChatItem',
  components: {
    MessageStatus
  },
  filters: {
    date(value) {
      return moment(value).format('LT')
    }
  },
  props: {
    room: {
      type: Object,
      required: true
    },
    active: {
      type: Boolean,
      default: false
    },
    user: {
      type: Object,
      required: true
    }
  },
  computed: {
    lastMessage() {
      const message = this.room.messages[this.room.messages.length - 1] || {}
      return message
    }
  },
  methods: {
    selectRoom() {
      bus.$emit('selectRoom', this.room)
      bus.$emit('readMessages', this.room)
    },
    getAttachmentName(message) {
      const parts = message.attachment.split('/')
      return parts[parts.length - 1]
    },
    blockChat() {
      Swal.fire({
        title: 'Are you sure?',
        type: 'question',
        showCloseButton: true,
        showConfirmButton: true,
        showCancelButton: true,
        confirmButtonColor: 'red',
        confirmButtonText: 'Block',
        cancelButtonText: 'Cancel',
        preConfirm: async () => {
          try {
            await axios({
              method: 'patch',
              url: `/chat/update-chat/${this.room.id}/`,
              data: {
                blocked: true,
                blocked_by: this.user.id,
              },
              headers: {
                Authorization: `JWT ${this.user.token}`
              }
            })
          } catch (e) {
            console.log(e.response)
          }
        }
      })
    },
    unblockChat() {
      Swal.fire({
        title: 'Are you sure?',
        type: 'question',
        showCloseButton: true,
        showConfirmButton: true,
        showCancelButton: true,
        confirmButtonText: 'Unblock',
        cancelButtonText: 'Cancel',
        preConfirm: async () => {
          try {
            await axios({
              method: 'patch',
              url: `/chat/update-chat/${this.room.id}/`,
              data: {
                blocked: false,
                blocked_by: null,
              },
              headers: {
                Authorization: `JWT ${this.user.token}`
              }
            })
          } catch (e) {
            console.log(e.response)
          }
        }
      })
    },
    deleteChat() {
      Swal.fire({
        title: 'Are you sure?',
        type: 'question',
        showCloseButton: true,
        showConfirmButton: true,
        showCancelButton: true,
        confirmButtonText: 'Delete',
        confirmButtonColor: 'red',
        cancelButtonText: 'Cancel',
        preConfirm: async () => {
          try {
            await axios({
              method: 'delete',
              url: `/chat/archive-chat/${this.room.id}/`,
              headers: {
                Authorization: `JWT ${this.user.token}`
              }
            })

            bus.$emit('deleteChat', this.room.id)
          } catch (e) {
            console.log(e.response)
          }
        }
      })
    }
  },
}
</script>
