<template>
  <div class="chat-list-body">
    <ChatItem
      v-for="room in filter(chats)"
      :key="room.id"
      :room="room"
      :user="user"
      :active="activeRoom.id === room.id"
    />
  </div>
</template>

<script>
import axios from 'axios'
import Vue from 'vue'
import ReconnectingWebSocket from 'reconnecting-websocket'
import moment from 'moment'
import bus from './bus'
import ChatItem from './ChatItem'

const [SENDING, SENT, READ, ERROR] = [1, 2, 3, 4]
const [MESSAGE, ATTACHMENT, START_REQUEST, START_WAITING, START_ACCEPT, START_REJECT] = [1, 2, 3, 4, 5, 6]

export default {
  name: 'ChatList',
  components: {
    ChatItem
  },
  props: {
    rooms: {
      type: Array,
      default: () => []
    },
    activeRoom: {
      type: Object,
      default: () => ({})
    },
    user: {
      type: Object,
      required: true
    },
    search: {
      type: String,
      default: ''
    }
  },
  data() {
    return {
      chats: this.rooms,
      ws: null,
      wsNotification: null,
      notifications: [],
      message: {},
    }
  },
  watch: {
    activeRoom() {
      if (this.activeRoom.messages) {

        const messages = this.activeRoom.messages.filter(message => message.status !== READ && message.sender_id !== this.user.id)

        if (messages.length) {
          const requests = messages.map(message => this.confirmReception(message))

          axios.all(requests)
        }
        this.readMessages(this.activeRoom)
      }
    },
    message(val) {
        if (Array.isArray(val)) {
            val.forEach(item => {
              this.notifications.push(item)
            })
        } else {
            this.notifications.push(val)
        }
    }
  },
  created() {
    if (!this.ws) {
      this.connect()
    }
    if (!this.wsNotification) {
      this.connectNotification()
    }

    bus.$on('startRequestCancel', this.handleRequestCancel)
    bus.$on('deleteChat', this.handleDeleteChat)

    console.log(this.activeRoom)
  },
  beforeDestroy() {
    if (this.ws) {
      this.ws.close()
      this.ws = null
    }
    if (this.wsNotification) {
      this.wsNotification.close()
      this.wsNotification = null
    }
  },
  methods: {
      readMessages(room) {
        console.log(room)
        const curentRoom = room || this.activeRoom
        const roomId = curentRoom.id
        let body = {
            notifications: [],
            reader: true
        }
        if (this.notifications) {
            for (let i = 0; i < this.notifications.length; i++) {
                if (this.notifications[i].body == roomId) {
                    body.notifications.push({
                        id: this.notifications[i].id,
                        type: this.notifications[i].notification_type,
                    })
                }
            }

            // destroy local
            for (let i = 0; i < body.notifications.length; i++) {
                for (let j = 0; j < this.notifications.length; j++) {
                    if (this.notifications[j].body == body.notifications[i].id) {
                      this.notifications.splice(i, 1)
                    }
                }
            }
        }

        if (body.notifications.length) {
            console.info('SEND:', body)
            this.wsNotification.send(JSON.stringify(body))
        }
    },

    connectNotification(){
        if (this.wsNotification) {
            this.wsNotification.close()
        }
        const protocol = process.env.NODE_ENV === 'development' ? 'ws' : 'wss'
        this.wsNotification = new ReconnectingWebSocket(`${protocol}://${window.location.host}/ws/notifications/`)
        this.wsNotification.onmessage = this.dispatchNotification
    },
    dispatchNotification(event) {
        this.message = JSON.parse(event.data)
    },

    connect() {
      if (this.ws) {
        this.ws.close()
      }

      const protocol = process.env.NODE_ENV === 'development' ? 'ws' : 'wss'
      this.ws = new ReconnectingWebSocket(`${protocol}://${window.location.host}/ws/chat/`)
      this.ws.onmessage = this.dispatch
    },
    dispatch(event) {
      // call method according to event type
      const data = JSON.parse(event.data)
      console.log(data)
      switch (data.type) {
        case 'attachment':
        case 'message': {
          this.handleMessage(data)
          break
        }
        case 'messages_update': {
          this.handleMessagesUpdates(data)
          break
        }
        case 'delete': {
          this.handleDeleteMessage(data)
          break
        }
        case 'room_update': {
          this.handleRoomUpdate(data)
          break
        }
        default: break
      }
      this.readMessages()
    },
    async handleMessage(data) {
      const chat = this.getChat(data.chat)
      const message = data.body

      if (chat) {
        const index = chat.messages.findIndex(item => item.id === message.fake_id)
        if (message.type === START_REQUEST) {
          chat.has_open_request = true
        }

        if (message.type === START_ACCEPT) {
          chat.has_open_request = false

          chat.projects = chat.projects.filter(project => project.id !== message.request.project)
        }

        if (message.type === START_REJECT) {
          chat.has_open_request = false
        }

        if (index > -1) {
          // replace optimistic built message with real data
          Vue.set(chat.messages, index, message)
        } else {
          // add new message to the history
          chat.messages = [...chat.messages, message]

          if (this.activeRoom.id === message.chat_room) {
            await this.confirmReception(message)
          }
        }
      }
    },
    handleMessagesUpdates(data) {
      const chat = this.getChat(data.chat)
      const { messages, ...attrs } = data.body

      if (chat) {
        chat.messages.map((item) => {
          if (messages.includes(item.id)) {
            if (messages.includes(item.id)) {
              Object.keys(attrs).map(key => Vue.set(item, key, attrs[key]))
            }
          }
          return item
        })
      }
    },
    handleDeleteMessage(data) {
      const chat = this.getChat(data.chat)
      const { message } = data.body

      if (chat) {
        chat.messages = chat.messages.filter(({ id }) => id !== message)
      }
    },
    handleRoomUpdate(data) {
      const chat = this.getChat(data.chat)
      const attrs = data.body

      if (chat) {
        Object.keys(attrs).map(key => Vue.set(chat, key, attrs[key]))
      }
    },
    handleRequestCancel({ chatId, project }) {
      const chat = this.getChat(chatId)

      if (chat) {
        chat.messages = chat.messages.filter((message) => {
          if (!message.request) {
            return true
          }

          if (message.request.project !== project) {
            return true
          }

          return false
        })

        chat.has_open_request = false
      }
    },
    handleDeleteChat(chatId) {
      this.chats = this.chats.filter(({ id }) => id !== chatId)
    },
    confirmReception(message) {
      return axios({
        method: 'patch',
        url: `/chat/update-message/${message.id}/`,
        data: { status: READ },
        headers: {
          Authorization: `JWT ${this.user.token}`,
        }
      })
    },
    getChat(chatRoomId) {
      return this.chats.find(({ id }) => id === parseInt(chatRoomId, 10))
    },
    filter(rooms) {
      return rooms.filter(room => room.hidden_for !== this.user.id).filter(room => room.recipient.name.toLowerCase().indexOf(this.search.toLowerCase()) > -1).sort((a, b) => {
        if (a.messages.length && b.messages.length) {
          if (moment(a.messages[a.messages.length - 1].created_at).isBefore(moment(b.messages[b.messages.length - 1].created_at))) {
            return 1
          }

          if (moment(b.messages[b.messages.length - 1].created_at).isBefore(moment(a.messages[a.messages.length - 1].created_at))) {
            return -1
          }
        }

        return 0
      })
    }
  }
}
</script>
