<template>
  <div class="chat-holder chat-holder-sections">
    <div class="chat-header d-flex">
      <span class="mdi mdi-arrow-left close-chat" @click.prevent="close"/>
      <span
        v-if="chatRoom"
        class="chat-text-bold18"
      >
        {{ chatRoom.recipient.name }} <span class="chat-activity">
          {{ chatRoom.recipient.online ? 'Online' : chatRoom.recipient.last_seen ? `Last seen ${fromNow(chatRoom.recipient.last_seen)}` : 'Offline' }}
        </span>
      </span>
    </div>
    <div
      v-if="chatRoom"
      ref="wrapper"
      class="chat-wrapper"
    >
      <MessageList
        :messages="chatRoom.messages"
        :room="chatRoom"
        :user="user"
        @loadMore="handleLoadMore"
      />
      <ChatControls
        :disabled="chatRoom.blocked || chatRoom.blocked_users.includes(user.id) || chatRoom.has_open_request"
        :user="user"
        :room="chatRoom"
        :has-open-request="chatRoom.has_open_request"
        @attachment="handleSendAttachment"
        @send="handleSendMessage"
        @openModal="handleOpenModal"
      />
      <StartProjectModal
        :disabled="chatRoom.blocked || chatRoom.blocked_users.includes(user.id)"
        :user="user"
        :projects="chatRoom.projects"
        :services="chatRoom.services"
        :room="chatRoom"
        :recipientRole="recipientRole"
        @start="handleStartProject"
      />
      <StopProjectModal
        :disabled="chatRoom.blocked || chatRoom.blocked_users.includes(user.id)"
        :user="user"
        :room="chatRoom"
      />
    </div>
  </div>
</template>

<script>
import axios from 'axios'
import moment from 'moment'
import bus from './bus'
import ChatControls from './ChatControls'
import MessageList from './MessageList'
import { FetchDataMixin } from '@/mixins'
import StartProjectModal from './StartProjectModal'
import StopProjectModal from './StopProjectModal'
import { Toast } from '@/utils'

const [SENDING, ERROR] = [1, 4]
const [MESSAGE, ATTACHMENT, START_REQUEST, START_WAITING] = [1, 2, 3, 4]

export default {
  name: 'ChatRoom',
  components: {
    ChatControls,
    MessageList,
    StartProjectModal,
    StopProjectModal
  },
  mixins: [FetchDataMixin],
  props: {
    room: {
      type: Object,
      default: null
    },
    user: {
      type: Object,
      required: true
    },
    index: {
      type: Number,
      required: true
    },
    recipientRole: {
      type: Number,
      required: true
    }
  },
  requestSettings: {
    params() {
      return {
        limit: 20,
        offset() {
          return this.chatRoom.messages.length
        },
        chat_room() {
          return this.chatRoom.id
        }
      }
    },
    url: '{% url "chat:message-list" %}'
  },
  data() {
    return {
      chatRoom: this.room,
    }
  },
  computed: {
    fakeId() {
      if (this.chatRoom.messages.length) {
        return this.chatRoom.messages[this.chatRoom.messages.length - 1].id + 1
      }

      return 0
    },
    messages() {
      return this.chatRoom.messages
    }
  },
  watch: {
    messages() {
      if (this.$refs.wrapper.scrollHeight - this.$refs.wrapper.scrollTop < 1000) {
        this.scrollToBottom()
      }
    }
  },
  created() {
    bus.$once('selectRoom', this.scrollToBottom)
  },
  mounted() {
    this.scrollToBottom()
  },
  methods: {

    async handleOpenModal(room) {
      bus.$emit('handleClickAccept', 'flag')
      if (this.user.role == 1) {
        try {
          const url = `/api/v1/chats/${room.id}/projects/`

          const response = await axios({
            method: 'get',
            url,
            headers: {
              Authorization: `JWT ${this.user.token}`
            }
          })
          this.chatRoom.projects = response.data
        } catch ({ response }) {
          this.handleErrors(response)
        }
      } else {
        console.log(this.user.role)
      }
    },

    close() {
      this.$emit('close')
    },
    fromNow(value) {
      return moment(value).fromNow()
    },
    async handleLoadMore($state) {
      const { results, hasNext } = await this.$fetchData()

      if (hasNext) {
        $state.loaded()
      } else {
        $state.complete()
      }

      this.chatRoom.messages = [...results, ...this.chatRoom.messages]

      const newMessagesScroll = 2164

      this.$refs.wrapper.scrollTo(0, newMessagesScroll)
    },
    scrollToBottom() {
    // scroll to the bottom of a chat window
      this.$nextTick(() => {
        this.$refs.wrapper.scrollTo(0, this.$refs.wrapper.scrollHeight)
      })
    },
    async handleSendMessage(text) {
      // build optimistic message data
      const message = {
        id: this.fakeId,
        sender_id: this.user.id,
        message: text,
        status: SENDING,
        type: MESSAGE
      }

      // show new message to the user immediately
      this.chatRoom.messages = [...this.chatRoom.messages, message]
      this.scrollToBottom()

      try {
        await axios({
          method: 'post',
          url: '{% url "chat:create-message" %}',
          data: {
            message: message.message,
            sender_id: message.sender_id,
            type: message.type,
            fake_id: message.id,
            chat_room: this.chatRoom.id,
          },
          headers: {
            Authorization: `JWT ${this.user.token}`
          }
        })
      } catch ({ response }) {
        this.handleErrors(response)

        message.status = ERROR
      }
    },
    async handleSendAttachment(file) {
      const message = {
        id: this.fakeId,
        sender_id: this.user.id,
        uploading: true,
        attachment: 'empty',
        status: SENDING,
        type: ATTACHMENT,
      }

      // show new message to the user immediately
      this.chatRoom.messages = [...this.chatRoom.messages, message]
      this.scrollToBottom()

      const formData = new FormData()
      formData.append('attachment', file)
      formData.append('chat_room_id', this.chatRoom.id)
      formData.append('fake_id', message.id)

      try {
        await axios({
          method: 'post',
          url: '{% url "chat:create-attachment" %}',
          data: formData,
          headers: {
            Authorization: `JWT ${this.user.token}`
          }
        })
      } catch ({ response }) {
        this.handleErrors(response)
      }
    },
    async handleStartProject(project) {
      // build optimistic message data
      const startRequest = {
        id: this.fakeId,
        sender_id: this.user.id,
        message: `${this.user.name} wants to start "${project.name}" project`,
        status: SENDING,
        type: START_REQUEST,
        request: { is_accepted: false, is_rejected: false }
      }

      const waitingInfo = {
        id: this.fakeId + 1,
        sender_id: this.user.id,
        message: 'Waiting for confirmation',
        status: SENDING,
        type: START_WAITING,
        request: { is_accepted: false, is_rejected: false }
      }

      // show new message to the user immediately
      this.chatRoom.messages = [...this.chatRoom.messages, startRequest, waitingInfo]
      this.scrollToBottom()

      try {
        await axios({
          method: 'post',
          url: '{% url "chat:create-message" %}',
          data: {
            request: { project: project.id },
            type: startRequest.type,
            sender_id: startRequest.sender_id,
            message: startRequest.message,
            fake_id: startRequest.id,
            chat_room: this.chatRoom.id,
          },
          headers: {
            Authorization: `JWT ${this.user.token}`,
          }
        })
      } catch ({ response }) {
        this.handleErrors(response)
      }
    },
    handleErrors(response) {
      const { data } = response

      if (data.non_field_errors) {
        data.non_field_errors.map(error => Toast.fire({ type: 'error', title: error }))
      }
    }
  }
}
</script>
