<template>
  <div class="chat-input-wrapper">
    <div class="d-flex align-items-center">
      <div
        class="col-smiles"
        :class="{blocked: disabled}"
      >
        <EmojiPicker
          :search="search"
          @emoji="append"
        >
          <div
            slot="emoji-invoker"
            slot-scope="{ events }"
            class="emoji-invoker"
            v-on="events"
          >
            <span class="mdi mdi-emoticon" />
          </div>
          <div
            v-if="!disabled"
            slot="emoji-picker"
            slot-scope="{ emojis, insert, display }"
          >
            <div
              class="emoji-picker"
            >
              <div class="emoji-picker__search">
                <input
                  v-model="search"
                  type="text"
                >
              </div>
              <div>
                <div
                  v-for="(emojiGroup, category) in emojis"
                  :key="category"
                >
                  <h5>{{ category }}</h5>
                  <div class="emojis">
                    <span
                      v-for="(emoji, emojiName) in emojiGroup"
                      :key="emojiName"
                      :title="emojiName"
                      @click="insert(emoji)"
                    >
                      {{ emoji }}
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </EmojiPicker>
      </div>
      <div
        class="col-add"
        :class="{blocked: disabled}"
      >
        <span
          class="mdi mdi-paperclip"
          @click="selectFile"
        />
        <input
          ref="fileDialog"
          type="file"
          :disabled="disabled"
          style="display: none;"
          @input="handleFileUpload"
        >
      </div>
      <div
        class="col-start-project"
        :class="{'in-progress': hasOpenRequest, blocked: disabled, 'finished': (!room.projects.length && user.role != 1)}"
        data-toggle="modal"
        :data-target="`#start-modal-${room.id}`"
      >
        <!-- You can add to class="col-start-project" one of these classes in-progress or finished -->
        <span
          v-if="user.role === 2 || (user.role === 1 && user.is_pm)"
          class="mdi mdi-flag-checkered"
          @click="$emit('openModal', room)"
        />
      </div>
      <div
        class="col-message"
        :class="{blocked: disabled}"
      >
        <textarea
          ref="input"
          v-model="content"
          :disabled="disabled"
          placeholder="Message"
          maxlength="1000"
          class="chat-message-textarea"
          style="height: 33px; overflow-y: hidden; max-height: 66px;"
          @input="handleInput"
        />
      </div>
      <div
        class="col-send"
        :class="{blocked: disabled}"
      >
        <span
          class="mdi mdi-send"
          @click="send"
        />
      </div>
    </div>
  </div>
</template>

<script>
import EmojiPicker from 'vue-emoji-picker'
import { Toast } from '@/utils'

export default {
  name: 'ChatControls',
  components: {
    EmojiPicker
  },
  props: {
    disabled: {
      type: Boolean,
      default: false
    },
    user: {
      type: Object,
      required: true
    },
    room: {
      type: Object,
      required: true
    },
    hasOpenRequest: {
      type: Boolean,
      default: false
    }
  },
  data() {
    return {
      content: '',
      search: '',
    }
  },
  methods: {
    send() {
      if (!this.disabled && this.content) {
        this.$emit('send', this.content)

        this.content = ''
      }
    },
    handleInput() {
      const { scrollHeight } = this.$refs.input
      const { maxHeight } = this.$refs.input.style

      if (scrollHeight > parseInt(maxHeight, 10)) {
        this.$refs.input.style.height = `${scrollHeight}px`
      } else {
        this.$refs.input.style.height = '33px'
      }
    },
    selectFile() {
      this.$refs.fileDialog.click()
    },
    handleFileUpload({ target: { files } }) {
      if (files[0].size > 20000000) {
        Toast.fire({
          type: 'warning',
          title: 'File is too big! 20MB max'
        })
      } else {
        this.$emit('attachment', files[0])
      }
    },
    append(emoji) {
      this.content += emoji
    },
  }
}
</script>
