<template>
  <div class="chat-header d-flex justify-content-between">
    <span class="chat-text-bold18">
      Contact
    </span>
    <div class="chat-search d-flex align-items-center justify-content-end">
      <input
        v-model="search"
        type="search"
        placeholder="Search"
      >
      <span class="mdi mdi-magnify" />
    </div>
  </div>
</template>

<script>
export default {
  name: 'Header',
  data() {
    return {
      search: ''
    }
  },
  watch: {
    search() {
      this.$emit('search', this.search)
    }
  }
}
</script>
