<template>
  <i
    class="status mdi"
    :class="{'mdi-clock': status === 1, 'mdi-check': status === 2, 'mdi-check-all': status === 3, 'mdi-alert-circle': status === 4}"
  />
</template>

<script>
export default {
  name: 'MessageStatus',
  props: {
    status: {
      type: Number,
      required: true
    }
  }
}
</script>
