<template>
  <div
    class="d-flex"
    :class="fromUser ? 'justify-content-end' : 'justify-content-start'"
  >
    <div
      class="chat-message"
      :class="fromUser ? 'your-message' : 'incoming'"
    >
      <!-- eslint-disable-next-line -->
      <div class="chat-text">{{ message.message }}</div>
      <span class="time">
        {{ message.created_at | date }}
      </span>
      <MessageStatus
        v-if="fromUser"
        :status="message.status"
      />
    </div>
  </div>
</template>

<script>
import moment from 'moment'
import MessageStatus from './MessageStatus'
import MessageMixin from './MessageMixin'

export default {
  name: 'Message',
  components: {
    MessageStatus
  },
  filters: {
    date(value) {
      return moment(value).format('LT')
    }
  },
  mixins: [MessageMixin],
}
</script>
