<template>
  <div
    class="col-doc"
    :class="{active: active}"
    @click="$emit('select', project)"
  >
    <div class="d-flex">
      <div class="text-wrap">
        <mark class="start-txt">
          Project: <span>{{ project.name }}</span>
        </mark>
        <mark>Budget: <span>${{ project.budget }}</span></mark>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Project',
  props: {
    active: {
      type: Boolean,
      default: false
    },
    project: {
      type: Object,
      required: true
    }
  },
}
</script>
