<template>
  <div class="row d-flex flex-wrap start-project-row-wrap grid-cells">
    <Project
      v-for="project in projects"
      :key="project.id"
      :project="project"
      :active="activeProject.id === project.id"
      @select="handleSelectProject"
    />
  </div>
</template>

<script>
import bus from './bus'
import Project from './Project'

export default {
  name: 'ProjectList',
  components: {
    Project
  },
  props: {
    projects: {
      type: Array,
      default: () => []
    }
  },
  data() {
    return {
      activeProject: {}
    }
  },
  created() {
    bus.$on('startProject', () => { this.activeProject = {} })
  },
  methods: {
    handleSelectProject(project) {
      this.activeProject = project

      this.$emit('select', project)
    }
  }
}
</script>
