<template>
  <div class="row d-flex flex-wrap start-project-row-wrap grid-cells">
    <Service
      v-for="service in services"
      :key="service.id"
      :service="service"
      :active="activeService.id === service.id"
      @select="handleSelectService"
    />
  </div>
</template>

<script>
import Service from './Service'

export default {
  name: 'ServiceList',
  components: {
    Service,
  },
  props: {
    services: {
      type: Array,
      default: () => []
    }
  },
  data() {
    return {
      activeService: {}
    }
  },
  methods: {
    handleSelectService(service) {
      this.activeService = service

      this.$emit('select', service)
    }
  }
}
</script>
