<template>
  <div
    class="d-flex align-items-baseline"
    :class="{'justify-content-start': !fromUser, 'justify-content-end': fromUser}"
  >
    <div class="chat-message project-status waiting-confirmation">
      <!-- eslint-disable-next-line -->
      <p class="chat-text">{{ message.message }}<span class="mdi mdi-clock-outline" /></p>
    </div>
    <span
      v-if="fromUser && !message.request.is_accepted && !message.request.is_rejected"
      class="cancel-start"
      @click="handleCancel"
    >
      Cancel
    </span>
  </div>
</template>

<script>
import axios from 'axios'
import bus from './bus'
import MessageMixin from './MessageMixin'

export default {
  name: 'StartProjectWaiting',
  mixins: [MessageMixin],
  props: {
    room: {
      type: Object,
      required: true
    }
  },
  methods: {
    cancelRequest(messageId) {
      return axios({
        method: 'delete',
        url: `/chat/delete-message/${messageId}/`,
        headers: {
          Authorization: `JWT ${this.user.token}`
        }
      })
    },
    handleCancel() {
      const messages = this.room.messages.filter(
        message => message.request && message.request.project === this.message.request.project
      )

      const requests = messages.map(message => this.cancelRequest(message.id))

      axios.all(requests)

      bus.$emit('startRequestCancel', { project: this.message.request.project, chatId: this.room.id })
    }
  }
}
</script>
