<template>
  <Modal
    :id="disabled ? 'disabled' : `start-modal-${room.id}`"
    styles="modal-dialog-centered modal-dialog-start-project"
  >
    <div
      ref="close"
      class="back-wrapper position-top-left"
      data-dismiss="modal"
      aria-label="Close"
    >
      <a href="#">
        <span class="back-icon">
          <span class="mdi mdi-arrow-left" />
        </span>
        <mark>Back</mark>
      </a>
    </div>
    <template v-if="user.role == 2 && recipientRole == -1 && handleClickStatus == 'flag'">
      <div class="modal-add-wrap">
        <span class="start-project-title">
        For all projects with the Engre manager option was selected, the project is started by the project manager. Thank you for your trust. We will contact you as soon as possible.
      </span>
        <span
                style="position: absolute;
               bottom: 4px;
               right: 11px;
               color: red;
               font-size: 12px;"
        >
        You can change a project managing option in the projects list in your settings.
      </span>
      </div>
    </template>
    <template v-else>
      <div class="modal-add-wrap">
      <span class="start-project-title">
        Start project with:
      </span>

        <template v-if="user.role === 1 && user.is_pm">
          <ProjectList
                  v-if="projects.length"
                  :projects="projects"
                  @select="handleSelectProject"
          />
        </template>
        <template v-else>
          <ProjectList
                  v-if="projects.length"
                  :projects="projects"
                  @select="handleSelectProject"
          />
          <ServiceList
                  v-if="services.length"
                  :services="services"
                  @select="handleSelectService"
          />
        </template>

        <p v-if="user.role == 1 && services.length == 0 && !user.is_pm">
          Please, <a href="/settings/service/create/">create service</a> at first
        </p>

        <button
                type="button"
                class="button-styles light-blue"
                :disabled="!project && !service"
                @click="handleStartProject"
        >
          Start <span class="mdi mdi-flag-checkered" />
        </button>
        <span
                v-if="user.role === 2"
                style="position: absolute;
               bottom: 4px;
               right: 11px;
               color: red;
               font-size: 12px;"
        >
        You can change a project managing option in the projects list in your settings.
      </span>
      </div>
    </template>
  </Modal>
</template>

<script>
import bus from './bus'
import Modal from '@/components/Modal'
import ProjectList from './ProjectList'
import ServiceList from './ServiceList'
import axios from "axios";

export default {
  name: 'StartProjectModal',
  components: {
    Modal,
    ProjectList,
    ServiceList
  },
  props: {
    user: {
      type: Object,
      required: true,
    },
    projects: {
      type: Array,
      default: () => []
    },
    services: {
      type: Array,
      default: () => []
    },
    room: {
      type: Object,
      required: true
    },
    disabled: {
      type: Boolean,
      default: false
    },
    recipientRole: {
      type: Number,
      required: true
    }
  },
  data() {
    return {
      project: null,
      service: null,
      isChatWithPm: false,
      handleClickStatus: 'flag'
    }
  },
  mounted() {
    bus.$on('handleClickAccept', this.handleClickAcceptAction)

  },
  methods: {
    handleClickAcceptAction(status) {
      this.handleClickStatus = status
    },
    async handleStartProject() {
      if (!this.disabled && this.project) {
        const check = await this.checkProject()
        if (check) {
          this.$emit('start', this.project)
          bus.$emit('startProject')
          this.$refs.close.click()
          this.project = null
        } else {
          console.log(check)
        }
      }

      if (!this.disabled && this.service) {
        bus.$emit('confirmStart', this.service)
        this.$refs.close.click()
        this.service = null
      }
    },

    async checkProject() {
      if (this.user.role == 1 && this.user.is_pm) {
        try {
          const url = `/api/v1/chats/${this.room.id}/projects/${this.project.id}`

          const response = await axios({
            method: 'get',
            url,
            headers: {
              Authorization: `JWT ${this.user.token}`
            }
          })
          if (response.data) {
            return response.data
          }
        } catch ({ response }) {
          this.handleErrors(response)
        }
      } else {
        return true
        console.log(this.user.role)
      }
    },

    handleSelectProject(project) {
      this.project = project
    },
    handleSelectService(service) {
      this.service = service
    }
  }
}
</script>
