<template>
  <div class="system-message-wrapper">
    <span>System message</span>
    <p>{{ message.message }}</p>

    <div class="checkbox checkbox_green">
      <input
        id="check1"
        type="checkbox"
      >
      <label for="check1">
        <span class="check-wrap" />
      </label>
    </div>
  </div>
</template>

<script>
import MessageMixin from './MessageMixin'

export default {
  name: 'SystemMessage',
  mixins: [MessageMixin],
}
</script>
