{% extends "base.html" %}
{% load cms_tags %}

{% block content %}
<div class="reset-pass-wrapper recover-pass">
  <form action="#" class="enter-form">
    <h2>Link is invalid</h2>
    <div class="inputs-wrap">
      <h3 class="invalid-link-heading">The invite link was invalid, possibly because it has already been used</h3>
      <div class="text-center">
        <a href="{% page_url 'home' %}" class="back-to-signIn">To main page</a>
      </div>
    </div>
  </form>
</div>
{% endblock content %}