{% extends "registration/base.html" %}
{% load sekizai_tags vuejs %}

{% block title %}
{% if validlink %}
Set password
{% else %}
Invalid link
{% endif %}
{% endblock title %}

{% block back_arrow %}
{% endblock back_arrow %}

{% block text %}
    {% if validlink %}
    <div id="password-reset-confirm"></div>

    {% addtoblock "js" %}
    {% render_component "PasswordResetConfirm" el="password-reset-confirm" data=data %}
    {% endaddtoblock %}
    {% else %}
    <h3>
      The invitation link was invalid, possibly because it has already been used.
    </h3>
    {% endif %}
{% endblock text %}