<template>
  <section class="section-about section-investors">
    <div class="wrapper">
      <Filters :industries="industries" />
      <List
        :startups="startups"
      />
    </div>
  </section>
</template>

<script>
import List from './List'
import Filters from './Filters'

export default {
  name: 'Layout',
  components: {
    Filters,
    List
  },
  props: {
    industries: {
      type: Array,
      default: () => []
    },
    startups: {
      type: Array,
      default: () => []
    },
  }
}
</script>
