<template>
  <div>
    <Spinner
      v-if="isLoading"
      style="margin-top: 20px;"
    />
    <Item
      v-for="startup in items"
      v-else
      :key="startup.id"
      :startup="startup"
    />
    <InfiniteLoading
      :distance="10"
      spinner="spiral"
      :identifier="`${ordering}${industry}${amount}`"
      @infinite="loadMore"
    >
      <span slot="no-more" />
      <span slot="no-results" />
    </InfiniteLoading>
  </div>
</template>

<script>
import InfiniteLoading from 'vue-infinite-loading'
import Spinner from '@/components/Spinner'
import axios from 'axios'
import Item from './Item'
import bus from './bus'

const LIMIT = 5

export default {
  name: 'List',
  components: {
    Item,
    Spinner,
    InfiniteLoading,
  },
  props: {
    startups: {
      type: Array,
      default: () => []
    },
  },
  data() {
    return {
      items: this.startups,
      ordering: '-interested_requests',
      industry: null,
      amount: null,
      isLoading: false,
    }
  },
  created() {
    bus.$on('filter', this.handleFilter)
  },
  methods: {
    async fetchData(offset = 0) {
      const { data } = await axios({
        url: '{% url "for-investors-api" %}',
        params: {
          amount: this.amount,
          industry: this.industry,
          ordering: this.ordering,
          offset,
          limit: LIMIT,
        }
      })

      return data
    },
    async refetchData() {
      this.isLoading = true
      const data = await this.fetchData()

      this.items = data.results
      this.isLoading = false
    },
    async loadMore($state) {
      const data = await this.fetchData(this.items.length)

      this.items = this.items.concat(data.results)

      if (data.next) {
        $state.loaded()
      } else {
        $state.complete()
      }
    },
    async handleFilter({ amount, industry, ordering }) {
      this.amount = amount
      this.industry = industry
      this.ordering = ordering

      this.refetchData()
    }
  }
}
</script>
