<!DOCTYPE html>
<html lang="eng">
    <head>
        <meta charset="UTF-8">
        <title>FEEDBACK: Your feedback have been {{ action }}</title>
    </head>
    <body>
        Your feedback have been {{ action.lower }} by the moderator.
    </body>

</html>