<template>
  <div>
    <div class="admin-edit-top d-flex justify-content-between flex-wrap">
      <a
        href="#"
        class="admin-back"
        @click.prevent="close"
      >
        <span class="mdi mdi-arrow-left" /> back
      </a>
      <div class="edit-controls">
        <a
          href="#"
          class="archive"
          @click.prevent
        >
          <span class="mdi mdi-archive" />
          To Archive
        </a>
      </div>
    </div>
    <div class="admin-row">
      <div class="edit-wrapper">
        <Form
          ref="editForm"
          :fields="fields"
          :submit="submit"
        >
          <template
            slot-scope="{
              models: {
                name, industry, amount, excerpt, text
              }, isValid, isLoading
            }"
          >
            <div class="edit-top justify-content-between d-flex flex-wrap">
              <!-- Name -->
              <span
                v-if="!shouldEditName"
                class="article-title"
              >
                {{ name && name.value || 'Start up title' }}
                <span
                  class="mdi mdi-pencil"
                  @click.prevent="shouldEditName=true"
                />
              </span>
              <div
                v-else
                class="input-row"
              >
                <input
                  id="name"
                  v-model="name.value"
                  type="text"
                  :class="{active: name.value}"
                  autofocus
                  @blur="shouldEditName=false"
                >
                <label
                  for="name"
                  :style="name.error ? 'color: red;' : ''"
                >
                  {{ name.error || 'Start up title' }}
                </label>
              </div>
              <div class="dropdown dropdown-select dropdown-add">
                <div
                  class="selected-wrap"
                  data-toggle="dropdown"
                  aria-expanded="false"
                >
                  <span class="mdi upload mdi-folder-move" />
                  <span class="label">
                    {{ industry.value ? industry.value.name : 'Industry' }}
                  </span>
                  <span class="mdi mdi-menu-down" />
                </div>
                <div class="dropdown-menu dropdown-menu-right">
                  <div class="dropdown-list-wrapper">
                    <div class="dropdown-list">
                      <div
                        class="dropdown-list-row"
                      >
                        <a
                          v-for="i in industries"
                          :key="i.id"
                          href="#"
                          @click.prevent="setIndustry(i)"
                        >
                          {{ i.name }}
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="select-size-img">
              <span>Upload photo</span>
              <div class="upload-img d-flex align-items-center flex-wrap">
                <ClipperUpload
                  ref="img"
                  v-model="image"
                  class="upload-block w80"
                />
              </div>
              <ClipperBasic
                v-if="image"
                ref="clipper"
                :src="image"
                preview="preview"
                style="max-width: 600px;"
              />
              <button
                v-if="image"
                @click.prevent="clip"
              >
                clip!
              </button>
              <img
                v-if="preview || item && item.image"
                :src="preview || item && item.image"
              >
            </div>
            <div class="input-row">
              <InputDropdown
                id="amount"
                v-model="amount.value"
                :items="amounts"
                :get-key="item => item.id"
                :get-value="item => item.value"
                label="Investment amount"
              />
            </div>
            <RichTextEditor
              id="excerpt"
              :content="excerpt.value"
              :error="excerpt.error"
              content-class="textarea-edit height120"
              @change="setExcerpt"
            />
            <RichTextEditor
              id="text"
              :content="text.value"
              :error="text.error"
              content-class="textarea-edit"
              @change="setText"
            />
            <div class="edit-buttons d-flex justify-content-end">
              <Submit
                class="btn-site"
                value="Save"
                :disabled="!isValid || isLoading"
                :loading="isLoading"
              />
            </div>
          </template>
        </Form>
      </div>
    </div>
  </div>
</template>

<script>
import axios from 'axios'
import bus from './bus'
import Form, {
  Submit,
  RichTextEditor,
  InputDropdown,
} from '@/components/Form'
import { isRequired, isCyrillic } from '@/utils/validators'

export default {
  name: 'EditForm',
  components: {
    Form,
    Submit,
    RichTextEditor,
    InputDropdown,
  },
  props: {
    user: {
      type: Object,
      required: true
    },
    item: {
      type: Object,
      default: () => {}
    },
    industries: {
      type: Array,
      default: () => []
    }
  },
  data() {
    return {
      fields: [
        { name: 'name', validators: [isRequired, isCyrillic] },
        { name: 'industry', validators: [isRequired] },
        { name: 'amount', validators: [isRequired] },
        { name: 'excerpt', validators: [isRequired] },
        { name: 'text', validators: [isRequired] },
      ],
      amounts: [
        { id: 0, value: '10k - 50k' },
        { id: 1, value: '50k - 100k' },
        { id: 2, value: '100k - 500k' },
        { id: 3, value: '500k - 1kk' }
      ],
      shouldEditName: false,
      image: null,
      preview: null,
    }
  },
  watch: {
    image() {
      if (this.$refs.img.file.size > 2097152) {
        this.notify('error', 'File is too large. 2MB is the limit!')
        this.image = null
      }
    }
  },
  created() {
    const { item, fields } = this

    if (item) {
      fields[0].value = item.name
      fields[1].value = item.industry
      fields[2].value = this.amounts.find(el => el.id === item.amount)
      fields[3].value = item.excerpt
      fields[4].value = item.text
    }
  },
  methods: {
    clip() {
      const img = this.$refs.clipper.clip()
      this.image = null

      this.preview = img.toDataURL('image/jpg', 1)
    },
    setIndustry(item) {
      this.$refs.editForm.setFieldValue('industry', item)
    },
    setExcerpt(value) {
      this.$refs.editForm.setFieldValue('excerpt', value)
    },
    setText(value) {
      this.$refs.editForm.setFieldValue('text', value)
    },
    submit(values) {
      const data = {
        name: values.name,
        industry_id: values.industry.id,
        amount: values.amount.id,
        excerpt: values.excerpt,
        text: values.text,
      }
      if (this.item) {
        data.pk = this.item.id
      }

      if (!this.item && !this.preview) {
        this.notify('error', 'Upload an image for your start up')
        return
      }

      if (this.preview) {
        data.image = this.preview
      }

      if (this.item) {
        this.update(data)
      } else {
        this.create(data)
      }
    },
    async create(data) {
      const response = await axios({
        method: 'post',
        url: '{% url "create-for-investor" %}',
        data,
        headers: {
          Authorization: `JWT ${this.user.token}`
        }
      })

      if (response.status === 201) {
        bus.$emit('update', response.data)
      } else {
        this.notify('error', 'Something went wrong!')
      }
    },
    async update(data) {
      const response = await axios({
        method: 'put',
        url: '{% url "update-for-investor" %}',
        data,
        headers: {
          Authorization: `JWT ${this.user.token}`
        }
      })

      if (response.status === 200) {
        bus.$emit('update', response.data)
      } else {
        this.notify('error', 'Something went wrong!')
      }
    },
    close() {
      bus.$emit('close')
    }
  }
}
</script>

<style lang="scss" scoped>
  .dropdown-add {
    margin-top: -10px;
  }
  .input-row {
    max-width: 350px;
  }
</style>
