<template>
  <div v-if="loading && !showForm">
    loading...
  </div>
  <EditForm
    v-else-if="showForm"
    :user="user"
    :item="selectedItem"
    :industries="industries"
  />
  <div v-else>
    <Filters
      :industries="industries"
    />
    <div class="content-wrapper">
      <div class="row flex-wrap">
        <Item
          v-for="item in filteredItems"
          :key="item.id"
          :item="item"
        />
      </div>
    </div>
    <InfiniteLoading
      :distance="10"
      spinner="spiral"
      @infinite="infiniteHandler"
    >
      <span slot="no-more" />
      <span slot="no-results" />
    </InfiniteLoading>
  </div>
</template>

<script>
import Swal from 'sweetalert2'
import axios from 'axios'
import moment from 'moment'
import InfiniteLoading from 'vue-infinite-loading'
import bus from './bus'
import Filters from './Filters'
import Item from './Item'
import EditForm from './Form'
import { NotificationMixin } from '@/mixins'

export default {
  name: 'AdminPartnership',
  components: {
    Filters,
    Item,
    InfiniteLoading,
    EditForm,
  },
  mixins: [NotificationMixin],
  props: {
    user: {
      type: Object,
      required: true,
    },
    industries: {
      type: Array,
      default: () => []
    }
  },
  data() {
    return {
      items: [],
      page: 1,
      hasNext: false,
      loading: true,
      showForm: false,
      selectedItem: null,
      industry: null,
      amount: null,
      sortby: null,
    }
  },
  computed: {
    filteredItems() {
      let { items } = this

      if (this.industry) {
        items = items.filter(item => item.industry.id === this.industry)
      }

      if (this.amount) {
        items = items.filter(item => item.amount === this.amount - 1)
      }

      if (this.sortby === 'popularity') {
        items.sort((prev, curr) => curr.interested_requests - prev.interested_requests)
      }

      if (this.sortby === 'newest') {
        items.sort((prev, curr) => {
          const prevDate = moment(prev.updated_at)
          const currDate = moment(curr.updated_at)

          if (prevDate < currDate) {
            return -1
          }

          if (prevDate > currDate) {
            return 1
          }

          return 0
        })
      }

      if (this.sortby === 'oldest') {
        items.sort((prev, curr) => {
          const prevDate = moment(prev.updated_at)
          const currDate = moment(curr.updated_at)

          if (prevDate < currDate) {
            return 1
          }

          if (prevDate > currDate) {
            return -1
          }

          return 0
        })
      }

      return items
    }
  },
  created() {
    bus.$on('filtersChange', this.handleFilters)
    bus.$on('edit', this.handleEditForm)
    bus.$on('update', this.update)
    bus.$on('remove', this.remove)
    bus.$on('close', this.close)
  },
  async mounted() {
    const response = await axios({
      method: 'get',
      url: '{% url "admin-get-for-investors" %}',
      params: { page: this.page }
    })

    if (response.status === 200) {
      this.loading = false
      this.items = response.data.results
    }

    if (response.data.next) {
      this.hasNext = true
      this.page += 1
    }
  },
  methods: {
    handleFilters({ name, value }) {
      this[name] = value
    },
    async infiniteHandler($state) {
      const hasNext = await this.loadMore()

      if (hasNext) {
        $state.loaded()
      } else {
        $state.complete()
      }
    },
    async loadMore() {
      if (this.hasNext) {
        const items = await this.fetchData(this.page)
        this.items.push(...items)
      }

      return this.hasNext
    },
    async fetchData(page) {
      const response = await axios({
        method: 'get',
        url: '{% url "admin-get-for-investors" %}',
        params: { page }
      })

      this.hasNext = !!response.data.next
      this.page += 1

      return response.data.results
    },
    handleEditForm(item = null) {
      if (item) {
        this.selectedItem = item
      }
      this.showForm = true
    },
    update(item) {
      this.showForm = false
      const index = this.items.findIndex(elem => elem.id === item.id)

      if (index > -1) {
        this.notify('success', 'Item has been updated successfully')
        this.$set(this.items, index, item)
      } else {
        this.notify('success', 'Item has been added successfully')
        if (!this.hasNext) {
          this.items.push(item)
        }
      }
    },
    remove(pk) {
      const url = '{% url "remove-for-investor" %}'
      const data = { pk }

      Swal.fire({
        title: 'Are you sure?',
        type: 'question',
        showConfirmButton: true,
        confirmButtonText: 'Delete',
        confirmButtonColor: 'red',
        showCancelButton: true,
        showLoaderOnConfirm: true,
        preConfirm: async () => {
          try {
            const response = await axios({
              method: 'delete',
              url,
              data,
              headers: {
                Authorization: `JWT ${this.user.token}`
              }
            })

            if (response.status === 204) {
              const index = this.items.findIndex(item => item.id === pk)
              this.items.splice(index, 1)
              this.notify('success', 'Job has been successfully deleted')
            }
          } catch (e) {
            this.notify('error', 'Something went wrong!')
            console.log(e)
          }
        }
      })
    },
    close() {
      this.showForm = false
    }
  }
}
</script>
