<template>
  <Upload
    v-if="showUploadForm"
    :user="user"
    :item="item.id"
  />
  <div
    v-else
    class="admin-container__body"
  >
    <div class="admin-edit-top align-items-center">
      <a
        href="#"
        class="admin-back"
        @click.prevent="close"
      >
        <span class="mdi mdi-arrow-left" />
        back
      </a>
    </div>
    <Form
      ref="form"
      :fields="fields"
      :submit="submit"
    >
      <template
        slot-scope="{
          models: {
            name, license, shortDescription, description
          }, isValid, isLoading
        }"
      >
        <div class="admin-row">
          <div class="edit-wrapper">
            <div class="edit-top d-flex flex-wrap justify-content-between">
              <span
                v-if="!shouldEditName"
                class="article-title"
              >
                {{ name.value || 'Software name' }}
                <span
                  class="mdi mdi-pencil"
                  @click.prevent="shouldEditName=true"
                />
              </span>
              <div
                v-else
                class="input-row"
              >
                <input
                  id="name"
                  v-model="name.value"
                  type="text"
                  :class="{active: name.value}"
                  autofocus
                  @blur="shouldEditName=false"
                >
                <label
                  for="name"
                  :style="name.error ? 'color: red;' : ''"
                >
                  {{ name.error || 'Software name' }}
                </label>
              </div>
              <div class="dropdown dropdown-select dropdown-add">
                <div
                  class="selected-wrap"
                  data-toggle="dropdown"
                  aria-expanded="false"
                >
                  <span class="mdi upload mdi-folder-move" />
                  <span class="label">
                    {{ license.value ? license.value.name : 'License' }}
                  </span>
                  <span class="mdi mdi-menu-down" />
                </div>
                <div class="dropdown-menu dropdown-menu-right">
                  <div class="dropdown-list-wrapper">
                    <div class="dropdown-list">
                      <div
                        class="dropdown-list-row"
                      >
                        <a
                          v-for="l in licenses"
                          :key="l.id"
                          href="#"
                          @click.prevent="setLicense(l)"
                        >
                          {{ l.name }}
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row d-flex flex-wrap justify-content-between">
              <div class="col">
                <div class="upload-wrapper w275">
                  <span>Add logo 490x490px</span>
                  <ClipperUpload
                    ref="logo"
                    v-model="logo"
                    accept="image/*"
                  >
                    <div class="upload-input">
                      <i>Choose Photo from your computer</i>
                    </div>
                  </ClipperUpload>
                  <i class="text-hint">
                    JPEG, PNG, GIF or BMP • 1MB file limit
                  </i>
                </div>
                <ClipperFixed
                  v-if="logo"
                  ref="logoClipper"
                  :src="logo"
                  :ratio="490/490"
                />
                <div class="text-center">
                  <br>
                  <button
                          v-if="logo"
                          class="btn-site"
                          @click.prevent="clipLogo"
                  >
                    clip
                  </button>
                  <br>
                </div>
                <img
                  v-if="logoPreview || item && item.logo "
                  :src="logoPreview || item && item.logo"
                  style="max-width: 100%;"
                >
              </div>
              <div class="col">
                <div class="upload-wrapper w275 justify-content-end">
                  <span>Add picture 1256x500px</span>
                  <ClipperUpload
                    ref="image"
                    v-model="image"
                    accept="image/*"
                  >
                    <div class="upload-input">
                      <i>Choose Photo from your computer</i>
                    </div>
                  </ClipperUpload>
                  <i class="text-hint">
                    JPEG, PNG, GIF or BMP • 1MB file limit
                  </i>
                </div>
                <ClipperFixed
                  v-if="image"
                  ref="imageClipper"
                  :src="image"
                  :ratio="1256/500"
                />
                <div class="text-center">
                  <br>
                  <button
                          v-if="image"
                          class="btn-site"
                          @click.prevent="clipImage"
                  >
                    clip
                  </button>
                  <br>
                </div>
                <img
                  v-if="imagePreview || item && item.image"
                  :src="imagePreview || item && item.image"
                  style="max-width: 100%;"
                >
              </div>
            </div>
            <RichTextEditor
              id="short"
              :content="shortDescription.value"
              :error="shortDescription.error"
              style="margin-top: 40px;"
              content-class="textarea-edit height120"
              @change="setShortDescription"
            />
            <RichTextEditor
              id="descr"
              :content="description.value"
              :error="description.error"
              content-class="textarea-edit"
              @change="setDescription"
            />
            <div
              class="edit-buttons d-flex"
              :class="item ? 'justify-content-between' : 'justify-content-end'"
            >
              <a
                v-if="item"
                href="#"
                class="add-project"
                @click.prevent="showUploadForm=true"
              >
                <span class="mdi mdi-plus-box" />
                Add files
              </a>
              <Submit
                class="btn-site"
                value="Save"
                :disabled="!isValid || isLoading"
                :loading="isLoading"
              />
            </div>
          </div>
        </div>
      </template>
    </Form>
  </div>
</template>

<script>
import axios from 'axios'
import bus from './bus'
import Form, {
  RichTextEditor,
  Submit
} from '@/components/Form'
import { isRequired, isCyrillic } from '@/utils/validators'
import { NotificationMixin } from '@/mixins'
import Upload from './Upload'

export default {
  name: 'EditForm',
  components: {
    Form,
    RichTextEditor,
    Submit,
    Upload
  },
  mixins: [NotificationMixin],
  props: {
    user: {
      type: Object,
      required: true,
    },
    item: {
      type: Object,
      default: () => {}
    }
  },
  data() {
    return {
      fields: [
        { name: 'name', validators: [isRequired, isCyrillic] },
        { name: 'license', validators: [isRequired] },
        { name: 'shortDescription', validators: [isRequired] },
        { name: 'description', validators: [isRequired] },
      ],
      licenses: [
        { id: 0, name: 'Standart License' },
        { id: 1, name: 'Extended License' },
        { id: 2, name: 'Multi License' }
      ],
      shouldEditName: false,
      logo: null,
      image: null,
      logoPreview: null,
      imagePreview: null,
      showUploadForm: false,
    }
  },
  watch: {
    logo() {
      if (this.$refs.logo.file.size > 1048576) {
        this.notify('error', 'File size should be lower than 1MB')
        this.logo = ''
      }
    },
    image() {
      if (this.$refs.image.file.size > 1048576) {
        this.notify('error', 'File size should be lower than 1MB')
        this.image = ''
      }
    }
  },
  created() {
    bus.$on('closeUploadForm', this.closeUpload)

    const { item, fields } = this

    if (item) {
      fields[0].value = item.name
      fields[1].value = this.licenses[item.license]
      fields[2].value = item.short_description
      fields[3].value = item.description
    }
  },
  methods: {
    setLicense(item) {
      this.$refs.form.setFieldValue('license', item)
    },
    clipLogo() {
      const img = this.$refs.logoClipper.clip()
      this.logo = ''
      this.logoPreview = img.toDataURL('image/jpg', 1)
    },
    clipImage() {
      const img = this.$refs.imageClipper.clip()
      this.image = ''
      this.imagePreview = img.toDataURL('image/jpg', 1)
    },
    setShortDescription(value) {
      this.$refs.form.setFieldValue('shortDescription', value)
    },
    setDescription(value) {
      this.$refs.form.setFieldValue('description', value)
    },
    close() {
      bus.$emit('closeForm')
    },
    closeUpload() {
      this.showUploadForm = false
    },
    submit(values) {
      if (this.item) {
        this.update(values)
      } else {
        this.create(values)
      }
    },
    async create(values) {
      const data = {
        name: values.name,
        license: values.license.id,
        short_description: values.shortDescription,
        description: values.description
      }

      if (!this.logoPreview || !this.imagePreview) {
        this.notify('error', 'Upload an image and logo, please')
        return
      }
      data.logo = this.logoPreview
      data.image = this.imagePreview

      const response = await axios({
        method: 'post',
        url: '{% url "create-software" %}',
        data,
        headers: {
          Authorization: `JWT ${this.user.token}`
        }
      })

      if (response.status === 201) {
        bus.$emit('updateList', response.data)
      }
    },
    async update(values) {
      const data = {
        name: values.name,
        license: values.license.id,
        short_description: values.shortDescription,
        description: values.description,
        pk: this.item.id
      }

      if (this.logoPreview) {
        data.logo = this.logoPreview
      }
      if (this.imagePreview) {
        data.image = this.imagePreview
      }

      const response = await axios({
        method: 'put',
        url: '{% url "update-software" %}',
        data,
        headers: {
          Authorization: `JWT ${this.user.token}`
        }
      })

      if (response.status === 200) {
        bus.$emit('updateList', response.data)
      }
    }
  }
}
</script>
