<template>
  <div class="admin-container__body">
    <div class="admin-edit-top d-flex flex-wrap align-items-center">
      <a
        href="#"
        class="admin-back"
        @click.prevent="close"
      >
        <span class="mdi mdi-arrow-left" />
        back
      </a>
    </div>
    <div class="admin-row">
      <div class="edit-wrapper">
        <div class="row upload-wrapper">
          <div class="col">
            <input
              ref="windows"
              type="file"
              @change="handleUploadWin"
            >
          </div>
          <div class="col">
            windows file
          </div>
        </div>
        <div class="row upload-wrapper">
          <div class="col">
            <input
              ref="mac"
              type="file"
              @change="handleUploadMac"
            >
          </div>
          <div class="col">
            macos file
          </div>
        </div>
        <div class="row upload-wrapper">
          <div class="col">
            <input
              ref="linux"
              type="file"
              @change="handleUploadLinux"
            >
          </div>
          <div class="col">
            linux file
          </div>
        </div>
      </div>
      <progress
        max="100"
        :value="uploadPercentage"
      />
    </div>
    <div v-if="files">
      Download
      <a
        v-for="i in files"
        :key="i.id"
        :href="i.url"
        download
      >
        {{ i.os_data }}({{ i.size | prettify }})
      </a>
    </div>
  </div>
</template>

<script>
import axios from 'axios'
import prettyBytes from 'pretty-bytes'
import bus from './bus'
import { NotificationMixin } from '@/mixins'

export default {
  name: 'Upload',
  filters: {
    prettify(value) {
      return prettyBytes(value)
    }
  },
  mixins: [NotificationMixin],
  props: {
    user: {
      type: Object,
      required: true
    },
    item: {
      type: Number,
      required: true,
    }
  },
  data() {
    return {
      win: '',
      mac: '',
      linux: '',
      uploadPercentage: 0,
      files: [],
    }
  },
  async mounted() {
    const response = await axios({
      method: 'get',
      url: '{% url "get-software-files" %}',
      params: { pk: this.item }
    })

    if (response.status === 200) {
      this.files = response.data
    }
  },
  methods: {
    close() {
      bus.$emit('closeUploadForm')
    },
    async handleUploadWin() {
      if (this.$refs.windows.files[0].size > 4294967296) {
        this.notify('error', 'File is too big, 4gb is the limit')
        return
      }
      [this.win] = this.$refs.windows.files
      this.sendFileToServer(this.win, 0)
    },
    handleUploadMac() {
      if (this.$refs.mac.files[0].size > 4294967296) {
        this.notify('error', 'File is too big, 4gb is the limit')
        return
      }
      [this.mac] = this.$refs.mac.files
      this.sendFileToServer(this.mac, 1)
    },
    handleUploadLinux() {
      if (this.$refs.linux.files[0].size > 4294967296) {
        this.notify('error', 'File is too big, 4gb is the limit')
        return
      }
      [this.linux] = this.$refs.linux.files
      this.sendFileToServer(this.linux, 2)
    },
    async sendFileToServer(file, os) {
      const data = new FormData()

      data.append('file', file)
      data.append('software', this.item)
      data.append('os', os)
      this.uploadPercentage = 0

      const response = await axios({
        method: 'post',
        url: '{% url "upload-software-file" %}',
        data,
        headers: {
          Authorization: `JWT ${this.user.token}`
        },
        onUploadProgress: (progress) => {
          this.uploadPercentage = Math.round((progress.loaded * 100) / progress.total, 2)
        }
      })

      if (response.status === 201) {
        this.notify('success', 'File has been uploaded successfully')
        this.files.push(response.data)
      } else {
        this.notify('error', 'Something went wrong!')
      }
    },
  }
}
</script>
