{% extends "admin_dashboard/base.html" %}
{% load static %}

{% block content %}
<div class="admin-container__body admin-chat">
  <div class="settings-holder settings-remove-bg-mobile overflow-hidden">
    <div class="chat-wrap d-flex">
      <div class="chat-list">
        <div class="chat-header d-flex justify-content-between">
          <span class="chat-text-bold18">Contact</span>
          <div class="chat-search d-flex align-items-center justify-content-end">
            <input type="search" placeholder="Search">
            <span class="mdi mdi-magnify"></span>
          </div>
        </div>
        <div class="chat-list-body">
          <div class="chat-list-row admin-chat-toggle d-flex align-items-center active">
            <div class="img-wrap">
              <img src="images/avatar.png" alt="">
            </div>
            <div class="chat-preview-info">
              <div class="preview-top">
                <a href="#">Peter Quill</a>
                <span class="date">23:12</span>
              </div>
              <p class="chat-text">Congrats on the new job! My <mark>Skype 5454.joy</mark></p>
            </div>
            <div class="dropdown">
              <span class="mdi mdi-dots-vertical" data-toggle="dropdown"></span>
              <div class="dropdown-menu dropdown-menu-right">
                <a class="dropdown-item" href="#">Inactive (ban)</a>
                <a class="dropdown-item" href="#">Delete</a>
              </div>
            </div>
          </div>

          <div class="chat-list-row admin-chat-toggle d-flex align-items-center">
            <div class="img-wrap">
              <img src="images/avatar.png" alt="">
            </div>
            <div class="chat-preview-info">
              <div class="preview-top">
                <a href="#">Thanos</a>
                <span class="date">13:10</span>
              </div>
              <p class="chat-text">Thank you</p>
            </div>
            <div class="dropdown">
              <span class="mdi mdi-dots-vertical" data-toggle="dropdown"></span>
              <div class="dropdown-menu dropdown-menu-right">
                <a class="dropdown-item" href="#">Inactive (ban)</a>
                <a class="dropdown-item" href="#">Delete</a>
              </div>
            </div>
          </div>

          <div class="chat-list-row admin-chat-toggle d-flex align-items-center">
            <div class="img-wrap">
              <img src="images/admin-logo.png" alt="">
            </div>
            <div class="chat-preview-info">
              <div class="preview-top">
                <a href="#">Engre / Admin</a>
                <span class="date">10:08</span>
              </div>
              <p class="chat-text">Congratulations on getting started on the platform</p>
            </div>
            <div class="dropdown">
              <span class="mdi mdi-dots-vertical" data-toggle="dropdown"></span>
              <div class="dropdown-menu dropdown-menu-right">
                <a class="dropdown-item" href="#">Inactive (ban)</a>
                <a class="dropdown-item" href="#">Delete</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="chat-holder chat-holder-sections">
        <div class="chat-header d-flex">
          <span class="mdi mdi-arrow-left close-chat"></span>
          <span class="chat-text-bold18">Peter Quill <span class="chat-activity">Last seen at 14:34</span></span>
        </div>
        <div class="admin-chat-wrap">
          <div class="chat-wrapper">
            <div class="admin-chat-control">
              <span class="mdi mdi-chevron-right"></span>
              <span class="author">Peter Quill / Admin Engre</span>
            </div>
            <div class="date">
              <div class="svg-wrap">
                <img src="images/wave.svg" alt="">
              </div>
              <span>Yestarday</span>
            </div>
            <div class="d-flex justify-content-start">
              <div class="chat-message incoming">
                <p class="chat-text">Congrats on the new job! My <mark>Skype 5454.joy</mark></p>
                <span class="time">23:12</span>
              </div>
            </div>
            <div class="d-flex justify-content-start">
              <div class="chat-message incoming">
                <p class="chat-text">Thank you</p>
                <span class="time">13:12</span>
              </div>
            </div>
            <div class="d-flex justify-content-end">
              <div class="chat-message your-message">
                <p class="chat-text">Did you look at the details of the project?</p>
                <span class="time">13:12</span>
              </div>
            </div>
            <div class="d-flex justify-content-start">
              <div class="chat-message incoming">
                <p class="chat-text">This is not the latest version</p>
                <span class="time">15:12</span>
              </div>
            </div>
          </div>
        </div>
        <div class="chat-input-wrapper">
          <div class="d-flex align-items-center">
            <div class="col-smiles">
              <span class="mdi mdi-emoticon"></span>
            </div>
            <div class="col-add">
              <span class="mdi mdi-paperclip"></span>
            </div>
            <div class="col-message">
              <textarea placeholder="Write a message and press Enter" class="chat-message-textarea" style="height: 33px; overflow-y:hidden;"></textarea>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}