{% extends 'admin_dashboard/base.html' %}
{% load vuejs sekizai_tags static %}

{% block content %}
<div class="admin-container__body">
  <div class="admin-container-row">
    <span class="admin-title">Visits by users</span>
    <div class="admin-row">
      <div class="row">
        <div class="col-lg-6">
          <div class="row align-items-center">
            <div class="col-md-6">
              <img src="{% static 'images/graph-img2.png' %}" class="img-fluid" alt="">
            </div>
            <div class="col-md-6">
              <div class="chart-hints-wrap">
                <span class="hints-title">Customer project</span>
                <ul class="hints-list">
                  <li class="blue">Visualize impactful mindshare</li>
                  <li class="red">Enable value-added convergence</li>
                  <li class="orange">Visualize vertical interfaces</li>
                  <li class="green">Integrate clicks-and-mortar methodologies</li>
                  <li class="violet">Monetize B2B portals</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="row align-items-center">
            <div class="col-md-6">
              <img src="{% static 'images/graph-img2.png' %}" class="img-fluid" alt="">
            </div>
            <div class="col-md-6">
              <div class="chart-hints-wrap">
                <span class="hints-title">Contractor services</span>
                <ul class="hints-list">
                  <li class="blue">Matrix compelling infrastructures</li>
                  <li class="red">Whiteboard robust mindshare</li>
                  <li class="orange">Engage visionary applications</li>
                  <li class="green">Repurpose real-time relationships</li>
                  <li class="violet">Strategize robust solutions</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="admin-container-row">
    <span class="admin-title">Filter statistics</span>
    <div class="admin-row">
      <div class="row">
        <div class="col-lg-6">
          <div class="row">
            <div class="col-md-6">
              <div class="input-row">
                <div class="dropdown dropdown-select">
                  <div class="selected-wrap" data-toggle="dropdown" aria-expanded="false">
                    <span class="label">Customers searched</span>
                    <span class="selected-item"></span>
                    <span class="mdi mdi-menu-down"></span>
                  </div>
                  <div class="dropdown-menu" x-placement="top-start" style="position: absolute; transform: translate3d(0px, 0px, 0px); top: 0px; left: 0px; will-change: transform;">
                    <div class="dropdown-list-wrapper">
                      <div class="dropdown-list">
                        <div class="dropdown-list-row">
                          <a href="#">Link 1</a>
                          <a href="#">Link 2</a>
                          <a href="#">Link 3</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="input-row">
                <div class="dropdown dropdown-select">
                  <div class="selected-wrap" data-toggle="dropdown" aria-expanded="false">
                    <span class="label">Design</span>
                    <span class="selected-item"></span>
                    <span class="mdi mdi-menu-down"></span>
                  </div>
                  <div class="dropdown-menu" x-placement="top-start" style="position: absolute; transform: translate3d(0px, 0px, 0px); top: 0px; left: 0px; will-change: transform;">
                    <div class="dropdown-list-wrapper">
                      <div class="dropdown-list">
                        <div class="dropdown-list-row">
                          <a href="#">Link 1</a>
                          <a href="#">Link 2</a>
                          <a href="#">Link 3</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="filter-statistics">
            <div class="fs-row d-flex justify-content-between">
              <span class="requests">Show me Successful Airplane Projects in Technology on Earth Sorted by Popularity</span>
              <div class="requests-number">248</div>
            </div>
            <div class="fs-row d-flex justify-content-between">
              <span class="requests">Show me All Projects in Software on Ukraine Sorted by rating</span>
              <div class="requests-number">202</div>
            </div>
            <div class="fs-row d-flex justify-content-between">
              <span class="requests">Show me Airplane Projects in Technology on Earth Sorted by New</span>
              <div class="requests-number">154</div>
            </div>
            <div class="fs-row d-flex justify-content-between">
              <span class="requests">Show me Projects in Tooling on Germany Sorted by Popularity</span>
              <div class="requests-number">78</div>
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <img src="{% static 'images/graph-img3.png' %}" class="img-fluid" alt="">
        </div>
      </div>
    </div>
  </div>
  <div class="admin-container-row">
    <span class="admin-title">Users in the company</span>
    <div class="admin-row">
      <div class="row">
        <div class="col-lg-6">
          <div class="row">
            <div class="col-md-6">
              <div class="input-row">
                <div class="dropdown dropdown-select">
                  <div class="selected-wrap" data-toggle="dropdown" aria-expanded="false">
                    <span class="label">Customer</span>
                    <span class="selected-item"></span>
                    <span class="mdi mdi-menu-down"></span>
                  </div>
                  <div class="dropdown-menu" x-placement="top-start" style="position: absolute; transform: translate3d(0px, 0px, 0px); top: 0px; left: 0px; will-change: transform;">
                    <div class="dropdown-list-wrapper">
                      <div class="dropdown-list">
                        <div class="dropdown-list-row">
                          <a href="#">Link 1</a>
                          <a href="#">Link 2</a>
                          <a href="#">Link 3</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <img src="{% static 'images/graph-img4.png' %}" class="img-fluid" alt="">
        </div>
      </div>
    </div>
  </div>
  <div class="admin-container-row">
    <span class="admin-title">Companies in the industry</span>
    <div class="admin-row">
      <div class="row">
        <div class="col-lg-6">
          <img src="{% static 'images/graph-img5.png' %}" class="img-fluid" alt="">
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}