{% extends "admin_dashboard/base.html" %}
{% load static %}

{% block content %}
<div class="admin-container__body">
  <div class="system-text">
    <span>This section is under development</span>
    <p>Please choose another section</p>
  </div>
</div>
{% endblock %}