{% load static cms_tags menu_tags %}

<div class="admin-sidebar">
  <div class="admin-sidebar__top d-flex justify-content-between align-items-center">
    <div class="logo">
      <a href="#"><img src="{% static 'images/admin-logo.svg'%}" alt=""></a>
    </div>
    <div class="sidebar-trigger">
      <span class="mdi mdi-chevron-left"></span>
    </div>
  </div>
  {% show_sub_menu 1 1 100 "admin_dashboard/menu.html" %}
  {% comment %} <nav class="admin-sidebar__menu">
    <a href="{% page_url 'admin-dashboard' %}" class="active">
      <span class="mdi mdi-view-dashboard"></span>
      <i>Dashboard</i>
    </a>
    <a href="{% page_url 'admin-projects' %}">
      <span class="mdi mdi-folder"></span>
      <i>Project</i>
    </a>
    <a href="admin-content.html">
      <span class="mdi mdi-text-subject"></span>
      <i>Content</i>
    </a>
    <a href="admin-documents.html">
      <span class="mdi mdi-file-document"></span>
      <i>Document</i>
    </a>
    <a href="admin-software.html">
      <span class="mdi mdi-file-document"></span>
      <i>Software</i>
    </a>
    <a href="admin-finances.html">
      <span class="mdi mdi-cash-usd"></span>
      <i>Finances</i>
    </a>
    <a href="admin-user-management.html">
      <span class="mdi mdi-account-key"></span>
      <i>User management</i>
    </a>
    <a href="admin-moderation-messages.html">
      <span class="mdi mdi-bell notification"></span>
      <i>Moderation <mark class="notification">12</mark></i>
    </a>
    <a href="admin-chat.html">
      <span class="mdi mdi-message-text"></span>
      <i>Chat</i>
    </a>
    <a href="admin-settings-languages.html">
      <span class="mdi mdi-settings"></span>
      <i>Settings</i>
    </a>
    <a href="#">
      <span class="mdi mdi-logout-variant"></span>
      <i>Exit</i>
    </a>
  </nav> {% endcomment %}
</div>